.textmsg{
    font-size: 14px;
    color: #2ea63d;
    font-weight: bold;
    text-align: center;
}
.redcolor{
    font-size: 14px;
    color: red;
    font-weight: bold;
    text-align: center;
}
.USPS-class9{
		text-align:center;
}
.float-right{
		float:right;
}
.maq .slds-form-element__label {
    padding-top: 0rem !important;
    margin-bottom: 0rem !important;
}
.maq .logistixs button {
    border-radius: 3px;
}
.erp_mark7 .slds-combobox__input {
    line-height: 30px;
}