.THIS .slds-modal__container {
    max-width: 93rem !important;
    width: 93% !important;
}
.THIS  footer {
    background-color: #ffffff;
    padding: 15px 18px 15px 0px;
}
.THIS .slds-form-element__label:empty {
    margin: 0px;
    display:none;
}
.THIS .erp_mark7 label {
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 0.85rem;
}
.THIS .ProductListCommMyAcc-newClass1 {
    padding: 10px 10px 6px 8px;
}

.THIS .ProductListCommMyAcc-newClass2 {
    background: #fff; padding: 14px;box-shadow: 0 .325rem .25rem rgba(0,0,0,.075)!important;
}
.THIS .ProductListCommMyAcc-newClass3 {
    display:flex;
}