.THIS .colorErrorMsg{
    color:red;
}
.THIS .USPS-class1{
    margin-top:4px;margin-left:10px;
}
.THIS .USPS-class2{
    margin:0px;
}

.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}


.THIS .USPS-class3{
    cursor: pointer;
}
.THIS .USPS-class4{
    margin:10px;
}
.THIS .USPS-class5{
    width:100%;margin-left: 0px;margin-right: 0px;
}
.THIS .USPS-class6{
    min-width:124px;
}
.THIS .USPS-class7{
    max-height: 400px; width: 100%; overflow-x:auto;
}
.THIS .USPS-class8{
    text-align:center; color: green; font-weight: bold; font-size: 13px; margin-top:10px;padding-left: 15px;
}
.THIS .USPS-class9{
    text-align: center;
}
.THIS .USPS-class10{
    margin-top: 3.4%;
}

.THIS .USPS-class12{
    margin-top: 5%;
}
.THIS .USPS-class13{
    text-decoration:none; color:#4d148c;
}