.THIS .ab{
    background-color:aliceblue;
}
.THIS .erp_mark7 header ul.top_tools > li a {
    display: flex;
    position: relative;
    height: 60px;
    line-height: 60px;
}

.THIS .dropdown-menu:hover{
    display:block !important;
}
/*============================================================================================*/
/* FAQ PAGE */
/*============================================================================================*/
.THIS a.box_topic {
    text-align: center;
    background: #fff;
    padding: 50px 32px 50px 32px;
    display: block;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    color: #444;
    margin-bottom: 30px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
@media (max-width: 767px) {
    .THIS a.box_topic {
        padding: 20px 20px 0 20px;
    }
}
.THIS a.box_topic i {
    display: inline-block;
    font-size: 51px;
    font-size: 1.7875rem;
    color: #004dda;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #0044c2;
    background-color: rgba(0, 77, 218, 0.05);
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 15px;
}
.THIS a.box_topic h3 {
    font-size: 1.125rem; 
    color:#000;
}
.THIS a.box_topic.version_2 {
    background: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

.THIS a.box_topic_2 {
    padding: 30px 30px 5px 110px;
    position: relative;
    display: block;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #444;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    min-height: 165px;
    border: 1px solid #ededed;
}
@media (max-width: 991px) {
    .THIS  a.box_topic_2 {
        min-height: inherit;
    }
}

.THIS a.box_topic_2 h3 {
    font-size: 18px;
    font-size: 1.125rem;
    color: #004dda;
}
.THIS a.box_topic_2 p {
    font-size: 16px;
    font-size: 1rem;
}

.THIS .list_articles ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.THIS .list_articles ul li {
    float: left;
    width: 45%;
    margin-right: 45px;
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
}
.THIS .list_articles ul li a {
    color: #444;
    display: block;
}
.THIS .list_articles ul li a:hover {
    color: #004dda;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}
.THIS .list_articles ul li i {
    margin-right: 10px;
    font-size: 16px;
    font-size: 1rem;
    position: relative;
    top: 2px;
}
@media (max-width: 991px) {
    .THIS .list_articles ul li {
        float: none;
        width: 100%;
        margin-right: 0;
    }
}
.THIS .SupplierPortalCH_class1{
    padding: 0px 15px 15px 15px;
}
.THIS .SupplierPortalCH_class2{
    outline: 0 !important; text-decoration: none  !important;border:1px solid #bfe5dc  !important;background-color: #bfe5dc  !important;
}
.THIS .SupplierPortalCH_class3{
    outline: 0  !important; text-decoration: none  !important;border:1px solid #f0e3c7  !important;background-color: #f0e3c7  !important;
}
.THIS .SupplierPortalCH_class4{
    color: #00ac69  !important;background-color: #f7f7f7  !important;
}
.THIS .SupplierPortalCH_class5{
    color: #f4a100  !important;background-color: #ffffff  !important;
}
.THIS .SupplierPortalCH_class6{
    outline: 0  !important; text-decoration: none  !important;border:1px solid #eec7c7  !important;background-color: #eec7c7  !important;
}
.THIS .SupplierPortalCH_class7{
    background-color: #f7f7f7  !important; color: #e81500  !important;
}
.THIS .SupplierPortalCH_class8{
    outline: 0; text-decoration: none  !important;border:1px solid #d4c2ef  !important;background-color: #d4c2ef  !important;
}
.THIS .SupplierPortalCH_class9{
    background-color: #f7f7f7  !important;color: #6900c7  !important;
}
.THIS .SupplierPortalCH_class10{
    outline: 0  !important; text-decoration: none  !important;border:1px solid #bfd6f8  !important;background-color: #bfd6f8  !important;
}
.THIS .SupplierPortalCH_class11{
    outline: 0; text-decoration: none  !important;border:1px solid #40a5f5  !important;background-color: #40a5f5  !important;
}
.THIS .SupplierPortalCH_class12{
    background-color: #f7f7f7  !important;color: #0061f2  !important;
}
.THIS .SupplierPortalCH_class13{
    background-color: #f7f7f7  !important;color: #40a5f5  !important;
}
.THIS .SupplierPortalCH_class14{
    outline: 0  !important; text-decoration: none  !important;border:1px solid #f3af87  !important;background-color: #f3af87  !important;
}
.THIS .SupplierPortalCH_class15{
    color: #a5660b  !important;background-color: #f7f7f7  !important;
}
.THIS .SupplierPortalCH_class16{
    outline: 0  !important; text-decoration: none  !important;border:1px solid #f8f6bf  !important;background-color: #f8f6bf  !important;
}
.THIS .SupplierPortalCH_class17{
    background-color: #f7f7f7  !important;color: #f2b300  !important;
}