.THIS .erp_mark7 .slds-button:hover, 
.THIS .erp_mark7 .slds-button:focus, 
.THIS .erp_mark7 .slds-button:active, 
.THIS .erp_mark7 .slds-button:visited {
    text-decoration: none; 
}
.THIS .erp_mark7 .slds-button:hover,
.THIS .erp_mark7 .slds-button:focus {
    color: #31d0e5; 
}
.THIS .erp_mark7 .slds-button:focus {
    outline: 0;
    box-shadow: 0 0 3px #31d0e5; 
}
.THIS .uiButton--default {
    box-shadow: none;
    text-shadow: none;
}
.THIS .width100{
    width:80px !important;
}
/* Styles the thumbnail */
.THIS a.lightbox img {
    height: 50px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    margin: 0;
}
/* Styles the lightbox, removes it from sight and adds the fade-in transition */

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

/* Styles the close link, adds the slide down transition */

/* Provides part of the "X" to eliminate an image from the close link */


/* Provides part of the "X" to eliminate an image from the close link */

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.THIS .lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    left:0;
}
.THIS .lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}
.THIS .lightbox-target:target a.lightbox-close {
    top: 0px;
}

.THIS .zoom-erp {
    transition: transform .2s;
    width: 40px;
    height: 40px;
    margin:0 auto;
   
}


.THIS .slds-truncate2 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
/* The Loader css Starts here */


.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


/* The Loader css ends here */
.THIS .erp_Mark7 .maq .scroll-bar-wrap {
  width: 100%;
  position: relative;
  
}
.THIS .maq .scroll-box {
  width: 100%;
 
  overflow-y: scroll;
    text-align: left;
    overflow-x: hidden;
}

.THIS .maq .scroll-box::-webkit-scrollbar {
  width: .2em; 
}
.THIS .maq .scroll-box::-webkit-scrollbar,
.THIS .maq .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .maq .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

/* MAGIC HAPPENS HERE */
.THIS .maq .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
}
.THIS .ProductConfigurator-newClass1 {
  background: #fff;height:100%;
}
.THIS .ProductConfigurator-newClass2 {
  cursor:pointer;width:35px;height:35px;
}
.THIS .ProductConfigurator-newClass3 {
  top: 15%;display:none;
}
.THIS .ProductConfigurator-newClass4 {
  top: 15%;display:'';
}
.THIS .ProductConfigurator-newClass5 {
  margin-bottom:0px;font-size:13px;margin-right:30px;
}
.THIS .ProductConfigurator-newClass6 {
  top:.25rem;
}
.THIS .ProductConfigurator-newClass7 {
  padding:0px;
}
.THIS .ProductConfigurator-newClass8 {
  background: #fff;
}
.THIS .ProductConfigurator-newClass9 {
  padding-top: 7px;height: 45px;text-transform: uppercase;font-weight:normal;
}
.THIS .ProductConfigurator-newClass10 {
  padding-top:0px;text-align: left;
}
.THIS .ProductConfigurator-newClass11 {
  padding-top:5px;padding-right: 10px;
}
.THIS .ProductConfigurator-newClass12 {
  color:#ff0000;
}
.THIS .ProductConfigurator-newClass13 {
  margin:0px;
}
.THIS .ProductConfigurator-newClass14 {
  background: #fff;min-height: 500px;float:left;width:100%;padding-right:5px;
}
.THIS .ProductConfigurator-newClass15 {
  background: #31d0e5 !important;color: #fff;
}
.THIS .ProductConfigurator-newClass16 {
  background: #fff;min-height: 500px;float:left;width:100%;padding-left: 0;
}
.THIS .ProductConfigurator-newClass17 {
  box-shadow: none;padding:0.26rem;
}
.THIS .productconfig-bgblue{
        box-shadow: none;
    padding: .26rem;
    background: #31d0e5;
    color: #fff;
    border-radius: 3px;
}
.THIS .ProductConfigurator-newClass18 {
  font-weight: normal;
}
.THIS .ProductConfigurator-newClass19 {
  margin-bottom:50px; height:500px;
}
.THIS .ProductConfigurator-newClass20 {
  float:left;width:99.7%;
}
.THIS .ProductConfigurator-newClass21 {
  margin-bottom:50px;height:500px;
}
.THIS .ProductConfigurator-newClass22 {
  border: 1px solid #f1f1f1;margin-bottom: 5px;box-shadow: 3px 3px 4px rgba(0,0,0,.05);
}
.THIS .ProductConfigurator-newClass23 {
 font-size:15px;padding: 10px 0px;
}
.THIS .ProductConfigurator-newClass24 {
  margin-bottom:10px;
}
.THIS .ProductConfigurator-newClass25 {
  vertical-align: top;
}
.THIS .ProductConfigurator-newClass26 {
  cursor:pointer; width:40px; height:40px;
}
.THIS .ProductConfigurator-newClass27 {
  background: rgba(255, 255, 255, 0.57);
}
.THIS .ProductConfigurator-newClass28 {
  text-transform: none;
}
.THIS .ProductConfigurator-newClass29 {
  min-height: 30px;max-height:100px;
}