.THIS .slds-radiobg{
    
    background: #f7f9fb;
    padding: 10px;
    border-bottom: 1px solid #e2e0e0;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .slds-radiobg2{
    
    background: #ffffff;
    padding: 3px 10px 1px 10px;
    border-bottom: 1px solid #e2e0e0;
}
.THIS .creditwrapbg{
    background: #f7f9fb;
    padding: 10px;
    border-radius: 10px;
        margin-top: 10px;
}
.THIS .billingdetailswrapbg{
	background: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    height: 253px;
}    
.THIS .paypaldetailswrapbg{
	background: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
 
}    
.THIS .credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.THIS .credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.THIS .credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.THIS .credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.THIS .credit-card-box label {
    display: block;
}

.THIS .credit-card-box .display-table {
    display: table;
}
.THIS .credit-card-box .display-tr {
    display: table-row;
}
.THIS .credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.THIS .credit-card-box .panel-heading img {
    min-width: 180px;
}
.THIS .customwidth{
	max-width: 480px
}

.THIS .uiButton--default{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 0px 0px #fff;
}


.THIS .CardPayment-Class1{
    height:100%
}

.THIS .CardPayment-Class2{
	padding: 25px;
}

.THIS .CardPayment-Class3{
	padding: 4px 4px;
}

.THIS .CardPayment-Class4{
	padding: 15px 16px;
}

.THIS .CardPayment-Class5{
	color:#fff; 
    font-size:16px;
}

.THIS .CardPayment-Class6{
	cursor:pointer;
    margin-left:10px;
    width:35px;
    height:35px;
    visibility:visible;
}

.THIS .CardPayment-Class7{
	height:27px;
    width:150px;
}

.THIS .CardPayment-Class8{
	background:#fff; 
    width:100%; 
    height:100%; 
    vertical-align:center; 
    margin-top:10%;
}

.THIS .CardPayment-Class9{
	font-size:16px; 
    font-weight:bold;
}

.THIS .CardPayment-Class10{
	padding-top:10px;
}

.THIS .CardPayment-Class11{
	font-size:14px;
    color:red;
}


.THIS .CardPayment-Class12{
	margin: 0;
}

.THIS .CardPayment-Class13{
	color:#ff0000;
}

.THIS .CardPayment-Class14{
	font-size:0.9rem;
}

.THIS .CardPayment-Class15{
	color:red;
    margin: 0 0 0px;
}

.THIS .CardPayment-Class16{
	text-align:center;
}

.THIS .CardPayment-Class17{
	display:none;
}

.THIS .CardPayment-Class18{
	font-size:0.9rem;
}

.THIS .CardPayment-Class19{
	width:97px;
    height:25px;
}