.no-label .slds-form-element__label:empty {
    margin: 0;
   display:none !important;
}
.erp_mark7 .slds-spinner_container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050 !important;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s;
    transition-delay: 0s, 0.3s;
}
.erp_mark7 .slds-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9051 !important;
    transform: translate(-50%, -50%) rotate(90deg);
}

.slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}
.erp_Mark7 label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.slds-pill__container, .slds-pill-container, .slds-pill_container {
    display: -ms-flexbox;
    display: flex;
    min-height: calc(1.875rem + 2px) !important;
    padding: 0.125rem;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: white;
    width:100%;
}
.slds-pill {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.8;
    width: 100% !important;
    padding: 0.125rem;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: white;
    position: relative;
    min-height: calc(1.875rem + 2px) !important;
}
.blue{
    color :#0ab2e9;
    cursor: pointer;
}