.THIS .table>:not(caption)>*>* {
    padding: .45rem .25rem;
}
.THIS .align-center{
    justify-content: center;
}
.THIS .align-text{
    text-align:center;
}
.THIS .wd30{
    width:30px;
}
.THIS .cursor{
    cursor:pointer;
}
.THIS .theme-bg{
    background:#FAFBFE !important;
}
.THIS .margbt{
    padding-bottom: 45px;
}
.THIS .bgRed{
     background: #fa5c7c;
    padding-left: 9px;
    border-radius: 10px;
    color: #fff;
    text-align:center;
}
.THIS .bggreen{
    background-color: #42d29d!important;
     padding-left: 9px;
    border-radius: 10px;
    color: #fff;
    text-align:center;
}
.THIS .maxWidth{
    max-width:100px;
}
.THIS .class38{
padding:0px;
}
.THIS .class41{
text-align:left;
}
.THIS .class42{
display:inline-flex;    
margin: 0px 0;
}
.THIS .class43{
border: 0px solid #ddd;
border-radius:3px 0px 0px 3px;
}
.THIS .class44{
    color: #b5b7b9;
    cursor: not-allowed;
    padding-right:10px;
   
}
.THIS .class45{
padding-right:10px;
border-radius:0px;
}
.THIS .class46{
color: #b5b7b9;
cursor: not-allowed;
padding-left:10px;

}
.THIS .class47{
padding-left:10px;

border-radius:0px;
}
.THIS .class48{
    top: 15%;display:none;
}
.THIS .class49{
    top: 15%;display:Block;
}

.THIS .class50{
border: 0px solid #ddd;
}
.THIS .class51{
border: 0px solid #ddd;
border-radius:0px 3px 3px 0px;
}
.THIS .class52{
padding-top: 6px;
font-weight:bold;
}
.THIS .class53{
margin-bottom:5px;
}
/* The Loader css Starts here */
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}

.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .width100{
    width:100px !important;
}
.THIS .newClass5{
        width:200px;float:left;
}
.THIS .newClass6{
        background:#fff; border:0px solid #f7f7f7;margin:10px;
}
.THIS .displaynone1{
    display:;
}

.THIS .displaynone{
    display:none;
}
.THIS .MOs_class13{
    min-width: 20rem;padding: 5px;
}
.THIS .MOs_class14{
    margin-bottom:0px;font-size: 13px;margin:7px;
}
.THIS .MOs_class15{
    padding:.5rem;
}
.THIS .MOs_class16{
    margin:0px;
}
.THIS .MOs_class17{
    color:red;
}
.THIS .pb-70{
    padding-bottom:70px;
}
.THIS .pagination > li > a:hover, .THIS .pagination > li > span:hover, .THIS .pagination > li > a:focus, .THIS .pagination > li > span:focus {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.THIS .text-right{
    text-align:right !important;
}
.THIS .text-center{
    text-align:center !important;
}
.THIS .text-ledt{
    text-align:left !important;
}
.THIS a {
    color: #0176d3;
    text-decoration: none;
}
.THIS .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .75rem .75rem;
}
.THIS .slds-form-element__label:empty {
    margin: 0;
    display:none;
}
.THIS .width140p{
    width: 140px;
}
.THIS .width60c{
    width:90%;
    font-size:14px;
}
.THIS .width50c{
    width:50%;
    font-size:14px;
}
.THIS .text-center{
    text-align:center !important;
}
@media (min-width: 1200px){
    .THIS .h2, 
    .THIS h2 {
        font-size: 1rem;
    }
 .THIS .max-width200p{
        max-width:200px;
        overflow: hidden;
    }  
}
.THIS .max-width140p{
        max-width:140px;
    }
.THIS .width150p{
        width:155px;
    }
.THIS .shakaal .slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}
.THIS .delete-icon {
    color: #fff !important;
    border-radius: 20px !important;
    background-color: #e6717c !important;
    border: 0px !important;
}
.THIS .bgmain{
    background: #ffffff !important;
}