.THIS .InboundLog-class34{
height:40px;
width:40px;
} 
.THIS .customdrpbtn .slds-dropdown{
    left:-25px !important;
}
.THIS .plpt-bs1{ 
        padding-left: 20px;
    padding-top: 3px;
}
.THIS .borderbottom-bs1{
    border-bottom: 1px solid #ddd;
}
/*css added on 26_04_24*/
.THIS .pr-p5{
    padding-right: 0.5rem !important;
}
.THIS .dropbtn {
  background-color: #ffa116;
 color: white;
    /*padding: 8px;
    font-size: 12px;
    border: none;
    font-weight:600;
    border-radius: 4px;
    min-width: 114px;*/
}
.THIS .dropbtn1 {
  background-color: #0176d3 !important;
    color: #fff !important;
    padding-left:1rem;
    padding-right:1rem;
 /*color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    font-weight:600;
    border-radius: 4px;
    min-width: 118px;*/
}
.THIS .dropbtn2 {
  background-color: #79AB6F !important;
    color: #fff !important;
    padding-left:1rem !important;
    padding-right:1rem !important;
/* color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    font-weight:600;
    border-radius: 4px;
    min-width: 118px;*/
}
.THIS .dropbtn2:hover {
  background-color: #79AB6F !important;
}
/*css added on 26_04_24 ends here*/
.THIS .pl-2BM{
    padding-left: 0.55rem !important;
}
.THIS .mbclass43{
            float:left;font-size: 20px;color: #F44336; cursor:pointer;
 }
.THIS .BuildS-heigth45{
    height : 30vh;
}
.THIS .pad-40{
    padding-bottom:40px;
}
.THIS .dropbtn {
background-color: #2196F3;
    color: white;
    padding: 6px 8px 4px 8px;
    font-size: 11px;
    border-radius: 3px;
    cursor:pointer;
}
.THIS .heightctrlbom{
    height: 85vh;
    overflow: auto;
}
.THIS .table:not(.table-bordered) thead th {
    border-top: none;
    border-bottom-width: 1px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0;
    background: #fff;
}
.THIS .dropdown {
  position: relative;
  display: inline-block;
}

.THIS .dropdown-content {
display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 260px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 999;
    right: 0px;
   padding:10px;
}

.THIS .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.THIS .dropdown-content a:hover {background-color: #ddd;}

.THIS .dropdown:hover .dropdown-content {display: block;}

.THIS.dropdown:hover .dropbtn {background-color: #3e8e41;}

.THIS .slds-form-element__label{
    font-weight:bold;
}
.THIS .min-height85vh{
	min-height: 84vh;
}
.THIS .clr-grey{
   background: #e2e2e2; 
   border-bottom: 1px solid #5bcbff
}
.THIS .clr-blue{
   background: #a9e4ff;
    border-bottom: 1px solid #5bcbff;
}
/*.THIS .slds-path__link{
    color:#ffffff !important;
}*/
.THIS .viewmore {
     padding: 6px 18px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}
.THIS .viewmore:hover{
    cursor: pointer;
       padding: 6px 18px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: underline;
}
.THIS .pl-4m{
    padding-left: 17px !important;
}
.THIS .bl-br1{
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
}
.THIS .fsize18{
    font-size:16px;
}
.THIS .min-height250{
    min-height:250px;
}
.THIS .min-height340{
    min-height:340px;
}
.THIS .height200 .slds-textarea{
    height:155px !important;
}
.THIS .heightppbs .slds-textarea{
    height:150px;
}
.THIS .mheight300 .slds-rich-text-area__content {
    overflow-y: auto;
    min-height: 3rem;
    max-height: 3rem;
    padding: .31rem;
    background-color: white;
}
.THIS .noneDisplay{
    display:none;
}
.THIS .mheight300 .slds-rich-text-editor__toolbar {
    display:none;
}
.THIS .slds-m-top--small2{
    margin-top:10px;
}
.THIS .mheight300 .slds-rich-text-editor__toolbar {
        display:none;
    }
.THIS .slds-button--brand, 
.THIS .slds-button_brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    /*background-color: #0070d2;
    border-color: #0070d2;*/
    color: #fff;
  }
.THIS .slds-button--brand:focus, 
.THIS .slds-button--brand:hover, 
.THIS .slds-button_brand:focus, 
.THIS .slds-button_brand:hover {
    background-color: #005fb2;
    border-color: #005fb2;
    color: #fff;
}
.THIS .myli {
    margin-left: 0;
    padding: 7px 0px;
}
.THIS .myli:hover{
    margin-left: 0;
    padding: 7px 0px;
    font-weight:bold;
}
.THIS .cpo-class21{
    padding-left:0.2px;
    color:red;
}
.THIS .maqdropdown-content {
    padding: 6px 6px !important;
}
.THIS .refreshClass{
    font-size: 20px;
    padding: 6px;
    padding-left:10px;
    cursor:pointer;
}
.THIS .noLabel .slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.THIS .noLabel .slds-form-element__label{
    display: none;
}
.THIS body{
    background-color: #fafbfe !important;   
}
.THIS .erp_mark7:not(html), 
.THIS .erp_mark7 body {
    font-size: 0.8125rem;
    background: #fafbfe;
}
.THIS .theme-bg{
    background:#fafbfe !important;
}
.THIS .imbar{
    background:#fafbfe !important;
}

.THIS .shadow-mrr{
    border: 0;
    -webkit-box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
}
.THIS .displaynoneselect .slds-form-element__label {
 display:none;   
}
.THIS .slds-input[readonly] {
    padding-left: 10px;
}
.THIS .pl-2{
    padding-left:0.25rem !important;
}
.THIS .slds-input {
    background-color: white;
    border: 1px solid #ddd !important;
}
.THIS .slds-truncate2{
        max-width: 209px;
    white-space: normal;
}
.THIS .branddisabled{
    background:#ddd;
    justify-content:center;
}
@media (min-width: 48em){
.THIS .slds-modal_large .slds-modal__container, 
.THIS .slds-modal--large .slds-modal__container { 
    width: 97%;
    max-width: none;
    min-width: 40rem;
}
}
.THIS input {
    line-height: normal;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.THIS .newIcon{
    padding: 8px 15px;
    height: 33px;
}
.THIS .newIcon2{
    font-size: 18px !important;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.THIS .scroll-box2::-webkit-scrollbar {
    width: .6em;
}
 
.THIS .scroll-box2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.THIS .scroll-box2::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

 
  .THIS .slds-button_icon-container{
      width: 1.25rem !important;
      height: 1.25rem !important;
      border-radius:3px;
  }
  .THIS .bgforico1{
          background: #fff;
      border: 1px solid #ddd;
     
  }
  .THIS p {
      font-size: 12px;
  }
  .THIS .jobbox1{
      background: #00a9bd!important;
  }
  .THIS .jobbox2{
  background: #289cf5!important
  }
  .THIS .jobbox3{
  background: #fda23f!important
  }
  .THIS .support-box2 {
  padding: 0;
  color: #fff;
  margin: 8px 0 8px 0;
  border-radius: 3px;
  min-height: 35px;
  font-family: Inter,sans-serif;
  }
  .THIS .slds-file-selector_files .slds-file-selector__text, 
  .THIS .slds-file-selector--files .slds-file-selector__text {
  margin-left: 0.55rem;
  margin-right: 0.75rem;
  padding-top: 5px;
  text-align: center;
  }
  .THIS  label {
  margin-bottom: 0rem;
  }
  
  /*.THIS .slds-file-selector_files .slds-file-selector__body, 
  .THIS .slds-file-selector--files .slds-file-selector__body {
  display: block;
  display: block;
  -ms-flex-align: center;
  align-items: center;
  }*/
  .THIS a {
  color: #03A9F4;
  text-decoration:none;
}
  
  
  .THIS .activejx{
   background: aliceblue;
  }   
  .THIS .shadow-sm1 {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075)!important;
  border-top: 1px solid #f7f7f7;
  }
  .THIS .app-block .app-content .app-action .card-body, 
  .THIS .card .card-body, 
  .THIS .chat-block .card-body {
  padding: 0.75rem;
  }
  .THIS .slds-button--success-complete {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  background-color: #79ab6f !important;
  border: 1px solid #79ab6f;
  color: white;
  }
  .THIS .noactivitybox{
  box-shadow:1px 1px 1px rgba(62, 85, 120, 0.10)!important;
  border: none;
  width:100%;
  border:1px solid #efefef;
  height: 28px;
  border-radius: 3px;
  }
  .THIS .datecapacityplanner{
  background: #e5f4ff;
  padding: 5px 27px;
  border-radius: 3px;
  color: #009aff;
  font-size: 16px;
  text-align:center;
  }
  .THIS .erp_mark7 .slds-button_outline-brand{
  color:#0070d2;
  }
  .THIS .erp_mark7 .slds-button_outline-brand:hover{
  color:#0070d2;
  }
  .THIS .app-block .app-content .app-action, 
  .THIS .card, 
  .THIS .chat-block {
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  margin-bottom: 0.875rem;
  }
  .THIS  .nav>li>a:hover,
  .THIS  .nav>li>a:focus {        
  text-decoration: none;
  background-color: #fff;
  border-bottom: 2px solid #0070d2!important;
  }   
  .THIS  .nav-tabs > li.active > a, 
  .THIS  .nav-tabs > li.active > a:hover,
  .THIS  .nav-tabs > li.active > a:focus {
  color: #7cdbff;
  cursor: default!important;
  background-color: #fff!important;
  border: 0;
  border-bottom: 3px solid #2196f3!important;
  }        
  .THIS  .nav-tabs > li > a:hover {
  border-color: #fff #fff #fff;    
  }
  .THIS  .nav > li > a:hover, 
  .THIS  .nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
  }
  .THIS .app-block .app-content .app-action .card-header, 
  .THIS .card .card-header, 
  .THIS .chat-block .card-header {
  margin-bottom: 0;
  border-bottom: 0px solid #ebebeb;
  }
.THIS .card {
    border:0px solid #ddd;
}
  .THIS .background-success {
  
  background: #00a9bd!important;
  box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
  font-size: 12px;
  color:#fff;
  }
  .THIS .background-error {
  
  background: #e74c3c!important;
  box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
  font-size: 12px;
   color:#fff;
  }
  .THIS .mainSpinClass{
  width: 100%;
  height: 100%;
  }
  
  .THIS .shadow-sm2{
     
    background: #d4edda;
    /* border-bottom: 0 solid #31d0e5;
    border: 1px dotted #22432a;
    -webkit-box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    min-height:118px;*/
                                            
  }
  
  .THIS .shadow-sm1{
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      border-top: 1px solid #ddd;
  }

/* added this*/
 /* The Loader css Starts here */
.THIS .outbound-class20{
    top:.25rem;
} 

  .THIS .mainSpinClass{
      width: 100%;
      height: 100%;
  }
  
  /* The Loader css ends here */
  
  .THIS .nav > li > a > i {
      margin-right: 4px;
  }
  .THIS .maqtooltip2{
       position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
      
  }
 
  .THIS .maqtooltip2:hover .tooltiptext {
    visibility: visible;
  }
 
  
  .THIS .maqtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
  }
 
  .THIS .maqtooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .THIS .maq .progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
  }
  .THIS .maq .progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
  }
  .THIS .maq .progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
  }
  
  .THIS .maq .progressbar li:first-child:after {
    content: none;
  }
  .THIS .maq .progressbar li.active {
    color: green;
  }
  .THIS .maq .progressbar li.active:before {
    border-color: #55b776;
  }
  .THIS .maq .progressbar li.active + li:after {
    background-color: #55b776;
  }
  .THIS .erp_mark7 .slds-progress__item.slds-is-completed .slds-progress__marker_icon,
  .THIS .erp_mark7 .slds-progress__item.slds-is-completed .slds-progress__marker--icon {
      border-color: white;
      color: #027c6f;
  }
  
  .THIS .slds-card + .slds-card {
      margin-top: .5rem;
      margin-bottom: .5rem;
  }
.THIS .neutralC {
      padding-left: 0px !important;
      padding-right: 0px !important;
      text-align: center !important;
      vertical-align: middle !important;
      border:0px solid #d8dde6 !important;
      background-color: transparent !important;
      width:20px;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0), 0 0px 0 rgba(0, 0, 0, 0.3) !important;
      text-shadow: 0 0px 0px #fff !important;
      display: block !important;
  }
.THIS .maqdropdown {
      position: relative;
      display: inline-block;
  }
  .THIS .mylinkcolor {
      color:#006dcc !important;
  }
  
 
  
  .THIS .maqdropdown:hover .maqdropdown-content {
      display: block;
  }
  .THIS .modalbg{
      background-color: #36c3d6;
      border-radius: 5px 5px 0px 0px;
  }
.THIS .epr_Mark7 .close {
      float: right;
      font-size: 21px;
      font-weight: normal;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=20);
      opacity: .2;
  }
 .THIS .digitalregular{
      font-family: 'digital-7regular', Arial, sans-serif !important;
      font-size: 50px !important;
      color: #027c6f !important;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .THIS .invisi{
      display: none;
  }

.THIS .slds-card{
    border:1px solid #f7f7f7;
    
}
.THIS .BuildSchedule_M-newClass1{
    background:#ffffff;padding:5px;
}

.THIS .BuildSchedule_M-newClass2{
    float:left;position: relative;top: 10px;left: 7px;
}
.THIS .BuildSchedule_M-newClass3{
    text-decoration:none; cursor:default !important; color:#b9b9b7;
}
.THIS .BuildSchedule_M-newClass4{
    color:#b9b9b7;
}
.THIS .BuildSchedule_M-newClass5{
    height:40px;margin-top:5%;
}
.THIS .BuildSchedule_M-newClass6{
    visibility:visible;background-color: #1589ee;
}
.THIS .BuildSchedule_M-newClass7{
    font-size:18px;
}
.THIS .BuildSchedule_M-newClass8{
    height:20px; width:20px;
}
.THIS .BuildSchedule_M-newClass9{
    width:100%;
}

.THIS .BuildSchedule_M-newClass11{
    background:#fff;
}
.THIS .BuildSchedule_M-newClass12{
    top: 0%;display:;
}
.THIS .BuildSchedule_M-newClass13{
    top: 0%;display:none;
}
.THIS .BuildSchedule_M-newClass14{
    /*min-width: 20rem;padding: 5px;*/
}
.THIS .BuildSchedule_M-newClass15{
    margin-bottom:0px;font-size: 13px;margin-right:30px;color:#ffffff !important; 
}
.THIS .BuildSchedule_M-newClass16{
    top:.25rem !important;
}
.THIS .BuildSchedule_M-newClass17{
    top:.25rem;
}
.THIS .BuildSchedule_M-newClass18{
    cursor:pointer;width:35px;height:35px;
}
.THIS .BuildSchedule_M-newClass18{
    cursor:pointer;width:35px;height:35px;
}
.THIS .BuildSchedule_M-newClass19{
    background:#ffffff;
}
.THIS .BuildSchedule_M-newClass20{
    border:0px;width: 100%;
}
.THIS .BuildSchedule_M-newClass21{
    background:#fff; border:0px solid #f7f7f7;padding:5px;
}
.THIS .BuildSchedule_greybg{
    background:#f7f8f9; border:0px solid #f7f7f7;padding:5px;
}                                        
.THIS .BuildSchedule_M-newClass22{
    width:100%;border:0px solid #f7f8f9; padding:5px;
}
.THIS .BuildSchedule_M-newClass23{
    font-size: 14px;
}
.THIS .BuildSchedule_M-newClass24{
    font-size: 15px;
}
.THIS .BuildSchedule_M-newClass25{
    text-align:right;
}
.THIS .BuildSchedule_M-newClass26{
    padding-left: 5px;padding-top: 5px;
}
.THIS .BuildSchedule_M-newClass27{
    padding-right:0px;
    background:#ffffff;
}
.THIS .BuildSchedule_M-newClass28{
    padding-right:0px;
}

.THIS .BuildSchedule_M-newClass30{
    margin:0px;
}
.THIS .BuildSchedule_M-newClass31{
    cursor: default !important;
}
.THIS .BuildSchedule_M-newClass32{
    padding-left: 10px; cursor: default !important; padding-right: 10px; background: #b9b9b7; border: #b9b9b7;
}
.THIS .BuildSchedule_M-newClass33{
        /*padding: 0px 6px 0px 6px;*/
    
}
.THIS .BuildSchedule_M-newClass33-1{
        padding: 0px 6px 0px 6px;
    height: 25px;
    line-height:22px;
}
.THIS .BuildSchedule_M-newClass34{
    cursor:pointer;
}
.THIS .BuildSchedule_M-newClass35{
    color: #fff !important;text-decoration:none;
}
.THIS .BuildSchedule_M-newClass36{
    background: #1589ee; height:12px; width:12px;
}
.THIS .BuildSchedule_M-newClass37{
    padding-left:1px;font-size: .85rem;margin-right: 10px;
}
.THIS .BuildSchedule_M-newClass38{
    color:#03A9F4;
}
 @media (min-width: 992px){
.THIS .modal-lg {
    max-width: 900px;
}
   }
.THIS .BuildSchedule_M-newClass39{
        font-size: 15px;
    vertical-align: middle;
    color: #fff;
    /*padding-bottom: 8px;*/
}
.THIS .BuildSchedule_M-newClass40{
    color: #fff;cursor: default !important;
}
.THIS .BuildSchedule_M-newClass401{
    color: #0070d2;cursor: default !important;
}
.THIS .BuildSchedule_M-newClass41{
   font-size: 17px;vertical-align: middle;
}
.THIS .BuildSchedule_M-newClass42{
       color: #537d58 !important;;cursor:pointer;
}
.THIS .BuildSchedule_M-newClass42 .slds-icon-text-default {
    fill:#537d58 !important;
}
.THIS .BuildSchedule_M-newClass43{
   margin-left:8px;font-size:18px;color:#ff0000;font-size: 30px;color: #ff0000;float: right;
}
.THIS .BuildSchedule_M-newClass44{
   float:left;cursor:pointer;
}
.THIS .BuildSchedule_M-newClass45{
   font-size: 20px;vertical-align: sub;
}
.THIS .BuildSchedule_M-newClass46{
   justify-content:center;
}
.THIS .BuildSchedule_M-newClass47{
   padding-top: 10px;
}
.THIS .BuildSchedule_M-newClass48{
   margin-right: 14px;
}
.THIS .BuildSchedule_M-newClass49{
   margin-right: 42px;
}
.THIS .BuildSchedule_M-newClass50{
   background: #31d0e5;color: #fff; padding: 0px 15px; font-weight: bold;font-size: 14px;
}
.THIS .BuildSchedule_M-newClass51{
   margin-bottom:20px; outline: none;
}
.THIS .BuildSchedule_M-newClass52{
   font-size:16px;padding-bottom:5px;
}
.THIS .BuildSchedule_M-newClass53{
   border-bottom: 1px solid #ddd;
}
.THIS .BuildSchedule_M-newClass54{
   height:350px;
}
.THIS .BuildSchedule_M-newClass55{
   color:#0070d2;cursor:pointer;
}
.THIS .BuildSchedule_M-newClass57{
   text-decoration:none;
}
.THIS .BuildSchedule_M-newClass58{
   width:100%;height:350px;
}
.THIS .BuildSchedule_M-newClass59{
  visibility:hidden;
}
.THIS .BuildSchedule_M-newClass60{
  font-size: 16px;
}
.THIS .BuildSchedule_M-newClass61{
  height:80px; width:300px;
}
.THIS .BuildSchedule_M-newClass62{
  font-size: 20px;padding: 5px 10px; color: #31D0E5; cursor:pointer;
}
.THIS .BuildSchedule_M-newClass63{
  text-align: center;
}
.THIS .BuildSchedule_M-newClass64{
  margin-bottom:3px;float:left;
}
.THIS .BuildSchedule_M-newClass65{
  padding-top: 0px;
}
.THIS .BuildSchedule_M-newClass66{
  font-size: 12px;
}
.THIS .BuildSchedule_M-newClass67{
  color:#65d6e5; background: #fff;padding: 4px 8px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:11px; font-weight:normal;
}
.THIS .BuildSchedule_M-newClass68{
  border-top:0px solid #cccccc !important;border-left:0px solid #cccccc !important;border-right:0px solid #cccccc !important;
}
.THIS .BuildSchedule_M-newClass69{
  text-align: center;padding: 0;border-left:1px solid #ddd; border-right:1px solid #ddd;
}
.THIS .BuildSchedule_M-newClass70{
  width:100%;text-align:left;float:left;border-top:1px solid #ddd;background: aliceblue;
}
.THIS .BuildSchedule_M-newClass71{
  color:#14c7de;padding:10px;
}
.THIS .BuildSchedule_M-newClass72{
  border-left:1px solid #ddd; border-left:1px solid #ddd;
}
.THIS .BuildSchedule_M-newClass73{
  margin-left:20px;color:#005fb2; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .BuildSchedule_M-newClass74{
  cursor:pointer; width:20px; height:20px;
}
.THIS .BuildSchedule_M-newClass75{
  height:50px;vertical-align: middle;
}
.THIS .BuildSchedule_M-newClass76{
  padding-left:5px;
}
.THIS .BuildSchedule_M-newClass77{
  vertical-align: top !important;
}
.THIS .BuildSchedule_M-newClass78{
  text-decoration:underline !important;
}
.THIS .BuildSchedule_M-newClass79{
  vertical-align: middle;
}
.THIS .BuildSchedule_M-newClass80{
  float:left;
}
.THIS .BuildSchedule_M-newClass81{
  border-top:1px solid #cccccc !important;
}
.THIS .BuildSchedule_M-newClass82{
  text-align: center;
}
.THIS .BuildSchedule_M-newClass83{
 cursor:pointer;width:35px;height:35px;margin-left:20px;visibility:hidden;
}
.THIS .BuildSchedule_M-newClass83222{
 cursor:pointer;width:35px;height:35px;margin-left:20px;
}
.THIS .BuildSchedule_M-newClass84{
 vertical-align: middle;
}
.THIS .BuildSchedule_M-newClass85{
 display:block;
}
.THIS .BuildSchedule_M-newClass86{
  display:none;
}
.THIS .BuildSchedule_M-newClass87{
  width:90%;
}
.THIS .BuildSchedule_M-newClass88{
  color: #fff;opacity: 1;
}
.THIS .BuildSchedule_M-newClass89{
  width:15%;
}
.THIS .BuildSchedule_M-newClass90{
    font-size:12px;
}
.THIS .BuildSchedule_M-newClass91{
  width:85%;
}
.THIS .BuildSchedule_M-newClass92{
  color:red;
}
.THIS .BuildSchedule_M-newClass93{
  height: 312px;padding-top:0px;overflow:auto;
}
.THIS .BuildSchedule_M-newClass94{
 color:red;text-align:center;padding-top:10px;font-size:12px;
}
.THIS .BuildSchedule_M-newClass95{
 max-height:447px;overflow-y:auto;
}
.THIS .manufacturing-buildernewClass28{
        height: 550px;
    padding-bottom: 50px;
}
.THIS .BuildSchedule_M-newClass96{
 cursor: pointer;
}
.THIS .BuildSchedule_M-newClass97{
 cursor:pointer; width:40px !important; height:40px !important;
}
.THIS .BuildSchedule_M-newClass98{
 margin-bottom:0rem;
}
.THIS .BuildSchedule_M-newClass99{
 padding:0px;
}
.THIS .BuildSchedule_M-newClass100{
margin-top:0px;
}
.THIS .BuildSchedule_M-newClass101{
width: 100%;
    justify-content:center;
    color:#fff;
    
}
.THIS .BuildSchedule_M-newClass102{
margin-top: 12px;padding-right: 0px;
}
.THIS .BuildSchedule_M-newClass103{
padding: 0px;
    background:#ffffff;
}
.THIS .BuildSchedule_M-newClass104{
cursor:pointer;width:35px;height:35px;margin-left:20px;margin-top: 10px;visibility:hidden;
}
.THIS .BuildSchedule_M-newClass105{
cursor: pointer;padding:10px;border:1px solid #f7f7f7;
}
.THIS .BuildSchedule_M-newClass106{
width:50%;
}
.THIS .BuildSchedule_M-newClass107{
color:#0070d2;cursor:pointer;max-width: 100%;text-overflow: initial; white-space: normal;
}
.THIS .BuildSchedule_M-newClass108{
text-align: right;padding: 0px;
}
.THIS .BuildSchedule_M-newClass109{
max-width: 100%;text-overflow: initial;white-space: normal;    padding-right: 0px;
}
.THIS .BuildSchedule_M-newClass110{
color:#005fb2; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .BuildSchedule_M-newClass111{
justify-content: center;
}
.THIS .BuildSchedule_M-newClass112{
padding: 0px 30px;margin-left: 4px;border-radius: 4px;border: 1px solid #ddd;
}
.THIS .BuildSchedule_M-newClass113{
color:red;
}
.THIS .BuildSchedule_M-newClass114{
padding: 1px 22px;margin-left: 4px;
}
.THIS .BuildSchedule_M-newClass115{
background: rgba(0,0,0, 0.6);
}
.THIS .BuildSchedule_M-newClass116{
text-align:center;color:red;font-size:12px;
}
.THIS .BuildSchedule_M-newClass117{
justify-content:center;padding: .5rem;
}
.THIS .BuildSchedule_M-newClass118{
height: 400px;
}
.THIS .BuildSchedule_M-newClass119{
color:red;text-align:center;font-size:12px;
}
.THIS .BuildSchedule_M-newClass120{
margin-top: 10px;
}
.THIS .BuildSchedule_M-newClass121{
font-size: 14px;margin-top: 10px;font-weight: 500;margin-bottom:10px;
}
.THIS .BuildSchedule_M-newClass122{
height:250px; overflow-y:auto;
}
.THIS .BuildSchedule_M-newClass123{
margin-left: 15px;
}
.THIS .BuildSchedule_M-newClass124{
vertical-align: middle;
}
.THIS .BuildSchedule_M-newClass125{
min-height:200px;
}
.THIS .BuildSchedule_M-newClass126{
padding-top: 1px; min-height:300px;
}
.THIS .BuildSchedule_M-newClass127{
padding-left:1px;font-size: .85rem;color: #03A9F4;margin-right: 10px;
}
.THIS .BuildSchedule_M-newClass128{
color:#03A9F4;line-height: 25px;
}
.THIS .BuildSchedule_M-newClass129{
height: 44px;line-height: 40px;padding: .35rem .35rem;background:#ffffff;border:0px solid #f7f8fb;
}
.THIS .BuildSchedule_M-newClass130{
margin-left:7px;
}
.THIS .BuildSchedule_M-newClass131{
vertical-align: top;
}
.THIS .BuildSchedule_M-newClass132{
vertical-align: top !important;
}
.THIS .BuildSchedule_M-newClass133{
font-size:10px;text-transform: none !important;color:#03A9F4;
}
.THIS .BuildSchedule_M-newClass134{
float:left;cursor:default; color:#fff !important;
}
.THIS .BuildSchedule_M-newClass135{
float:left;cursor:pointer; color:#fff !important;
}
.THIS .BuildSchedule_M-newClass136{
width:100%;height:70vh;overflow-y: auto;overflow-x: hidden;
}
.THIS .BuildSchedule_M-newClass137{
height:410px;overflow-y: auto;overflow-x: hidden;
}
.THIS .BuildSchedule_M-newClass138{
/*height:355px;overflow-y: auto;overflow-x: hidden;*/
}
.THIS .BuildSchedule_M-newClass137{
height: 67vh;overflow-y: auto;overflow-x: hidden;
}
.THIS .BuildSchedule_M-newClass138{
cursor:pointer;margin: 2px;border:0;
}
.THIS .min-height114{
	min-height:118px; 
    border: 1px solid #e8e8e8;                                        
} 
.THIS .BuildSchedule_M-newClass139{
padding: 5px; border-top:0px solid #ddd;
}
.THIS .BuildSchedule_M-newClass140{
color: #54698d;text-decoration:none;
}
.THIS .BuildSchedule_M-newClass141{
color: #fff;text-decoration:none;
}
.THIS .BuildSchedule_M-newClass142{
	width: 100%;
    background: #0070d2;
    padding: 5px 16px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 3px;
    height: 32px;
    text-align: center;
    color: #fff;
}
.THIS .BuildSchedule_M-newClass143{
height:80px; width:85%;
}
/*.THIS .BuildSchedule_M-newClass144 {
    height: 41vh;
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
}*/
.THIS .BuildSchedule_M-newClass145{
padding:10px 0px 0px 10px;font-weight:bold;
}
.THIS .BuildSchedule_M-newClass146{
padding: 0px 10px;
}
/*.THIS .BuildSchedule_M-newClass147{
margin-top:17px;
}*/
.THIS .BuildSchedule_M-newClass148{
height:400px;border:0;
}
.THIS .BuildSchedule_M-newClass149{
height: 187px;overflow-y: auto;overflow-x: hidden;
}
.THIS .BuildSchedule_M-newClass150{
color:#ff0000; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:14px; font-weight:normal;
}
.THIS .BuildSchedule_M-newClass151{
max-width:140px;padding-top: 4px;
}
.THIS .BuildSchedule_M-newClass151-n{
max-width:360px;padding-top: 4px;
white-space:normal;
}
.THIS .BuildSchedule_M-newClass152{
font-size:10px;
}
.THIS .BuildSchedule_M-newClass153{
height:30px !important;width:30px !important;
}
.THIS .BuildSchedule_M-newClass154{
background: rgba(243, 242, 242, 0.67);
}
.THIS .BuildSchedule_M-newClass155{
height: 288px;overflow-y: auto;
}
.THIS .BuildSchedule_M-newClass156{
background: rgba(8, 7, 7, 0.6);
}
.THIS .BuildSchedule_M-newClass157{
height:350px;background:#fff; border:0px solid #f7f7f7;overflow-x:hidden;
}
.THIS .BuildSchedule_minheight650{
height:100%;background:#fff; border:0px solid #f7f7f7;overflow-x:hidden;
}
.THIS .BuildSchedule_M-newClass158{
min-height:110px;background:#fff; border:0px solid #f7f7f7;border-left:0px solid #03A9F4;cursor: pointer;
}
.THIS .BuildSchedule_M-newClass159{
margin: 0px 5px 5px 5px;
}
.THIS .BuildSchedule_M-newClass160{
padding:.3rem;
}
.THIS .BuildSchedule_M-newClass161{
margin-bottom:10px; outline: none;
}

.THIS .BuildSchedule_M-newClass163{
padding:.4rem;
}
.THIS .BuildSchedule_M-newClass164{
width: 140px;padding:.4rem;
}
.THIS .BuildSchedule_M-newClass165{
height:400px;background:#fff; border:0px solid #f7f7f7;overflow-x:hidden;overflow-y:auto;
}
.THIS .BuildSchedule_M-newClass166{
color:red;font-weight:bold;font-size: 14px;
}
.THIS .BuildSchedule_M-newClass167{
max-width: 100%;padding:.4rem;
}
.THIS .BuildSchedule_M-newClass168{
color:red;text-align:center;font-size:12px; height:5px;
}
.THIS .BuildSchedule_M-newClass169{
width:100%;height:200px;
}

.THIS .BuildSchedule_M-newClass171{
padding: 5px;font-size:16px;color:#fff;
}
.THIS .BuildSchedule_M-newClass172{
padding-top:0px;height: 500px;overflow-y: auto;
}
.THIS .BuildSchedule_M-newClass173{
font-weight:bold;
    font-size:14px;
}
.THIS .BuildSchedule_M-newClass174{
cursor: pointer;padding-top:10px;
}
.THIS .BuildSchedule_M-newClass175{
height:40px;padding-left:17px;font-weight: bold;
}
.THIS .BuildSchedule_M-newClass176{
max-height:360px;overflow-y:auto;padding-left:5px;padding-right:10px;
    overflow-x:hidden;
}
.THIS .BuildSchedule_M-newClass177{
background: #ffffff;margin-bottom:0rem; max-height: 220px; overflow-x: hidden;overflow-y: auto; margin-top:10px;
}
.THIS .app-block .app-content .app-action .card-footer, 
.THIS .app-block .app-content .app-action .card-header, 
.THIS .card .card-footer, 
.THIS .card .card-header, 
.THIS .chat-block .card-footer, 
.THIS .chat-block .card-header {
    border: none;
    background: 0 0;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 1px;
}
.THIS .slds-button_brand-custom, .THIS .slds-button--brand-custom {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddbda !important;
    transition: border 0.15s linear;
    background-color: #0070d2 !important;
    border-color: #0070d2 !important;
    color: white !important;
}
.THIS .slds-button_brand-custom:hover, .THIS .slds-button--brand-custom:hover {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddbda;
    transition: border 0.15s linear;
    background-color: #0070d2 !important;
    opacity:.9 !important;
    border-color: #0070d2 !important;
    color: white !important;
}
.THIS .minheight500{
    min-height:500px;
}
.THIS .slds-button_neutral:hover, .THIS .slds-button_neutral:focus,
    .THIS .slds-button--neutral:hover,
    .THIS .slds-button--neutral:focus {
      background-color: #f4f6f9;
    border: 1px solid #d2d2d2;
}
.THIS .maqsood body {
    position: relative;
    background: #f1f2f7;
    font-size: .835rem;
    color: #505050;
    font-family: Nunito, sans-serif;
}
.THIS .pl-30{
    padding-left:20px;
}
.THIS .maqsood .table:not(.table-bordered) td {
    vertical-align: middle !important;
    line-height: 16px;
    white-space: nowrap;
}
.THIS .min-height500{
    min-height:500px;
}
.THIS .red {
    background: #d9534f; 
    color: #fff;
    height: 38px;
}
.THIS .red-s {
    background: #d9534f !important; 
    color: #fff !important;
    height: 38px;
}
.THIS .orange {
    background: #f0ad4e; 
    color: #fff;
    height: 38px;
}
.THIS .green {
    background: #5cb85c;  
    color: #fff;
    height: 38px;
}
.THIS .float-right{
    float:right;
}
.THIS  .slds-button--brand-disabled{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddbda!important;
    transition: border .15s linear;
    background-color: #b1b1b1!important;
    border-color: #b1b1b1!important;
    color: white!important;
}
.THIS .max-widthBM{
    max-width:180px;
    white-space:normal;
    
}
.THIS .max-widthBM1{
	max-width: 261px;
    white-space: normal;
    font-size: .8125rem;
}
.THIS .checklistlabel .slds-form-element__label {
    display:none;
}
.THIS .aliceblue-bg{
    background:aliceblue;
}
.THIS .scroll-box {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
        overflow-x: hidden;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .2em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
    width: .2em;
}

/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
}
.THIS .slds-card__header {
    padding: 0.75rem .5rem 0;
    margin: 0 0 0.75rem;
}
.THIS .slds-card__body_inner, 
.THIS .slds-card__body--inner {
    padding: 0 .5rem;
}
.THIS .text-warning {
    color: #ffbb33 !important;
    font-size: .8125rem !important;
}
.THIS .text-success {
    color: #3c763d;
 font-size: .8125rem !important;
}
.THIS .text-muted {
    color: #252525 !important;
    font-size: .8125rem !important;
}
.THIS .table td, .THIS .table th {
    padding: .35rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}
.THIS .delete-iconcustom{
     font-size: 16px;
    color: #f44336;
    }
.THIS .slds-p-top--large-1, .THIS .slds-p-top_large-1 {
   padding-top: 1.7rem;
 }
.THIS .headeroverid-1{
    padding: 10px !important;
    
    border: 0px solid #ddd !important;
    box-shadow:none !important;
}
.THIS .label-hidden-select .slds-form-element__label{
     display:block;                                       
 }
.THIS .total-qty-produced{
	 background: #009688;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-radius: 3px;                                            
  } 
.THIS .total-qty-scrapped{
	 background: #F44336;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-radius: 3px;                                            
  }
.THIS .active-card{
    -webkit-box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    background: #d4edda;
    border: 1px dotted #70af7e;
    cursor: pointer;
    border-radius: 3px;
}
.THIS .non-active-card{
    -webkit-box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    background: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
}
 .THIS .bgtransparent{
  background:transparent !important;
     }     
.THIS .white-bg {
 background:#fff;
   }
.THIS .dp-alink{
   border: 1px solid;
    border-radius: 3px;
    padding: 2px; 
    background:#fff;
}
.THIS .custom-icon-maq .slds-button_icon-container, 
.THIS .custom-icon-maq .slds-button--icon-container, 
.THIS .custom-icon-maq .slds-button_icon-border, 
.THIS .custom-icon-maq .slds-button--icon-border, 
.THIS .custom-icon-maq .slds-button_icon-border-filled, 
.THIS .custom-icon-maq .slds-button--icon-border-filled, 
.THIS .custom-icon-maq .slds-button_icon-border-inverse, 
.THIS .custom-icon-maq .slds-button--icon-border-inverse, 
.THIS .custom-icon-maq .slds-button_icon-brand, 
.THIS .custom-icon-maq .slds-button_icon-more, 
.THIS .custom-icon-maq .slds-button--icon-more, 
.THIS .custom-icon-maq .slds-button_icon-container-more, 
.THIS .custom-icon-maq .slds-button--icon-container-more {
    width: 1.5rem;
    height: 1.5rem;
    background:#ffffff;
}
.THIS .maqdropdown-content{
    width:100%;
    min-width:100px;
}
.THIS .justify-center{
    justify-content: center;
}