.THIS .maqsood .app-block .app-content .app-action .card-body, 
.THIS .maqsood .card .card-body, 
.THIS .maqsood .chat-block .card-body {
    padding: 0.5rem;
}
.THIS .erp_mark7 h6 {
    font-weight: inherit;
    font-size: 1.17em;
}
.THIS .app-block .app-content .app-action .card-header, 
.THIS .card .card-header, 
.THIS .chat-block .card-header {
    margin-bottom: 0;
    border-bottom: 0px solid #ebebeb;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}

.THIS .background-new{
    background: #289cf5!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-inprogress{
    background: #fda23f !important;
     box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-cancelled{
    background: #a4a4a4 !important;
      box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-success {
   
    background: #00a9bd !important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-error {
  
    background: #e74c3c !important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
     color:#fff;
}

.THIS .slds-truncate2 {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .width501 {
    width:40px !important;
    padding:0px !important;
    background: #607D8B !important;
    color: #fff;
    border-color: #607D8B;
}
.THIS .width50{
    width:40px !important;
    padding:0px !important;
}

.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}



.THIS .white{color:#ffffff;text-align:center;margin:2px;}
.THIS .epr_Mark7 .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}

.THIS .epr_Mark7 .table > tbody + tbody {
    border-top: 2px solid #f7f8f9;
}
.THIS .whitetext{
    color:#ffffff !important;
}
@media (min-width: 768px){
.THIS .epr_Mark7 .modal-dialog {
    width: 600px;
    margin: 15% auto !important;
}
}
.THIS .modal-dialog {
    width: 600px;
    margin: 15% auto;
}
.THIS .modal-backdrop {
    background-color: transparent !important;
    display:none;
}
.THIS .Escalated{
	background:#ef6e64;
}

.THIS .Future{
	background:#a4a4a4;
}

.THIS .Complete{
	background:#49C37C;
}

.THIS .Issued {
    background: #289cf5!important;
    padding: 1px;
    /*border-radius: .2rem;*/
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 10px 10px;
}
.THIS .InProgress {
    background: #fda23f!important;
    padding: 1px;
    /*border-radius: .2rem;*/
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 10px 10px;
}
.THIS .Complete {
    background: #00a9bd!important;
    padding: 1px;
    /*border-radius: .2rem;*/
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 10px 10px;
}
.THIS .Backlog {
    background: #e74c3c!important;
    padding: 1px;
    /*border-radius: .2rem;*/
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 10px 10px;
}
.THIS .Issuedgrid {
    background: #289cf5!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 0px 13px !important;
    border-radius: 7px  !important;
    height: 20px  !important;
    line-height: 20px  !important;
    width:100%;
    color:#fff;
}
.THIS .InProgressgrid {
    background: #fda23f!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 0px 13px !important;
    border-radius: 7px  !important;
    height: 20px  !important;
    line-height: 20px  !important;
    width:100%;
    color:#fff;
}
.THIS .Completegrid {
    background: #00a9bd!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 0px 13px !important;
    border-radius: 7px  !important;
    height: 20px  !important;
    line-height: 20px  !important;
    width:100%;
    color:#fff;
}
.THIS .Backloggrid {
    background: #e74c3c!important;
     box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    padding: 0px 13px !important;
    border-radius: 7px  !important;
    height: 20px  !important;
    line-height: 20px  !important;
    width:100%;
    color:#fff;
}

.THIS .NotPlanned{
	background:#03A9F4;
}

.THIS .erp_mark7 .customactive{
    background:#31D0E5 !important;
    color:#ffffff !important;
    border:1px solid #31D0E5 !important;
}
.THIS .erp_mark7 .custominactive{
    color:#31D0E5 !important;
    border: 1px solid #d8dde6 !important;
    background-color: white;
}
.THIS .erp_mark7 .customactive:hover{
    background:#31D0E5 !important;
    color:#ffffff !important;
    border:1px solid #31D0E5 !important;
}

.THIS .erp_mark7 .slds-truncate2 {
        max-width: 250px;
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
        font-size: 14px;
        color: #54698d;
}

.THIS.erp_mark7 .modal-footer .slds-modal__footer{
    
}
.THIS.erp_mark7 .neutralC {
    padding:2px !important; 
    border: 0px solid #d8dde6;
}

.THIS.epr_Mark7 a {
    color: #31d0e5;
    text-decoration: none;
}
    .THIS .erp_mark7 .slds-button {
       font-size: 0.79rem;
     }
 .THIS .erp_mark7 .slds-button--neutral {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
}
    .THIS.erp_mark7 .slds-button--neutral:hover, 
	.THIS.erp_mark7 .slds-button--neutral:focus {
      background-color: #f4f6f9; }
    .THIS .erp_mark7 .slds-button--neutral:active {
      background-color: #eef1f6; }
    .THIS .erp_mark7 .slds-button--neutral[disabled] {
      background-color: white;
      cursor: default; }
    .THIS.erp_mark7 .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: white; }
    .THIS.erp_mark7 .slds-button--brand:link,
	.THIS.erp_mark7 .slds-button--brand:visited, 
	.THIS.erp_mark7 .slds-button--brand:active {
      color: white; }
    .THIS.erp_mark7 .slds-button--brand:hover, 
	.THIS.erp_mark7 .slds-button--brand:focus {
      background-color: #65d6e5;
      color: white; }
    .THIS.erp_mark7 .slds-button--brand:active {
      background-color: #31d0e5; }
    .THIS.erp_mark7 .slds-button--brand[disabled] {
      background: #e0e5ee;
      border-color: transparent;
      color: white; }
    .THIS .select{
        border:1px solid #ddd;
        height:30px;
        border-radius:3px;
    }
    
     .THIS .background-disabled{
         background:#ecebea;
         height:20px;
         width:100%;
         }
         
    .THIS .background-error{
        background:#d4504c;
         
        width:100%;
    
    }
	.THIS .background-active{
        background:#ffffff;
    	height:20px;
        width:100%;
    }
    .THIS .background-success{
        background:#4bca81;
    	
        width:100%;
}
     .THIS .epr_Mark7 .nav>li>a:hover,
	 .THIS  .epr_Mark7 .nav>li>a:focus {        
        text-decoration: none;
        background-color: #fff;
        border-bottom: 2px solid #0070d2!important;
    }   
    .THIS .epr_Mark7 .nav-tabs > li.active > a, 
	.THIS .epr_Mark7 .nav-tabs > li.active > a:hover,
	.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
        color: #7cdbff;
        cursor: default!important;
        background-color: #fff!important;
        border: 0;
        border-bottom: 3px solid #2196f3!important;
    }        
    .THIS .epr_Mark7 .nav-tabs > li > a:hover {
        border-color: #fff #fff #fff;    
    }
    .THIS .epr_Mark7 .nav > li > a:hover, 
	.THIS .epr_Mark7 .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
.THIS .table > thead > tr > th, 
.THIS .table > tbody > tr > th, 
.THIS .table > tfoot > tr > th, 
.THIS .table > thead > tr > td, 
.THIS .table > tbody > tr > td, 
.THIS .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
.THIS .acitve-list2 {
    background: #33b5e5;
    padding: 5px 7px 3.5px 6px;
    border-radius: 30px;
    color: #fff !important;
}

.THIS .mb-class1{
    background: #fff;height:100%;
}

.THIS .mb-class2{
    background:#ffffff;
}

.THIS .mb-class3{
    cursor:pointer;width:35px;height:35px;
}

.THIS .mb-class4{
    top: 15%;display:block;
}

.THIS .mb-class5{
    top: 15%;display:none;
}

.THIS .mb-class6{
    min-width: 20rem;padding: 5px;
}

.THIS .mb-class7{
    margin-bottom:0px;font-size: 13px;margin-right:30px;
}

.THIS .mb-class8{
    top:.25rem;
}

.THIS .mb-class9{
    padding:0px;background:#ffffff;
}

.THIS .mb-class10{
    margin-right:70px;text-transform: uppercase;color: #03A9F4;
}

.THIS .mb-class11{
    font-size: 15px;
}

.THIS .mb-class12{
    justify-content: flex-end;
}

.THIS .mb-class13{
    height:26px; width:26px; margin: 5px 0px; padding-top: 2px; text-decoration:none;
}

.THIS .mb-class14{
    color:#007bff; font-size: 15px;
}

.THIS .mb-class15{
    background:aliceblue;border: 1px solid #f1f1f1;border-radius: 16px;height: 35px;line-height:35px;float:left;
}

.THIS .mb-class16{
    height:26px; width:26px; margin: 4px 4px; text-decoration:none; cursor:default;float:left;line-height: 17px;
}

.THIS .mb-class17{
    line-height: 24px;height:26px; width:26px; margin: 4px 4px; padding-top: 2px;color: #607D8B; text-decoration:none;float:left;
}

.THIS .mb-class18{
    height:26px; width:26px; margin: 5px 0px; padding-top: 2px; text-decoration:none;
}

.THIS .mb-class19{
    color:#007bff; font-size: 15px;
}

.THIS .mb-class20{
    padding: 0.5rem; cursor:pointer;
}

.THIS .mb-class21{
    text-align:center;
}

.THIS .mb-class22{
    height:4rem;
}



.THIS .mb-class24{
    padding-left: 50px;
}

.THIS .mb-class25{
    font-size:16px;margin-bottom:0px;
}

.THIS .mb-class26{
    border:1px solid #f7f7f7;
}

.THIS .mb-class27{
    padding: .5rem;
}

.THIS .mb-class28{
    max-width:400px;padding-top: 15px;padding-bottom: 15px;
}

.THIS .mb-class29{
    border:0px solid #f7f7f7;min-height: 130px;
}

.THIS .mb-class30{
    padding: .5rem .7rem;
}

.THIS .mb-class31{
    padding: 0px !important;
}

.THIS .mb-class32{
    width:100%;
}

.THIS .mb-class33{
    width:100%;color:#0070d2;cursor:pointer;
}

.THIS .mb-class34{
    max-width:160px;padding-left: 0px; padding-top: 4px;
}

.THIS .mb-class35{
    float:right;padding-right: 4px;
}

.THIS .mb-class36{
    float:left;font-size: 20px;color: #F44336; cursor:pointer;
}

.THIS .mb-class37{
    cursor:pointer;font-size:20px; color:#31d0e5; margin-left:10px;
}

.THIS .mb-class38{
    cursor:pointer;
}

.THIS .mb-class39{
    padding : 0px 0px 4px 0px; color: #00a9bd;
}

.THIS .mb-class40{
    padding : 0px 0px 4px 0px; color: #e74c3c;
}

.THIS .mb-class41{
    height:4rem;
}



.THIS .mb-class43{
    padding-left: 50px;
}

.THIS .mb-class44{
    font-size:16px;margin-bottom:0px;
}

.THIS .mb-class45{
    background:#fff; border:1px solid #f7f7f7;
}

.THIS .mb-class46{
    padding: .5rem;
}

.THIS .mb-class47{
    margin-bottom:100px; outline: none;
}

.THIS .mb-class48{
    float:left;font-size: 20px;color: #F44336; cursor:pointer;
}

.THIS .mb-class49{
    cursor:pointer;font-size:20px; color:#31d0e5; margin-left:10px;
}

.THIS .mb-class50{
    padding-left: 10px; padding-top: 4px;
}

.THIS .mb-class51{
    vertical-align: middle;
}

.THIS .mb-class52{
    padding : 0px 0px 4px 0px; color: #00a9bd;
}

.THIS .mb-class53{
    padding : 4px 0px 0px 0px; color: #e74c3c;
}

.THIS .mb-class54{
    height:0px;background:#ffffff;
}

.THIS .mb-class56{
    display:none;
}

.THIS .mb-class57{
    background: rgba(0,0,0, 0.6);
}

.THIS .mb-class58{
    color:red;
}

.THIS .mb-class59{
    text-align:center;
}

.THIS .mb-class60{
    color: #31d0e5;
}

.THIS .mb-class61{
    padding-top: 5px; padding-bottom: 10px;
}

.THIS .mb-class62{
    background:rgba(0,0,0,0.6);
}

.THIS .mb-class63{
    color: #31d0e5;
}