.THIS .detailLabel{
    font-weight: bold;
    font-size: 15px;
}

.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


.THIS .erp_Mark7 .mb-4, 
.THIS .erp_Mark7 .my-4 {
    margin-bottom: 1rem !important;
}
.THIS .card {
    border: initial;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04) !important;
    border-radius: .75rem;
}
.THIS .rounded .card {
    border-radius: .75rem;
}
/*
* Container style
*/
.THIS .ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.THIS .scroll-bar-wrap {
    width: 100%;
    position: relative;
    
}
.THIS .scroll-box {
    width: 100%;
    
    overflow-y: scroll;
    text-align: left;
}
.THIS .scroll-box::-webkit-scrollbar {
    width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2); 
}

/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
    opacity: 0 !important;
    -webkit-transition: all .5s;
}

.THIS .erp_mark7 .slds-rich-text-editor__toolbar {
    display: none !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    white-space: nowrap;
    position: relative;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid #dddbda;
    background-color: #f3f2f2;
}
.THIS .erp_mark7 .slds-rich-text-area__content{
    overflow-y: auto;
    min-height: 60.5px;
    max-height: 15rem;
    height: 60.5px;
    padding: 0.2rem 1rem;
    background-color: white;
    line-height:1.2rem;
}
.THIS .comment-likes {
    text-align: right;
    flex-basis: 220px;
    flex-shrink: 0;
}
.THIS .btn-secondary {
    background-color: #2a93d5;
    border-color: #2a93d5;
    color: #fff;
}
.THIS .maqsood .btn.btn-secondary {
    background: #2a93d5 !important;
    border-color: #2a93d5 !important;
}
.THIS .paperclipextra{
    font-size: 25px;
    background: #F8f8f8;
    padding: 11px;
    border-radius: 10px;
    color: #0047a2;
    border: 1px solid #ddd;
    cursor:pointer;
}
.THIS .areadownresponse{
    border: 1px solid #f7f7f7;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 0 0.2325rem 0.65rem rgba(0, 0, 0, 0.075) !important;
    float:left;
    width:100%;
}
.THIS .slds-shrink-none {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none !important;
}
.THIS p {
    line-height: 1.5rem;
    text-align: left !important; 
}
.THIS .slds-file-selector_files .slds-file-selector__body, 
.THIS .slds-file-selector--files .slds-file-selector__body {
    display: -ms-flexbox;
    display: block;
    -ms-flex-align: center;
    align-items: center;
}
.THIS .slds-file-selector_files .slds-file-selector__text, 
.THIS .slds-file-selector--files .slds-file-selector__text {
    margin-left: 0.5rem;
    margin-right: 0.75rem;
    text-align: center;
}
.THIS .slds-form-element__label {
    display: none !important;
}
.THIS .erp_Mark7 label {
    display: inline-block;
    margin-bottom: 0rem;
}
.THIS .slds-notify_toast, 
.THIS .slds-notify--toast {
    
    padding: 0.5rem 3rem 0.5rem 1.5rem;
    min-width: 25rem;
    
}
.THIS .bl-blue{
    border-left: 1px solid #03A9F4 !important;
}
.THIS .slds-truncate2{
    max-width: 160px;
    overflow: hidden;
    white-space: normal;
}
.THIS .RFPEval-class1{
    cursor:progress; width:35px; height:35px;
}
.THIS .RFPEval-class2{
    background:#f8f8f8; min-height:700px;
}
.THIS .RFPEval-class3{
    top: 15%;display: ;
}
.THIS .RFPEval-class4{
    top: 15%;display:none;
}
.THIS .RFPEval-class5{
    min-width: 20rem;padding: 5px;
}
.THIS .RFPEval-class6{
    margin-bottom:0px;font-size: 13px;margin-right:30px;
}

.THIS .RFPEval-class7{
    top:.25rem;
}
.THIS .RFPEval-class8{
    background: #289cf5;padding-top: 9px;font-size:12px;color: #fff;cursor: pointer;width: 40px;height: 40px;text-align: center;
}
.THIS .RFPEval-class9{
    font-size : 15px; color : #000;
}
.THIS .RFPEval-class10{
    float:left;padding-left: 10px;padding-top: 6px;margin-right: 57px;margin-bottom:10px;
}
.THIS .RFPEval-class11{
    padding-left:15px;
}
.THIS .RFPEval-class12{
    height:4rem;
}

.THIS .RFPEval-class13{
    height:4rem; top: 100px;
}

.THIS .RFPEval-class15{
    background: rgba(255, 255, 255, 0.57);
}

.THIS .RFPEval-class16{
    padding-left: 50px;
}
.THIS .RFPEval-class17{
    font-size:16px;margin-bottom:0px;
}

.THIS .RFPEval-class19{
    border-bottom:1px solid #f3f3f3;
}
.THIS .RFPEval-class20{
    height:170px;
}

.THIS .RFPEval-class21{
    padding-top:6px !important;
}
.THIS .RFPEval-class22{
    height:35px;width:100px; top:7px;
}