.THIS .slds-page-header__col-actions {
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-bottom: 0.25rem;
    vertical-align: top;
}
.THIS .custompaddingnwp{
    padding: 15px 15px;
    background: #fff;
    border-radius: 10px;
}
.THIS .container{
    margin:10px;
    padding:10px;
}
.THIS .slds-table_resizable-cols thead th, 
.THIS .slds-table--resizable-cols thead th {
    padding:5px;
}