.THIS .customcactionedit .slds-icon-action-edit,
.THIS .customcactionedit .slds-icon-action-delete{
        padding: 0.3rem;
    border-radius: 14%;
}
.THIS .h40{
    height:35px;
}
.THIS .bg-white{
    background:#ffffff !important;
}
.THIS .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 600 !important;
}
.THIS .l-bg-consumed{
    background: #733dd3;
}   
.THIS .shadow-custom {
  /*box-shadow: 0.3rem .325rem .40rem rgba(0, 0, 0, .075)!important;*/
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 7px 1px rgba(60,64,67,.16) !important;
   transition: box-shadow 135ms cubic-bezier(.4,0,.2,1) !important;
} 
.THIS .maqsood .badge {
    padding: 5px 10px !important;
    font-size: 11px !important;
    font-weight: 500 !important;
}
.THIS .l-bg-projectexpense {
    background: #fda23f!important;
    color: #fff;
}
.THIS .l-bg-projectincome {
    background: #289cf5!important;
    color: #fff;
}
.THIS .l-bg-projectprofit {
    background: #00a9bd !important;
    color: #fff;
}
.THIS .l-bg-projectloss {
    background: #e74c3c !important;
    color: #fff;
}

.THIS .l-bg-allocate {
    background: #90EE90 !important;
    color: #fff;
}

.THIS  .support-box2 {
    padding: 6px; 
    color: #fff;
    /*margin: 8px 0 15px 0;
    min-height: 35px;*/
    border-radius: 3px;
   
    font-family: Inter, sans-serif;
}
.THIS .epr_Mark7 .close {
    float: right;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff!important;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: .9;
}
.THIS .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    display:none;
}
@media (min-width: 992px){
.THIS .modal-lg {
   max-width: 95% !important;
}
}    
@media (min-width: 992px){
.THIS .erp_Mark7 .modal-lg {
    max-width: 95%;
}
}
.THIS .erp_Mark7 .nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: 0.25rem;
}
.THIS .slds-truncate2 {
    /*max-width: 240px;
    word-wrap: break-word !important;
    position: relative;
    white-space: normal;*/
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .nav-tabs > li > a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
color:#60cdde;
text-transform:uppercase;
}
.THIS .nav>li>a:hover,
.THIS .nav>li>a:focus {        
text-decoration: none;
background-color: #fff;
border-bottom: 2px solid #0070d2!important;
}   
.THIS .nav-tabs > li.active > a, 
.THIS .nav-tabs > li.active > a:hover, 
.THIS .nav-tabs > li.active > a:focus {
color: #7cdbff;
cursor: default!important;
background-color: #fff!important;
border: 0;
border-bottom: 3px solid #2196f3!important;
}        
.THIS .nav-tabs > li > a:hover {
border-color: #fff #fff #fff;    
}
.THIS .myli{
    padding-bottom: 7px;
}
.THIS .myli:hover{
    padding-bottom: 10px;
    background:#f7f7f7;
    font-weight:bold;
}
.THIS .slds-text-heading--label{
    text-transform:none;
    font-weight:600 !important;
}
.THIS .slds-tabs_default__item.slds-active, 
.THIS .slds-tabs_default__item.slds-is-active, 
.THIS .slds-tabs--default__item.slds-active, 
.THIS .slds-tabs--default__item.slds-is-active {
    color: #66d4fd;
}

.THIS .slds-form-element__label{
    font-weight:600;
}
.THIS .review-bubble-erp{
    background: #03a9f4;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:12px;
    border-radius:50px;
    
}
.THIS .new-bubble-erp{
    background: #a4a4a4;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:12px;
    border-radius:50px;
}
.THIS .inprogress-bubble-erp{
    background: #ffb75d;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:12px;
    border-radius:50px;
}
.THIS .completed-bubble-erp{
    background: #49c37c;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:12px;
    border-radius:50px;
}
.THIS .cancelled-bubble-erp{
    background: #ef6e64;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:12px;
    border-radius:50px;
}
.THIS .in-progress-ring-erp{
    background: #ffb75d;
}
.THIS .complete-ring-erp{
    background: #4bca81;
}
.THIS .Future {
    background: #a4a4a4;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:11px;
     border-radius:50px;

}
.THIS .InProgress {
    background: #eea416;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:11px;
     border-radius:50px;
}
.THIS .NotPlanned {
    background: #03a9f4;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:11px;
     border-radius:50px;
}
.THIS .Complete {
    background: #49c37c;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:11px;
     border-radius:50px;
 
}
.THIS .Escalated {
    background: #ef6e64;
    color:#fff;
    text-align:center;
    padding:2px 6px 2px 6px;
    font-size:11px;
     border-radius:50px;
}
.THIS .maqdropdown {
    position: relative;
    display: inline-block;
}

.THIS .maqdropdown:hover .maqdropdown-content {
    display: block;
}

.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
	cursor : progress;
}

.THIS .hasError{
	border-color: rgb(194, 57, 52) !important;
	box-shadow: rgb(194, 57, 52) 0 0 0 1px inset !important; 
}

.THIS .l-bg-planned {
     background: #289cf5 !important;
    color: #fff;
    
}
.THIS .l-bg-inProgress {
    /*background: ;
linear-gradient(135deg,#f48665 0,#fda23f 100%) !important*/
    background:#fda23f!important;
    color: #fff;
}
.THIS .maqsood .startime-maq{
	color:#e74c3c;
	font-weight:600;
	font-size:12px;
}
.THIS .maqsood .endime-maq{
	color:#e74c3c;
	font-weight:600;
	font-size:12px;
}

.THIS .projectThead {
    font-weight : bold;
}

.THIS .maqsood .badge .badge-completed,
.THIS .maqsood .bg-completed{
    background: #00a9bd !important;
    color: #ffffff;
}

.THIS .badge .badge-planned,
.THIS .bg-planned {
    background: #289cf5 !important; 
    color: #fff;
}
.THIS .badge.badge-inprogress {
    background: linear-gradient(135deg,#f48665 0,#fda23f 100%)!important;
    color:#ffffff;
}
.THIS .maqsood .badge.badge-warning {
    background-color: #e74c3c !important;
    color: #fff;
}
.THIS .maqsood .bg-warning {
    background: #e74c3c !important;
    color: #ffffff !important;
}
.THIS .acitve-list{
    background: #33b5e5;
    padding: 3px 6px 1.5px 6px;
    border-radius: 7px;
    color: #fff;
}
.THIS .maqsood .progress .progress-bar:not(.progress-bar-striped) {
    background: #1565c0;
}

.THIS .card {
	margin-bottom: 0.35rem;
}

.THIS .support-box {
    padding: 15px;
    color: #fff;
    margin: 8px 0 25px 0;
    border-radius: 3px;
    min-height: 60px;
}

.THIS .bg-inprogress {
    background: linear-gradient(135deg,#f48665 0,#fda23f 100%)!important;
    color: #ffffff !important;
}

.THIS .l-bg-red {
    background: #2185d0 !important;
    color: #fff;
}
.THIS .l-bg-cyan {
    background:#289cf5 !important;
    color: #fff;
}
.THIS .l-bg-orange {
    background-color: #e74c3c !important;
    color: #fff;
}
.THIS .l-bg-active{
	background: #00a9bd !important;
    color: #ffffff;
}
.THIS .green {
	background: linear-gradient(135deg,#f48665 0,#fda23f 100%) !important;
    background-color: #4caf50 !important;
}
.THIS .shadow-sm {
  /*box-shadow: 0.3rem .325rem .40rem rgba(0, 0, 0, .075)!important;*/
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 7px 1px rgba(60,64,67,.16) !important;
   transition: box-shadow 135ms cubic-bezier(.4,0,.2,1);
}

.THIS .shadow-new {
    box-shadow: 0.3rem .325rem .40rem rgba(0, 0, 0, .045)!important;
}

.THIS .maqdropdown {
    position: relative;
    display: inline-block;
}

.THIS .maqdropdown:hover .maqdropdown-content {
    display: block;
}

.THIS .epr_Mark7 .dropdown-menu > li > a {
    display: block;
    padding: 3px 14px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.THIS .tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: auto;
    overflow-x: hidden;
    min-height: 50px;
    max-height: 200px;
}

.THIS .epr_Mark7 .dropdown-menu {
    min-width:135px !important;
}

.THIS .epr_Mark7 .caret {
    display: inline-block;
    width: 9px;
    height: 4px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #5ad9ea;
}
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


.THIS .scroll-bar-wrap {
  width: 100%;
  position: relative;
  
}
.THIS .scroll-box {
  width: 100%;
   scrollbar-width: thin;
  overflow-y: scroll;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .2em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

.THIS .cursor-pointer{
    cursor:pointer;
}
/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
}
                
.THIS .slds-truncate-pw-grid {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.THIS .erp_mark7 .slds-rich-text-editor__toolbar {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    white-space: nowrap;
    position: relative;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid #dddbda;
    background-color: #f3f2f2;
}
.THIS .erp_mark7 .slds-rich-text-area__content{
	overflow-y: auto;
    min-height: 60.5px;
    max-height: 15rem;
    height: 60.5px;
    padding: 0.2rem 1rem;
    background-color: white;
    line-height:1.2rem;
}
.THIS .maqsood p {
    line-height: 1.2rem !important;
}
            .THIS .Milestones-class1{
background:#ffffff; height:100%;
}
.THIS .Milestones-class2{
cursor:pointer;width:35px;height:35px;
}   
            .THIS .Milestones-class3{
top: 15%;display: ;
}
            .THIS .Milestones-class4{
top: 15%;display:none ;
}
            .THIS .Milestones-class5{
min-width: 20rem;padding: 5px;
}
            .THIS .Milestones-class6{
margin-bottom:0px;font-size: 13px;margin-right:30px;
}
            .THIS .Milestones-class7{
top:.25rem;
}
            .THIS .Milestones-class8{
border:1px solid #f7f7f7;box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 7px 1px rgba(60,64,67,.16)!important;
}
            .THIS .Milestones-class9{
background:#ffffff;
}
            .THIS .Milestones-class10{
background:#ffffff;margin-bottom:30px;padding-bottom:20px;
}
            .THIS .Milestones-class11{
font-size: 14px;
}
            .THIS .Milestones-class12{
font-size: 14px;
}
            .THIS .Milestones-class13{
color:#ff0000;
}
            .THIS .Milestones-class14{
text-align: right;
}
            .THIS .Milestones-class15{
float:left;font-size: 20px;color: #F44336; cursor:pointer;
}
            .THIS .Milestones-class16{
font-size:16px; color: #828282;
}
            .THIS .Milestones-class17{
padding: 0px 0px 10px 0px;
}
            .THIS .Milestones-class18{
color:#65d6e5; background: #fff;padding: 4px 7px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;text-transform: none !important;
}
            .THIS .Milestones-class19{
font-size:10px;text-transform: none !important;color:#65d6e5;
}
            .THIS .Milestones-class20{
overflow: hidden; outline: none;
}
            .THIS .Milestones-class21{
width: 100px;
}
            .THIS .Milestones-class22{
text-decoration:none;
}
            .THIS .Milestones-class23{
text-decoration:none;color: #006dcc;
}
            .THIS .Milestones-class24{
height: 65px;
}
            .THIS .Milestones-class25{
max-width:150px;white-space:normal;
}
            .THIS .Milestones-class26{
padding : 0px 0px 4px 0px; color: #00a9bd;
}
            .THIS .Milestones-class27{
padding : 0px 0px 4px 0px; color: #e74c3c;
}
            .THIS .Milestones-class28{
cursor:pointer;
}
            .THIS .Milestones-class29{
background: #289cf5;padding: 9px 0px;font-size: 8px;color:#fff;cursor:pointer;
}
            .THIS .Milestones-class30{
float:right;
}
            .THIS .Milestones-class31{
height: 5px;
}
            .THIS .Milestones-class32{
padding: 0px 0px 10px 0px;
}
            .THIS .Milestones-class33{
background: rgba(255, 255, 255, 0.57)
}
            .THIS .Milestones-class34{
font-weight: 500; color:black;
}
            .THIS .Milestones-class35{
background : #fff; padding :5px 15px 5px 15px;height: 235px;overflow: auto;
}
            .THIS .Milestones-class36{
max-width:150px;
}