.THIS .poli-maxwidth150{
    max-width:150px;
    white-space:normal; 
}
.THIS .white-bg{
    background:#ffffff;
}
.THIS .slds-theme_error-extra{
    /*min-width: 20rem;padding: 5px;*/
}
.THIS .text-center{
    text-align: center;
}
.THIS .showallpoli-select-p{
    padding: 0px 0px 10px 0px;
}
.THIS .showallpoli-color-black{
   color:#080707;
}
.THIS .red1{
    padding-left:0.2px;color:red;
}
.THIS .showallpoli-table-extra{
    outline: none;min-height:150px;max-height:100%;
}
.THIS .ship-pt-5{
    padding-top: 5px;
}
.THIS .m-0{
    margin:0px;
}
.THIS .card-extra{
 background:#fff; border:0px solid #f7f7f7;margin:10px;padding-bottom:50px;
}
.THIS .ship-pt-10{
    padding-top: 10px;
}
.THIS .slds-text-heading_x-smallextra{
  margin-bottom:0px;font-size:13px;margin-right:30px;
}
.THIS .ship-top25{
 top:.25rem;
}
.THIS .class1{
    top: 15%;display:;
}
.THIS .class2{
    top: 15%;display:none;
}
.THIS .headernavmaq{
        border: 1px solid #e4e4e4;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 7%);
}
.THIS .slds-truncate2{
        max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.THIS .nolabel .slds-form-element__label:empty {
    margin: 0;
    display:none;
}
.THIS .bg-white{
    background-color: #FFF;width:100%;
}
.THIS .m-0{
    margin:0px;
}
.THIS .spinner35{
    cursor:pointer;width:35px;height:35px;
}
.THIS .text-left{
    text-align:left;
}
.THIS .overlfow-h{
   overflow: hidden; outline: none;
}
.THIS .showcreatedPO-pt-5{
    padding-top:5px;
}
.THIS .createbill-class3{
    cursor:pointer;
    color: #2196f3;
    height:50px;
}

.THIS .AAnotallowed{
    cursor:not-allowed !important;   
    pointer-events: none;
    color: grey;
    height:50px;
}

.THIS .createbill-class4{
    font-size: 25px;
    padding-top: 10px;
}
.THIS .valigntop{
    vertical-align: top;
}
.THIS .slds-page-header {
    padding: 1rem;
    border-bottom: 0 solid #dddbda !important;
    border-radius: 0.25rem !important;
    background: #fff !important;
    background-clip: padding-box;
    box-shadow: none !important;
    border: 0 solid #dddbda !important;
}
.THIS .no-label-cust2 .slds-form-element__label{
    display:none;
}
.THIS .slds-button--brand, 
.THIS .slds-button_brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddbda !important;
    transition: border 0.15s linear;
    background-color: #0070d2 !important;
    border-color: #0070d2 !important;
    color: white;
}
.THIS .slds-button_brand:hover, 
.THIS .slds-button_brand:focus,
.THIS .slds-button--brand:hover,
.THIS  .slds-button--brand:focus {
    background-color: #005fb2 !important;
    border-color: #005fb2 !important;
    color: white !important;
}
.THIS .slds-button_brand:active,
.THIS  .slds-button--brand:active {
    background-color: #005fb2 !important;
    border-color: #005fb2 !important; 
}
.THIS  .float-right{
    float:right;
}
.THIS .position-sf2{
    position: absolute;
    right: 12px;
}
.THIS .table>thead>tr>th{
    vertical-align: middle;
}
.THIS .white-space-normal{
white-space: normal;
}