.THIS .slds-button_neutral, 
.THIS .slds-button--neutral {
   text-shadow:none;
    box-shadow: none;
}
.THIS .slds-button_neutral:hover, 
.THIS .slds-button--neutral:hover {
   text-shadow:none;
    box-shadow: none;
}

.THIS .slds-tabs_default__item.slds-active, 
.THIS .slds-tabs_default__item.slds-is-active, 
.THIS .slds-tabs--default__item.slds-active, 
.THIS .slds-tabs--default__item.slds-is-active {
    color: #31d0e5 !important;
   
}
.THIS .slds-tabs_default__item, 
.THIS .slds-tabs--default__item {
    color: #31d0e5 !important;
  
    
}
.THIS .slds-button--brand {
    background: #65d6e5!important;
    border: 1px solid #65d6e5!important;
}
.THIS .slds-page-header {
    padding: .45rem !important;
    border-bottom: 1px solid #dddbda;
    border-radius: 0.25rem;
    background: #f3f2f2;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dddbda;
}
.THIS .colorErrorMsg{
    color:red;
}
.THIS .slds-truncate2{
       max-width: 70px!important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal !important;
    word-break: break-all;
}
.THIS .slds-button--brand  { 
	 text-shadow: none;
    box-shadow: none;
}

.THIS .dhl-class1{
    margin-top:4px;
    margin-left:10px;
}

.THIS .dhl-class2{
    margin:0px;
}

.THIS .dhl-class3{
    cursor: pointer;
}

.THIS .dhl-class4{
    margin:10px;
}

.THIS .dhl-class5{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
}

.THIS .dhl-class6{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
}

.THIS .dhl-class7{
    margin:10px;
}

.THIS .dhl-class8{
    margin-top: 3.4%;
}



.THIS .dhl-class10{
    text-align: center;
}

.THIS .dhl-class11{
    text-align:center; 
    color: green; 
    font-weight: bold; 
    font-size: 13px; 
    margin-top:10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.THIS .dhl-class12{
    margin-top: 5%;
}

.THIS .dhl-class13{
    text-align:right;
}

.THIS .dhl-class14{
    text-align:left;
}

.THIS .dhl-class15{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

.THIS .dhl-class16{
    text-align:center; 
    color: green; 
    font-weight: bold; 
    font-size: 13px; 
    margin-top:10px;
    padding-left: 15px;
}


.THIS .dhl-class17{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

.THIS .dhl-class18{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
}

.THIS .dhl-class19{
    max-height: 400px; 
    width: 100%;
    overflow-x:auto;
}

.THIS .dhl-class20{
    min-width:124px;
}

.THIS .dhl-class21{
    min-width:156px;
}

.THIS .dhl-class22{
    margin: 0px;
}

.THIS .dhl-class23{
    padding:10px;
    margin-left:20px;
}

.THIS .dhl-class24{
    color: #4d148c;
}