.THIS .slds-page-header{
    border-radius:0;
}
.THIS .badge {
    display: inline-block;
    padding: 0.4em 0.4em;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}
.THIS .currentfiscalyear{
    color:#252733;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.025rem;
}
.THIS .card {
    border-radius: 5px;
    border: 1px solid #ddd;
}
.THIS .erp .pt-4, .THIS .erp .py-4 {
    padding-top: 1.4rem !important;
}
.THIS .min-height74{
    min-height: 74px; 
}
.THIS .activeppr{ 
    border-radius: 0.5rem;
border: 1px solid #56CCF2 !important;
background: #CFF3FF !important;
box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15) !important;

}
.THIS .slds-tabs_default__nav, 
.THIS .slds-tabs--default__nav{
    border-bottom-color: #ddd;
}
.THIS.scrollerSize {
    height:100px;
    width:100px;
}
.THIS .m-0{
    margin:0px !important;
}


.THIS .erp_mark7 .sticky + .content {
  padding-top: 102px;
}

.THIS .uiDayInMonthCell--default {
    background-color: #fff;
    color: #696e71;
    display: block;
    font-family: 'ProximaNovaSoft-Regular';
    font-size: 15px;
    height: 30px;
    width: 40px;
    line-height: 30px;
    text-align: center;
}
.THIS .slds-table thead th {
    background-color: #f4f6f9;
    color: rgb(81, 79, 77);
    padding: .5rem;
}

.THIS .uiButton--default {
    font-weight: bold;
    font-size: 1rem !important;
    margin: 2px 3px;
    padding: 4px 6px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.45);
    background: #dddfe1;
    background: -webkit-linear-gradient(#F8F8F9,#DDDFE1);
    background: linear-gradient(#F8F8F9,#DDDFE1);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7), 0 0px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 0px 0px #fff;
    width: 100%;
    height: 32px;
}
.THIS .uiButton--default:hover {
    font-weight: bold;
    font-size: 1rem !important;
    margin: 2px 3px;
    padding: 4px 6px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 0;
    
    background: #65d6e5;
   
    width: 100%;
    height: 32px;
}

.THIS .button2 {
    background-color:#F36F5D;
    border: none;
}
.THIS .AccountingPeriod-newClass1 {
    width:77%; text-align:center;
}
.THIS .AccountingPeriod-newClass2 {
    cursor:pointer; text-align:right;
}
.THIS .slds-select {
    border:1px solid rgb(201,201,201);
}
.THIS .slds-pill{
    border:1px solid rgb(201,201,201);
}
.THIS .AccountingPeriod-newClass3 {
    margin-top: 2.3%;
    text-align: left;
}
.THIS .AccountingPeriod-newClass4 {
    background-color:#F36F5D;margin-top:5%;margin-left:30%;margin-right:35%;color:white;padding:10px;border-radius:2px;font-weight: bold;
}
.THIS .AccountingPeriod-newClass5 {
    margin-left:10px;margin-top:10px;margin-right:10px;
}
.THIS .AccountingPeriod-newClass6 {
    font-size:15px;
}
.THIS .AccountingPeriod-newClass7 {
    cursor: pointer;
}

.THIS .custominput-class2{
    min-height: 2rem;
}
/*div.THIS {
    margin-left: 6%;
    margin-top: 2%;
    margin-right: 6%;
}
table.THIS {
    margin-left: 6%;
    margin-top: 2%;
     border-collapse: collapse;
     width: 20%;
}
.THIS .field{
    width : 8%;
    
}*/