.THIS .text-right{
    text-align:right !important;
}
.THIS .heightscrolldis{
      max-height: 100px;
    overflow-y: auto;
        -ms-overflow-style: thin;
    scrollbar-width: thin;
}
.THIS .heightscrolldis ::-webkit-scrollbar {
  display:none; /* for Chrome, Safari, and Opera */
}

.THIS .width85{
    width:85px;
}
.THIS .p-3s{
    padding:3px !important;
}
.THIS .slds-table_cell-buffer tr > th:first-child, 
.THIS .slds-table_cell-buffer tr > td:first-child, 
.THIS .slds-table--cell-buffer tr > th:first-child, 
.THIS .slds-table--cell-buffer tr > td:first-child {
    padding-left: 1.5rem;
}
.THIS .badge-info2{
    padding: 5px;
    background: #ff5722;
    font-weight: lighter;
    font-size: 12px;
    color: #fff;
}
.THIS .fill-white .slds-icon-text-default {

    fill: white !important;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}


.THIS .uiInput--input .input,
.THIS .uiInput--input.input {
    min-height: calc(2rem + 2px);
}
.THIS .input{
   
        height: 30px;
}
.THIS .erp_mark7 .slds-truncate2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width:140px;
    line-height:20px;
}
.THIS .neutralC{
    border:0 !important;
    padding:0 !important;
}
.THIS .erp_mark7 .slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 145px;
}
.THIS .red{
    color:#ff0000;
    padding-top:5px;
}
.THIS .width100{
    width: 100px;
    padding: 5px;
}
.THIS .width200 .slds-select{
      width: 147px !important;
    border:0px !important;
    height:32px !important;
}
.THIS .erp_mark7 .slds-table--bordered tbody td, 
.THIS .erp_mark7 .slds-table--bordered tbody th, 
.THIS .erp_mark7 .slds-table_bordered tbody td, 
.THIS .erp_mark7 .slds-table_bordered tbody th {
    border-top: 1px solid #f3f3f3;
}
.THIS .erp_mark7 .slds-table thead th {
    
    font-weight:bold;
    text-transform:uppercase;
}
/*
.THIS .erp_mark7 .slds-button_brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    height: 35px;
    border: 0 solid #ddd!important;
}
.THIS .erp_mark7 .slds-button_brand:hover, 
.THIS .erp_mark7 .slds-button--brand:focus {
    background-color: #65d6e5;
    color: white;
}*/
.THIS .erp_mark7 .slds-table--bordered, 
.THIS .erp_mark7 .slds-table_bordered {
    border-collapse: separate;
    border-top: 1px solid #dddbda;
    border-bottom: 1px solid #f3f3f3;
}
.THIS .cl1{
    background:#ffffff;
}
.THIS .cl2{
    cursor:pointer;width:35px;height:35px;
}
.THIS .cl3{
    background: #ffffff;border: 0px solid #ddd;border-radius: 0px; box-shadow: none;
}
.THIS .cl4{
    border:0px solid #ddd;border-radius:3px;width:180px !important;height: 34px;
}
.THIS .cl5{
    display:inline-flex;margin-left: 5px;
}
.THIS .cl6{
    border:1px solid #ddd;border-radius:3px;width:170px;
}
.THIS .cl7{
    border:0px !important;padding-left: .5rem !important;padding-right: .1rem !important;
}
.THIS .cl8{
    font-size:16px;padding-top: 0px;color:#31d0e5;
}
.THIS .cl9{
    background:#fff; border:1px solid #f7f7f7;margin: 10px;
}
.THIS .cl10{
    min-height: 373px;
}
.THIS .cl11{
    top: 15%;display:'';
}
.THIS .cl12{
    top: 15%;display:none;
}
.THIS .cl13{
    min-width: 20rem;padding: 5px;
}
.THIS .cl14{
    margin-bottom:0px;font-size: 13px;margin-right:30px;
}
.THIS .cl15{
    top:.55rem !important;
}
.THIS .cl16-1{
    margin-bottom:100px; outline: none;
}
.THIS .cl17{
    color:#65d6e5; background: #fff;padding: 4px 12px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .cl18{
    width:100px;
}
.THIS .cl19{
    width:80px;
}
.THIS .cl20{
    cursor:pointer; width:20px; height:20px;
}
.THIS .cl21{
    color:#005fb2; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .cl22{
    color:#0070d2; text-decoration:none;
}
.THIS .cl23{
    width:160px;
}
.THIS .cl24{
    cursor:pointer;
}
.THIS .cl25{
    padding:0;padding-left:125px;height:35px;
}
.THIS .cl26{
    padding:0.25rem 0 0 0;
}
.THIS .cl27{
    padding-left: 11px;
    font-size: 15px;
    color: #fff;
    margin-bottom: 0px;
}

.THIS .cl29{
    padding-top: 10px; margin:0px;
}
.THIS .cl30{
    padding:0px;
}
.THIS .cl31{
    padding-top:5px !important;text-align:right !important;
}
.THIS .cl32{
    padding-top:6px;font-weight:bold;text-align:center;
}
.THIS .cl33{
    text-align:left;
}
.THIS .cl34{
    display:inline-flex !important;    margin: 0px 0 !important;
}
.THIS .cl35{
    border: 0px solid #ddd;border-radius:3px 0px 0px 3px;
}
.THIS .cl36{
    color: #b5b7b9;cursor: not-allowed;padding-right:10px;border:0px;
}
.THIS .cl37{
    padding-right:10px;border:0px;border-radius:0px;
}
.THIS .cl38{
    border: 0px solid #ddd;
}
.THIS .cl39{
    color: #b5b7b9;cursor: not-allowed;padding-left:10px;border:0px;
}
.THIS .cl40{
    padding-left:10px;border:0px;border-radius:0px;
}
.THIS .cl41{
    border: 0px solid #ddd;border-radius:0px 3px 3px 0px;
}
.THIS .cl42{
    padding-top: 6px;font-weight:bold;
}
.THIS .cl43{
    margin-bottom:5px;
}
.THIS .cl44{
    background: rgba(51, 51, 51, 0.33);
}
.THIS .cl45{
    font-weight:bold;font-size:14px;
}
.THIS .cl46{
    text-align:center !important;
}
.THIS .cl47{
    background: rgba(0, 0, 0, 0.37);
}
.THIS .cl48{
    width: 70%;max-width: 60rem;
}
.THIS .bg-white {
    background: #ffffff !important;
}
.THIS .custom-loading-text {

    position: fixed;
    width: max-content;
    text-align: center;
    top: 56%;
    font-weight: bold;
}
.THIS .custom-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 9999; 
}