.THIS .cl1 {
	background: #ffffff;
	height: 100%;
}

.THIS .cl2 {
	background: #f0f8ff !important;
}

.THIS .cl3 {
	outline: 0 !important;
	text-decoration: none !important;
	padding: 4px 10px 4px 10px !important;
	margin-bottom: 10px !important;
	border: 1px solid #bfe5dc !important;
	background-color: #bfe5dc !important;
}

.THIS .cl4 {
	color: #00ac69 !important;
	background-color: #bfe5dc !important;
	width: 50px !important;
	height: 50px !important;
	line-height: 50px !important;
}

.THIS .cl5 {
	outline: 0 !important;
	text-decoration: none !important;
	padding: 4px 10px 4px 10px !important;
	margin-bottom: 10px !important;
	border: 1px solid #f0e3c7 !important;
	background-color: #f0e3c7 !important;
}

.THIS .cl6 {
	color: #f4a100 !important;
	background-color: #f0e3c7 !important ;
	width: 50px !important;
	height: 50px !important;
	line-height: 50px !important;
}

.THIS .cl7 {
	outline: 0 !important;
	text-decoration: none !important;
	padding: 4px 10px 4px 10px !important;
	margin-bottom: 10px !important;
	border: 1px solid #eec7c7 !important;
	background-color: #eec7c7 !important;
}

.THIS .cl8 {
	background-color: #eec7c7 !important;
	color: #e81500 !important;
	width: 50px !important;
	height: 50px !important;
	line-height: 50px !important;
}

.THIS .cl9 {
	outline: 0 !important;
	text-decoration: none !important;
	padding: 4px 10px 4px 10px !important;
	margin-bottom: 10px !important;
	border: 1px solid #d4c2ef !important;
	background-color: #d4c2ef !important;
}

.THIS .cl10 {
	background-color: #d4c2ef !important;
	color: #6900c7 !important;
	width: 50px !important;
	height: 50px !important;
	line-height: 50px !important;
}

.THIS .cl11 {
	background: #fff !important;
	border-left: 1px solid #03A9F4 !important;
}

.THIS .cl12 {
	text-decoration: none;
	border: 1px solid #36a0fe;
	padcolor: #b5b7b9;
	cursor: not-allowed;
	font-size: 16px;
	height: 32px;
	line-height: 20px;
	min-width: 40px;
	border-radius: 0px;
	ding: 5px;
	border-radius: 3px;
	background: #ffffff;
	height: 30px;
	text-align: center;
}

.THIS .cl13 {
	color: #b5b7b9 !important;
	cursor: not-allowed !important;
	font-size: 16px !important;
	height: 32px !important;
	line-height: 20px !important;
	min-width: 40px !important;
	border-radius: 0px !important;
}

.THIS .cl14 {
	border-radius: 0px;
	font-size: 16px;
	height: 32px;
	line-height: 20px;
	min-width: 40px;
}


.THIS .maqsood .table:not(.table-bordered) thead th {
	font-weight: 700;

}

.THIS .dropdown-toggle::after {
	display: none;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}

.THIS a {
	color: #006dcc;
}

.THIS .slds-button_neutral:hover,
.THIS .slds-button_neutral:focus,
.THIS .slds-button--neutral:hover,
.THIS .slds-button--neutral:focus {
	background-color: #f4f6f9;
	color: #31d0e5;
}

.THIS .dropdown-toggle {
	padding-left: 5px !important;
}

.THIS .slds-button--brand,
.THIS .slds-button_brand {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dddbda;
	transition: border .15s linear;
	background-color: #31d0e5;
	border: 1px solid #31d0e5;
	color: #fff !important;
}

.THIS .slds-button_brand:hover,
.THIS .slds-button_brand:focus,
.THIS .slds-button--brand:hover,
.THIS .slds-button--brand:focus {
	background-color: #31d0e5;
	border-color: #31d0e5;
	color: white;
}

.THIS .slds-table--bordered {
	margin-bottom: 50px;
}

.THIS .width100p {
	width: 70px !important;
}

.THIS .slds-button--success {
	color: #ffffff !important;
}

.THIS .slds-button--destructive:focus,
.THIS .slds-button--destructive:hover {
	background-color: #c23934 !important;

}

.THIS .slds-button--success:focus,
.THIS .slds-button--success:hover {
	background-color: #4bca81 !important;

}

.THIS .slds-button__icon_left,
.THIS .slds-button__icon--left {
	margin-right: 0rem;
}

.THIS .slds-truncate2 {
	max-width: 400px;
	overflow: hidden;
	text-overflow: clip;
	white-space: normal;
	word-wrap: break-word;
}

.THIS .slds-table thead th {
	background-color: rgb(250, 250, 249);
	color: rgb(81, 79, 77);
	padding: .5rem;
	font-weight: bold !important;
}

.THIS .erp_mark7 .slds-input-has-icon .slds-input__icon {
	width: 1rem;
	height: 1rem;
}

.THIS .btnlineheight {
	line-height: 0.875rem !important;
}