.THIS .totalconfirmpay{
    text-transform: uppercase;
    font-weight: bold;
    color: #ff5353;
    font-size: 21px;
    font-size: 1.3125rem;
}
.THIS .slds-modal__container {
    max-width: 93rem !important;
    width: 93% !important;
}
.THIS  footer {
    background-color: #ffffff;
    padding: 15px 18px 15px 0px;
}

.THIS .extra-cart {
    pointer-events: none;
    opacity: .6;
}

.THIS .ProductLCCO-newClass1 {
   cursor:pointer;padding: 10px 10px 6px 8px;
}
.THIS .ProductLCCO-newClass2 {
   font-weight:normal;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .ProductLCCO-newClass3 {
   padding: 2px !important;
}
.THIS .ProductLCCO-newClass4 {
   display:flex;
}
.THIS .ProductLCCO-newClass5 {
   background: #fff; padding: 14px;box-shadow: 0 .325rem .25rem rgba(0,0,0,.075)!important;
}
.THIS .ProductLCCO-newClass6 {
   cursor:pointer;
}
.THIS .ProductLCCO-newClass7 {
   font-size:14px;padding-left:10px;
}
.THIS .ProductLCCO-newClass8 {
   max-width: 130px;font-size:12px;
}