.THIS .pl-0{
    padding-left:0;
}
.THIS .cl1{
   margin-top:0px !important;
    background: none !important;
}
.THIS .cl2{
    padding-left:0px !important;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}