.THIS  p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}
.THIS .stickyth{
        position: sticky;
    top: 0;
    z-index: 9;
}

.THIS .slds-button-yodlee {
    margin-top: 6px;
}
.THIS .slds-p-top_largw{
padding-top: 1.25rem;
}
.THIS .z-index-0{
    z-index:0;
}
.THIS .list-of-bank-statement{
	height:70vh; 
    overflow:auto;
    width:100%;
 }
.THIS .uiInput--input .input, .THIS .uiInput--input.input{
    min-height: calc(1.875rem + 2px);
}