/* Starter CSS for Flyout Menu */
#wrap{
	width:100%;
	/*min-height:380px;*/
	height:auto;
	margin:0 auto;

}
#wrap2{
	width:100%;
	
	height:100%;
	 background-color: #f62b2b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
        background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
        background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
        background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
        background-image: -o-linear-gradient(top, #f62b2b, #d20202);
        background-image: linear-gradient(to bottom, #f62b2b, #d20202);
        filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f62b2b, endColorstr=#d20202); 
}
.profile{
	width:100%;
	height:135px;
	float:left;
	background:#ffffff;
	box-shadow:0px 3px 5px 0px rgba(0,0,0, .2);
		border-radius:7px;
	}
#header{
	height:30px;
	width:100%;
	float:left;
	 background-color: #f62b2b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
        background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
        background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
        background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
        background-image: -o-linear-gradient(top, #f62b2b, #d20202);
        background-image: linear-gradient(to bottom, #f62b2b, #d20202);
        filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f62b2b, endColorstr=#d20202); 		
}
.menulist{
	width:17%;
	height:200px;
	float:left;
}
.headertxt{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#fff;
padding:8px 0 0 36px;
float:left;
}
.headertxt2{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#fff;
}
.headertxt3{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
color:#fff;
}
.employeedetails{
	width:100%;
	height:150px;
	float:left;
}
.bodytxt{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#000000;
}
.bodytxtN{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5e5f60;
	font-style:normal;
}
.bodytxtE{
	ffont-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#5e5f60;
	}
.sectiontwo{
	width:100%;
	height:auto;
	background:#FFFFFF;
	float:left;
	box-shadow:0px 3px 5px 0px rgba(0,0,0, .2);
		border-radius:7px;
}
.reviewdetails{width:100%;
height:180px;
float:left;
overflow:auto;
}
.text{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
margin-left:5px;
color:#898888;
}
.reviewBTN{
	background:url(../images/back.png) no-repeat;
	width:85px;
	height:37px;
	border:0;
	vertical-align:central;
}
#content-mddle{
width:100%;
height:auto;
float:left;
}
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
}
#cssmenu ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: 0;
  left: 100%;
}
#cssmenu ul li {
  float: none;
}
/* Custom Stuff */
#cssmenu span,
#cssmenu a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
}
#cssmenu {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  width: 200px;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu > ul > li:first-child {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li:last-child {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li ul ul li:first-child {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li ul ul li:last-child {
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul,
#cssmenu li {
  width: 100%;
}
#cssmenu li {
	background:#f0f3f3;

}
#cssmenu li:hover,
#cssmenu li.active {
 background: rgb(39,168,223); /* Old browsers */
background: -moz-linear-gradient(top, rgba(39,168,223,1) 0%, rgba(41,168,232,1) 45%, rgba(39,168,223,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,168,223,1)), color-stop(45%,rgba(41,168,232,1)), color-stop(100%,rgba(39,168,223,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(39,168,223,1) 0%,rgba(41,168,232,1) 45%,rgba(39,168,223,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(39,168,223,1) 0%,rgba(41,168,232,1) 45%,rgba(39,168,223,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(39,168,223,1) 0%,rgba(41,168,232,1) 45%,rgba(39,168,223,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(39,168,223,1) 0%,rgba(41,168,232,1) 45%,rgba(39,168,223,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a8df', endColorstr='#27a8df',GradientType=0 ); /* IE6-9 */
}
#cssmenu li:hover > a,
#cssmenu li.active > a {
  color: #FFF;
}
#cssmenu a {
  color: #333333;
  line-height:60%;
  padding: 16px 8px 16px 28px;
  width: 164px;
  border-top:1px dotted #cccccc;
}
#cssmenu ul ul {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  width: 200px;
}
#cssmenu ul ul li {
  background: #606a76;
  border-bottom: 1px solid #59636F;
  -moz-box-shadow: inset 0 1px 0 #66707c;
  -webkit-box-shadow: inset 0 1px 0 #66707c;
  box-shadow: inset 0 1px 0 #66707c;
}
#cssmenu ul ul li:hover {
  background: #4a5662;
}
#cssmenu ul ul li a {
  color: #FFF;
}
#cssmenu ul ul a,
#cssmenu ul ul a span {
  font-size: 12px;
}
.headtext-menu{
	color: #666666;
    font-family: Arial,sans-serif;
    font-size: 12px;
	font-weight:bold;
}
.toptext{
	font-family:Arial; font-size:12px; font-weight:bold; color:#ffffff; 
	
	}
.toptext:hover{
	font-family:Arial; font-size:12px; font-weight:bold; color:#ffffff;
	text-decoration:underline; 
	
	}
.toptext2{
	font-family:Arial; font-size:12px; font-weight:normal; color:#f62b2b; 
	
	}
.toptext2:hover{
	font-family:Arial; font-size:12px; font-weight:normal; color:#;
	text-decoration:underline; 
	
	}
.button{
	width:130px;
	height:30px;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-radius:7px;	
}
.button:hover{
	width:130px;
	height:30px;
	border:none;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #606060 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#606060)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#606060 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#606060 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#606060 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#606060 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#606060',GradientType=0 ); /* IE6-9 */

	border-radius:7px;	
}
#buttonsmall{
	width:87px;
	height:22px;
	border:none;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
	font-weight:bold;
	background: rgb(61,163,206); /* Old browsers */
background: -moz-linear-gradient(top, rgba(61,163,206,1) 0%, rgba(29,162,219,1) 45%, rgba(41,156,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,163,206,1)), color-stop(45%,rgba(29,162,219,1)), color-stop(100%,rgba(41,156,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(61,163,206,1) 0%,rgba(29,162,219,1) 45%,rgba(41,156,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(61,163,206,1) 0%,rgba(29,162,219,1) 45%,rgba(41,156,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(61,163,206,1) 0%,rgba(29,162,219,1) 45%,rgba(41,156,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(61,163,206,1) 0%,rgba(29,162,219,1) 45%,rgba(41,156,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3da3ce', endColorstr='#299cce',GradientType=0 ); /* IE6-9 */
-moz-box-shadow:0px 3px 5px 0px rgba(0,0,0, .2);
	-webkit-box-shadow:0px 3px 5px 0px rgba(0,0,0, .2);
	box-shadow:0px 3px 5px 0px rgba(0,0,0, .2);
	border-radius:7px;
	text-decoration:none;
	
}
#buttonsmall:hover{
	width:87px;
	height:22px;
	border:none;
	cursor:pointer;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #606060 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#606060)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#606060 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#606060 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#606060 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#606060 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#606060',GradientType=0 ); /* IE6-9 */

	border-radius:7px;	
	text-decoration:none;
}
.menusectionitem{
	width:100%
	 overflow:auto; 
	 height:200px;
}
input[type=text],
textarea,
select {
    -webkit-transition:all 0.30s ease-in-out;
    -moz-transition:all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    outline:none;
    padding:3px 0px 3px 3px;
    /*margin:5px 1px 3px 0px;*/
    border:1px solid #DDDDDD;
    color:#615e5e;
}
input[type=text]:focus,
textarea:focus,
select:focus {
    -webkit-box-shadow:0 0 5px rgba(255,
    0,
    24,
    1);
    box-shadow:0 0 5px rgba(255,
    0,
    24,
    1);
    -o-box-shadow:0 0 5px rgba(255,
    0,
    24,
    1);
    padding:3px 0px 3px 3px;
    /*margin:5px 1px 3px 0px;*/
    border:1px solid red;
}
input[type=button] {
    -webkit-transition:all 0.30s ease-in-out;
    -moz-transition:all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    outline:none;
}
input[type=button]:focus,
{
    -webkit-box-shadow:0 0 0px rgba(255,
    0,
    24,
    1);
    box-shadow:0 0 0px rgba(255,
    0,
    24,
    1);
    -o-box-shadow:0 0 0px rgba(255,
    0,
    24,
    1);
}