/*Accounts_Payable*/

.AccountsPayable-newClass20 {
  position: fixed;width: 100%;bottom: 0;background: rgba(255, 255, 255, 0.57);
}

.AccountsPayable-maqdropdown-content {
        display:  none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 164px;
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
        padding: 7px 7px;
        z-index: 1;
        right:0;
        }

.AccountsPayable-maqdropdown-content {
        display:  none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 164px;
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
        padding: 7px 7px;
        z-index: 1;
        right:0;
        }

.AccountsPayable-newClass16 {
   z-index: 1;
}


.AccountsPayable-uiMenuList--default.uiMenuList {
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
        border: 1px solid rgb(221, 219, 218);
        border-radius: .25rem;
        padding: .5rem 0;
       
        position: absolute;
        min-width: 175px;
        max-width: 400px;
        left: 0;
        -webkit-transform: translateX(-88%);
        -ms-transform: translateX(-88%);
        transform: translateX(-88%);
        margin-top: .125rem;
}

.AccountsPayable-slds-tabs_default__item, 
.AccountsPayable-slds-tabs--default__item {
    color: #03A9F4 !important;
    position: relative;
    padding: 0rem 1rem;
    margin-bottom: -2px;
    text-transform: uppercase;
    letter-spacing: .0625em;
}


.AccountsPayable-uiMenuList--default.uiMenuList {
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
        border: 1px solid rgb(221, 219, 218);
        border-radius: .25rem;
        padding: .5rem 0;
        
        position: absolute;
        min-width: 175px;
        max-width: 400px;
        left: 0;
        -webkit-transform: translateX(-88%);
        -ms-transform: translateX(-88%);
        transform: translateX(-88%);
        margin-top: .125rem;
        }


.AccountsPayable-uiMenuList--default.uiMenuList {
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
        border: 1px solid rgb(221, 219, 218);
        border-radius: .25rem;
        padding: .5rem 0;
        position: absolute;
        min-width: 175px;
        max-width: 400px;
        left: 0;
        -webkit-transform: translateX(-88%);
        -ms-transform: translateX(-88%);
        transform: translateX(-88%);
        margin-top: .125rem;
        }

.AccountsPayable-newClass23 {
 margin-top:-19px;
}