.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon, 
.uiInput--datetime .timePicker-openIcon {
    position: absolute;
    vertical-align: middle;
    left: 92%;
    width: 12px;
    height: 15px;
    background: url(/auraFW/resources/aura/images/icon_openCalendar.png) no-repeat 0 0;
    top: 31%;
}

.erp_mark7 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}