.adjust-class11{
    position: fixed;width: 100%;bottom: 0;background: rgba(255, 255, 255, 0.9); left: 0;
}

.adjust-class23{
    position:fixed;text-align: center;bottom: 10px;width: 100%;left: 0;background: rgba(255, 255, 255, 0.55);
}


.adjust-class14{
    margin-top:-19px
}
