.comparerfp-cover-bar {
  position: absolute; 
  background: #fff;;
  height: 100%;  
  top: 0;
  right: 0;
  width: .6em;
  -webkit-transition: all .5s;
  opacity: 1 !important;
 } 
 
 #comparerfp-half-stars-example .comparerfp-rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#comparerfp-half-stars-example .comparerpf-rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}