.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon, 
.uiInput--datetime .timePicker-openIcon {
    position: absolute;
    vertical-align: middle;
    top: 8px;
    right: 0px;
    left: 84%;
    bottom: 0;
}

.dhl-class9{
    margin-bottom:2%;
    z-index:99;
}