.erp_mark7 .slds-tabs--default__item:after, 
.erp_mark7 .slds-tabs_default__item:after {
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2.5px;
}
.slds-tabs--default__item:after, 
.slds-tabs_default__item:after {
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2.5px;
}


.fedex-class7{
    margin-bottom:7%;
    z-index:99;
}