.ui-slider {
    position: absolute;
    text-align: left;
    top: -5px;
    width: 100%;
    background: transparent;
    z-index: 99;
}
.ERP7Gantt.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 20px;
    font-size: .7em;
    display: block;
    border: 1px solid #990000!important;
    border-radius: 14px;
    background: #990000!important;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 20px;
    font-size: .7em;
    display: block;
    border: 1px solid #990000 !important;
    
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    border-radius: 14px;
       background: #990000 !important;
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.175) !important;
    cursor: e-resize;
} 	

.ui-slider {
   position: absolute;
    text-align: left;
    width: 100%;
    top: -5px;
    z-index: 99;
    background: transparent;
    border: 0;
}

.ERP7Gantt.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 20px;
    font-size: .7em;
    display: block;
    border: 1px solid #990000!important;
    border-radius: 14px;
    background: #990000!important;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 20px;
    font-size: .7em;
    display: block;
    border: 1px solid #990000 !important;
    
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    border-radius: 14px;
       background: #990000 !important;
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.175) !important;
    cursor: e-resize;
} 

.ui-slider .ui-slider-range:hover {
    position: absolute;
    z-index: 1;
    height: 20px;
    font-size: .7em;
    display: block;
    border: 1px solid #990000 !important;
    
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    border-radius: 14px;
       background: #990000 !important;
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.175) !important;
    cursor: e-resize;
} 

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}

.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
