 .ui-slider-range-maq{
    background: transparent;
    border: 0px solid rgb(244, 67, 54) !important;
    z-index: 99 !important;
    position: absolute;
    top: -2px;
}
 .row2m{
    position: absolute;
    z-index: 3;
    height: 20px;
    font-size: .7em;
    display: block;
	border: 1px solid #00a9bd !important;
    border-radius: 14px;
    background: #00a9bd !important;
    width: 160px;
    left: 320px;
}