.slds-nubbin_top:after, 
.slds-nubbin--top:after {
width: 1rem;
height: 1rem;
position: absolute;
transform: rotate(45deg);
content: '';
background-color: inherit;
left: 50%;
top: -0.5rem;
margin-left: -0.5rem;
display:none;
}

.slds-spinner {
position: fixed !important;
top: 50%;
left: 50%;
z-index: 9051;
transform: translate(-50%, -50%) rotate(90deg);
}

.IncomeStatement-class24{
background:#16325c;
box-shadow: 2px 9px 7px -8px rgba(0,0,0, 1);
margin-bottom: 10px;
position:fixed;
z-index:99;
width:100%;
left:0;
bottom:0;
}

.slds-spinner_container {
position: fixed !important;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 9050;
background-color: rgba(255, 255, 255, 0.75);
visibility: visible;
opacity: 1;
transition: opacity 0.2s ease, visibility 0s;
transition-delay: 0s, 0.3s;
}
.IncomeStatement-class7{
width:75%;
position: absolute;
top: 12%;left: 6%; 
display:block;
z-index:99;
}

.IncomeStatement-class8{
cursor:pointer;
color: #7cdbff;
padding-right:5px;
font-weight:bold;
position: absolute;
right: 0;
}

.slds-nubbin_top:before, 
.slds-nubbin--top:before {
width: 1rem;
height: 1rem;
position: absolute;
transform: rotate(45deg);
content: '';
background-color: inherit;
left: 50%;
top: -.5rem;
margin-left: -.5rem;
display:none;
}

.mainSpinClass::after {
position: fixed !important;
content: 'Please wait while loading';
width: 100%;
text-align: center;
font-size:16px !important;
top: calc(50% + 3em);
font-weight: bold;
}
.IncomeStatement-class7{
width:75% !important;position: absolute !important;top: 12%;left: 6%; display:block;z-index:99;
}