.mbr-class36{
    text-align: center;position: fixed;width: 100%;bottom: 0;background: rgba(255, 255, 255, 0.71);padding: 5px;left: 0;right: 0;
}

.mbr-class38{
    position: fixed;width: 100%;bottom: 0;background: rgba(255, 255, 255, 0.57);
}

.mbr-class2{
    margin-top: 7.6%;z-index: 99;
}

.mbr-class4{
    margin-top: 7.6%;z-index: 99;
}

.mbr-class25{
    margin-top: 7.6%;z-index: 99;
}

.mbr-class28{
    margin-top: 7.6%;z-index: 99;
}

.slds-tabs_default__item, .THIS .slds-tabs--default__item {
    color: rgb(49, 208, 229);
    position: relative;
    padding: 0rem .85rem;
    margin-bottom: -2px;
    text-transform: uppercase;
    letter-spacing: .0625em;
}

.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.mbr-class18{
    padding-left:5px;font-size: 20px;font-weight:100 !important;margin-top:-2px;
}

.mbr-class41{
    margin-top:-19px
}
