.slds-spinner_container {
    position: fixed;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:9003 !important;
    background-color: var(--lwc-colorBackgroundTempModalTintAlt,rgba(255, 255, 255, 0.75));
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease,visibility 0s;
    transition-delay: 0s,.3s;
}

.mb-class48{
            position:absolute;top: 6%;right: 2%; z-index: 99;width:100%;
        }
		
		
.mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    margin-top:2%;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}
.cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top: 16px;
  right: 0;
  width: .6em;
  -webkit-transition: all .5s;
  opacity: 1 !important;
}
.mbclass48{
        position: absolute;
    top: 0;
    right: 50px;
}
.mbclass51{
            width: 90px;margin-top:-17px;
        }