.fixed_headers {
        width: ;
        table-layout: fixed;
        border-collapse: collapse;
        }
		
		
		/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.matchB-class8{
    z-index: 1;
}

.slds-docked-form-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f3f2f2;
    box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 16%);
    z-index: 8001 !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .5rem 0;
}
.slds-tabs_default__item, .THIS .slds-tabs--default__item {
        color: rgb(49, 208, 229);
        position: relative;
        padding: 0rem .85rem;
        margin-bottom: -2px;
        text-transform: uppercase;
        letter-spacing: .0625em;
        }
