/* MPS_AT */

.erp_mark7 .slds-spinner_container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s;
    transition-delay: 0s, 0.3s;
}
.erp_mark7 .slds-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9051;
    transform: translate(-50%, -50%) rotate(90deg);
}


.mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}

.footerbuttons{
	text-align: center !important;
    background: rgba(255, 255, 255, .9) !important;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    width: 98%;
    left:12px;
}

.maqdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 111px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    padding: 8px 14px;
    z-index: 1;
}

.maqdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 111px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    padding: 8px 14px;
    z-index: 1;
}