/*POS*/
.inputd {
    margin-right: -12px !important;
}
.slds-spinner_container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s;
    transition-delay: 0s, 0.3s;
}

.erp_mark7 .slds-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9051;
    transform: translate(-50%, -50%) rotate(90deg);
}
.mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}
.footerbuttons{
	text-align: center !important;
    background: rgba(255, 255, 255, .9) !important;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    width: 98%;
    left:12px;
}
.POS-newClass71{
  position: absolute;width: 205px;left: -187px;
}
.epr_Mark7 .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.epr_Mark7 .modal-dialog {
  margin: 30px auto 0;
    padding: 6px;
    position: absolute;
    left: 0;
    top: -5%;
    right: 0;
}
.epr_Mark7 .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: -100;
}
.epr_Mark7 .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: -100;
    height: 100% !important;
}
.uiInput--datetime .datePicker-openIcon{
    position: relative;
    vertical-align: middle;
    left: 85%;
    width: 12px;
    height: 15px;
    top: -28px;
}

