/*ProductListCommProductDetails*/

.countdown_inner.version_2:before {
  border-style: solid solid solid none;
  border-width: 15px 15px 15px 0;
  bottom: -26px;
  content: "";
  left: 0;
  position: absolute;
  width: 15px;
  border-color: #F33 transparent transparent;
}

.all .slider .left,
.all .slider .right,
.all .slider-two .left,
.all .slider-two .right {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
}

.all .slider-two .left-t,
.all .slider-two .right-t {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all ease .25s;
  width: 40px;
  height: 99px;
  background: no-repeat rgba(0, 77, 218, 0.85) url(../img/arrow_right.svg) center center;
}

.prod_options .colors ul li a.color.active:before {
  font-family: 'themify';
  content: "\e64c";
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1;
  position: absolute;
  font-weight: bold;
  top: 8px;
  left: 8px;
}

.all .slider .left,
.all .slider-two .left {
  left: -20px;
  transition: left ease .25s;
}


.all .slider .left.nonl,
.all .slider-two .left.nonl {
  left: -20px;
}
.all .slider .right,
.all .slider-two .right {
  right: -20px;
  transition: right ease .25s;
}

.all .slider .right.nonr,
.all .slider-two .right.nonr {
  right: -20px;
}

.all .slider-two .left-t {
  transform: rotate(180deg);
  left: -40px;
}

.all .slider-two .left-t.nonl-t {
  left: -40px;
}

.all .slider-two .right-t.nonr-t {
  right: -40px;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

@media (max-width: 767px) {
  .tabs_product {
    margin-top: -30px;
    padding-top: 0;
  }
}

.tab_content_wrapper .card .card-header {
  margin: 0 -15px;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #dddddd;
  background-color: #f8f8f8;
}
