/*ProductList*/

.ProductList-newClass1{
    left: -7px;top: -1px;
}

.outofstock{
    background: #F44336;
    position: sticky;
    left: 15px;
    top: 0px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 100px;
    line-height: 1;
    z-index: 1;
    width: 100%;
    float: left;
}