/*ProductListCommMyOrders*/

._1S3Y5S {
    padding-bottom: 10px;
    font-weight: 500;
    margin-left: -10px;
    width: auto;
}

._1S3Y5S {
    padding-bottom: 10px;
    font-weight: 500;
    margin-left: -10px;
    width: auto;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

@media (max-width: 767px) {
 .tabs_product {
    margin-top: -30px;
    padding-top: 0;
  }
}