/*ProductConfigration*/

.ProductConfiguration-newClass3{
    position: fixed; width: 100%;bottom: 0;background: rgba(255, 255, 255, 0.6); left:0;padding: 5px;
}

.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon, 
.uiInput--datetime .timePicker-openIcon {
    position: absolute !important;
    vertical-align: middle !important;
    width: 12px !important;
    height: 15px !important;
    background: url(/auraFW/resources/aura/images/icon_openCalendar.png) no-repeat 0 0;
    left:7px !important;
    top:0 !important;
}

a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon, 
.uiInput--datetime .timePicker-openIcon {
    position: absolute;
    vertical-align: middle;
    left: 5px;
    width: 12px;
    height: 15px;
    background: url(/auraFW/resources/aura/images/icon_openCalendar.png) no-repeat 0 0;
    top: 8px;
}
