/*ProductLCM*/

.icons-cd{
   position: absolute;
    top: 7%;
    left: 11%;
    transform: translate(-50%, -50%);
}

.epr_Mark7 .modal-header .close {
			margin-top: -2px;
			position: relative;
			left: 53px;
			top: -50px;
			font-size: 42px;
		}
.slds-template_iframe {
    width: calc(100% + (0.75rem * 2));
    height: calc(100% + (0.75rem * 2));
    margin: -.75rem;
    background-color: transparent !important;
}
.erp_mark7 .slds-modal__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 5px;
    right: 8px;
}

.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon, 
.uiInput--datetime .timePicker-openIcon {
    position: absolute;
    vertical-align: middle;
    left: 87%;
    top: 27%;
    width: 12px;
    height: 15px;
    background: url(/auraFW/resources/aura/images/icon_openCalendar.png) no-repeat 0 0;
}

.epr_Mark7 .ticket-platinum:before,
            .epr_Mark7 .ticket-platinum:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background: #f88407;
            }
.epr_Mark7 .modal {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1050;
			display: none;
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
			outline: 0;
			background: rgba(170, 170, 170, 0.51);
		}

.ProductLCM-newClass15 {
   z-index: 1; top:40%;
}

.mainfloatbutton{
            text-align: center;
            height: 55px;
            width: 98.5%;
            background: rgba(255,255,255, 0.7);
            position: fixed;
            bottom: 0px;
            left: 10px;
            padding: 10px 25px;
        }