/*ProductListComm*/
.slds-modal__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -1.5rem;
    right: -2.5rem;
}
.ProductListCH-newClass1 {
    background: rgba(0, 0, 0, 0.47); position: fixed; width: 100%; height: 100%;top: 0;z-index:999;left:0;
}
.price_main .percentage {
  top: -2px;
}
@media (max-width: 767px) {
    .product_actions ul li {
    margin: -5px 10px 0 0;
  }
}
.filter_type.version_2 {
    border-bottom: 1px solid #ededed;
    margin: 0 -15px -15px -15px;
    padding: 0 15px;
}