
 .rma th div{
    position: absolute;
    background: transparent;
    color: #333;
    padding: 9px 25px;
    top: 0;
    margin-left: -25px;
    line-height: normal;
    
}
 .test{
    position: absolute;min-width: 100px;left: -84px;
}
 .fixed_headers {
    width: ;
    table-layout: fixed;
    border-collapse: collapse;
}
 .ReturnPOs-class33{
    position:fixed;bottom:0;left: 0; text-align:center; width:100%; background: rgba(255, 255, 255, 0.7);
}
 .slds-modal__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem !important;
    right: 0rem !important;
    color: #fff !important;
}	
 .slds-modal__close:hover {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem !important;
    right: 0rem !important;
    color: #fff !important;
}	
 .rma section.positioned {
    position: absolute;
    top:100px;
    left:100px;
    width:100%;
    box-shadow: 0 0 15px #333;
}
