
 .slds-tabs_default__item,  .slds-tabs--default__item {
    color: rgb(49, 208, 229);
    position: relative;
    padding: 0rem .85rem;
    margin-bottom: -2px;
    text-transform: uppercase;
    letter-spacing: .0625em;
}
 .RMAPack-class2{
        margin-left: -290px; display: none;
}

