 .tabs-left>.nav-tabs>li>a {
margin-right: -1px;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}
 .epr_Mark7 .modal-header .close {
margin-top: -2px;
position: relative;
left: 53px;
top: -50px;
font-size: 42px;
}
 .RoutingDt-class2{
margin-right:-8px;
}

 .epr_Mark7 .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(170, 170, 170, 0.51);
}
 .mainfloatbutton{
    text-align: center;
    height: 55px;
    width: 98.5%;
    background: rgba(255,255,255, 0.7);
    position: fixed;
    bottom: 0px;
    left: 10px;
    padding: 10px 25px;
}    
 .epr_Mark7 .slds-is-relative {
    position: fixed !important;
}
 .slds-is-relative {
    position: fixed !important;
}

 .epr_Mark7 .ticket-platinum:before,
 .epr_Mark7 .ticket-platinum:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #f88407;
}

 .epr_Mark7 .ticket-gold:before,
 .epr_Mark7 .ticket-gold:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #dfd702;
}