.erp_mark7 .slds-tabs--default__item:after, 
.erp_mark7 .slds-tabs_default__item:after {
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2.5px; 
}
.slds-tabs--default__item:after, 
.slds-tabs_default__item:after {
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2.5px;
}

.float-button{
    background: rgba(255, 255, 255, 0.7); position: fixed;bottom: 0;left: 0; width: 100%;height: 60px;padding-top: 15px;
}
.mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}
