.cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top: 0;
  right: 0;
  width: .6em;
  -webkit-transition: all .5s;
  opacity: 1 !important;
}
.footerbuttons{
    text-align: center !important;
    background: rgba(255, 255, 255, .7) !important;
    position: fixed;
    bottom: 0;
    width: 98%;
    left:12px;
}
