@media (min-width: 48em){
.erp_mark7 .slds-modal__container {
    margin:0% auto !important;
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
}
}
.zindexdefault{
    z-index:9999 !important;
}
