.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
@media (min-width: 48em){
.slds-form-element_horizontal .slds-form-element__label, 
.slds-form_horizontal .slds-form-element .slds-form-element__label, 
.slds-form_stacked .slds-form-element_horizontal .slds-form-element__label {
    float: left;
    max-width: calc(100% - 1.25rem);
    -ms-flex-preferred-size: calc(100% - 1.25rem);
    flex-basis: calc(100% - 1.25rem);
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
 } 