.uiMenuList--default.uiMenuList {
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
        border: 1px solid rgb(221, 219, 218);
        border-radius: .25rem;
        padding: .5rem 0;
       
        position: absolute;
        min-width: 175px;
        max-width: 400px;
        left: 0;
        -webkit-transform: translateX(-88%);
        -ms-transform: translateX(-88%);
        transform: translateX(-88%);
        margin-top: .125rem;
}

.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}