a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
.fixed-row-ar{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.57);
}

.slds-spinner_container {
    position: fixed;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:9003 !important;
    background-color: var(--lwc-colorBackgroundTempModalTintAlt,rgba(255, 255, 255, 0.75));
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease,visibility 0s;
    transition-delay: 0s,.3s;
}

.mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    margin-top:2%;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}
.cover-bar {
  position: absolute;
  background:#fff;
  height: 100%;  
  top: 0;
  right: 0;
  width: .6em;
  -webkit-transition: all .5s;
  opacity: 1 !important;
}
a.svg:after {
  content: ""; 
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
.TimeSheet-class25 {
	z-index:9;
}