.event-rok .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 6px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('https://erp_Mark7-dev-ed--erp_Mark7.ap1.visual.force.com/resource/erp_Mark7__EROK2/Src/css/assets/images/chosen/chosen-sprite.png') -42px 1px no-repeat !important;
    font-size: 1px;
}

.datepicker-dropdown {
    position: absolute !important;
}
.erp_Mark7 .dropdown-menu {
    position: absolute;
    top: -124px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 250px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    border-radius: 5px;
}
.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon, 
.uiInput--datetime .timePicker-openIcon {
    position: relative;
    vertical-align: middle;
    left: -8px;
    top: -24px;
    width: 12px;
    height: 15px;
    float: right;
    background: url(/auraFW/resources/aura/images/icon_openCalendar.png) no-repeat 0 0;
}