.mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}