UPS-class6 .UPS-class8{
    margin-bottom:7%;z-index:99;
}

UPS-class6 .uiInput--datetime+.datePicker-openIcon, 
UPS-class6 .uiInput--datetime .datePicker-openIcon, 
UPS-class6 .uiInput--datetime+.timePicker-openIcon, 
UPS-class6 .uiInput--datetime .timePicker-openIcon {
    position: absolute;
    vertical-align: middle;
    top: 8px;
    right: 0px;
    left: 84%;
    bottom: 0;
}    


UPS-class6 .erp_mark7 .slds-tabs--default__item:after, 
UPS-class6 .erp_mark7 .slds-tabs_default__item:after {
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2.5px;
}
UPS-class6 .slds-tabs--default__item:after, 
UPS-class6 .slds-tabs_default__item:after {
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2.5px;
}
