
 .maqetext{
    font-size:11px;
    border: 1px solid #f3f2f2;
    padding: 4px;
    font-weight:bold;
    box-shadow: 5px 3px 17px -11px rgba(0,0,0, 0.3);
        vertical-align: top;
    height:42px;
}

 .maqetextRed{
    font-size:11px;
    border: 1px solid #f3f2f2;
    padding: 4px;
    font-weight:bold;
    box-shadow: 5px 3px 17px -11px rgba(0,0,0, 0.3);
    vertical-align: top;
    height:42px;
    background-color:gainsboro !important;
}

 .ribbon-2:after {
    height: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid #21749a;
    right: -15px;
  }

 .slds-listbox_vertical .slds-listbox__option_plain, 
 .slds-listbox_vertical .slds-listbox__option--plain, 
 .slds-listbox--vertical .slds-listbox__option_plain, 
 .slds-listbox--vertical .slds-listbox__option--plain {
    padding: 0.35rem 0.35rem;
    font-size: 11px !important;
    margin-left: -31px;
}

 [class^="ribbon-"]:before, 
 [class^="ribbon-"]:after {
  content: "";
  position: absolute;
}

 .ribbon-2 {
  width: 150px;
  height: 50px;
  background: #21749a;
  left: -8px;
}
 .ribbon-2:before {
  height: 0;
  width: 0;
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}

 .footermaqfixed{
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.58);
    left: 0;
}