
 .maqetextGray{
    font-size: 11px;
    border: 1px solid #f3f2f2;
    padding: 4px;
    font-weight: 400;
    box-shadow: 5px 3px 17px -11px rgb(0 0 0 / 30%);
    vertical-align: top;
    height: 42px;
    background-color: #636e72!important;
    color: #fff;
}
 .maqetextWeekEnd{
    font-size: 11px;
    border: 1px solid #f3f2f2;
    padding: 4px;
    font-weight: 400;
    box-shadow: 5px 3px 17px -11px rgb(0 0 0 / 30%);
    vertical-align: top;
    height: 42px;
    background-color: #ecdfda!important;
    color: #fff;
}

 .GrayColor{
    font-size:11px;
    border: 1px solid #f3f2f2;
    padding: 4px;
    font-weight:bold;
    box-shadow: 5px 3px 17px -11px rgba(0,0,0, 0.3);
    vertical-align: top;
    height:42px;
    /*background-color:gainsboro !important;*/
    background-color:#e74c3c !important;
    color: #fff;
}

 .maqetextTimeOff {
    font-size: 11px;
    border: 1px solid #f3f2f2;
    padding: 4px;
    font-weight: 400;
    box-shadow: 5px 3px 17px -11px rgb(0 0 0 / 30%);
    vertical-align: top;
    height: 42px;
    background-color: #0984e3!important;
    color: #fff;
}


 .maqetextHoliday{
    font-size: 11px;
    border: 1px solid #f3f2f2;
    padding: 4px;
    font-weight: 400;
    box-shadow: 5px 3px 17px -11px rgb(0 0 0 / 30%);
    vertical-align: top;
    height: 42px;
    background-color: #0c528a!important;
    color: #fff;
}

 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

 .sticky + .content {
    padding-top: 102px;
}


 .header-fixed{
    position: fixed;
    width: 98.1%;
    background: #fff;
    left: .95%;
    z-index: 99;
    margin-top: -14px;
    box-shadow: 8px 3px 13px -7px rgba(0,0,0, 0.4);
}

 .event_rok .page-link {
    position: relative;
    display: block;
    padding: .2rem .95rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
 .maqetext{
    font-size: 11px;
    border: 1px solid #f3f2f2;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: 400;
    box-shadow: 5px 3px 17px -11px rgb(0 0 0 / 30%);
    vertical-align: top;
    height: 42px;
    background: #00b894;
    color: #fff;
}

 .ShiftPlanner-class47{
    padding-left:5px;font-size: 20px;font-weight:100 !important;margin-top:-2px;
}
 .shadow-custombk{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-bottom: 5px;
}

 .maqsood .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 310px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 1;
    top: -30px;
    min-height: 80px;
    left: -77px;
    border-radius: 10px;
    height: 110px;
}

 .menuBubble{
    border-radius: 25px;
    padding: 2px 5px;
    margin: 6px;
    background: aliceblue;
    border: 1px solid aliceblue;
    float: right;
    height:40px;
    box-shadow: 5px 1px 20px -7px #ababab
}

 .DatePicker {
    width: 20px; 
    border:0px;
    color:#ffffff;
    margin-bottom: -8px;
    outline:0px !important;
    background: transparent !important;
}

 .ShiftPlanner-class8{
    position:absolute;top: 6%;right: 2%; z-index: 99;width:100%;min-height: 75px;
}
 .ShiftPlanner-class50{
    position: absolute; width: 100%; bottom: 0;  left: 0;
}

 .cover-bar {
    position: absolute;
    background: #fff;;
    height: 100%;  
    top: 0;
    right: 0;
    width: .6em;
    -webkit-transition: all .5s;
    opacity: 1 !important;
}

 .edit {
    padding-top: 7px;	
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
 .cover-bar {
    position: absolute;
    background: #fff;;
    height: 100%;  
    top: 0;
    right: 0;
    width: .6em;
    -webkit-transition: all .5s;
    opacity: 1 !important;
}

 .mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    margin-top:2%;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}
 .ShiftPlanner-class44{
    text-align: center;position: fixed;width: 100%;bottom: 0;background: rgba(255, 255, 255, 0.71);padding: 5px;left: 0;right: 0;
}
