.cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top:0;
  right: 0;
  width: .6em;
  -webkit-transition: all .5s;
  opacity: 1 !important;
}
.uiPopupTarget .popupTargetContainer, 
.uiPopupTarget.popupTargetContainer {
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .35);
    padding: 10px 10px 10px 11px;
    line-height: 25px;
    left: -39px;
}
.erp_mark7 .slds-spinner_container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s;
    transition-delay: 0s, 0.3s;
}
.erp_mark7 .slds-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9051;
    transform: translate(-50%, -50%) rotate(90deg);
}
.mainSpinClass::after {
    position: fixed;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}
.maqtooltip2 .tooltiptext {
  visibility: hidden;
  width: 120px;
    height:40px;
  background-color: #16325b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
    top: -56px;
    right: -56px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.maqtooltip2:before {
    visibility: visible;
	width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: '';
    background-color: #1589ee;
    left: 87%;
    bottom: -.5rem;
    margin-left: -.5rem;
    top: -18px;
}
.maqtooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
    height:40px;
  background-color: #16325b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
    top: -49px;
    right: -56px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.maqtooltip:before {
    visibility: hidden;
	width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: '';
    background-color: #16325b;
    left: 87%;
    bottom: -.5rem;
    margin-left: -.5rem;
    top: -16px;
}
.maqtooltip:hover::before {
    visibility: visible;
	width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: '';
    background-color: #16325b;
    left: 87%;
    bottom: -.5rem;
    margin-left: -.5rem;
    top: -16px;
}
.maq .progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.maqdropdown-content {
    display: none;
       position: absolute;
    background-color: #f9f9f9;
    min-width: 154px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    padding: 8px 14px;
    z-index: 1;
    width: 100%;
}
.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon,
.uiInput--datetime .timePicker-openIcon {
    background: url(/projRes/ui-global-components/img/event.svg) no-repeat !important;
    position: absolute !important;
    left: auto !important;
    width: 15px !important;
    height: 15px !important;
    right: .75rem;
    bottom: 7px !important;
    display:none;
	
}
.uiDatePicker--default {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    display: none;
    position: absolute;
    z-index: 9999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    top: 0 !important;
}
.sticky-headerMO{
    margin: 0px;background:rgba(255, 255, 255, 0.7); text-align:center;position: fixed; bottom: 0; left:0; width: 100%;  height:60px; padding-top:15px;
}
.uiInput--datetime+.datePicker-openIcon,   .uiInput--datetime .datePicker-openIcon,  .uiInput--datetime+.timePicker-openIcon,  .uiInput--datetime .timePicker-openIcon {
    position: fixed;
    vertical-align: middle;
    left: -22px;
    width: 12px;
    height: 15px;
    background: url(/auraFW/resources/aura/images/icon_openCalendar.png) no-repeat 0 0;
}
.erp_mark7 .slds-dropdown_left, 
.erp_mark7 .slds-dropdown--left {
    left: -45px;
    transform: translateX(0);
}
.newcls31{
	float:right;position: absolute;top: 10px;right: 30px;
}
.newcls132{
	color: #fff;opacity: 1;position: absolute;right: -30px;top: -20px;
}