		@media (min-width: 1200px) {
            .erp_mark7 .container {
                width: 1250px;
            }
        }

        @media (min-width: 992px) {
            .erp_mark7 .col-md-1 {
                width: 9.333333%;
            }
        }


        /* Ends Here */


        /* all */

        ::-webkit-input-placeholder {
            font-size: 11px !important;
            background: white url({!URLFOR($Resource.codebase,'codebase/Images/search_icon.png')
        }

        ) center right 5px no-repeat;
        background-size:12px 12px;

        }
        ::-moz-placeholder {
            font-size: 11px !important;
            background: white url({!URLFOR($Resource.codebase,'codebase/Images/search_icon.png')
        }
        ) center right 5px no-repeat;
        background-size:12px 12px;

        }
        /* firefox 19+ */
        :-ms-input-placeholder {
            font-size:11px !important;
            background: white url({!URLFOR($Resource.codebase,'codebase/Images/search_icon.png')
        }
        ) center right 5px no-repeat;
        background-size:12px 12px;

        }
        /* ie */
        input:-moz-placeholder {
            font-size:11px !important;
            background: white url({!URLFOR($Resource.codebase,'codebase/Images/search_icon.png')
        }
        ) center right 5px no-repeat;
        background-size:12px 12px;

        }
        .erp_mark7 .form-control-feedback {
            position: absolute;
            top: 24px;
            right: 14px;
            z-index: 2;
            display: block;
            width: 34px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            pointer-events: none;
        }
        input[type=text],
        textarea,
        select {
            border: 1px solid rgba(0,
            0,
            0,
            0.1);
            color: #616161!important;
            font-size: 12px !important;
            padding: 5px;
        }
        input[type=text],
        textarea,
        select:focus {
            -webkit-box-shadow: inset 0 1px 1px rgba(0,
            0,
            0,
            0.075);
            box-shadow: inset 0 1px 1px rgba(0,
            0,
            0,
            0.075);
            -webkit-transition: border-color ease-in-out 0.15s,
            -webkit-box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
        }
        .delicon {
            height: 15px;
            width: 15px;
            cursor:pointer;
            margin-left: 5px;
            vertical-align: middle;
        }
        .lookupIcon {
            cursor:pointer;
            vertical-align: middle;
        }
        .lookupInput {
            display: inline;
            white-space: nowrap;
            vertical-align: middle;
            /* padding: 5px 8px; */
            color: #616161;
            /* background: #fff; */
            box-shadow: none !important;
            width: 100%;
            font-size: 0.85em;
            font-weight: 300;
            height: 30px;
            border-radius: 0;
            -webkit-appearance: none;
        }
        .displayNone {
            display:none;
        }
        .displayBlock {
            display:block;
        }
        .ui-autocomplete-loading {
            //background: white url(/img/loading32.gif) center right 10px no-repeat;
            //background-size:15px 15px;
            //{!URLFOR($Resource.codebase,'codebase/Images/slds_spinner_brand.gif')}
            //background: url({!URLFOR($Resource.SCM,'SCM/Images/transaction/selectcustomerh.png')});
            background: white url({!URLFOR($Resource.codebase,'codebase/Images/slds_spinner_brand.gif')
        }
        ) center right 10px no-repeat;
        background-size:20px 20px;

        }
        .placeHolder {
            font-style: italic;
        }
        .ui-helper-hidden-accessible {
            display:none;
        }
        .liclassik {
            background: #ffffff;
            width: 20%;
            border-bottom: 1px solid #f2f2f2;
            border-left: 1px solid #f2f2f2;
            border-right: 1px solid #f2f2f2;
            color: #333;
            padding-left: 5px;
            position: relative;
            left: -60px;
            top: 0px;
            list-style:none;
            cursor:pointer;
        }
        .liclassik:hover {
            background: #f4f4f4;
            width: 20%;
            border-bottom: 1px solid #f2f2f2;
            border-left: 1px solid #f2f2f2;
            border-right: 1px solid #f2f2f2;
            color: #333;
            padding-left: 5px;
            position: relative;
            left: -61px;
            top: 0px;
            list-style:none;
            cursor:pointer;
        }

        /*
                    #ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
                        background:red;
                    }
                    */
        .red .gantt_cell,
        .odd.red .gantt_cell,
        .red .gantt_task_cell,
        .odd.red .gantt_task_cell {
            background-color: #FDE0E0;
        }
        .green .gantt_cell,
        .odd.green .gantt_cell,
        .green .gantt_task_cell,
        .odd.green .gantt_task_cell {
            background-color: #BEE4BE;
        }
        .gantt_task_line {
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            position: absolute;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            //background-color: #3db9d3;
            //border: 1px solid #2898b0;
            background-color: #00a1e0;
            border: 1px solid #888;
            -webkit-user-select: none;
            -moz-user-select: none;
            -moz-user-select: -moz-none;
        }
        .gantt_task_progress {
            text-align: left;
            z-index: 0;
            background: #4cca81;
            background-image: linear-gradient(45deg,
            rgba(0,
            0,
            0,
            .035) 25%,
            transparent 25%,
            transparent 50%,
            rgba(0,
            0,
            0,
            .035) 50%,
            rgba(0,
            0,
            0,
            .035) 75%,
            transparent 75%,
            transparent);
            background-size: 64px 64px;
        }
        .ikclass1 {
            background: #00a1e0;
            border: 2px solid #00a1e0;
        }
        .ikclass2 {
            background: #eea416;
            border: 2px solid #eea416;
        }

        /* css added on 07042106 */
        .gantt_cal_light_wide .gantt_wrap_section {
            position: relative;
            padding: 10px 0;
            overflow: visible;
            width: 100% !important;
            border-bottom: 0px solid #ebebeb;
        }
        .gantt_cal_light_wide .gantt_cal_lsection {
            border: 0;
            float: left;
            text-align: right;
            width: 90px;
            height: 20px;
            padding: 5px 0 0 0;
        }
        .gantt_cal_light_wide.gantt_cal_light_full {
            width: 800px;
            height: 425px !important;
            top: 118px;
            left: 314px;
        }
        .gantt_cal_light_wide .gantt_cal_larea {
            padding: 0 10px;
            width: 100%;
            height: 340px !important;
        }
        .gantt_cal_light_wide .gantt_cal_larea {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #cecece;
            background: #F0F8FF;
        }
        .gantt_cal_light_wide .gantt_wrap_section {
            position: relative;
            padding: 10px 0;
            overflow: visible;
            width: 100%;
            border-bottom: 0px solid #ebebeb;
        }
        .gantt_cal_light_wide .gantt_section_time {
            overflow: visible;
            padding-top: 2px!important;
            padding-right: 8%;
            height: 20px!important;
        }
        .gantt_cal_light select {
            font-family: Arial;
            border: 1px solid #cecece;
            font-size: 13px;
            padding: 5px;
            margin: 0;
            height: 26px;
            background: #ffffff;
        }
        .gantt_cal_ltext {
            padding: 2px 10px;
            overflow: hidden;
        }
        .gantt_cal_ltext textarea {
            width: 80% !important;
        }
        .gantt_cal_ltext input {
            width: 80% !important;
        }
        .gantt_cal_light .gantt_btn_set {
            margin: 10px 10px;
        }
        .cls element.style {}
        .gantt_cal_ltext textarea {
            width: 90% !important;
        }
        .gantt_cal_ltext textarea {
            overflow: auto;
            font-family: Arial;
            font-size: 13px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #cecece;
            height: 100%;
            width: 100%;
            outline: 0!important;
            resize: none;
        }
        input[type=text],
        input[type=number],
        textarea,
        select {
            border: 1px solid rgba(0,
            0,
            0,
            0.1);
            color: #616161!important;
            font-size: 12px !important;
            padding: 5px;
        }
        .erp_mark7 .btn:focus,
        .erp_mark7 .btn:active:focus,
        input:focus,
        textarea:focus,
        select:focus {
            outline: thin dotted;
            outline: 1px auto grey;
            outline-offset: -2px;
            //border: 5px solid red !important;
        }
        .gantt_task_progress span {
            color: #FFF;
            position: relative;
            font-size:11px;
            z-index: 20;
            padding: 3px;
            margin-left: 3px;
            border-radius: 3px;
        }
