.THIS .badge-label-success{
    color: #07b440!important;
    font-weight:bold;
}
.THIS .badge-label-danger{
        color: #b81800!important;
    font-weight:bold;
}
.THIS .slds-accordion__summary-heading {
    font-size: 1rem;
    margin-bottom: 0px;
}
.THIS .slds-accordion__summary-action{
    padding:2px;
}
.THIS .slds-is-open>.slds-accordion__summary {
    margin-bottom: 0px;
    margin-top: 0px;
    background: #ebedf0;
    border-radius: 6px;
}
.THIS .slds-page-header{
    border-radius:0;
}
.THIS .erp_Mark7 button {
    border-radius: 3px;
    outline:0;
}
.THIS .slds-select {
    border:1px solid rgb(201,201,201);
}
.THIS .slds-pill{
    border:1px solid rgb(201,201,201);
}
.THIS .erp .pt-4, .THIS .erp .py-4 {
    padding-top: 1.35rem !important;
}
.THIS .erp_Mark7 a {
    color: #2196F3;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.THIS .slds-tabs_default__item, 
.THIS .slds-tabs--default__item{
    padding-left:2rem;
    padding-right:2rem;
}
.THIS .h5, 
.THIS h5 {
    font-size: 1rem !important;
}
.THIS .badge-phoenix-success{
     background-color: #d9fbd0 !important;
    color: #1c6c09 !important;
    border: 1px solid #bee8b4 !important;
}
.THIS .badge-phoenix-danger{
     background-color: #ffe0db !important;
    color: #b81800 !important;
    border: 1px solid #fabcb3 !important;
}
.THIS .anchor-colorbk{
        color: #292a2a !important;
    text-decoration:none !important;
}
.THIS .badge-phoenix {
    text-transform: uppercase;
    /*padding: 2px 16px !important;*/
    background-color: #ffefca;
    color: #bc3803;
    border: 1px solid #ffcc85;
    
}
.THIS .badge {
    display: inline-block;
    padding: 0.4em 0.4em;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}
.THIS .currentfiscalyear{
    color:#252733;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.025rem;
}
.THIS .card-bordermcobc{
    border: 1px solid #e7e7e7 !important;
    margin: 8px;
}
.THIS .custominput-class2{
    min-height: 2rem;
}
.THIS .card {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.THIS .erp .pt-4, .THIS .erp .py-4 {
    padding-top: 1.4rem !important;
}
.THIS .min-height74{
    min-height: 74px;
}
.THIS .activeppr{
    border-radius: 0.5rem;
border: 1px solid #56CCF2 !important;
background: #CFF3FF !important;
box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15) !important;

}
.THIS .slds-tabs_default__nav, 
.THIS .slds-tabs--default__nav{
    border-bottom-color: #ddd;
}
.THIS .theme-bg{
    background:#ffffff !important;
}
.THIS .h6, 
.THIS h6 {
    font-size: .85rem;
}
.THIS .card{
     border: 0px solid #f4f4f4;
}
.THIS .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
}
.THIS .list-group-item:hover {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background: #d4edda;
    border: 1px dotted #70af7e;
    cursor:pointer;
}
.THIS .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #f4f4f4;
}
.THIS .noLabel .slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.THIS .select-stylems{
    width: 100px;
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 3px;
}
.THIS .login-page {
  width: 460px;
  padding: 8% 0 0;
  margin: auto;
}
.THIS .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.THIS .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.THIS .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2196f3;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.THIS .form button:hover,
.THIS .form button:active,
.THIS .form button:focus {
  background: #038bf7;
}
.THIS .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.THIS .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.THIS .form .register-form {
  display: none;
}
.THIS .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.THIS .container:before, 
.THIS .container:after {
  content: "";
  display: block;
  clear: both;
}
.THIS .container .info {
  margin: 50px auto;
  text-align: center;
}
.THIS .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.THIS .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.THIS .container .info span a {
  color: #000000;
  text-decoration: none;
}
.THIS .container .info span .fa {
  color: #EF3B3A;
}
.THIS body {
background: #2196f3;
    background: #03a9f4;
    background: linear-gradient(90deg, #2196f3 0%, #03a9f4 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.THIS .accordion-one .card-header a::before {
    top: 10px;
    right: 25px;
    font-size: 22px;
}
.THIS .tx-danger{
    color:#ff5722;
}
.THIS .shadow-md {
    box-shadow: 0 0rem 1rem rgb(0 0 0 / 14%) !important;
}
.THIS .border-radius{
    border-radius: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .pass-badge{
    background-color: #1b84e7;
    color: #fff;
    border-radius: 100%;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    margin-top: 8px;
}
.THIS .slim-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #ced4da;
    display:none;
}
.THIS .table {
    background-color: #fff !important;
}
.THIS .pagination-wrapper {
    height: 80px;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.THIS .min-height589{
    min-height: 589px;
}
.THIS  .slds-form-element__label{
    font-weight:600;
}
.THIS .tx-success {
    color: #23BF08;
}
.THIS .newClass12 {
    text-decoration: none;
    color: #009688!important;
    border: 1px solid #009688;
    padding: 5px;
    border-radius: 3px;
    background: #ffffff;
}
.THIS .newClass14 {
    text-decoration: none;
    color: #ffffff!important;
    background: #f44336;
    padding: 5px;
    border: 1px solid #f44336;
    border-radius: 3px;
}
.THIS .slim-navbar .nav-item.active .nav-link {
    background-color: #1b84e7;
    background-image: linear-gradient(to right, #1b84e7 0%, #03a9f4 100%);
    background-repeat: repeat-x;
    border-width: 0;
    color: #fff;
}
.THIS .card-dash-chart-one .left-panel .nav {
  margin-bottom: 20px; }

.THIS .card-dash-chart-one .left-panel .nav-link {
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #495057; }
 .THIS  .card-dash-chart-one .left-panel .nav-link:hover, 
.THIS .card-dash-chart-one .left-panel .nav-link:focus {
    color: #1b84e7; }
  .THIS .card-dash-chart-one .left-panel .nav-link.active {
    color: #1b84e7; }
  .THIS .card-dash-chart-one .left-panel .nav-link + .nav-link::before {
    content: '';
    margin: 0 10px;
    border-left: 1px solid #ced4da; }

.THIS .card-dash-chart-one .right-panel .slim-card-title {
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 25px; }

.THIS .card-dash-chart-one .active-visitor-wrapper h1 {
  font-size: 96px;
  font-weight: 300;
  color: #343a40;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 1; }

.THIS .card-dash-chart-one .active-visitor-wrapper p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px; }

.THIS .card-dash-chart-one .visitor-operating-label {
  color: #343a40;
  margin: 25px 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700; }
.THIS .bg-tb {
    background-color: #f0f2f7;
}
.THIS .wd-55 {
    width: 55px;
}
.THIS .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
}
.THIS .report-summary-header {
    margin-top: 25px;
    margin-bottom: 25px; }
@media (min-width: 768px) {
    .THIS .report-summary-header {
        display: flex;
        align-items: center;
        justify-content: space-between; } }
.THIS .report-summary-header > div:last-child {
    margin-top: 20px;
    display: flex;
    align-items: center; }
@media (min-width: 768px) {
    .THIS .report-summary-header > div:last-child {
        margin-top: 0; } }
.THIS .report-summary-header > div:last-child .btn, 
.THIS .report-summary-header > div:last-child .sp-container button, 
.THIS .sp-container .report-summary-header > div:last-child button {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 12px; }
@media (min-width: 576px) {
    .THIS .report-summary-header > div:last-child .btn, 
    .THIS .report-summary-header > div:last-child .sp-container button, 
    .THIS .sp-container .report-summary-header > div:last-child button {
        font-size: 0.875rem; } }
.THIS .report-summary-header > div:last-child .btn .icon, 
.THIS .report-summary-header > div:last-child .sp-container button .icon, 
.THIS .sp-container .report-summary-header > div:last-child button .icon {
    line-height: 1;
    margin-right: 10px; }
.THIS .report-summary-header > div:last-child .btn + .btn, 
.THIS .report-summary-header > div:last-child .sp-container button + .btn, 
.THIS .sp-container .report-summary-header > div:last-child button + .btn, 
.THIS .report-summary-header > div:last-child .sp-container .btn + button, 
.THIS .sp-container .report-summary-header > div:last-child .btn + button, 
.THIS .report-summary-header > div:last-child .sp-container button + button, 
.THIS .sp-container .report-summary-header > div:last-child button + button {
    margin-left: 5px; }
.THIS h4, 
.THIS .h4 {
    font-size: 1.3125rem;
    font-weight: 500;
}
.THIS .tx-inverse {
    color: #343a40;
}
.THIS .dashboard-chart-one {
    margin-bottom: 35px; }
.THIS.dashboard-chart-one > div + div {
    margin-top: -1px; }
@media (min-width: 992px) {
.THIS .dashboard-chart-one > div + div {
        margin-top: 0; } }
@media (min-width: 768px) {
.THIS .dashboard-chart-one > div + div .card {
        margin-left: -1px; } }
@media (min-width: 768px) {
.THIS .dashboard-chart-one > div + div .card.card-revenue {
        margin-left: 0; } }
@media (min-width: 992px) {
.THIS .dashboard-chart-one > div + div .card.card-revenue {
        margin-left: -1px; } }
.THIS.dashboard-chart-one .card {
    padding: 25px;
    position: relative;
    height: 100%; }
.THIS .dashboard-chart-one .card-total {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
.THIS .dashboard-chart-one .card-total h1 {
    font-size: 35px;
    font-weight: 700;
    color: #343a40;
    text-align: center;
    line-height: 1;
    margin-bottom: 15px; }
.THIS .dashboard-chart-one .card-total p {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center; }
.THIS .dashboard-chart-one .card-revenue h6 {
    font-size: 20px;
    font-weight: 500;
    color: #ff0000;
    margin-bottom: 3px; }
.THIS .dashboard-chart-one .card-revenue h1 {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    color: #343a40;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    margin-bottom: 25px; }
.THIS .dashboard-chart-one .card-revenue h1 span {
    font-size: 14px;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: normal; }
.THIS .dashboard-chart-one .card-revenue label {
    display: block;
    text-align: center;
    margin-bottom: 0; }
.THIS .dashboard-chart-one .card-revenue label span {
    color: #343a40;
    font-weight: 700;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif; }