.THIS .maqsood .table:not(.table-bordered) thead th {
    font-weight: 700;
    
}
.THIS .dropdown-toggle::after {
    display:none;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.THIS  a {
    color: #333;
}

.THIS .slds-button_neutral:hover,
.THIS .slds-button_neutral:focus,
.THIS .slds-button--neutral:hover,
.THIS .slds-button--neutral:focus {
    background-color: #f4f6f9; 
    color: #31d0e5;
}
.THIS .dropdown-toggle{
    padding-left:5px !important;
}
.THIS .slds-button--brand, 
.THIS .slds-button_brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddbda;
    transition: border .15s linear;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: #fff !important;
}

.THIS .slds-button_brand:hover, 
.THIS .slds-button_brand:focus,
.THIS .slds-button--brand:hover,
.THIS .slds-button--brand:focus {
    background-color: #31d0e5;
    border-color: #31d0e5;
    color: white;
}
.THIS .slds-table--bordered{
    margin-bottom:50px;
}
.THIS .width100p{
    width:70px !important;
}
.THIS .slds-button--success{
    color:#ffffff !important;
}
.THIS .slds-button--destructive:focus,
.THIS .slds-button--destructive:hover {
    background-color: #c23934 !important;
    
}
.THIS .slds-button--success:focus,
.THIS .slds-button--success:hover {
    background-color: #4bca81 !important;
    
}
.THIS .slds-button__icon_left, 
.THIS .slds-button__icon--left {
    margin-right: 0rem;
}
.THIS .slds-truncate2 {
    max-width: 400px;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    word-wrap: break-word;
}
.THIS .slds-table thead th {
    background-color: rgb(250, 250, 249);
    color: rgb(81, 79, 77);
    padding: .5rem;
    font-weight:bold !important;
}

.THIS .erp_mark7 .slds-input-has-icon .slds-input__icon {
    width: 1rem;
    height: 1rem;
}
.THIS .btnlineheight{
    line-height: 0.875rem !important;
}

.THIS .SupplierPWO-class1{
    background:#ffffff;height:100%;
}
.THIS .SupplierPWO-class2{
    background: #f0f8ff;
}
.THIS .SupplierPWO-class3{
    outline: 0 !important; text-decoration: none !important;padding:4px 10px 4px 10px !important;margin-bottom: 10px !important;border: 1px solid #eec7c7 !important;background:#eec7c7 !important;
}
.THIS .SupplierPWO-class4{
    background-color: #eec7c7 !important; color: #e81500 !important;width: 50px !important; height: 50px !important;line-height: 50px !important;margin-bottom: 0px !important;
}
.THIS .SupplierPWO-class5{
    outline: 0 !important; text-decoration: none !important;padding:4px 10px 4px 10px !important;margin-bottom: 10px !important;border: 1px solid #d4c2ef !important;background:#d4c2ef !important;
}
.THIS .SupplierPWO-class6{
    background-color: #d4c2ef !important;color: #6900c7 !important;width: 50px !important; height: 50px !important;line-height: 50px !important;margin-bottom: 0px !important;
}
.THIS .SupplierPWO-class7{
    outline: 0 !important; text-decoration: none !important;padding:4px 10px 0px 10px !important;margin-bottom: 10px !important;border: 1px solid #bfd6f8 !important;background:#bfd6f8 !important;
}
.THIS .SupplierPWO-class8{
    background-color: #bfd6f8 !important;color: #0061f2 !important;width: 50px !important; height: 50px !important;line-height: 50px !important;margin-bottom: 0px !important;
}
.THIS .SupplierPWO-class9{
    outline: 0 !important; text-decoration: none !important;padding:4px 10px 4px 10px !important;margin-bottom: 10px !important;border: 1px solid #40a5f5 !important;background:#40a5f5 !important;
}

.THIS .SupplierPWO-class10{
    background-color: #40a5f5 !important;color:#025fa9 !important;width: 50px !important; height: 50px !important;line-height: 50px !important;margin-bottom: 0px !important;
}

.THIS .SupplierPWO-class11{
    background:#fff; border-left: 1px solid #03A9F4;
}

.THIS .SupplierPWO-class12{
    text-decoration:none;
}
.THIS .SupplierPWO-class13{
    padding-bottom:100px; outline: none;
}
.THIS .SupplierPWO-class14{
    height:4rem;
}


.THIS .SupplierPWO-class16{
    padding-left: 50px;
}
.THIS .SupplierPWO-class17{
    font-size:16px;margin-bottom:0px;
}
.THIS .SupplierPWO-class18{
    margin-top: 2%;
}
.THIS .SupplierPWO-class19{
    padding:0;background-color: rgb(255, 183, 93);padding-left:156px;height:35px;
}
.THIS .SupplierPWO-class20{
    padding:0.25rem 0 0 0; margin-right: 120px;margin-bottom:0px;
}

.THIS .SupplierPWO-class22{
    cursor:pointer;width:35px;height:35px;
}

.THIS .SupplierPWO-class24{
    padding:0px;
}
.THIS .SupplierPWO-class25{
    padding-top:5px;text-align:right;
}

.THIS .SupplierPWO-class27{
    padding-top:6px;
}
.THIS .SupplierPWO-class28{
    text-align:left;
}
.THIS .SupplierPWO-class29{
    margin: 0px 0;
}
.THIS .SupplierPWO-class30{
    color: #b5b7b9;cursor: not-allowed;font-size: 16px; height: 32px;line-height: 20px; min-width: 40px;border-radius:0px;
}
.THIS .SupplierPWO-class31{
    border-radius:0px;font-size: 16px; height: 32px;line-height: 20px; min-width: 40px;
}
.THIS .SupplierPWO-class32{
    text-align:left;
}
.THIS .SupplierPWO-class33{
    padding-top: 6px;
}