.THIS .customplc-input{
    width: 87px;
    padding: 5px 10px !important;
}

.THIS .ProductListComm-newClass1 {
    height:213px;object-fit:cover;
}
.THIS .ProductListComm-newClass2 {
    height:274px;object-fit:fill;
}
.THIS .ProductListComm-newClass3 {
    pointer-events:none;opacity:0.6;
}