.THIS .heighvh {
    height:100vh;
}
.THIS .maqsood .table:not(.table-bordered) thead th {
    font-weight: 700;
    
}
.THIS  h6 {
    font-size: 15px !important;
}
.THIS .slds-form-element__label:empty { 
    margin: 0; 
    display: none;
}
.THIS .slds-truncate2 {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.THIS .erp_Mark7 a {
    color: #828282 important;
    text-decoration: none;
    background-color: transparent;
} 
.THIS .erp_Mark7 .badge {
    display: inline-block;
    padding: 5px 10px !important;
    font-size: 75%;
    font-weight: 500 !important;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.THIS p {
    font-size: 13px !important;
}
.THIS .badge {
    padding: 5px 10px !important;
    font-size: 11px !important;
    font-weight: 500 !important;
}
.THIS .text-align-custom{
    text-align:left;
} 
@media (max-width: 786px){
    .THIS .displaynonemobile{
        display:none;
    }
    .THIS .text-align-custom{
        text-align:center;
        padding-top:10px;
    }
}

.THIS .slds-tabs_default__nav, 
.THIS .slds-tabs--default__nav {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #f7f7f7;
}
/*.THIS .slds-input__icon-group_right {
right: 0;
top: 11px !important;
}*/
.THIS .slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.THIS .epr_Mark7 .close {
    float: right;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff!important;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: .9;
}
.THIS .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    display:none;
}
@media (min-width: 992px){
    .THIS .modal-lg {
        width: 95%;
    }
}    
@media (min-width: 992px){
    .THIS .erp_Mark7 .modal-lg {
        max-width: 95%;
    }
}
.THIS .startime-maq {
    font-weight: 600;
    font-size: 12px;
    padding: 0px 0px 4px 0px;
    color: #00a9bd !important;
}
.THIS .endtime-maq {
    font-weight: 600;
    font-size: 12px;
    padding: 0px 0px 4px 0px;
    color: #e74c3c !important;
}
.THIS .uiInput--input .input,
.THIS .uiInput--input.input {
    min-height: calc(1.125rem + 2px) !important;
}
.THIS .l-bg-review {
    background: #79c3ff !important;
    color: #fff;
    
}
.THIS .l-bg-closed {
    background:#ffe082  !important;
    color: #fff;
}
.THIS .l-bg-review-active {
    background: #2092ed !important;
    color: #fff;
    
}
.THIS .l-bg-closed-active {
    background:#ffc107  !important; 
    color: #fff;
}
.THIS .l-bg-open-active{
    background: #28a745 !important;
    color: #ffffff;
}
.THIS .l-bg-orange-active {
    background-color: #e74c3c!important;
    color: #fff;
}
.THIS .maqsood .startime-maq{
    color:#e74c3c;
    font-weight:600;
    font-size:12px;
}
.THIS .maqsood .endime-maq{
    color:#eb7fbc;
    font-weight:600;
    font-size:12px;
}

.THIS .projectThead {
    font-weight : bold;
}

.THIS .maqsood .badge .badge-completed,
.THIS .maqsood .bg-completed{
    background: #00a9bd !important;
    color: #ffffff;
}

.THIS .badge .badge-planned,
.THIS .bg-planned {
    background: #289cf5 !important; 
    color: #fff;
}
.THIS .badge .badge-inprogress {
    background:#fda23f  !important;
    color:#ffffff;
}
.THIS .maqsood .badge .badge-warning {
    background-color: #e74c3c !important;
    color: #fff;
}
.THIS .maqsood .bg-warning {
    background: #e74c3c !important;
    color: #ffffff !important;
}
.THIS .acitve-list{
    background: #33b5e5;
    padding: 3px 6px 1.5px 6px;
    border-radius: 7px;
    color: #fff;
}
.THIS .maqsood .progress .progress-bar:not(.progress-bar-striped) {
    background: #1565c0;
}

.THIS .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    -webkit-box-shadow: 10px 13px 10px rgba(62,85,120,.075) !important;
    -moz-box-shadow: 10px 13px 10px rgba(62,85,120,.075) !important;
    box-shadow: 10px 13px 10px rgba(62,85,120,.075) !important;
}

.THIS .support-box {
    padding: 15px;
    color: #fff;
    margin: 8px 0 25px 0;
    border-radius: 3px;
    min-height: 60px;
}

.THIS .bg-inprogress {
    background: linear-gradient(135deg,#f48665 0,#fda23f 100%)!important;
    color: #ffffff !important;
}

.THIS .l-bg-red {
    background: #2185d0 !important;
    color: #fff;
}
.THIS .l-bg-cyan {
    background:#289cf5 !important;
    color: #fff;
}
.THIS .l-bg-orange {
    background-color: #ff8b7f !important;
    color: #fff;
}
.THIS .l-bg-open{
    background: #6ef58d !important;
    color: #ffffff;
}
.THIS .green {
    background: linear-gradient(135deg,#f48665 0,#fda23f 100%) !important;
    background-color: #4caf50 !important;
}
.THIS .shadow-custom {
    /*box-shadow: 0.3rem .325rem .40rem rgba(0, 0, 0, .075)!important;*/
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 7px 1px rgba(60,64,67,.16) !important;
    transition: box-shadow 135ms cubic-bezier(.4,0,.2,1) !important;
} 
.THIS .shadow-custom-top {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 7px 1px rgba(60,64,67,.16) !important;
    transition: box-shadow 135ms cubic-bezier(.4,0,.2,1) !important;
} 

.THIS .maqdropdown {
    position: relative;
    display: inline-block;
}

.THIS .maqdropdown:hover .maqdropdown-content {
    display: block;
}

.THIS .epr_Mark7 .dropdown-menu > li > a {
    display: block;
    padding: 3px 14px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.THIS .tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: auto;
    overflow-x: hidden;
    min-height: 50px;
    max-height: 200px;
}

.THIS .epr_Mark7 .dropdown-menu {
    min-width:135px !important;
}

.THIS .epr_Mark7 .caret {
    display: inline-block;
    width: 9px;
    height: 4px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #5ad9ea;
}

/*.THIS .slds-button {
position: relative;
display: inline-flex;
align-items: center;
padding: 0;
background: transparent;
background-clip: border-box;
border: none;
border-radius: var(--lwc-buttonBorderRadius,.25rem);
line-height:;
text-decoration: none;
color: var(--lwc-brandAccessible,rgb(0, 112, 210));
-webkit-appearance: none;
white-space: normal;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
*/
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
    cursor : progress;
}

.THIS .scroll-bar-wrap {
    width: 100%;
    position: relative;
    
}
.THIS .scroll-box {
    width: 100%;
    
    overflow-y: scroll;
}
.THIS .scroll-box::-webkit-scrollbar {
    width: .2em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2); 
}

/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
    opacity: 0 !important;
    -webkit-transition: all .5s;
}

.THIS .slds-truncate-pw-grid {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.THIS .width100p{
    width:50px !important;
}


.THIS .redClass{
    background-color:#ffb75d; /*hsl(0, 60%, 50%)   #ff6347;  #cfd1d4;  */
}

.THIS .arrowColor{
    color:#cfd1d4;
    cursor:pointer;
}


.THIS .slds-tabs_default__item.slds-active, .THIS .slds-tabs_default__item.slds-is-active, .THIS .slds-tabs--default__item.slds-active, .THIS .slds-tabs--default__item.slds-is-active {
    color: rgb(40, 199, 220); 
}


.THIS .epr_Mark7 .nav>li>a:hover,
.THIS  .epr_Mark7 .nav>li>a:focus {        
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important;
}   
.THIS .epr_Mark7 .nav-tabs > li.active > a, 
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover,
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
    color: #7cdbff;
    cursor: default!important;
    background-color: #fff!important;
    border: 0;
    border-bottom: 3px solid #2196f3!important;
}        
.THIS .epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff #fff #fff;    
}
.THIS .epr_Mark7 .nav > li > a:hover, 
.THIS .epr_Mark7 .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
@media (min-width: 48em){
    .THIS .slds-modal_small .slds-modal__container {
        width: 100%;
        max-width: 55.0625rem;
        min-width: 40rem;
    }
}
.THIS .slds-checkbox_add-button .slds-checkbox_faux, 
.THIS .slds-checkbox_add-button .slds-checkbox--faux, 
.THIS .slds-checkbox--add-button .slds-checkbox_faux, 
.THIS .slds-checkbox--add-button .slds-checkbox--faux {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: table-cell;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
} 
.THIS .erp_Mark7 label {
    display: inline-block;
    margin-bottom: 0rem;
}
.THIS input[type=search] {
    border: solid 1px #ddd;
    
    width: 55px;
    
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.THIS input[type=search]:focus {
    width: 200px;
    background-color: #fff;
    border-color: #ccc;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.THIS .SupplierReq-class1{
    background:#ffffff; height:100%;
}
.THIS .SupplierReq-class2{
    top: 15%;display: ;
}

.THIS .SupplierReq-class3{
    top: 15%;display:none ;
}
.THIS .SupplierReq-class4{
    min-width: 20rem;padding: 5px;
}
.THIS .SupplierReq-class5{
    margin-bottom:0px;font-size: 13px;margin-right:30px;
}
.THIS .SupplierReq-class6{
    cursor:wait;width:35px;height:35px;
}
.THIS .SupplierReq-class7{
    border-bottom: 1px solid #f1f1f1;
}
.THIS .SupplierReq-class8{
    height: 35px;
}
.THIS .SupplierReq-class9{
    text-decoration:none;
}
.THIS .SupplierReq-class10{
    color:#03A9F4; background: #fff;padding: 4px 7px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;text-transform: none !important;
}
.THIS .SupplierReq-class11{
    font-size:10px;text-transform: none !important;color:#03A9F4;
}
.THIS .SupplierReq-class12{
    font-size:16px;
}
.THIS .SupplierReq-class13{
    min-height: 40px; padding: 5px; margin: 8px 0 10px 0;cursor:pointer;
}
.THIS .SupplierReq-class14{
    font-size: 24px;color: #fff;line-height: 36px;
}
.THIS .SupplierReq-class15{
    font-size: 16px;
}                            
.THIS .SupplierReq-class16{
    background:#fff;
}
.THIS .SupplierReq-class17{
    border-radius: 10px; border-left: 1px solid #03A9F4;
}                            
.THIS .SupplierReq-class18{
    outline: none;
}
.THIS .SupplierReq-class19{
    height:4rem;
}         

.THIS .SupplierReq-class21{
    padding-left: 50px;
}
.THIS .SupplierReq-class22{
    font-size:16px;margin-bottom:0px;
}                           
.THIS .SupplierReq-class23{
    color:#28a745;
}
.THIS .SupplierReq-class24{
    color:#e74c3c;
}
.THIS .SupplierReq-class25{
    color:#ffc107;
}
.THIS .SupplierReq-class26{
    color:#2092ed;
}                            
.THIS .SupplierReq-class27{
    text-decoration:none; cursor:pointer; 
}
.THIS .SupplierReq-class28{
    text-decoration:none; color:#000000; cursor:pointer;
} 
.THIS .textdecocolor{
    text-decoration: none!important; color: #0070d2;
}
.THIS .SupplierReq-class29{
    padding : 0px 0px 4px 0px; color: #00a9bd;
}
.THIS .SupplierReq-class30{
    padding : 4px 0px 0px 0px; color: #e74c3c;
} 
.THIS .SupplierReq-class31{
    padding:0px;
}
.THIS .SupplierReq-class32{
    padding-top:5px;text-align:right;
}

.THIS .SupplierReq-class34{
    padding-top:6px;
}        
.THIS .SupplierReq-class35{
    margin: 0px 0;
}     
.THIS .SupplierReq-class36{
    padding:0px;
}                            
.THIS .SupplierReq-class37{
    color: #b5b7b9;cursor: not-allowed;font-size: 16px;height: 32px;line-height: 20px;min-width: 40px; border-radius: 0px;
}
.THIS .SupplierReq-class38{
    border-radius:0px;font-size: 16px;height: 32px;line-height: 20px;min-width: 40px;
}
.THIS .SupplierReq-class39{
    font-size: 16px;height: 32px;line-height: 20px;min-width: 40px; border-radius: 0px;
}
.THIS .SupplierReq-class40{
    padding-top: 6px;
}
.THIS .SupplierReq-class41{
    width: 210px;
}
.THIS .SupplierReq-class42{
    background : #fff; padding :5px 15px 5px 15px;height: 235px;overflow: auto;
}
.THIS .SupplierReq-class43{
    padding-bottom:100px; outline: none;
}
.THIS .SupplierReq-class44{
    width:100%;float:left;
}
.THIS .SupplierReq-class45{
    color:#289cf5;
}
.THIS .SupplierReq-class46{
    color:#fda23f;
}
.THIS .SupplierReq-class47{
    color:#fff; text-decoration:none; cursor:pointer;
}
.THIS .slds-notify_toast,
.THIS .slds-notify--toast { padding: var(--lwc-spacingSmall,0.55rem) var(--lwc-spacingXxLarge,1rem) var(--lwc-spacingSmall,0.55rem) var(--lwc-spacingLarge,1.5rem); min-width: 25rem; }