.THIS .nolabel .slds-form-element__label:empty {
    margin: 0;
    display:none;
    padding-top:20px;
}
.THIS p {
    padding-top:0px !important;
}

.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .bgr-manage {
    border-radius: 0 0 0 10px;
    background: #38b3a8;
    padding: 7px;
    border: 1px solid #ededed;
    text-align:center;
}
.THIS .bgr-manage:hover {
    border-radius: 0 0 0 10px;
    background: #41cec2;
    padding: 7px;
    border: 1px solid #ededed;
    text-align:center;
}
.THIS .DatePicker {
    width: 20px; 
    border:0px;
    color:#ffffff;
    
    outline:0px !important;
    background: transparent !important;
}

.THIS .bgr-timeoff {
    background: #607D8B;
    padding: 7px;
    border: 1px solid #ededed;
    text-align:center;
    
}
.THIS .bgr-timeoff:hover {
    background: #769bad;
    padding: 7px;
    border: 1px solid #ededed;
    text-align:center;
    
}

.THIS .bgr-appointment{
    border-radius: 0px 0px 10px 0px;
    background: #2196f3;
    padding: 7px;
    border: 1px solid #ededed;
    text-align:center;
}
.THIS .bgr-appointment:hover{
    border-radius: 0px 0px 10px 0px;
    background: #4ba9f3;
    padding: 7px;
    border: 1px solid #ededed;
    text-align:center;
}

.THIS .maqsood .dropdown {
    position: relative;
    display: inline-block;
}

.THIS .maqsood .dropdown:hover .dropdown-content {
    display: block;
}
.THIS .maqsood .app-block .app-content .app-action, 
.THIS .maqsood .card, 
.THIS .maqsood .chat-block {
    margin-bottom: 0.375rem;
}
.THIS .card-available{
    background: #00b894;
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 3px;
    color: #fff;
    font-weight: 300!important;
    border-radius: 3px;
}
.THIS .card-not-available{
    background: #636e72 !important;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    font-weight: 300!important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
}
.THIS .card-holiday{
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    background-color: #0c528a!important;
    font-weight: 300!important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
}

.THIS .card-timeoff{
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    background-color: #0984e3!important;
    font-weight: 400!important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
}

.THIS .card-Filled{
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    background-color: #e74c3c!important;
    font-weight: 300!important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
}


.THIS .booking-kare .slds-input-has-icon--right .slds-input, 
.THIS .booking-kare .slds-input-has-icon--right .slds-input--bare, 
.THIS .booking-kare .slds-input-has-icon--right .slds-input_bare, 
.THIS .booking-kare .slds-input-has-icon_right .slds-input, 
.THIS .booking-kare .slds-input-has-icon_right .slds-input--bare, 
.THIS .booking-kare .slds-input-has-icon_right .slds-input_bare {
    padding-right: 3rem;
}
.THIS  .slds-form-element__label {
    
    min-height: 1rem !important;
    
}
.THIS .event-rok .slds-pill {
    height: 32px !important;
}
.THIS .ResourceDisabledClass{ /*slds-input*/
    /* cursor:not-allowed !important;*/  
    pointer-events:none; 
    color:black; 
}

.THIS .input:focus,
.THIS .uiInput--default.has-error .uiInput--input .input:focus,
.THIS .uiInput--input.has-error .input:active,
.THIS .uiInput--input .has-error .input:active,
.THIS .uiInput--default.has-error .uiInput--input .input:active{
    box-shadow:rgb(255, 255, 255) 0 0 0 0px inset,0 0 0px #fff;
}
.THIS .slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px ;
}
.THIS .event_rok .mb-2, 
.THIS .event_rok .my-2 {
    margin-bottom: 0.0rem !important;
}
.THIS .pageNumberClass {
    background-color: #dddddd;
    color: #3282b8;
    padding: 1px 12px !important;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid #c9c9c9;
    box-shadow: 1px 2px 3px 0px #cacaca;
}
.THIS .pageNumberClass:hover {
    background-color: #3282b8;
    color: #dddddd;
    padding: 1px 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid #3282b8;
    box-shadow: 1px 2px 3px 0px #3282b8;
}
.THIS .pageNumberClassActive {
    background-color:#1f4068; /*#F0F0F0; */
    color: white;
    padding: 1px 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 18px;
    pointer-events:none; 
    cursor:auto;
    border: 1px solid #1f4068;
    box-shadow: 1px 2px 3px 0px #234876;
}
.THIS .pageNumberClassActive:focus {
    background-color: #1f4068;
    color: white;
    padding: 1px 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 18px;
    border: 1px solid #1f4068;
    box-shadow: 1px 2px 3px 0px #234876;
}
.THIS .font-weight-bold{
    
}



.THIS .scroll-bar-wrap {
    width: 100%;
    position: relative;
    
}
.THIS .scroll-box {
    width: 100%;
    overflow-y: auto;
}
.THIS .scroll-box::-webkit-scrollbar {
    width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2); 
}

/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
    opacity: 0 !important;
    -webkit-transition: all .5s;
}

.THIS .profile-pic {
    position: relative;
    display: inline-block;
}

.THIS .profile-pic:hover .edit {
    display: block;
}


.THIS .edit a {
    color: #000;
}

.THIS .slds-card-maq{
    background:#fff;
    padding:10px;
    
    border-bottom:1px solid #f7f7f7;
    
}
.THIS .slds-card-maq:hover{
    background:#f7f9f8;
    padding:10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    
} 
.THIS hr {
    display: block;
    margin: 0.2rem 0;
    border-top: 0px solid #dddbda;
    height: 1px;
    clear: both;
}
.THIS .Heading2{
    font-weight: bold;
    font-size: 0.9em;
    
}
.THIS .Heading3{
    font-weight: bold;
    font-size: .95rem;
    width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 20px;
}
.THIS .card-text{    font-size: 10px;
    
}
.THIS .UserActive{
    background: #3fd5b8 !important; /* #f7f9fb */
    margin-top:5px;
    margin-bottom:5px;
    border-top: 5px solid #0c8eff !important;
}

.THIS .nexthide-eventrok{
    color: #f3f3ec;
    pointer-events: none;
}
.THIS .nextshow-eventrok{
    cursor:pointer;
    color: blue;
}
@media (min-width: 48em){
    .THIS .slds-modal__container {
        margin: 0 auto;
        width: 28% !important;
        max-width: 40rem;
        min-width: 20rem;
    }
}
.THIS .grayStyle{
    margin-right: 5px;
    background: rgb(107, 109, 112);
    color: #fff;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.THIS .scheduleddays-ph {
    font-weight:bold;
    padding:10px;
}
.THIS .whiteStyle{
    margin-right: 5px;
    background: #1589ee;
    color: #fff;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.THIS .uiInput--datetime .datePicker-openIcon {
    bottom: 10px;
}
.THIS .green-slots{
    background:#3fd5b8;
    width:77%;
    height:20px;
    color:#ffffff;
    text-align:left;
    margin-bottom: 5px;
    padding-left:5px;
    cursor:pointer;
} 
.THIS .red-slots{
    background:#cccccc;
    width:77%;
    height:20px;
    color:#ffffff;
    text-align:left;
    margin-bottom: 5px;
    padding-left:5px;
    cursor:pointer;
}
/* ===Starts==Here=== */
.THIS .scroll-bar-wrap {
    width: 100%;
    position: relative;
    
}

.THIS .scroll-box {
    width: 100%;
    overflow-y: scroll;
}
.THIS .scroll-box::-webkit-scrollbar {
    width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2); 
}
/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
    opacity: 0 !important;
    -webkit-transition: all .5s;
}
/* ===End==Here=== */

.THIS input[type=search] {
    border: solid 1px #ddd;
    width: 100%;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.THIS input[type=search]:focus {
    width: 100%;
    background-color: #fff;
    border-color: #ccc;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.THIS .inputcustommaq{
    float:right;
    width: 75px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.THIS .inputcustommaq:hover,
.THIS .inputcustommaq:focus{
    float:right;
    width: 160px;
    background-color: #fff;
    border-color: #ccc;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/*Status Bubbles*/
.THIS .availableBubble{
    text-decoration: none !important;
    float: right;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #00b894;
    color: #ffffff !important;
    background: #00b894;
    font-weight: bold;
    box-shadow: 5px 3px 17px 0px #b8b8b8;
}
.THIS .holidayBubble{
    text-decoration: none !important;
    float: right;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #0c528a;
    color: #ffffff !important;
    background: #0c528a;
    font-weight: bold;
    box-shadow: 5px 3px 17px 0px rgba(0,0,0, 0.3);
}
.THIS .timeoffBubble{
    text-decoration: none !important;
    float: right;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #0984e3;
    color: #ffffff !important;
    background: #0984e3;
    font-weight: bold;
    box-shadow: 5px 3px 17px 0px rgba(0,0,0, 0.3);
}
.THIS .reservedBubble{
    text-decoration: none !important;
    float: right;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #e74c3c;
    color: #ffffff !important;
    background: #e74c3c;
    font-weight: bold;
    box-shadow: 5px 3px 17px 0px rgba(0,0,0, 0.3);
}
.THIS .notAvailableBubble{
    text-decoration: none !important;
    float: right;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #636e72;
    color: #ffffff !important;
    background: #636e72;
    font-weight: bold;
    box-shadow: 5px 3px 17px 0 rgb(99 110 114);
}
/*Status Bubbles End*/

.THIS .shiftMenuItems{
    text-decoration: none !important;
    padding: 5px;
    font-size: 15px;
    color: #1f4068;
}
.THIS .shiftMenuItems :hover{
    font-weight: bold;
    color: #3282b8;
}
.THIS .slds-p-horizontal--medium, .THIS .slds-p-horizontal_medium {
    padding-left: 1rem;
    padding-right: 7px !important;
}
.THIS .ABHomeClass{
    text-decoration: none !important;
    float: right;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #4caabe;
    color: #ffffff !important;
    background: #4c67be;
    font-weight: bold;
    box-shadow: 5px 3px 17px 0px rgba(0,0,0, 0.3);
}
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
    cursor : progress;
}

.THIS input[type=search] {
    width: 100%;
}
.THIS .searchBoxSL{
    width: 100%;
}
.THIS .myServiceCard:hover{
    background: #d5f1fd;
    border-radius: 10px;
}
.THIS .ShiftPlanner-class1{
    background:aliceblue; padding-bottom:5px;
}
.THIS .ShiftPlanner-class2{
    padding:7px 0px;background:#ffffff;
}
.THIS .ShiftPlanner-class3{
    border-bottom: 1px solid #f1efef;
}
.THIS .ShiftPlanner-class4{
    border-bottom:0px solid #ddd;
}
.THIS .ShiftPlanner-class5{
    margin-right:70px;text-transform: uppercase; color: #03A9F4;
}
.THIS .ShiftPlanner-class6{
    font-size: 15px;
}
.THIS .ShiftPlanner-class7{
    font-size: 15px; padding-top: 4px;
}

.THIS .ShiftPlanner-class9{
    margin:0px 10px;
}
.THIS .ShiftPlanner-class10{
    text-align:center;
}
.THIS .ShiftPlanner-class11{
    max-width:75%;
}
.THIS .ShiftPlanner-class12{
    margin-bottom:0px;
}
.THIS .ShiftPlanner-class13{
    margin-right:70px;text-transform: uppercase;color: #03A9F4;
}
.THIS .ShiftPlanner-class14{
    justify-content: flex-end;
}
.THIS .ShiftPlanner-class15{
    padding-top: 1px;width:250px;float:right;
}
.THIS .ShiftPlanner-class16{
    text-align:right;height: 20px;
}
.THIS .ShiftPlanner-class17{
    color:black !important;font-size: 12px;
}
.THIS .ShiftPlanner-class18{
    background:#fff;font-size:12px;text-align:center;border:1px solid #ddd;padding:3px;color:#666666;
}
.THIS .ShiftPlanner-class19{
    justify-content: center;
}
.THIS .ShiftPlanner-class20{
    text-decoration:none;
}
.THIS .ShiftPlanner-class21{
    background:#fff;font-size:12px;border:1px solid #ddd;padding:3px;color:#666666;border-radius: 3px;height: 24px;
}
.THIS .ShiftPlanner-class22{
    font-size: 10px;border: 1px solid #ddd;font-weight: bold;border-radius: 50px;padding: 0px 4px;
}
.THIS .ShiftPlanner-class23{
    font-size: 10px;border: 1px solid #ddd;font-weight: bold;border-radius: 50px;padding: 1px 4px;
}
.THIS .ShiftPlanner-class24{
    font-size: 10px;border: 1px solid #ddd;font-weight: bold;border-radius: 50px;padding: 2px 3px;
}
.THIS .ShiftPlanner-class25{
    margin:10px;
}
.THIS .ShiftPlanner-class26{
    background:#fff; border:1px solid #f7f7f7;padding:0px;
}
.THIS .ShiftPlanner-class27{
    border:0px solid #ddd;box-shadow:0 0px 1px 0 rgba(0, 0, 0, 0.1);
}
.THIS .ShiftPlanner-class28{
    border-radius: 6px;background: #f5f6fa;margin-top:0px;margin-bottom:0px;box-shadow: 1px 2px 7px 1px rgba(0,0,0, 0.2);
}
.THIS .ShiftPlanner-class29{
    background: #f5f6fa;
}
.THIS .ShiftPlanner-class30{
    font-weight: 400;padding-top: 4px;font-size: 15px;
}
.THIS .ShiftPlanner-class31{
    padding-left: 7px;padding-right: 8px;
}
.THIS .ShiftPlanner-class32{
    height: 40px;text-align: center; border-right: 0px solid #fff;border-left: 1px solid #fff;font-weight: 400; background:#c69c8d
}
.THIS .ShiftPlanner-class33{
    height: 40px;text-align: center; border-right: 0px solid #fff;border-left: 1px solid #fff;font-weight: 400;
}
.THIS .ShiftPlanner-class34{
    width:100%;
}
.THIS .ShiftPlanner-class35{
    min-height:320px;max-height:500px;margin-bottom: 30px;
}
.THIS .ShiftPlanner-class36{
    padding-top:10px !important;margin-bottom:50px;
}
.THIS .ShiftPlanner-class37{
    background: aliceblue;
}
.THIS .ShiftPlanner-class38{
    background: antiquewhite;
}
.THIS .ShiftPlanner-class39{
    height: 100%;
}
.THIS .ShiftPlanner-class40{
    color:light-blue;cursor:pointer;
}
.THIS .ShiftPlanner-class41{
    margin-bottom:0px;font-size: 13px;margin-right:50px;
}
.THIS .ShiftPlanner-class42{
    min-width: 20rem;padding: 5px;
}
.THIS .ShiftPlanner-class43{
    display: inline;
}

.THIS .ShiftPlanner-class45{
    background-color: rgb(255, 183, 93);
}
.THIS .ShiftPlanner-class46{
    padding:0.25rem 0 0 15px; margin-bottom:0px;
}

.THIS .ShiftPlanner-class48{
    border-radius: 0 0 10px 0px;
}
.THIS .ShiftPlanner-class49{
    font-weight: normal;color:#fff !important; text-decoration: none;
}

.THIS .ShiftPlanner-class51{
    font-size: 9px;border: 1px solid #ddd;font-weight: bold;border-radius: 50px;padding: 2px;
}
.THIS .ShiftPlanner-class52{
    font-size: 9px;border: 1px solid #ddd;font-weight: bold;border-radius: 50px;padding: 2px 4px;
}
.THIS .ShiftPlanner-class53{
    font-size: 9px;border: 1px solid #ddd;font-weight: bold;border-radius: 50px;padding: 1px 4px;
}
.THIS .ShiftPlanner-class54{
    text-overflow: ellipsis;overflow: hidden;padding:10px;white-space: nowrap;
}
.THIS .ShiftPlanner-class55{
    padding-left: 7px; padding-right: 8px;cursor:pointer;
}
.THIS .ShiftPlanner-class56{
    font-size:10px;
}
.THIS .ShiftPlanner-class57{
    padding: 10px 0px; width: 40px;
}
.THIS .ShiftPlanner-class58{
    font-size: 12px; color: #5e5e5e;
}
.THIS .ShiftPlanner-class59{
    border: 1px solid #00b894; box-shadow: 5px 3px 17px 0px #00b894;
}
.THIS .ShiftPlanner-class60{
    border: 1px solid #0c528a; box-shadow: 5px 3px 17px 0px #0c528a;
}
.THIS .ShiftPlanner-class61{
    border: 1px solid #607d8b; box-shadow: 5px 3px 17px 0px #607d8b;
}

.THIS .ShiftPlanner-class62{
    border: 1px solid #e74c3c; box-shadow: 5px 3px 17px 0px #e74c3c;
}
.THIS .ShiftPlanner-class63{
    border: 1px solid #636e72; box-shadow: 5px 3px 17px 0px #636e72;
}

.THIS .ShiftPlanner-class64{
    color: #000000;
}
.THIS .ShiftPlanner-class65{
    color: #000000; padding-top: 10px;
}
.THIS .ShiftPlanner-class66{
    font-size: 10px; color: #5e5e5e;
}
.THIS .menuBubble {
    border-radius: 25px;
    padding: 2px 5px;
    margin: 0px;
    background: aliceblue;
    border: 1pxsolid aliceblue;
    float: right;
    height: 36px;
    box-shadow: 5px 1px 20px -7px #ababab;
    margin-bottom: 6px;
}
.THIS .maqsood h2 {
    font-size: 1rem !important;
}