.THIS .color-white{
    color:#ffffff !important;
}
.THIS .maqsood .text-muted {
    color: #5d5d5e !important;
}
.THIS .scroll-box {
  width: 100%;
  overflow-y: scroll;
  text-align: left; 
} 
.THIS .scroll-box::-webkit-scrollbar {
  width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px; 
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);  
}

.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
} 

.THIS .acitve-list{
    background: #33b5e5;
    padding: 3px 6px 1.5px 6px;
    border-radius: 7px;
    color: #fff;
}
.THIS .erp_Mark7 .mb-4, 
.THIS .erp_Mark7 .my-4 {
    margin-bottom: 1rem !important;
} 
.THIS .card {
    border: initial; 
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 1px 15px rgba(0,0,0,.07), 0 1px 6px rgba(0,0,0,.07) !important;
    border-radius: .75rem;
} 
.THIS .rounded .card {
    border-radius: .75rem;
}
.THIS .paperclipextra{
        font-size: 25px;
    background: #F8f8f8;
    padding: 11px;
    border-radius: 10px;
    color: #0047a2;
    border: 1px solid #ddd;
    cursor:pointer;
}
.THIS .areadownresponse{
    border: 1px solid #f7f7f7;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 0 0.2325rem 0.65rem rgba(0, 0, 0, 0.075) !important;
}
.THIS #half-stars-example {
}
.THIS #half-stars-example .rating-group {
  display: inline-flex;
}
.THIS #half-stars-example .rating__icon {
  pointer-events: none;
}

.THIS #half-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1rem;
}

.THIS #half-stars-example .rating__icon--star {
  color: #03A9F4;
}
.THIS #half-stars-example .rating__icon--none {
  color: #eee;
}
.THIS #half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}
.THIS #half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}
.THIS #half-stars-example .rating-group:hover .rating__label .rating__icon--star,
.THIS #half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: #03A9F4;
}
.THIS #half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
.THIS #half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}
.THIS #half-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
  color: #eee;
}
.THIS #half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

.THIS .comparerfp-class1{
    background:#f8f8f8; 
    min-height:600px;
}

.THIS .comparerfp-class2{
    cursor:progress; 
    width:35px; 
    height:35px;
}

.THIS .comparerfp-class3{
    top: 15%;
    display:block;
}

.THIS .comparerfp-class4{
    top: 15%;
    display:none;
}

.THIS .comparerfp-class5{
    min-width: 20rem;
    padding: 5px;
}


.THIS .comparerfp-class6{
    margin-bottom:0px;
    font-size: 13px;
    margin-right:30px;
}


.THIS .comparerfp-class7{
    top:.25rem;
}

.THIS .comparerfp-class8{
    height:280px;
    border-left: 1px solid #03A9F4;
    border-radius: 10px;
}


.THIS .comparerfp-class9{
    color: #828282;
}

.THIS .comparerfp-class10{
    height:280px;
}


.THIS .comparerfp-class11{
    height:200px;
}

.THIS .comparerfp-class12{
    border-left: 1px solid #03A9F4;
}

.THIS .comparerfp-class13{
    overflow: hidden; outline: none;
}

.THIS .comparerfp-class14{
    border:1px solid #f7f7f7;
}