.uiMenuList--default.uiMenuList {
  
  
}
.slds-page-header.header.flexipageHeader {
    display: none;
}
.shadow-lg{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* The Loader css Starts here */
.erp_mark7 .slds-spinner_container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s;
    transition-delay: 0s, 0.3s;
}
.erp_mark7 .slds-spinner {
    top: 50%;
    left: 50%;
}
.mainSpinClass{
    width: 100%;
    height: 100%;
}

.mainSpinClass::after {
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    font-size:16px !important;
    top: calc(50% + 3em);
    font-weight: bold;
}
/* The Loader css ends here */

.shadow-sm{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.shadow-sm2{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-bottom: 2px solid #31d0e5;
    border-top: 1px solid #f7f7f7;
    }
.shadow-sm1{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-top: 1px solid #f7f7f7;
    }
.erp_mark7 .slds-truncate2 {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.delay {
    -webkit-animation-delay: 0.30s;
    -moz-animation-delay: 0.30s;
    -o-animation-delay: 0.30s;
    animation-delay: 0.30s;
}

.delay-three {
    -webkit-animation-delay: 0.60s;
    -moz-animation-delay: 0.60s;
    -o-animation-delay: 0.60s;
    animation-delay: 0.60s;
}


.delay-two {
    -webkit-animation-delay: 1.0s;
    -moz-animation-delay: 1.0s;
    -o-animation-delay: 1.0s;
    animation-delay: 1.0s;
}

.delay-one {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.erp_mark7 .slds-card__header {
    padding-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.slds-truncate1{
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.print-icon1{
    font-size: 25px;
    color: #f21635;
}
.print-icon1:hover{
    font-size: 25px;
    color:#5cb85c;
}
.mylinkcolor {
	color:#006dcc !important;
}
.erp_mark7 .cRed{
	color: red !important;
    margin-right: 3px;
}
.erp_mark7 .norm{
    margin-right: 3px;
    color: #5cb85c !important;
}
.erp_mark7 .myli {
    margin-left: 0;
    padding: 7px 0px;
}
.erp_mark7 .myli:hover{
    margin-left: 0;
    padding: 7px 0px;
    font-weight:bold;
}
.epr_Mark7 .branddisabled{
    background: #c9c7c5 !important;
    border-color: #c9c7c5 !important;
    color: white !important;
    border:1px solid !important;
}
.whitebg{
    background:white;
}

@media (min-width: 768px){
.epr_Mark7 .modal-dialog {
    margin: 8% auto;
}
}

.maqdropdown {
    position: relative;
    display: inline-block;
}

.maqdropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 154px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    padding: 8px 14px;
    width: 100%;
}

.maqdropdown:hover .maqdropdown-content {
    display: block;
}
.erp_mark7 .uiDayInMonthCell--default {
    background-color: #fff;
    color: #696e71;
    display: block;
    font-family: 'ProximaNovaSoft-Regular';
    font-size: 15px !important;
    height: 25px !important;
    width: 100% !important;
    text-align: center !important;
    line-height: 20px !important;
}


.slds .slds-button--brand{
    padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #31d0e5;
        border: 1px solid #31d0e5;
        color: white !important;
}

.slds .slds-button--brand:hover, 
.erp_mark7 .slds-button--brand:focus {
        background-color: #65d6e5;
        color: white;
    }
.erp_mark7 .slds-button--brand {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #31d0e5;
        border: 1px solid #31d0e5 ;
       color: white !important;
    }
.erp_mark7 .slds-button--brand:hover, 
.erp_mark7 .slds-button--brand:focus {
        background-color: #65d6e5;
        color: white;
    }
.slds .slds-button--brand:active {
    background-color: #65d6e5;
}
.erp_mark7 .slds-button {
   
    color: #31d0e5;
    
}
.erp_mark7 .slds-button:hover,
.erp_mark7 .slds-button:focus {
      color: #31d0e5; }
.erp_mark7 .card-hover:hover{
	box-shadow: 2px 2px 7px rgba(0,0,0, 0.4);
}
.active-card{
         box-shadow: 1px 1px 7px 1px rgba(0,0,0, 0.24);
    border-left: 2px solid #03a9f4;
    background: aliceblue;
    border-radius: 3px;
  }
.digitalregular{
	font-family: 'digital-7regular', Arial, sans-serif !important;
	font-size: 50px !important;
	color: #027c6f !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.erp_mark7 a {
	color: rgb(22, 50, 92);
	text-decoration: none;
	transition: color 0.1s linear;
}
.erp_mark7 a:hover,
.erp_mark7 a:focus {
  text-decoration: none;
  color: rgb(22, 50, 92);
}
.epr_Mark7 .table > thead > tr > th, 
.epr_Mark7 .table > tbody > tr > th, 
.epr_Mark7 .table > tfoot > tr > th, 
.epr_Mark7 .table > thead > tr > td, 
.epr_Mark7 .table > tbody > tr > td, 
.epr_Mark7 .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}
/*.uiInput--datetime+.datePicker-openIcon, 
.uiInput--datetime .datePicker-openIcon, 
.uiInput--datetime+.timePicker-openIcon,
.uiInput--datetime .timePicker-openIcon {
    background: url(/projRes/ui-global-components/img/event.svg) no-repeat !important;
    left: auto !important;
    width: 15px !important;
    height: 15px !important;
    right: .75rem;
    bottom: 7px !important;
	
}*/
.epr_Mark7 .close {
	float: right;
	font-size: 22px;
	font-weight: normal;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}
.epr_Mark7 .modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0px solid #999;
	border: 0px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.epr_Mark7 .modal-content {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}
.uiDayInMonthCell--default {
	background-color: #fff;
	color: #696e71;
	display: block;
	font-family: 'ProximaNovaSoft-Regular';
	font-size: 16px;
	height: 25px;
	width: 30px;
	line-height: 25px;
	text-align: center;
}
.uiDatePickerGrid--default .calGrid th {
	color: #696e71;
	font-size: 11px;
	font-family: 'ProximaNovaSoft-Semibold';
	padding: 7px;
	text-align: center;
}
.uiDatePicker--default .dateBar {
	background-color: #f0f1f2;
	text-align: center;
	padding: 10px 14px 7px 10px;
}
 .erp_Mark7 .dropdown-menu > li > a {
	display: block;
	padding: 3px 14px;
	clear: both;
	font-weight: 600;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
/*.erp_mark7 .slds-icon_container {
	
	width: 22px !important;
	height: 22px !important;
	top: 50%;
	padding-right: 10px;
}*/
/*.slds-icon-text-default .slds-icon {
	width: 22px !important;
	height: 22px !important;
	margin-bottom: 7px;

}*/
.slds-media__figure{
	margin-top:0px !important;
}
.erp_mark7 .slds-lookup[data-select="single"] .slds-pill, 
.erp_mark7 .slds-lookup[data-select="multi"] .slds-pill {
	border: 0px;
}
.erp_mark7 .lookupik {

}
.lookupik .slds-input {
	padding: 0 1rem 0 1.75rem !important;
}
.erp_mark7 .slds-input-has-icon--right .slds-input__icon {
	right: 0.25rem !important;
}
		
		
.erp_mark7 .slds-form-element {

}
.erp-rotation{
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
.epr_Mark7 .modal-backdrop.in {
filter: alpha(opacity=50);
opacity: .5;
visibility: collapse;
}
.epr_Mark7 .modal {
background: rgba(126, 140, 153, 0.8);
filter: alpha(opacity=50);
}
.epr_Mark7 .table > tbody + tbody {
border-top: 1px solid #ddd;
}
.epr_Mark7 .table > thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #ddd;
}
img {
max-width:none;
height: auto;
}
body {
font-size:75%;
}
.input{
width: 100%;
border: 1px solid #ddd;
}
.epr_Mark7 .nav-tabs > li > a {
margin-right: 70px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
color:#60cdde;
text-transform:uppercase;
}
.epr_Mark7 .nav>li>a:hover,
.epr_Mark7 .nav>li>a:focus {        
text-decoration: none;
background-color: #fff;
border-bottom: 2px solid #0070d2!important;
}   
.epr_Mark7 .nav-tabs > li.active > a, 
.epr_Mark7 .nav-tabs > li.active > a:hover, 
.epr_Mark7 .nav-tabs > li.active > a:focus {
color: #7cdbff;
cursor: default!important;
background-color: #fff!important;
border: 0;
border-bottom: 3px solid #2196f3!important;
}        
.epr_Mark7 .nav-tabs > li > a:hover {
border-color: #fff #fff #fff;    
}
.red {
    background: #d9534f; 
    color: #fff;
    height: 38px;
}
.orange {
    background: #f0ad4e; 
    color: #fff;
    height: 38px;
}
.green {
    background: #5cb85c;  
    color: #fff;
    height: 38px;
}

.sticky-headerMO{
    margin: 0px;background:rgba(255, 255, 255, 0.7); 
    bottom: 0;  width: 100%;  height:60px; padding-top:15px;
    left:0;
}
.epr_Mark7 .headertextreset{
    color: #ffffff;text-align: center;padding-left: 11%;
}
.epr_Mark7 .borderzero {
    height: 25px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.erp_mark7 .slds-icon--small1 {
    width: 20px;
    height: 20px;
    line-height: 1;
    padding: 2px;
}
.erp_mark7 .slds-truncate2 {
    max-width: 240px;
    word-wrap: break-word !important;
    position: relative;
    white-space: normal;
}
.modalbg{
    background-color: #36c3d6;
    border-radius: 5px 5px 0px 0px;
}
/*.uiInput--datetime+.datePicker-openIcon, .uiInput--datetime .datePicker-openIcon, .uiInput--datetime+.timePicker-openIcon, .uiInput--datetime .timePicker-openIcon {
    vertical-align: middle;
    width: 12px;
    height: 15px;
    background: url(/auraFW/resources/aura/images/icon_openCalendar.png) no-repeat 0 0;
}*/
.neutralC {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    border:0px solid #d8dde6 !important;
    background-color: transparent !important;
    width:20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0), 0 0px 0 rgba(0, 0, 0, 0.3) !important;
    text-shadow: 0 0px 0px #fff !important;
}


.cardTransition {
    
    transition: height 1s;
    -webkit-transition: height 1s; /* Safari 3.1 to 6.0 */
    -webkit-animation-name: cardTransition;
    -moz-animation-name: cardTransition;
    -o-animation-name: cardTransition;
    animation-name: cardTransition;
}
@-webkit-keyframes cardTransition {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@-moz-keyframes cardTransition {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@-o-keyframes cardTransition {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes cardTransition {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.cardTransitionClicked{
    height: 160px;
}

.slds-select{
    height: 32px;
}
.epr_Mark7 select[multiple], .epr_Mark7 select[size] {
    height: 32px !important;
}
.uiDayInMonthCell--default {
    background-color: #fff;
    color: #696e71;
    display: block;
    font-family: 'ProximaNovaSoft-Regular';
    font-size: 15px !important;
    height: 25px !important;
    width: 100% !important;
    text-align: center !important;
    line-height: 20px !important;
}

.invisi {
    display: none !important;
}
.red {
    background: #d9534f; 
    color: #fff;
}
.orange {
    background: #f0ad4e; 
    color: #fff;
}
.green {
    background: #5cb85c;  
    color: #fff;
}
.erp_mark7 .panel-body {
    padding-bottom: 50px;
}