.THIS .border-bottom-0{
    border-bottom:0px solid #ddd;
}
.THIS .brbl-1{
    border-right:1px solid #efefef;
    border-left:1px solid #efefef;
}
.THIS .BuildSchedule_M-newClass23{
    font-weight:bold;
}
.THIS .theme-bg{
    background: #fafbfe!important;
} 
.THIS .shadow-mrr {
    border: 0;
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
}
.THIS .slds-file-selector_files .slds-file-selector__text, 
.THIS .slds-file-selector--files .slds-file-selector__text {
    margin-left: 0.55rem;
    margin-right: 0.75rem;
    padding: 7px;
    text-align: center;
}
.THIS .slds-file-selector_files .slds-file-selector__body,
.THIS .slds-file-selector--files .slds-file-selector__body {
    display: block;
    align-items: center;
}
.THIS .newcls139{
    padding-top: 1px; min-height:300px;
}
.THIS .newcls138{
    background: #ffffff;margin-bottom:0rem; max-height: 220px; overflow-x: hidden;overflow-y: auto; margin-top:10px;
}
.THIS .newcls137{
    height:40px;background:#fff;padding:10px;font-weight: bold;
}
.THIS .newcls136{
    cursor: pointer;padding-top:10px;
}
.THIS .newcls135{
    font-weight:bold;
}
.THIS .newcls134{
    padding-top:0px;height: 400px;overflow-y: auto;
}
.THIS .newcls133{
    padding: 5px;font-size:16px;
}
.THIS .newcls131{
    min-height:200px;
}
.THIS .newcls130{
    margin-left: 15px;
}
.THIS .newcls129{
    height:250px; overflow-y:auto;
}
.THIS .newcls128{
    font-size: 14px;margin-top: 10px;font-weight: 500;margin-bottom:10px;
}
.THIS .newcls127{
    margin-top: 10px;
}
.THIS .newcls126{
    height: 300px;
}
.THIS .newcls125{
    color:red;text-align:center;
}
.THIS .newcls124{
    padding: 1px 22px;margin-left: 4px;
}
.THIS .newcls123{
    color:#005fb2; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS  .newcls122{
    background: #ffffff;margin-bottom:0rem; max-height: 159px; overflow-x: hidden;overflow-y: auto;
}
.THIS .newcls121{
    margin-right: 10px;
}
.THIS .newcls120{
    cursor:pointer;width:35px;height:35px;margin-left:20px;margin-top: 10px;visibility:hidden;
}
.THIS .newcls119{
    width: 100%;display:none;
}
.THIS .newcls118{
    margin-top:0px;
}
.THIS .newcls117{
    background: #ffffff;margin-bottom:0rem;
}
.THIS .newcls116{
    cursor:pointer; width:40px; height:40px;
}
.THIS .newcls115{
    max-height:360px;overflow-y:auto;
}
.THIS .newcls114{
    color:red;text-align:center;padding-top:10px;
}
.THIS .newcls113{
    height: 400px;padding-top:0px;
}
.THIS .newcls112{
    width:85%;
}
.THIS .newcls111{
    color:#ffffff;
}
.THIS .newcls110{
    width:15%;
}
.THIS .newcls109{
    color: #fff;opacity: 1;
}
.THIS .newcls108{
    width:90%;
}
.THIS .newcls107{
    display:none;
}
.THIS .newcls106{
    display:block;
}
.THIS .newcls105{
    height:50px;vertical-align: middle;border-left:1px solid #ddd; border-left:1px solid #ddd;
}
.THIS .newcls104{
    cursor:pointer;width:35px;height:35px;margin-left:20px;visibility:hidden;
}
.THIS .newcls103{border-top:1px solid #cccccc !important;}

.THIS .newcls102{padding: 10px;width: 200px;font-weight: bold;}
.THIS .newcls101{
    float:left;
}
.THIS .newcls100{
    vertical-align: middle; border-right:1px solid #ddd;
}
.THIS .newcls99{
    text-decoration:underline !important;
}
.THIS .newcls98{
    vertical-align: middle;
}
.THIS .newcls97{
    padding-left:5px;
}
.THIS .newcls96{
    vertical-align: middle;height:50px;
}
.THIS .newcls95{
    cursor:pointer; width:20px; height:20px;
}
.THIS .newcls94{
    margin-left:20px;color:#005fb2; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .newcls93{
    border-left:1px solid #ddd; border-left:1px solid #ddd;
}
.THIS .newcls92{
    color:#14c7de;padding:10px;
}
.THIS .newcls91{
    width:100%;text-align:left;float:left;border-top:1px solid #ddd;background: aliceblue;
}
.THIS .newcls90{
    text-align: center;padding: 0;border-left:1px solid #ddd; border-right:1px solid #ddd;
}
.THIS .newcls89{
    border-top:0px solid #cccccc !important;border-left:0px solid #cccccc !important;border-right:0px solid #cccccc !important;
}
.THIS .newcls88{
    color:#65d6e5; background: #fff;padding: 4px 8px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:11px; font-weight:normal;
}
.THIS .newcls87{
    margin-bottom:3px;float:left;
}
.THIS .newcls86{
    font-size: 12px;
}
.THIS .newcls85{
    padding-top: 0px;
}
.THIS .newcls84{
    height:80px; width:300px;
}
.THIS .newcls83{
    font-size: 16px;
}
.THIS .newcls82{
    visibility:hidden;
}
.THIS .newcls81{
    text-decoration:none;
}
.THIS .newcls80{
    color:#0070d2;cursor:pointer;
}
.THIS .newcls79{
    width:100%;height:200px;
}
.THIS .newcls78{
    border-bottom: 1px solid #ddd;
}
.THIS .newcls77{
    font-size:16px;padding-bottom:5px;
}
.THIS .newcls76{
    margin-bottom:100px; outline: none;
}
.THIS .newcls75{
    background: #31d0e5;color: #fff; padding: 0px 15px; font-weight: bold;font-size: 14px;
}
.THIS .newcls74{
    margin-right: 42px;
}
.THIS .newcls73{
    margin-right: 14px;
}
.THIS .newcls72{
    padding-top: 10px;
}
.THIS .newcls71{
    color: #31d0e5;
}
.THIS .newcls70{
    text-align:center;
}
.THIS .newcls69{
    justify-content:center;
}
.THIS .newcls68{
    color:red;
}
.THIS .newcls67{
    color:red;text-align:center;font-size:12px; height:5px;
}
.THIS .newcls66{justify-content:center;text-align:center;}
.THIS .newcls65{
    min-height: 435px;overflow-y: auto;
}
.THIS .newcls64{
    background: rgba(0,0,0, 0.6);
}
.THIS .newcls63{
    background: rgba(243, 242, 242, 0.67);
}
.THIS .newcls62{
    height:30px;width:30px;
}
.THIS .newcls61{
    padding-left:0px;
}
.THIS .newcls60{
    max-width:140px;padding-top: 4px;
}
.THIS .newcls59{
    color:#ff0000; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:14px; font-weight:normal;
}
.THIS .newcls58{
    height:400px;border:0;
}
.THIS .newcls57{
    height: 580px;overflow-y: auto;overflow-x: hidden;
}
.THIS .newcls56{
    height: 30px; line-height: 30px;
    width:84px;
} 
.THIS .newcls55{
    padding-top: 6px;
}
.THIS .newcls54{
    font-size:10px;line-height: 0px;
    width: 115px;
}
.THIS .newcls53{
    padding: 0px 10px;
}
.THIS .newcls52{
    padding:10px 0px 0px 10px;font-weight:bold;
}
.THIS .newcls51{
    height:410px;border:0;
    overflow-y:auto;
}
.THIS .newcls50{
    width:100%;
}
.THIS .newcls49{
    height:80px; width:85%;
}
.THIS .newcls48{font-size: 16px;color: #ffffff;text-align: center;}
.THIS .newcls47{
    width: 50%; background: #31d0e5; padding: 5px 0px; border-radius: 50px; font-weight: bold; margin-top: 15px; height: 35px;
}
.THIS .newcls46{
    color: #54698d;text-decoration:none;
}
.THIS .newcls45{
    padding: 5px; border-top:0px solid #ddd;
}
.THIS .newcls44{
    font-size: 20px;vertical-align: sub;
}
.THIS .newcls43{
    float:left;cursor:pointer;
}
.THIS .newcls42{
    margin-left:8px;font-size:18px;color:#ff0000;font-size: 30px;color: #ff0000;float: right;}
.THIS .newcls41{
    color: #fff;cursor:pointer;
}
.THIS .newcls40{
    color: #fff;cursor: default !important;
}
.THIS .newcls39{
    padding-left: 10px; cursor: default !important; padding-right: 10px; background: #c9c7c5; border: #b9b9b7;
}
.THIS .newcls38{
    font-size:17px;vertical-align: middle;
}
.THIS .newcls37{
    color: #fff;text-decoration:none;
}
.THIS .newcls36{
    cursor:pointer;
}
.THIS .newcls35{
    padding-left: 10px;padding-right: 10px;
}
.THIS .newcls34{
    cursor: default !important;
}
.THIS .newcls33{
    padding-left: 10px; cursor: default !important; padding-right: 10px; background: #b9b9b7; border: #b9b9b7;
}
.THIS .newcls32{
    margin:0px;
}
.THIS .newcls30{
    border:0px;min-height:410px; max-height:auto;border:0;
}
.THIS .newcls29{
    padding-right:0px;
}
.THIS .newcls28{
    padding-left: 5px;padding-top: 5px;
}
.THIS .newcls27{
    text-align:right;
}
.THIS .newcls26{
    cursor:pointer;margin: 8px;border:0;
}
.THIS .newcls25{
    height:355px;
}
.THIS .newcls24{
    height:410px;
}
.THIS .newcls23{
    height:355px;overflow-x:hidden;margin-bottom:10px;
}
.THIS .newcls22{float:left;cursor:pointer; color:#fff !important;}
.THIS .newcls21{
    float:left;cursor:default; color:#fff !important;
}
.THIS .newcls20{
    font-size:10px;text-transform: none !important;color:#03A9F4;
}
.THIS .newcls19{
    height: 44px !important;line-height: 40px;padding: .35rem .35rem !important;background:#ffffff;border:0px solid #f7f8fb;
}
.THIS .newcls18{
    padding: 0px;
}
.THIS .newcls17{
    padding-left:1px;font-size: .85rem;color: #7CDBFF;margin-right: 10px;
}
.THIS .newcls16{
    font-size: 15px;
}
.THIS .newcls15{
    color: #7CDBFF;
}
.THIS .newcls14{
    padding-left:1px;font-size: .85rem;color: #03A9F4;margin-right: 10px;
}
.THIS .newcls13{
    font-size:12px;text-transform: none !important;
}
.THIS .newcls12{
    font-size: 14px;
}
.THIS .newcls11{
    width:100%;border:1px solid #f7f8f9; padding:5px;
}
.THIS .newcls10{
    padding: .5rem !important;
}
.THIS .newcls9{
    background:#fff; border:1px solid #f7f7f7;
}
.THIS .newcls8{
    border:0px;width: 100%;
}
.THIS .newcls7{
    cursor:pointer;width:35px;height:35px;
}
.THIS .newcls6{
    top:.25rem;
}
.THIS .newcls5{
    margin-bottom:0px;font-size: 13px;margin-right:30px;
}
.THIS .newcls4{
    min-width: 20rem;padding: 5px;
}
.THIS .newcls3{
    top: 15%;display:none;
}
.THIS .newcls2{
    top: 15%;display:;
}
.THIS .newcls1{
    background:#fff;
}
.THIS .newcls{
    background:#ffffff;
}
.THIS .newIcon{
     height: 30px;
    line-height: 30px;
    width: 50px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.THIS .newIcon1{
     height: 30px;
    line-height: 30px;
    width: 50px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    color:#ffffff !important;
}
.THIS .addNewBTN {
    color:#33b5e5 !important;
    width: 110px;
    background: #fff;
    padding: 8px 10px;
    border: 1px solid #33b5e5;
    border-radius: 4px;
    text-decoration: none;
    font-size:12px;
    text-decoration: none !important;
    border-radius: 20px;
    font-weight:normal;
    text-transform: none !important;
    margin-right:20px;
       display: block;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.THIS .addNewBTN:hover { 
    color:#fff !important;
    width:110px;
    background: #33b5e5;
    padding: 8px 10px ;
    border: 1px solid #33b5e5;
    border-radius: 4px;
    text-decoration: none;
    font-size:12px;
    text-decoration: none !important;
    border-radius: 20px;
    font-weight:normal;
    text-transform: none !important;
    margin-right:20px;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.THIS .scroll-box {
  width: 100%;
  overflow-y: scroll;
    text-align: left;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
}

.THIS .button-mqs {
    border: solid 1px #ddd;
	width: 55px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.THIS .button-mqs:hover {
	width: 210px;
	background-color: #fff;
	border-color: #ccc;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.THIS .slds-form-element__icon {
    padding-top:0px;
}
.THIS .fcolor{
    color:#007bff !important;
}
.THIS .epr_Mark7 .modal-body {
    position: relative;
    padding: 15px;
    height: 350px;
    overflow: auto;
}
/* The Loader css Starts here */

.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}

/* The Loader css ends here */

.THIS .nav > li > a > i {
    margin-right: 4px;
}
.THIS .maqtooltip2{
     position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
    
}

.THIS .maqtooltip2:hover .tooltiptext {
  visibility: visible;
}

.THIS .maqtooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
}

.THIS .maqtooltip:hover .tooltiptext {
  visibility: visible;
}

.THIS .maq .progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.THIS .maq .progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.THIS .maq .progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.THIS .maq .progressbar li:first-child:after {
  content: none;
}
.THIS .maq .progressbar li.active {
  color: green;
}
.THIS .maq .progressbar li.active:before {
  border-color: #55b776;
}
.THIS .maq .progressbar li.active + li:after {
  background-color: #55b776;
}
.THIS .erp_mark7 .slds-progress__item.slds-is-completed .slds-progress__marker_icon,
.THIS .erp_mark7 .slds-progress__item.slds-is-completed .slds-progress__marker--icon {
    border-color: white;
    color: #027c6f;
}

.THIS .slds-card + .slds-card {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
/* New Tab css Starts here*/
@media (min-width: 992px){
.THIS .epr_Mark7 .col-md-5 {
    width: 41.666667%;
}
    }
@media (min-width: 992px){
.THIS .epr_Mark7 .col-md-4 {
    width: 32.333333%;
}
    }
.THIS .erp_mark7 .slds-file-selector_files .slds-file-selector__button, 
.THIS .erp_mark7 .slds-file-selector--files .slds-file-selector__button {
    max-height: 1.625rem;
    line-height: 1.625rem;
    font-size: 9px;
}
.THIS .resetbuttonT{
    border-radius: 0rem !important;
    height: 24px;
    line-height: 20px;
    background-color: #4bc076 !important;
    color:#fff !important;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.THIS h6 {
    font-weight: inherit;
    font-size: 1em;
}
.THIS .float-left{
    float:left !important;
}
.THIS .float-right{
    float:right !important;
}
.THIS .m-0 {
  margin: 0 !important;
}
.THIS .mt-1,
.THIS .my-1 {
  margin-top: 0.25rem !important;
}
.THIS .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    height: 36px;
}
.THIS .linksa {
    color: rgb(49, 208, 229) !important;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}
.THIS .linksa:hover {
    color: rgb(49, 208, 229);
    text-decoration: underline !important;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}
.THIS .shadow-sm{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.THIS .shadow-sm2{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-bottom: 0px solid #31d0e5;
    border: 1px solid #f7f7f7 !important;
    background:aliceblue !important;
    }
.THIS .shadow-sm1{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-top: 1px solid #f7f7f7;
    }
.THIS p {
   
    font-size: 0.8125rem;
}
.THIS .erp_mark7 .slds-text-color_weak, 
.THIS .erp_mark7 .slds-text-color--weak {
    color: #54698d;
    font-size: 13px;
}
.THIS  p {
    margin-top: 0;
    margin-bottom: 0.4rem;
}
.THIS .erp_mark7 .slds-button_success, 
.THIS .erp_mark7 .slds-button--success {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    background-color: #4bca81 !important;
    border: 1px solid #4bca81 !important;
    color: #16325c;
}
.THIS .erp_mark7 .slds-button_destructive, 
.THIS .erp_mark7 .slds-button--destructive {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    background-color: #c23934 !important;
    border: 1px solid #c23934 !important;
    color: white;
}
.THIS .card-title {
    margin-bottom: 0.4rem;
}
.THIS .card0 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    border-left: 3px solid #FF9800;
    border-bottom:1px solid #f7f7f7;
}
.THIS .card1 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    border-left: 3px solid #2196F3;
    border-bottom:1px solid #f7f7f7;
}
.THIS .card2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    border-left: 3px solid #607D8B;
    border-bottom:1px solid #f7f7f7;
}
.THIS .card3 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    border-left: 3px solid #F44336;
    border-bottom:1px solid #f7f7f7;
}
.THIS .card4 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    border-left: 3px solid #34becd;
    border-bottom:1px solid #f7f7f7;
}
.THIS .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .60rem;
}
/*New Tab CSS ends here*/

.THIS .erp_mark7 .slds-card__header {
    padding-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.THIS .slds-truncate1{
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.THIS .print-icon1{
    font-size: 25px;
    color: #f21635;
}
.THIS .print-icon1:hover{
    font-size: 25px;
    color:#5cb85c;
}
.THIS .epr_Mark7 .branddisabled{
    background: #c9c7c5 !important;
    border-color: #c9c7c5 !important;
    color: white !important;
    border:1px solid !important;
}
.THIS .maqdropdown {
    position: relative;
    display: inline-block;
}
.THIS .mylinkcolor {
	color:#006dcc !important;
}

.THIS .maqdropdown:hover .maqdropdown-content {
    display: block;
}

.THIS .slds-button--success-complete{
	padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #4bca81 !important;
    border: 1px solid #4bca81;
    color: white;
} 	  	


.THIS .slds .slds-button--brand{   
    padding-left: 1rem;  
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #31d0e5;
        border: 1px solid #31d0e5;
        color: white !important;
}

.THIS .slds .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
        background-color: #65d6e5;
        color: white;  
    }
.THIS .erp_mark7 .slds-button--brand {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #31d0e5;
        border: 1px solid #31d0e5 ;
       color: white !important;
    }
.THIS .erp_mark7 .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
        background-color: #65d6e5;
        color: white;
    }
.THIS .slds .slds-button--brand:active {
    background-color: #65d6e5;
}
/*.THIS .erp_mark7 .slds-button {
   
    color: #31d0e5;
    
}*/
.THIS .erp_mark7 .slds-button:hover,
.THIS .erp_mark7 .slds-button:focus {
      color: #31d0e5; }
.THIS .erp_mark7 .card-hover:hover{
	box-shadow: 2px 2px 7px rgba(0,0,0, 0.4);
}
.THIS .erp_mark7 .active-card{
	box-shadow: 2px 2px 7px rgba(0,0,0, 0.4);
}
.THIS .digitalregular{
	font-family: 'digital-7regular', Arial, sans-serif !important;
	font-size: 50px !important;
	color: #027c6f !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.THIS .erp_mark7 a {
	color: rgb(22, 50, 92);
	text-decoration: none;
	transition: color 0.1s linear;
}
.THIS .erp_mark7 a:hover,
.THIS .erp_mark7 a:focus {
  text-decoration: none;
  color: rgb(22, 50, 92);
}
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS .epr_Mark7 .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

.THIS .epr_Mark7 .close {
	float: right;
	font-size: 21px;
	font-weight: normal;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}
.THIS .epr_Mark7 .modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0px solid #999;
	border: 0px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.THIS .epr_Mark7 .modal-content {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.THIS .uiDayInMonthCell--default {
	background-color: #fff;
	color: #696e71;
	display: block;
	font-family: 'ProximaNovaSoft-Regular';
	font-size: 16px;
	height: 25px !important;
	width: 30px !important;
	line-height: 25px important;
	text-align: center;
}
.THIS .uiDatePickerGrid--default .calGrid th {
	color: #696e71;
	font-size: 11px;
	font-family: 'ProximaNovaSoft-Semibold';
	padding: 7px;
	text-align: center;
}
.THIS .uiDatePicker--default .dateBar {
	background-color: #f0f1f2;
	text-align: center;
	padding: 10px 14px 7px 10px;
}
.THIS  .erp_Mark7 .dropdown-menu > li > a {
	display: block;
	padding: 3px 14px;
	clear: both;
	font-weight: 600;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.THIS .erp_mark7 .slds-icon_container {
	
	width: 22px !important;
	height: 22px !important;
	top: 50%;
	padding-right: 10px;
}
.THIS .slds-icon-text-default .slds-icon {
	width: 22px !important;
	height: 22px !important;
	margin-bottom: 7px;

}
.THIS .slds-media__figure{
	margin-top:0px !important;
}
.THIS .erp_mark7 .slds-lookup[data-select="single"] .slds-pill, 
.THIS .erp_mark7 .slds-lookup[data-select="multi"] .slds-pill {
	border: 0px;
}
.THIS .erp_mark7 .lookupik {

}
.THIS .lookupik .slds-input {
	padding: 0 1rem 0 1.75rem !important;
}
.THIS .erp_mark7 .slds-input-has-icon--right .slds-input__icon {
	right: 0.25rem !important;
}
		
		
.THIS .erp_mark7 .slds-form-element {

}
.THIS .erp-rotation{
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
.THIS .epr_Mark7 .modal-backdrop.in {
filter: alpha(opacity=50);
opacity: .5;
visibility: collapse;
}
.THIS .epr_Mark7 .modal {
background: rgba(126, 140, 153, 0.8);
filter: alpha(opacity=50);
}
.THIS .epr_Mark7 .table > tbody + tbody {
border-top: 1px solid #ddd;
}
.THIS .epr_Mark7 .table > thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #ddd;
}
.THIS img {
max-width:none;
height: auto;
}
.THIS body {
font-size:75%;
}
.THIS .input{
width: 100%;
border: 1px solid #ddd;
}
.THIS .epr_Mark7 .nav-tabs > li > a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
color:#60cdde;
text-transform:uppercase;
}
.THIS .epr_Mark7 .nav>li>a:hover,
.THIS .epr_Mark7 .nav>li>a:focus {        
text-decoration: none;
background-color: #fff;
border-bottom: 2px solid #0070d2!important;
}   
.THIS .epr_Mark7 .nav-tabs > li.active > a, 
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover, 
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
color: #7cdbff;
cursor: default!important;
background-color: #fff!important;
border: 0;
border-bottom: 3px solid #2196f3!important;
}        
.THIS .epr_Mark7 .nav-tabs > li > a:hover {
border-color: #fff #fff #fff;    
}
.THIS .red {
background: #d9534f; 
color: #fff;
}
.THIS .orange {
background: #f0ad4e; 
color: #fff;
}
.THIS .green {
background: #5cb85c;  
color: #fff;
}

.THIS .epr_Mark7 .headertextreset{
    color: #ffffff;text-align: center;padding-left: 11%;
}
.THIS .epr_Mark7 .borderzero {
    height: 25px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.THIS .erp_mark7 .slds-icon--small1 {
    width: 20px;
    height: 20px;
    line-height: 1;
    padding: 2px;
}
.THIS .erp_mark7 .slds-truncate2 {
    max-width: 240px;
    word-wrap: break-word !important;
    position: relative;
    white-space: normal;
}
.THIS .modalbg{
    background-color: #36c3d6;
    border-radius: 5px 5px 0px 0px;
}
.THIS .selectHeight{
    height:30px !important;
}

.THIS .neutralC {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    border:0px solid #d8dde6 !important;
    background-color: transparent !important;
    width:20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0), 0 0px 0 rgba(0, 0, 0, 0.3) !important;
    text-shadow: 0 0px 0px #fff !important;
    display: block !important;
}