.THIS .detailLabel{
    font-weight: bold;
    font-size: 15px;
}

.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}

.THIS .erp_Mark7 .mb-4, 
.THIS .erp_Mark7 .my-4 {
    margin-bottom: 1rem !important;
}
.THIS .card {
    border: initial;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04) !important;
    border-radius: .75rem;
}
.THIS .rounded .card {
    border-radius: .75rem;
}
/*
 * Container style
 */
.THIS .ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
.THIS .scroll-bar-wrap {
  width: 100%;
  position: relative;
  
}
.THIS .scroll-box {
  width: 100%;
  height: 60px;
  overflow-y: scroll;
    text-align: left;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
}

.THIS .erp_mark7 .slds-rich-text-editor__toolbar {
    display: none !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    white-space: nowrap;
    position: relative;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid #dddbda;
    background-color: #f3f2f2;
}
.THIS .erp_mark7 .slds-rich-text-area__content{
	overflow-y: auto;
    min-height: 60.5px;
    max-height: 15rem;
    height: 60.5px;
    padding: 0.2rem 1rem;
    background-color: white;
    line-height:1.2rem;
}
.THIS .comment-likes {
    text-align: right;
    flex-basis: 220px;
    flex-shrink: 0;
}
.THIS .btn-secondary {
    background-color: #2a93d5;
    border-color: #2a93d5;
    color: #fff;
}
.THIS .maqsood .btn.btn-secondary {
    background: #2a93d5 !important;
    border-color: #2a93d5 !important;
}
.THIS .paperclipextra{
        font-size: 25px;
    background: #F8f8f8;
    padding: 11px;
    border-radius: 10px;
    color: #0047a2;
    border: 1px solid #ddd;
    cursor:pointer;
}
.THIS .areadownresponse{
    border: 1px solid #f7f7f7;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 0 0.2325rem 0.65rem rgba(0, 0, 0, 0.075) !important;
    float:left;
    width:100%;
}
.THIS .slds-shrink-none {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none !important;
}
.THIS p {
    line-height: 1.5rem;
    text-align: left !important; 
}
.THIS .slds-file-selector_files .slds-file-selector__body, 
.THIS .slds-file-selector--files .slds-file-selector__body {
    display:block !important;
    display: block !important;
    -ms-flex-align: center;
    align-items: center;
}
.THIS .erp_mark7 .slds-file-selector_files .slds-file-selector__body, 
.THIS .erp_mark7 .slds-file-selector--files .slds-file-selector__body {
    display: block;
    display: block;
    -ms-flex-align: center;
    align-items: center;
}
.THIS .slds-file-selector_files .slds-file-selector__text, 
.THIS .slds-file-selector--files .slds-file-selector__text {
    margin-left: 0.5rem;
    margin-right: 0.75rem;
    text-align: center;
}

.THIS .erp_Mark7 label {
    display: inline-block;
    margin-bottom: 0rem;
}
.THIS .disabledBTnn {
    cursor: not-allowed;
    color : #ffffff;
    background : #cccac9;
}
.THIS .slds-rich-text-editor__textarea, .THIS .slds-rich-text-editor__output {
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    height: 100px;
}
/*.THIS .slds-notify_toast, 
.THIS .slds-notify--toast {
   
    padding: 0.5rem 3rem 0.5rem 1.5rem;
    min-width: 25rem;
   
}*/
.THIS .bl-blue{
    border-left: 1px solid #03A9F4 !important;
}
.THIS .slds-truncate2{
         max-width: 160px;
        overflow: hidden;
        white-space: normal;
}
.THIS .slds-truncate3{
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
}
.THIS .RFPCon-class1{
 width:35px; height:35px; 
    /*cursor:wait;*/
}
.THIS .RFPCon-class2{
    background:#f8f8f8; 
    min-height:700px;
}

.THIS .RFPCon-class3{
top: 15%;display:block;
}

.THIS .RFPCon-class4{
top: 15%;display:none;
}

/*.THIS .RFPCon-class5{
min-width: 20rem;padding: 5px;
}*/
.THIS .RFPCon-class6{
margin-bottom:0px;font-size: 13px;margin-right:30px;
}

.THIS .RFPCon-class7{
height:240px;border-left: 1px solid #03A9F4; border-radius: 10px;
}

.THIS .RFPCon-class8{
height:240px;
}
.THIS .RFPCon-class9{
height:170px;
}
.THIS .RFPCon-class10{
top:.25rem;
}
.THIS .RFPCon-class11{
margin-bottom:70px;
}
.THIS .RFPCon-class12{
min-height:300px;border-left: 1px solid #03A9F4; border-radius: 10px;
}
.THIS .RFPCon-class13{
height:200px;overflow-x: hidden;
}

.THIS .RFPCon-class14{
height:300px;
}
.THIS .RFPCon-class15{
height:200px;
}
.THIS .RFPCon-class16{
background: rgba(255, 255, 255, 0.57);
}
.THIS .RFPCon-class17{
background: #289cf5;padding-top: 6px;font-size:12px;color: #fff;cursor: pointer;width: 40px;height: 40px;text-align: center;
}
.THIS .RFPCon-class18{
font-size : 15px; color : #000;
}
.THIS .RFPCon-class19{
float:left;padding-left: 10px;padding-top: 6px;margin-right: 57px;margin-bottom:10px;
}
.THIS .RFPCon-class20{
height:4rem;
}

.THIS .RFPCon-class22{
padding-left: 50px;
}
.THIS .RFPCon-class23{
font-size:16px;margin-bottom:0px;
}
.THIS .RFPCon-class24{
border-bottom: 1px solid #f3f3f3;
}
.THIS .RFPCon-class25{
padding-top:6px !important;
}
.THIS .RFPCon-class26{
height:35px;width:100px;padding-top:6px !important;
}
.THIS .RFPCon-class27{
height:35px;width:100px; top:7px;
}
.THIS .RFPCon-class28{
border-bottom:1px solid #f3f3f3;
}
.THIS .RFPCon-class29{
color:#65d6e5; background: #fff;padding: 4px 7px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;text-transform: none !important;
}
.THIS .RFPCon-class30{
font-size:10px;text-transform: none !important;color:#65d6e5;
}
.THIS .RFPCon-class31{
text-decoration:none;
}
.THIS .RFPCon-class32{
height:35px;width:100px;
}
.THIS .RFPCon-class33{
color:#FF5722; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:14px; font-weight:normal;padding-right: 5px;
}
.THIS .RFPCon-class34{
max-width:140px;
}
.THIS .RFPCon-class35{
font-size:10px;
}
.THIS .RFPCon-class36{
background: rgba(0, 0, 0, 0.5);
}
.THIS .RFPCon-class37{
max-width:30rem;
}
.THIS .RFPCon-class38{
text-align: center;
}

.THIS .RFPCon-class39{
height:50px;
}
.THIS .RFPCon-class40{
top:15px; left: 10px;
}

.THIS .RFPCon-class41{
height:390px;
}
.THIS .heighvh {
    height:100vh;
}