.THIS .font12m{font-size: 12px;}
.THIS .uiInputDateTime .dateTime-inputDate {
    width: 75%;
    font-size: 12px;
}
.THIS .top15{
    top: 15%;
}
.THIS .textdeccolor{
    text-decoration:none; color:#fff;
}
.THIS .neutralC{padding:0px !important; border:0px !important;}
.THIS .neutralC:hover{padding:0px !important; border:0px !important;background-color:#fff !important;}
.THIS .neutralC:active{outline: none !important;    border: none !important;}
.THIS .uiInputDateTime+.display, 
.THIS .uiInputDateTime .display {
    display: none;
}
.THIS .width100{
    width:100%;
}
.THIS .fontcolorwhite{
    color: white !important;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}

.THIS .width101{
    width:100%;
    padding-left:7px !important;
    padding-right:7px !important;
}
.THIS .erp_mark7 .slds-button--neutral1, 
.THIS .erp_mark7 .slds-button_neutral1 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    width: 100%;
    background-color: #fff;
}
.THIS .slds-button--neutral1, 
.THIS .slds-button_neutral1 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    width: 100%;
    background-color: #fff;
}

.THIS .uiInputDate+.display, 
.THIS .uiInputDate .display {
    display: none;
}
.THIS .slds-button_neutral, 
.THIS .slds-button--neutral {
    text-shadow:none;
    box-shadow: none;
}
.THIS .slds-button_neutral:hover, 
.THIS .slds-button--neutral:hover {
    text-shadow:none;
    box-shadow: none;
}
.THIS .pmaq{
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.THIS .colorErrorMsg{
    color:red;
}
.THIS .slds-truncate3 {
    max-width: 140px !Important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .slds-truncate2{
    max-width: 70px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal !important;
    word-break: break-all;
}
.THIS .slds-tabs_default__item.slds-active, 
.THIS .slds-tabs_default__item.slds-is-active, 
.THIS .slds-tabs--default__item.slds-active, 
.THIS .slds-tabs--default__item.slds-is-active {
    color: #31d0e5 !important;
    
}
.THIS .slds-tabs_default__item, 
.THIS .slds-tabs--default__item {
    color: #31d0e5 !important;
    
    
}
.THIS .slds-button_neutral, 
.THIS .slds-button--neutral {
    text-shadow:none;
    box-shadow: none;
}
.THIS .slds-button_neutral:hover, 
.THIS .slds-button--neutral:hover {
    text-shadow:none;
    box-shadow: none;
}
.THIS .slds-page-header {
    padding: .45rem !important;
    border-bottom: 1px solid #dddbda;
    border-radius: 0.25rem;
    background: #f3f2f2;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dddbda;
}
.THIS .erp_mark7 .slds-button--neutral1, 
.THIS .erp_mark7 .slds-button_neutral1 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    width: 100%;
    background-color: #fff;
}
.THIS .slds-button--neutral1, 
.THIS .slds-button_neutral1 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    width: 100%;
    background-color: #fff;
}


.THIS .erp_mark7 .slds-tabs--default__item.slds-active, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-is-active, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-active, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-is-active {
    color: #31d0e5;
}
.THIS .erp_mark7 .slds-tabs--default__item, 
.THIS .erp_mark7 .slds-tabs_default__item {
    color: #31d0e5;
    position: relative;
    padding: 0 .75rem;
}
.THIS .epr_Mark7 .nav-tabs > li > a {
    margin-right: 70px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color:#60cdde;
    text-transform:uppercase;
}
.THIS .epr_Mark7 .nav>li>a:hover,
.THIS .epr_Mark7 .nav>li>a:focus {        
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important;
}   
.THIS .epr_Mark7 .nav-tabs > li.active > a, 
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover, 
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
    color: #7cdbff;
    cursor: default!important;
    background-color: #fff!important;
    border: 0;
    border-bottom: 3px solid #2196f3!important;
}        
.THIS .epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff #fff #fff;    
}

.THIS input {
    padding-top: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    
}

.THIS .input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    line-height: calc(1.375rem + (1px * 1));
    line-height: 1.375rem;
}

.THIS .epr_Mark7 .row {
    margin-right: 0px;
    margin-left: 0px;
}

.THIS .dateFormat {
    padding: 0 2px;
    display: none;
}

.THIS .epr_Mark7 .nav>li>a:hover,
.THIS .epr_Mark7 .nav>li>a:focus {
    background-color: transparent !important;
}
/*.THIS .epr_Mark7 li > a:hover, 
.THIS .epr_Mark7 li > a:focus {
color: #3F51B5;
text-decoration: none;
background-color: #fff;
padding: 3px 15px;
}*/
.THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a,
.THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a:hover,
.THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #ffffff;
}

.THIS .epr_Mark7 .active {
    background: none;
}

.THIS input {
    padding-top: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}


.THIS .erp_mark7 a:focus, 
.THIS .erp_mark7 a:hover {
    text-decoration: underline;
    color: #7cdbff;
}
.THIS a:focus, 
.THIS a:hover {
    text-decoration: underline;
    color: #7cdbff;
}
.THIS .ERP7SalesOrderToLogistic .slds-tabs--default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .ERP7SalesOrderToLogistic .slds-tabs--default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .ERP7SalesOrderToLogistic .slds-tabs--default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .ERP7SalesOrderToLogistic .slds-tabs--default__item.slds-is-active .slds-tabs_default__link:hover,
.THIS .ERP7SalesOrderToLogistic .slds-tabs_default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .ERP7SalesOrderToLogistic .slds-tabs_default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .ERP7SalesOrderToLogistic .slds-tabs_default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .ERP7SalesOrderToLogistic .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover {
    color: #7cdbff;
}
.THIS .slds-tabs--default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs--default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs--default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs--default__item.slds-is-active .slds-tabs_default__link:hover,
.THIS .slds-tabs_default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs_default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover {
    color: #7cdbff !important;
}
.THIS .erp_mark7 .slds-tabs--default__item, 
.THIS .erp_mark7 .slds-tabs_default__item {
    color: #7cdbff;
    position: relative;
    padding: 0 .75rem;
}
.THIS .slds-tabs--default__item, 
.THIS .slds-tabs_default__item {
    color: #7cdbff;
    position: relative;
    padding: 0 .75rem;
}
.THIS .erp_mark7 .slds-tabs--default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-is-active .slds-tabs_default__link:hover, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover {
    color: #16325c;
}
.THIS .slds-tabs--default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs--default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs--default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs--default__item.slds-is-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs_default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs_default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover {
    color: #16325c;
}
.THIS .erp_mark7 .slds-tabs--default__item.slds-active, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-is-active, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-active, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-is-active {
    color: #7cdbff;
}
.THIS .slds-tabs--default__item.slds-active, 
.THIS .slds-tabs--default__item.slds-is-active, 
.THIS .slds-tabs_default__item.slds-active, 
.THIS .slds-tabs_default__item.slds-is-active {
    color: #7cdbff;
}
.THIS .slds-button--brand {
    background:#65d6e5 !important;
    border:1px solid #65d6e5 !important;
    text-shadow:none;
    box-shadow: none;
}
/*.THIS div.Message {
color: #FFFFFF;
font-weight : bold;
width : 100% !important;
padding : 10px !important;
margin : 10px auto 10px auto ;
border-radius: 5px;
background-color: #4d148c;
background: -moz-linear-gradient(top, rgba(149, 120, 186, 1) 2%, rgba(77, 20, 140, 1) 50%);
background: -webkit-linear-gradient(top, rgba(149, 120, 186, 1) 2%, rgba(77, 20, 140, 1) 50%);
background: -o-linear-gradient(top, rgba(149, 120, 186, 1) 2%, rgba(77, 20, 140, 1) 50%);
background: -ms-linear-gradient(top, rgba(149, 120, 186, 1) 2%, rgba(77, 20, 140, 1) 50%);
background: linear-gradient(top, rgba(149, 120, 186, 1) 2%, rgba(77, 20, 140, 1) 50%);
}*/
/*.THIS .erp_mark7 .slds-icon-text-default {
fill: #ffffff;
}
.THIS .slds-icon-text-default {
fill: #ffffff;
}*/
.THIS .colorResult
{color:green;}

.THIS .colorErrorMsg{
    color:red;
}
.THIS .UPS-class1{
    border-radius: 0rem;
}
.THIS .UPS-class2{
    margin-top:4px;margin-left:10px;
}
.THIS .UPS-class3{
    margin:0px;
}
.THIS .UPS-class4{
    cursor: pointer;
}
.THIS .UPS-class5{
    margin:10px;
}
.THIS .UPS-class6{
    width:100%;margin-left: 0px;margin-right: 0px;
}
.THIS .UPS-class7{
    margin-top: 3.4%;
}

.THIS .UPS-class9{
    text-align: center;
}
.THIS .UPS-class10{
    text-align:center; color: green; font-weight: bold; font-size: 13px; margin-top:10px;padding-left: 15px;
}
.THIS .UPS-class11{
    max-height: 367px; min-height: 137px; overflow-y: auto;
}
.THIS .UPS-class12{
    max-width: 90px !important;
}
.THIS .UPS-class13{
    margin-top: 5%;padding-left: 5px;
}
.THIS .UPS-class14{
    text-decoration:none;
}
.THIS .UPS-class15{
    padding: 10px 0px 10px 0px;
}
.THIS .UPS-class16{
    padding: 0px;
}
.THIS .UPS-class17{
    padding-right:0px;
}
.THIS .UPS-class18{
    margin-right:0px;
}
.THIS .UPS-class19{
    min-width:156px;
}

.THIS .UPS-class20{
    padding:10px;margin-left:20px;
}
.THIS .UPS-class21{
    font-size:12px;
}
.THIS .UPS-class22{
    max-height: 400px; width: 100%; overflow-x:auto;
}