.THIS a.textUnderline {
    border-bottom: 0px dotted !important;
    cursor:none;
}
.THIS .uiPanel.open, 
.THIS .uiPanel.transitioning {
    display: none !important;
}
.THIS .breadcrumbs ul li {
    
    margin-right: 0px;
    padding-right: 0px;
    
}


@media (min-width: 48em){
.THIS .slds-form-element_horizontal .slds-form-element__control, 
.THIS .slds-form_horizontal .slds-form-element .slds-form-element__control, 
.THIS .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 0;
    clear: none;
}
    }

.THIS .breadcrumbs ul li:after {
    display:none;
}
.THIS .breadcrumbs ul li a {
    color: #006dcc;
}

.THIS  .maqsood a {
    color: #1c1e1f;
    cursor: default;
    text-decoration: none !important;
}
.THIS .maqsood a:hover{
        color: #333;
}

.THIS .cl1{
    padding: 10px;
}
.THIS .cl2{
    font-size:1rem;font-weight:400;display: flex;
}
.THIS .cl3{
    cursor:pointer !important;text-decoration: none;border: 1px solid #36a0fe;padding: 5px;border-radius: 3px;background: #ffffff;height: 30px;text-align:center;color: #006dcc;
}

.THIS .cl4{
    font-size: 15px;color: #006dcc;
}
.THIS .cl5{
    box-shadow: 1px 2px 10px 0 rgba(0,0,0, 0.2); margin: 10px; padding: 5px;border-left: 1px solid #2196F3; border-radius: 3px;
}