.THIS .spincls{
    cursor:pointer;width:35px;height:35px;
}
.THIS .bg-theme{
   background:#EDF2F9;
}
.THIS .floating{
    float:right;
    padding-right:20px;
}

.THIS .divClass{
      background-color: #0176d3;
    color: #fff;
    border-radius: 4px;
    border: 0;
    height: 25px;
    line-height: 10px;
    font-size:12px;
}
.THIS .divClass1{
      background-color: #E84C3D;
    color: #fff;
    border-radius: 4px;
    border: 0;
    height: 25px;
    line-height: 10px;
    font-size:12px;
    margin-top:5px;
}

.THIS .divClass2{
     background-color: #FEA23F;
    color: #fff;
    border-radius: 4px;
    border: 0;
    height: 25px;
    line-height: 10px;
    font-size:12px;
}
.THIS .divClass4{
     background-color: #00bcd4;
    color: #fff;
    border-radius: 4px;
    border: 0;
    height: 25px;
    line-height: 10px;
    font-size:12px;
}    
.THIS .bg-grey{
        background:#fafbfe !important;
}
.THIS .divClass2{
      background-color: #ff9800;
    color: #fff;
    border-radius: 4px;
    border: 0;
    height: 25px;
    line-height: 10px;
    font-size:12px;
}

.THIS .slds-p-top_medium, 
.THIS .slds-p-top--medium {
    padding-top: 1.3rem;
}
.THIS .prMes1{
    text-align:center;
}
.THIS .bg-white{
    background:#fff;
    border:0px solid #ddd;
    box-shadow: none;
        margin-bottom: 10px;
    font-weight:normal;
}
.THIS .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.THIS .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .75rem;
}
.THIS .cardmaq {
      border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
    margin-bottom: 1rem;
    background: #fff;
    margin:1rem;
    padding:10px;
}
.THIS .uiInput--input .input, 
.THIS .uiInput--input.input {
   
    line-height: var(--lwc-lineHeightButton,1.675rem);
    min-height: calc(1.925rem + 2px);
        }
.THIS .width110{
            width: 110px;
        }
.THIS .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.THIS .gradient-red{
            background-color:#3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

        }
.THIS .gradient-orange{
           background-color: #90d5ec;
background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);

        }
.THIS .gradient-blue{
            background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
        }
.THIS .red-left{
            border-left: 1px solid #a71d31;
 }
.THIS .orange-left{
            border-left: 1px solid #fc575e;
 }    
 .THIS .blue-left{
            border-left: 1px solid #009ffd;
 }        
.THIS .h5, 
.THIS h5 {
    font-size: 1rem;
    line-height: 1.375;
}