.no-label .slds-form-element__label {
    margin: 0;
   display:none;
}
.slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px  !important;
}
.blue{
    color :#0ab2e9;
    cursor: pointer;
}
label {
    display: inline-block;
    margin-bottom: 0 !important;
}

.width50{
		width:50px !important;
		margin-right:5px;
}
.slds-p-top-4-small {
    padding-top: 0.45rem;
}