.THIS .slds-icon2{
    fill: #ffffff !important;
}
.THIS .slds-table thead th {
   
    padding: .25rem .5rem;
    vertical-align:middle;
}
.THIS .ResourceDisabledClass{ /*slds-input*/
     /* cursor:not-allowed !important;*/  
   pointer-events:none; 
   color:black; 
}


.THIS .assistiveText{
    display:none !important;
}

.THIS .slds-table thead th {
    background-color: #fafaf9;
    color: #514f4d;
    
}
.THIS .slds-button_brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: white;
}
.THIS .slds-button_brand:hover, 
.THIS .slds-button_brand:focus,
.THIS .slds-button--brand:hover,
.THIS .slds-button--brand:focus {
    background-color: #65d6e5;
    border-color: #65d6e5;
    color: white; }
.THIS .slds-button_brand:active,
.THIS .slds-button--brand:active {
    background-color: #65d6e5;
    border-color: #65d6e5; }
.THIS .slds-button_neutral {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6!important;
    color: #31d0e5!important;
    background-color: white!important;
}
.THIS .uiDatePicker--default .dateBar .monthYear {
    font-family: ProximaNovaSoft-Bold,Arial,sans-serif;
    font-size: 18px;
    color: #3c3d3e;
    line-height: 2px!important;
}
.THIS .assistiveText{
    display:none !important;
}

.THIS .mr-class1{
    background: white;
}

.THIS .mr-class2{
    width:200px;margin-left:10px;font-size:14px;
}

.THIS .mr-class3{
    font-size:18px;
}

.THIS .mr-class4{
    display:flex;
}

.THIS .mr-class5{
    color: #ffffff;border-radius: 30px;
}

.THIS .mr-class6{
    width:100%; float:left; height:425px; overflow:auto;background: #ffffff;
}

.THIS .mr-class7{
    text-align:center;
}

.THIS .mr-class8{
    cursor: pointer;
}



.THIS .mr-class10{
    min-width: 25rem;padding: 0.5rem 3rem 0.5rem 1.5rem;
}

.THIS .mr-class11{
    margin-top:8%;
}

.THIS .mr-class12{
    min-width:18rem;
}

.THIS .mr-class13{
    background: #e5e5e5;
}

.THIS .mr-class14{
    width:30%;
}

.THIS .mr-class15{
    font-weight:lighter;padding-left: 2%;font-size: 16px;
}

.THIS .mr-class16{
    background-color:WhiteSmoke; text-align:center;padding: 10px 0px 10px 10px; display:block;display: block;
}

.THIS .mr-class17{
    padding-bottom: 1%;
}


.THIS .mr-class20{
    width:95%; text-align:center;
}

.THIS .mr-class21{
    color:#ff0000;
}

.THIS .mr-class22{
    cursor:not-allowed;
}

.THIS .mr-class23{
    color:#ffffff;
}

.THIS .top25{
    top:.25rem;
}
.THIS .textdecononecolor{
    text-decoration:none; color:#fff;
}
.THIS .mr-class101{
    margin-bottom:0px;font-size: 13px;margin-right:50px;
}
.THIS .mr-class102{
    min-width: 20rem;padding: 5px;
}
.THIS .top15{
    top: 15%;
}