.THIS .mt-0{
    margin-top:0px;
}
.THIS .mt-0{
    margin-bottom:0px;
}
.THIS .tab-content {
    padding: 20px;
    border: 0px solid #dee2e6;
    border-top: none;
}
.THIS .slds-tabs--default__item, .THIS .slds-tabs_default__item {
    color: #0070d2 !important;
    position: relative;
    padding: 0 0.75rem;
}
.THIS .slds-tabs--default__item, 
.THIS .slds-tabs_default__item {
    color: #0070d2 !important;
    position: relative;
    padding: 0 0.75rem;
 
}
.THIS .slds-tabs_default__item.slds-active, 
.THIS .slds-tabs_default__item.slds-is-active, 
.THIS .slds-tabs--default__item.slds-active, 
.THIS .slds-tabs--default__item.slds-is-active {
    color: #0070d2 !important;
}
.THIS .mb-30{
    margin-bottom:30px;
}
.THIS .slds-tabs_default__link:hover, 
.THIS .slds-tabs_default__link:focus, 
.THIS .slds-tabs--default__link:hover, 
.THIS .slds-tabs--default__link:focus {
    text-decoration: none;
    box-shadow: none;
    color: #0070d2;
}
.THIS .slds-tabs_default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs_default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs--default__item.slds-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs--default__item.slds-active .slds-tabs--default__link:hover, 
.THIS .slds-tabs--default__item.slds-is-active .slds-tabs_default__link:hover, 
.THIS .slds-tabs--default__item.slds-is-active .slds-tabs--default__link:hover {
     text-decoration: none;
    box-shadow: none;
    color: #0070d2;
}
.THIS .epos-class91{
    max-width: 190px;font-size:12px;
}
.THIS .epos-class90{
    float:left; width:100%;text-align:center;margin-top:30px;
}
.THIS .epos-class89{
  width:40px; height:40px;  
}
.THIS  .epos-class88{
    font-size: 14px;color:#2196f3;
}
.THIS .epos-class87{
    height:500px;
}
.THIS .epos-class86{
    min-width: 99%;
}
.THIS .epos-class85{
    max-width:24rem;
}
.THIS .epos-class84{
    background: rgba(0, 0, 0, 0.5);
}
.THIS .epos-class83{
    border: 1px solid #ddd;
}
.THIS .epos-class82{
    min-height: 300px;max-height: 350px;overflow-x: hidden;overflow-y:auto;
}
.THIS .epos-class81{
    max-width: 130px;font-size:12px;
}
.THIS .epos-class80{
    max-width: 100%;font-size:12px;
}
.THIS .epos-class79{
    padding: 6px !important;padding-left:5px !important;
}
.THIS .epos-class78{
    font-size:14px;padding-left:10px;
}
.THIS .epos-class77{
    padding: 6px !important;padding-left:10px !important;
}
.THIS .epos-class76{
    padding:6px !important;padding-left:5px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .epos-class75{
    padding:6px !important;padding-left:10px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .epos-class74{
    height:122px; overflow:auto; float:left;
}
.THIS .epos-class73{
    color: green; font-weight: bold; font-size: 13px; margin-top:30px;padding-left: 15px;
}

.THIS .marleft20{
    margin-left:20px;
}
.THIS .epos-class71{
    height:250px;overflow:auto;
}
.THIS .epos-class70{
    text-align:center;font-size: 14px;
}
.THIS .epos-class69{
    margin-right: 0px; margin-left: 0px;
}
.THIS .fsize1rem{
    font-size:1rem;
}
.THIS .width100{
    width: 100%;
}
.THIS .margin200auto{
    margin: 200px auto;
}
.THIS .epos-class68{
    height:200px;width:100%;overflow:scroll;overflow-x:hidden;padding-right: 2px;padding-left: 2px;
}
.THIS .epos-class67{
    height: 20px;float: left;margin-left: 10px;margin-top: 5px;width: 75%;
}
.THIS .epos-class66{
    height: 265px;margin-top:10px;background: #ffffff;
}
.THIS .epos-class65{
    padding-right: 0px;padding-left: 4px;margin-left: 5px;
}
.THIS .padng10{
    padding:10px;
}
.THIS .epos-class64{
    min-height: 100px;max-height: 360px;width: 100%;overflow-x: hidden;overflow-y: scroll;
}
.THIS .epos-class63{
    text-align:center;font-weight:bold;
}
.THIS .marginTop{
    margin-top:0px;
}
.THIS .epos-class62{
    margin-top: 5px;margin-bottom: 10px; padding: 8px 0px 0px 0px;justify-content: center;
}
.THIS .epos-class61{
    font-size:13px;color:#0070d2;cursor:pointer;
}
.THIS .epos-class60{
    background: #54B768;color: #ffffff;text-align: center;border-radius: 20px;height: 25px;line-height: 25px;
}
.THIS .epos-class59{
    height:275px;width:100%;
}
.THIS .clr33DAE7{
    color:#33DAE7 !important;
}
.THIS .epos-class58{
    width: 30%;height: 20px;float: left;margin-left: 10px;margin-bottom: 3px;
}
.THIS .epos-class57{
    width: 60%;height: 20px;float: left;margin-bottom: 3px;
}
.THIS .pdng3{
    padding:3px;
}
.THIS .fsize12{
    font-size:12px;
}
.THIS .epos-class56{
    border: 0px !important;white-space:normal;
}
.THIS .epos-class55{
    border: 0px !important;
}
.THIS .heightauto{
    height:auto;
}
.THIS .epos-class54{
    font-size: 16px;float: right;margin: 7px 2px 0px 0px;
}
.THIS  .epos-class53{
    padding-left: 5px;margin-top:10px;
}
.THIS .epos-class52{
    padding-right: 0px;padding-left: 4px;
}
.THIS .epos-class51{
    padding-right:0px !important;
}
.THIS .epos-class50{
    cursor:pointer;font-size: 20px;padding: 5px;
}
.THIS .epos-class49{
    text-align: center;padding-left:10px;
}
.THIS .pdng2{
    padding: 2px;
}
.THIS .margTop20{
    margin-top: 20px;
}
.THIS .epos-class48{
    height: 20px;margin-left: 20px;
}
.THIS .nodisplay{
    display:;
}
.THIS .width95{
    width:95%;
}

.THIS .epos-class47{
    margin-right: 0px;    margin-left: 0px;
    font-size:13px;
}
.THIS .height50{
    height: 50px;
}
.THIS .epos-class46{
    border-top: 1px solid #ddd;
}
.THIS .floatright{
    float:right;
}
.THIS .epos-class45{
    cursor:pointer; width:40px; height:40px;
}
.THIS .pdng10{
    padding-left:10px;
}
.THIS .fsize20{
    font-size: 20px;
}
.THIS .epos-class44{
    color:#005fb2; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .epos-class43{
    padding:0px;padding-left: 2px
}
.THIS .epos-class42{
    cursor:pointer;width:20px;height:20px;
}
.THIS .epos-class41{
    color:#65d6e5; background: #fff;padding: 4px 12px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .epos-class40{
    text-align: center;width: 125px;
}
.THIS .epos-class39{
    max-width: 400px !important;
}
.THIS .talignCenter{
    text-align: center;
}
.THIS .epos-class38{
    border-bottom: 1px solid #ddd;
}
.THIS .epos-class37{
    height:300px;background:#ffffff;overflow: auto;-webkit-overflow-scrolling: touch;
}
.THIS .epos-class36{
    height:1px;background: lightgrey;padding-left: 0px;padding-right: 0px;
}
.THIS .epos-class35{
    margin: 0px 0px 0px 10px;
}
.THIS .epos-class34{
    color:#0070d2;cursor:pointer;
}
.THIS .clr3F51B5{
    color: #3F51B5; 
}
.THIS .clrbb4a20{
    color: #bb4a20;
}
.THIS .clrFF9800{
    color: #FF9800;
}
.THIS .epos-class33{
    padding:1px 0px 1px 0px;margin-top:.3rem !important;
}
.THIS .epos-class32{
    padding-left: 0.4rem;line-height:0px;height:100px;over-flow-wrap:normal;over-flow-y:auto;
}
.THIS .epos-class31{
    padding:10px;padding-top:0px;margin-bottom: 0px
}
.THIS .fsize16{
    font-size:16px;
}
.THIS .epos-class30{
    margin-bottom: 7px;margin-top:0px;
}
.THIS .pdng0{
    padding:0px;
}
.THIS .epos-class29{
    margin:0px;border-bottom: 1px solid #d8dde6;padding-top:10px;
}
.THIS .margtop1{
    margin-top: 1%;
}
.THIS .epos-class28{
    width:90px; height:27px;
}
.THIS .epos-class27{
    width:25px; height:30px;
}
.THIS .epos-class26{
    max-width: 110px;font-size:12px;
}
.THIS .epos-class25{
    max-width: 110px;font-size:12px;color:#0070d2;cursor:pointer;
}
.THIS .clr70d2{
    color:#0070d2;
}
.THIS .fsize12{
    font-size:12px;
}
.THIS .epos-class24{
    padding: 6px !important;padding-left:0px !important;
}
.THIS .epos-class23{
    font-weight:normal;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .epos-class22{
    padding:6px !important;padding-left:0px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .epos-class21{
    height:260px; overflow:auto; float:left;width:100%;
}
.THIS .pdngten0{
    padding: 10px 0px;
}
.THIS .pdngtop0{
    padding-top: 0px;
    min-height:200px;
}
.THIS .talignleft{
    text-align:left;
}
.THIS .height55{
    height:55px;
}
.THIS .width80{
    width: 80%;
}
.THIS .clr-red{
    color:red;
}
.THIS .epos-class20{
    font-size:11px;color:red;
}
.THIS .talignCentre{
    text-align:center;
}
.THIS .tdecorNone{
    text-decoration:none;
}
.THIS .padngleft0{
    padding-left:0px;
}
.THIS .epos-class19{
    cursor:pointer; width:20px; height:20px;
}
.THIS .epos-class18{
    font-size: 13px;padding: 2px !important;padding-left: 15px !important;
}
.THIS .epos-class17{
    font-size:11px; padding:2px !important;padding-left:15px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .talignRigth{
    text-align:right;
}
.THIS .epos-class16{
    font-size:0.8rem; margin-top:0px;
}
.THIS .margin0{
    margin:0px;
}
.THIS .epos-class15{
    width:100%;height:130px;overflow:auto; float:left;margin-top:10px;
}
.THIS .epos-class14{
    max-width: 130px;font-size:13px;
}
.THIS .epos-class13{
    max-width: 110px;font-size:13px;
}
.THIS .epos-class12{
    padding: 2px !important;padding-left:20px !important;
}
.THIS .epos-class11{
    max-width: 110px;font-size:13px;color:#0070d2;cursor:pointer;
}
.THIS .epos-class10{
    padding: 2px !important;padding-left:30px !important;
}
.THIS .epos-class9{
    padding: 2px !important;padding-left:10px !important;
}
.THIS .fweight-normal{
    font-weight:normal;
}
.THIS .epos-class8{
 font-size:11px;padding:2px !important;padding-left:10px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;   
}
.THIS .fweight-bold{
    font-weight:bold;
}
.THIS .epos-class7{
    width:100%;height:100px; overflow:auto; float:left;
}
.THIS .epos-class6{
    border-right:1px solid #ddd;
}
.THIS .epos-class5{
    font-size:12px; padding: 10px 0px; margin: 4px 0px 4px 0px;
}
.THIS .padngTop12{
    padding-top: 12px;
}
.THIS .height30{
    height:30px;
}
.THIS .fsize11{
    font-size: 11px;
}
.THIS .fontsize13{
    font-size:13px;
}
.THIS .epos-class3{
    color: #2196F3;text-decoration:none;
}
.THIS .epos-class2{
    padding-left:1px;font-size: .85rem;color: #03A9F4;margin-right: 10px;
}
.THIS .epos-class4{
    padding-top:4px; padding-bottom: 0px;
}
.THIS .padng4{
    padding-top:4px;
}
.THIS .padngright0{
    padding-right: 0;
}
.THIS .padngleftright4{
    padding-right: 4px;padding-left: 10px;
}
.THIS .padngleft8{
    padding-left: 8px;
}
.THIS .dispNone{
    display:none;
}
.THIS .padng5{
    padding-top:5px;
}
.THIS .clr-required{
    color:#ff0000;
}
.THIS .pad-leftRight0{
    padding-left: 0px;padding-right: 0px;
}
.THIS .top25{
    top:.25rem !important;
}
.THIS .fsize13{
    margin-bottom:0px;font-size: 13px;margin-right:30px;
}
.THIS .todiplay-none{
    top: 15%;display:none
}
.THIS .topdisplay{
    top: 15%;display:;
}
.THIS .minWidth20{
    min-width: 20rem;padding: 5px;
}
.THIS .curPointer{
    cursor:pointer;width:35px;height:35px;
}
.THIS .epos-newClass1 {
    background:#ffffff;height:100%;
}
.THIS .bgwhiteerp{
    background:#ffffff;
}

.THIS .slds-is-open > .slds-accordion__summary {
    margin-bottom: 0rem;
}
.THIS .slds-dueling-list__options, 
.THIS .slds-picklist__options {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    width: 15rem;
    height: 7.9rem;
    background-color: white;
    overflow: auto;
}
.THIS .nolble .slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.THIS .customheight34{
    height:34px !important;
    border-radius:3px !important;
}
.THIS .slds-alert_warning {
    background-color: var(--lwc-colorBackgroundWarning,rgb(255, 183, 93)) !important;
    color: var(--lwc-colorTextDefault,rgb(8, 7, 7)) !important;
                height:34px;
                border-radius:3px;
}
.THIS .customfill .slds-icon-text-default {
fill: white !important;
}

.THIS .maq-card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
    margin:10px;
    border-left: 1px solid #bbdffb !important;
    border-radius: 6px 6px;
}
.THIS .maq-card:hover{
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15) !important;
    margin:10px;
    border-left: 1px solid #bbdffb !important;
    border-radius: 6px 6px;
    cursor:pointer;
}
/* Firefox */
.THIS input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
.THIS input::-webkit-outer-spin-button{
    -webkit-appearance: none;
  margin: 0;
}
.THIS input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.THIS .fa {
    padding-right:5px;
}
.THIS .slds-form-element__label:empty { 
    margin: 0; 
    display: none;
}
.THIS .slds-truncate2 {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.THIS .erp_mark7 .slds-tabs_default__item.slds-active .slds-tabs_default__link, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-active .slds-tabs--default__link, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-is-active .slds-tabs_default__link, 
.THIS .erp_mark7 .slds-tabs_default__item.slds-is-active .slds-tabs--default__link, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-active .slds-tabs_default__link, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-active .slds-tabs--default__link, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-is-active .slds-tabs_default__link, 
.THIS .erp_mark7 .slds-tabs--default__item.slds-is-active .slds-tabs--default__link {
    font-weight: 400;
}
@media (min-width: 992px){
.THIS .modal-lg {
    width: 95%;
}
}    
@media (min-width: 992px){
.THIS .erp_Mark7 .modal-lg {
    max-width: 95%;
}
}
/* The Loader css Starts here */
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}

/* The Loader css ends here */

.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: rgb(0, 0, 0); 
}
.THIS .epr_Mark7 .chekbox{
    display: inline-block; 
}
.THIS .epr_Mark7 .dropdown-menu > li > a {
    display: block;
    padding: 3px 14px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.THIS .charge{
    width: 80px !important;
}
.THIS .erp_mark7 .slds-fade-in-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s linear;
    background: rgba(0, 0, 0, 0.5);
}
.THIS .erp_mark7 .errmsgclass{
    padding: 0px !important;
    margin: 0px !important;
    border-width: 0px !important;
    border-style: solid !important;
    border-radius: 0px !important;
}

.THIS .erp_mark7 .RemoveSerial{
    height: 20px; 
    width: 20px;
    margin-bottom: 2px;
    color: red;
    border: 0px;
}
.THIS .erp_mark7 .slds-backdrop_open, 
.THIS .erp_mark7 .slds-backdrop--open{
    visibility: hidden !important;
}
@media (min-width: 992px){
.THIS .epr_Mark7 .col-md-6 {
    width: 50%;
    padding-right: 4px;
}
}    


.THIS .slds-icon-text-default .slds-icon {
    width: 22px ;
    height: 22px;
    
}
.THIS .slds-media__figure{
    margin-top:0px !important;
}
.THIS .erp_mark7 .slds-lookup[data-select="single"] .slds-pill, 
.THIS .erp_mark7 .slds-lookup[data-select="multi"] .slds-pill {
    border: 0px;
}
.THIS .erp_mark7 .lookupik {
    
}
.THIS .lookupik .slds-input {
    padding: 0 1rem 0 1.75rem !important;
}
.THIS .erp_mark7 .slds-input-has-icon--right .slds-input__icon {
    right: 0.25rem !important;
}
        
.THIS .erp_mark7 .true{
    width:55% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
}
.THIS .true{
    width:55% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
}
.THIS .erp_mark7 .false{
    width:100% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
}
.THIS .false{
    width:100% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
}
.THIS .erp_mark7 .Serial{
    width:35% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
    padding: 2px;
}
            .THIS .width65{
                width:65% !important;
                -webkit-transition: width 0.5s; 
                transition: width 0.5s;
                float:left;
                padding: 2px;
            }
            .THIS .width100oc{
                width:100% !important;
                -webkit-transition: width 0.5s; 
                transition: width 0.5s;
                float:left;
                padding: 2px;
            }
.THIS .Serial{
    width:35% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
    padding: 2px;
}       
.THIS .erp_mark7 .discnt{
    padding: 0 20px 0 10px !important;
    /*width: 65px !important;*/
}
.THIS .discnt{
    padding: 0 20px 0 10px !important;
    /*width: 65px !important;*/
}
.THIS .slds .slds-button--neutrals {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 60%;
}
        
.THIS .erp_mark7 .orange {
    background: orange !important;
    border: 1px solid orange;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}
.THIS .orange {
    background: orange !important;
    border: 1px solid orange;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}        
.THIS .erp_mark7 .green {
    background: #54B768 !important;
    border: 1px solid #54B768;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}
.THIS .green {
    background: #54B768 !important;
    border: 1px solid #54B768;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}
        
.THIS .erp_mark7 .grey {
    background: grey !important;
    border: 1px solid grey;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}
.THIS .erp_mark7 .slds-nubbin--left-top:before, 
.THIS .erp_mark7 .slds-nubbin--left-top:after {
    top: 20px !important;
    background: #0070d2 !important;
}
.THIS .erp_mark7 .slds-input[disabled], 
.THIS .erp_mark7 .slds-input.slds-is-disabled {
        background-color: #e0e5ee;
        border-color: #b7b7b7 !important;
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid #d8dde6;
        }
.THIS .epr_Mark7 .modal-header {
        min-height: 16.42857143px;
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        }
.THIS .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:300px;
}
/* Large screens ----------- */
@media only screen 
    and (min-width : 1824px) {
.THIS .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:400px;
    }
}
@media only screen and (min-width : 1224px) {
.THIS .erp_mark7 .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:320px;
    }
}
@media only screen and (max-width: 768px) {
.THIS .erp_mark7 .maquiScroller {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        height:100px;
        
    }
}
@media only screen and (max-width: 1024px) {
.THIS .erp_mark7 .maquiScroller {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        height:200px;
        
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
.THIS .erp_mark7 .maquiScroller {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        height:200px;
        
    }
}
/* iPads (landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
.THIS .erp_mark7 .maquiScroller {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        height:200px;
    }
}

.THIS .slds .slds-table--bordered td{
    border-top: 1px solid #f7f7f7 !important;
}

.THIS .closeIcon {
    background-image:none !important;
    background-position: 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-position: top left;
}

.THIS .slds-truncate {
        max-width: 140px;
        word-wrap: break-word !important;
        position: relative;
        white-space: normal;
        }
.THIS .erp_mark7 .slds-table th, 
.THIS .erp_mark7 .slds-table td {
        padding: 0.4rem !important;
        position: relative;
        max-width:140px;
        }
.THIS .epr_Mark7 .caret {
    display: inline-block;
    width: 9px;
    height: 4px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #5ad9ea;
}
.THIS .erp_mark7 .slds-nubbin--left-top:before, .THIS .erp_mark7 .slds-nubbin--left-top:after {
    top: 20px !important;
    background: #0070d2 !important;
}

.THIS .epr_Mark7 .borderzero {
    height: 25px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.THIS .borderzero {
    height: 25px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.THIS .epr_Mark7 .borderzero :hover {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.THIS .borderzero :hover {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.THIS .epr_Mark7 .borderzero :focus {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
    outline:0 !important; 
    box-shadow:0 0 0px #0070d2 !important;
}
.THIS .borderzero :focus {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
    outline:0 !important; 
    box-shadow:0 0 0px #0070d2 !important;
}
.THIS .epr_Mark7 .toggle {
   display: none;
}
.THIS .toggle {
   display: none;
}

@media only screen 
and (min-width : 1824px) {
  .THIS .maquiScroller {
      overflow: auto;
    -webkit-overflow-scrolling: touch;
    height:400px;
}
}
      
@media only screen and (min-width : 1224px) {
.THIS .erp_mark7 .maquiScroller {
      overflow: auto;
    -webkit-overflow-scrolling: touch;
    height:320px;
}
}
        /* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.THIS .erp_mark7 .maquiScroller {
     overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height:200px;
}
}

 /* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.THIS .erp_mark7 .maquiScroller {
     overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height:200px;
}
}
.THIS input {
    line-height: normal;
    border: 1px solid #ddd !important;
}
.THIS .font-size1rem{
    }
.THIS .outputTextOR{
    font-size: .87rem;
    font-weight: normal;
    color: #36c3d6;
    }
.THIS .slds-truncate1{
max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }  
.THIS .fifty{
    width: 100%;
    line-height: 1.775rem;
    min-height: calc(1.725rem + 2px);
 } 
.THIS .tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: auto;
    overflow-x: hidden;
    min-height: 50px;
    max-height: 200px;
}
.THIS .erp_mark7 .slds-truncate2 {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .epr_Mark7 .modal-footer {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.THIS .erp_mark7 .slds-truncate {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media (max-width: 768px){
.THIS .ERP7OrderConsole .epr_Mark7 .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 1px !important;
    font-size:11px;
}
    .THIS .epr_Mark7 .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 1px !important;
        font-size:11px;
}
   .THIS .text-small-formb{
        
        font-size:12px !important;
            padding-right: 1px;
    padding-left: 1px;
    } 
}
.THIS .margin-left-0{
    margin-left:0px !important;
}
.THIS .fieldswidth100{
    width:100% !important;
    text-align:left !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

/*.THIS .slds-button{
    
    color: #65d6e5 ;
   
}
.THIS .erp_mark7 .slds-button {
  
    color: #65d6e5;
  
}*/
.THIS .slds-table thead th {
 
    padding: 0.5rem 0.5rem;
}

.THIS .slds .slds-button--brand{
    padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #0070d2;
        border: 1px solid #0070d2;
       
}
.THIS .slds-button--brand{
    padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #0070d2;
        border: 1px solid #0070d2;
}

.THIS .slds .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
        background-color: #005fb2;
        color: white;
    }
.THIS .slds-button--brand:hover, .THIS .slds-button--brand:focus {
        background-color: #005fb2;
        color: white;
    }
.THIS .erp_mark7 .slds-button--brand {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #0070d2;
        border: 1px solid #0070d2 ;
       
    }
.THIS .erp_mark7 .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
        background-color: #005fb2;
        color: white;
    }
.THIS .slds .slds-button--brand:active {
    background-color: #005fb2;
}
@media (max-width: 48em){
.THIS .slds .slds-max-medium-table--stacked-horizontal td {
    text-align: left;
}
}
.THIS .table-fixed thead {
  width: 97%;
}
.THIS .table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.THIS .table-fixed thead, .THIS .table-fixed tbody, .THIS .table-fixed tr, .THIS .table-fixed td, .THIS .table-fixed th {
  display: block;
}
.THIS .table-fixed tbody td, .THIS .table-fixed thead > tr> th {
  float: left; 
  border-bottom-width: 0;
}
.THIS .header-fixed1 {
    width: 100% 
}

.THIS .header-fixed1 > thead,
.THIS .header-fixed1 > tbody,
.THIS .header-fixed1 > thead > tr,
.THIS .header-fixed1 > tbody > tr,
.THIS .header-fixed1 > thead > tr > th,
.THIS .header-fixed1 > tbody > tr > td {
    display: block;
}

.THIS .header-fixed1 > tbody > tr:after,
.THIS .header-fixed1 > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.THIS .header-fixed1 > tbody {
    overflow-y: auto;
    height: 150px;
}

.THIS .header-fixed1 > tbody > tr > td,
.THIS .header-fixed1 > thead > tr > th {
    width: 10%;
    float: left;
}

.THIS .slds-button--neutralups{
    background: #351c15 !important;
}

.THIS .slds-button--neutraldhl{
    background: #ffcc01 !important;
}

.THIS .epr_Mark7 .nav-tabs > li > a {
    color: #60cdde;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    outline: 0;
}
.THIS .radioin{
    margin-left: 10px;
}
@media (min-width: 768px){
.THIS .epr_Mark7 .modal-dialog .modal-md {
    margin:10% auto;
}
}
@media (min-width: 768px){
.THIS .epr_Mark7 .modal-dialog .modal-lg {
    margin:4% auto;
}
}
.THIS.slds .slds-table .slds-truncate {
    min-width: 30px;
    max-width: 195px;
}
.THIS.ERP7OrderConsole .epr_Mark7 .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important;
}
.THIS.sldsave {
    font-size: 14px !important;
    font-weight: normal !important;
}
.THIS.buttonMargin {
    margin-top: 5px;
}
.THIS.erp_mark7 .slds-select[size] {
    height: 32px;
    font-size: 12px;
}
.THIS.slds .slds-table th {
    padding: 8px;
    
}
.THIS.slds .slds-table td {
    padding: 8px;
}
.THIS.slds .slds-textarea {
    resize: none !important;
    font-size: 12px !important;
}
.THIS.slds .slds-textareaa {
    height:60px;
}
.THIS.slds .slds-input {
    font-size: 12px !important;
    min-height: 30px !important;
    line-height: 22px !important;
}

.THIS.div .uiInputDate {
    height: 30px !important;
}
.THIS.slds .slds-select {
    height: 32px;
    padding: 0px 52px 0px 10px;
}
.THIS.slds .slds-box {
    padding: 10px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid #d8dde6;
}
.THIS.slds .slds-text-heading--label {
    font-size: 12px;
    line-height: 1.25;
    text-transform: none;
    letter-spacing: .0625em;
    color: #54698d;
}
.THIS.close {
    background-image: url(SCM/Images/close.png);
    box-shadow: 0px 0px #000000 !important;
    -webkit-box-shadow: 0px 0px #000000 !important;
    -moz-box-shadow: 0px 0px #000000 !important;
}

.THIS .epr_Mark7 .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff !important;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=90);
  opacity: .9;
}
.THIS .close1 {
    color: #33dae7!important;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: .9;
    border: 0;
    background: transparent;
  }

.THIS .closEpos{
   float: right;
    font-size: 30px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffff!important;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: .9;
    border: 0;
    background: none;
    outline:0; 
}
.THIS .close{
    
    box-shadow: 0px 0px #000000 !important;
    -webkit-box-shadow: 0px 0px #000000 !important;
    -moz-box-shadow: 0px 0px #000000 !important;
} 
.THIS.slds .slds-card__header {
    padding: 9px 9px 0px;
}

.THIS .epr_Mark7 .nav-tabs > li.active > a {
    color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover{
     color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
     color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
    
}
.THIS .epr_Mark7 .nav-tabs {
    
}
.THIS .epr_Mark7 .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}
.THIS .epr_Mark7 .nav > li > a:focus{
text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}

.THIS .epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff;
}
.THIS .epr_Mark7 .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
.THIS .epr_Mark7 .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-transform: uppercase;
}
/*.THIS .uiButton--default{
   box-shadow: none !important;
    text-shadow: none !important; 
    background: none;
    padding: 0px;
}*/


.THIS .slds .slds-select[size] {
    min-height: 27px !important;
    height: inherit !important;
}
.THIS .epr_Mark7 .dropdown-menu {
    min-width:135px !important;
}
.THIS .neutralC {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    border:0px solid #d8dde6 !important;
    background-color: white !important;
    width:20px;
    
}
.THIS .paddingrightaccounttab{
    padding-right:70px !important;
    padding-left:1rem;
}
.THIS .upsbg{
    background-color: #351c15 !important;
}
.THIS .loyaltybutton{
    width:172px;
    text-align: left !important;
    margin-left:0px !important;
    font-size: 13px !important;
}
.THIS slds a:focus { 
    outline: none; 
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
   
    outline: none;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a, .THIS .epr_Mark7 .nav-tabs > li.active > a:hover, .THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
outline:0;
}

.THIS .slds-selectmaq{
    width:150px !important;
}

    .THIS .SOpaddingright{
    padding-right: 48px !important;
}
    .THIS .RMApaddingright{
    padding-right: 110px !important;
}



@media (min-width: 768px){
    .THIS .ERP7OrderConsole .SOpaddingright {
        padding-right: 14px !important;
    }

.THIS .width100{
    width:80px !important;
}  
}
            .THIS .bg-white{
                background:#ffffff !important;
            }
            .THIS .pr-0{
                padding-right:0px !important;
            }
            .THIS .span-red{
                color:#ff0000;
            }
            .THIS .slds-truncate3{
                max-width:90px;
            }
.THIS .erp_mark7 .slds-pill__action {

    border: 0px solid #dddbda;
   
}