.THIS .cart_bt:hover{
    display:block !important;
}

.THIS .dropdown-menu:hover{
  display:block !important;   
} 
.THIS .dropdown:hover,
.THIS .dropdown-cart:hover{
   display:block !important;  
}

.THIS .ProductListCH-newClass2 {
    font-size: 18px; text-align:center; color:white;
}
.THIS .ProductListCH-newClass3 {
    width:100%;height:47px;
}
.THIS .ProductListCH-newClass4 {
    height:37px;
}
.THIS .ProductListCH-newClass5 {
    color: #1da0f2;text-decortion:none;
}