.THIS .h5,
.THIS h5 {
    font-size: 0.85rem;
}


.THIS input, 
.THIS optgroup, 
.THIS select, 
.THIS textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}

.THIS .card-header{
background: #f6f6f6;
    padding: 10px;
    border: 1px solid #efefef;
    border-radius: 7px 7px 0px 0px;
}
.THIS ._3D-3p2 ._3i00zY {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
}
.THIS ._7BRRQk {
    font-size: 14px;
    font-weight: 500;
}
.THIS ._2t-3dH {
    font-size: 12px;
    margin-top: 8px;
}
.THIS ._30ud5x {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: none;
    border: 2px solid #26a541;
    display: inline-block;
    margin-right: 8px;
}
.THIS ._30ud5x._3ELbo9 {
    background-color: #26a541;
    border: 2px solid #26a541;
}
.THIS _1S3Y5S, 
.THIS ._APNAc {
    color: #2874f0;
    word-break: break-all;
}

.THIS ._30ud5x.VGlMMD {
    background-color: #ff6161;
    border: 2px solid #ff6161;
}

.THIS ._3D-3p2 ._3i00zY {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
}
.THIS ._7BRRQk {
    font-size: 14px;
    font-weight: 500;
}
.THIS ._2t-3dH {
    font-size: 12px;
    margin-top: 8px;
}
.THIS ._30ud5x {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: none;
    border: 2px solid #26a541;
    display: inline-block;
    margin-right: 8px;
}
.THIS ._30ud5x._3ELbo9 {
    background-color: #26a541;
    border: 2px solid #26a541;
}
.THIS _1S3Y5S, 
.THIS ._APNAc {
    color: #2874f0;
    word-break: break-all;
}

.THIS ._15sywe ._2Zi11O {
    padding-bottom: 8px;
}
.THIS ._1CWg6K, 
.THIS ._15sywe .S19oOu {
    font-size: 16px;
    font-weight: 500;
}
.THIS ._3OsVcL ._1TPQHf {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.THIS ._3OsVcL ._1MbX3l {
    font-weight: 500;
}
.THIS ._3OsVcL .wRBMLW {
    display: none;
}
.THIS ._3OsVcL ._3N_1fR {
    padding-top: 10px;
    width: 75%;
}
.THIS ._3OsVcL ._1TPQHf {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.THIS ._3OsVcL ._1GAUB_ {
    padding-top: 10px;
}
.THIS ._3OsVcL ._1MbX3l {
    font-weight: 500;
}
.THIS ._3OsVcL ._3IFL-P {
    display: block;
    margin-top: 25px;
    word-break: break-word;
}
.THIS ._3OsVcL ._3IFL-P {
    display: block;
    margin-top: 25px;
    word-break: break-word;
}
.THIS ._1MoCT- {
    padding: 24px;
}
.THIS ._3FXQ6P {
    border-left: 1px solid #f0f0f0;
}
.THIS ._1MoCT- {
    padding: 24px;
}
.THIS ._3qesVJ {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.THIS ._17XScb {
    margin: 16px 0;
    padding: 0;
}
.THIS ._1qifsA {
    border: 1px solid #e0e0e0;
    width: 140px;
}
.THIS ._3c5Gic {
    height: 35px;
    width: auto;
    min-width: 140px;
    color: #2874f0;
    border-radius: 1px;
    border: none;
    text-align: center;
}
.THIS ._3xbQnf ._3PNaZO {
    max-width: 65%;
}
.THIS ._3xbQnf ._3PNaZO {
    max-width: 65%;
}
.THIS ._3xbQnf ._3PNaZO ._2Q-6ef {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.THIS ._3xbQnf ._3PNaZO ._3skYqB {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}
.THIS .nav-link {
  display: block;
  padding: 0 15px;
  height: 30px;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #444;
}

.THIS .nav-link:hover,
.THIS .nav-link:focus {
  text-decoration: none;
}

.THIS .nav-link.disabled {
  color: #6c757d;
}

.THIS .nav-tabs {
  border: none;
  border-bottom: 2px solid #dee2e6;
}



.THIS .nav-tabs .nav-link {
  border: none;
}

.THIS .nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.THIS .nav-tabs .nav-link.active,
.THIS .nav-tabs .nav-item.show .nav-link {
  border-bottom: 2px solid #004dda;
  color: #004dda;
  background-color: transparent;
}

.THIS .tabs_product {
  text-align: center;
  margin-top: 30px;
}

.THIS .tabs_product .nav-tabs {
  border: none;
  border-bottom: 1px solid transparent;
  display: flex;
}
@media (max-width: 767px) {
  .THIS .tabs_product .nav-tabs {
    display: none;
  }
}
.THIS .tabs_product .nav-tabs .nav-item {
  text-transform: uppercase;
  font-weight: 500;
}
.THIS .tabs_product.version_2 {
  margin-top: 0;
}
.THIS .tabs_product.version_2 .nav-tabs {
  justify-content: center;
  flex-direction: row;
}
.THIS .tabs_product.version_3 {
  margin-top: 0;
  position: relative;
}
@media (max-width: 767px) {
  .THIS .tabs_product.version_3 .nav-tabs {
    display: flex;
  }
}

.THIS .product_actions ul {
  margin: 15px 0 0 2px;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .THIS .product_actions ul {
    display: none;
  }
}
.THIS .product_actions ul li {
  float: left;
  margin-right: 25px;
}

@media (max-width: 767px) and (max-width: 767px) {
  .THIS .product_actions ul li:first-child i, .THIS .product_actions ul li:nth-child(2) i {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.THIS .product_actions ul li a {
  color: #444;
}
.THIS .product_actions ul li a:hover {
  color: #004dda;
}
.THIS .product_actions ul li a i {
  margin-right: 5px;
}
@media (max-width: 767px) {
  .THIS .product_actions ul li a span {
    display: none;
  }
}

.THIS .tab_content_wrapper {
  background-color: #f8f8f8;
  padding: 60px 0 35px 0;
}
@media (max-width: 991px) {
  .THIS .tab_content_wrapper {
    padding: 30px 0 10px 0;
  }
}
@media (max-width: 767px) {
  .THIS .tab_content_wrapper {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
  }
}
.THIS .tab_content_wrapper .card {
  border: none;
  background-color: transparent;
}

.THIS .tab_content_wrapper .card .card-header a {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 15px;
  color: #111;
}
.THIS .tab_content_wrapper .card .card-body {
  padding: 0;
}
.THIS .tab_content_wrapper .card .card-body h3 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 20px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .THIS .tabs_product .nav-tabs {
    display: flex;
  }

  .THIS .tab_content_wrapper .card {
    border: none;
  }

  .THIS .tab_content_wrapper .card .card-header {
    display: none;
  }

  .THIS .tab_content_wrapper .card .collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  .THIS .tab_content_wrapper .fade:not(.show) {
    opacity: 1;
  }

  .THIS .tab_content_wrapper .tab-pane {
    display: block !important;
    opacity: 1;
  }

  .THIS .tab_content_wrapper .card .card-header {
    margin-bottom: 15px;
    border: 0;
  }
  .THIS .tab_content_wrapper .card .card-header a:after {
    font-family: themify;
    width: 20px;
    display: block;
    float: right;
  }
  .THIS .tab_content_wrapper .card .card-header a.collapsed:after {
    content: "\e61a";
  }
  .THIS .tab_content_wrapper .card .card-header a:after {
    content: "\e622";
  }
}
.THIS .review_content {
  margin-bottom: 30px;
}
.THIS .review_content h4 {
  font-size: 18px;
  font-size: 1.125rem;
}
.THIS .review_content .rating {
  color: #999;
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 0;
  float: left;
}
.THIS .review_content .rating i {
  width: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  font-size: 12px;
  font-size: 0.75rem;
  display: inline-block;
  background-color: #fec348;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-right: 2px;
}
.THIS .review_content .rating i.empty {
  background-color: #ccc;
}
@media (max-width: 575px) {
  .THIS .review_content .rating {
    float: none;
    display: block;
  }
}
@media (max-width: 575px) {
  .THIS .review_content .rating em {
    float: none;
    display: inline-block;
    margin-left: 10px;
  }
}
.THIS .review_content em {
  font-weight: 500;
  color: #999;
  line-height: 22px;
  margin-left: 5px;
  float: right;
}
@media (max-width: 575px) {
  .THIS .review_content em {
    float: none;
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}

.THIS .table.sizes td,
.THIS .table.sizes tr th {
  white-space: nowrap;
}
.THIS .ProductListCommMyOrders-newClass1{
    cursor:pointer;
}
.THIS .ProductListCommMyOrders-newClass2{
    padding: 15px;border: 1px solid #f7f7f7;
}
.THIS .ProductListCommMyOrders-newClass3{
    height: 75px; width: 75px;
}