.THIS .modal-content {
   
    padding: 0px !important;
}
.THIS .PL-newClass1 {
   
    text-align: center;color: #fff; background-color: #c23934;padding: .7rem .4rem .7rem .4rem;margin: 10px;font-size: 12px;
}

.THIS .PL-newClass2 {
   
    background: #0eb58a;padding: .7rem .3rem .7rem .3rem;color:#fff; text-align:center;margin:10px;
}
.THIS .PL-newClass3 {
   
    color: #2196F3;
}
.THIS .PL-newClass5 {
   
    display:flex;
}
.THIS .PL-newClass6 {
   
    font-weight: 400 !important;
}
.THIS .PL-newClass7 {
   
   float:left; width:100%;
}
.THIS .PL-newClass8 {
   
   margin-top:1rem;
}
.THIS .PL-newClass9 {
   
   color: #3278b7;text-decortion:none;
}