.THIS .uiButton--default .label {
    white-space: normal;
    color: #65d6e5;
}
.THIS .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6 !important;
    background-color: white;
    color:#65d6e5 !important;
}
.THIS .erp_mark7 .slds-button_neutral:hover, 
.THIS .erp_mark7 .slds-button_neutral:focus,
.THIS .erp_mark7 .slds-button--neutral:hover,
.THIS .erp_mark7 .slds-button--neutral:focus {
    background-color: #f4f6f9; 
    color:#65d6e5 !important;
	
}
.THIS .erp_mark7 .slds-button_neutral:active,
.THIS .erp_mark7 .slds-button--neutral:active {
    background-color: #eef1f6; }
.THIS .erp_mark7 .slds-button_neutral[disabled],
.THIS .erp_mark7 .slds-button--neutral[disabled] {
    background-color: white;
    cursor: default; }
.THIS .pageNumberClass {
        background-color: #65d6e5;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    border-radius: 18px;
   
}
.THIS .pageNumberClass:focus {
    background-color: #65d6e5;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    border-radius: 18px;
}