.THIS .chevronright-confirmed1{
    color:#4BCA81;
    font-size: 3rem;
}
.THIS .SupplierPReg-class2{
margin: 0.1rem 0;
}
.THIS .SupplierPReg-class3{
display:flex;
}
.THIS .SupplierPReg-class4{
font-size:2rem !important;
}
.THIS .SupplierPReg-class5{
width: 100%;  text-align: center;
}