@font-face {
  font-family: 'digital-7regular';
  src: url('digital-7-webfont.woff2?orgId=00DJ6000001Fezg') format('woff2'), url('digital-7-webfont.woff?orgId=00DJ6000001Fezg') format('woff');
  font-weight: normal;
  font-style: normal;
}