.THIS .event-rok .slds-pill {
    height: 32px !important;
}
.THIS .slds-form-element__label:empty{ /* event-rok .slds-form-element__label:empty */
    margin: 0;
    display: none;
}

.THIS .HighlightClass{
    border: 1px solid red !important;
    border-radius:4px !important;
}

.THIS .displaymaq{
    display:grid !important;
}
.THIS .maqborderAll{
    margin-top:0px !important;
}

.THIS .maqborder{
   /* border-right: 1px dotted #00BCD4;
    border-left: 1px dotted #00BCD4;
    border-bottom: 1px dotted #00BCD4;*/
    border-top: 1px dotted #00BCD4;
    margin-top:20px !important;   
}

.THIS [class^="ribbon-"] {
  position: relative;
  margin-bottom: 10px;
}
.THIS .card-title{
    font-size: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.THIS .cardtext2{
    font-size:12px;
}
.THIS .maqform{
    border:1px solid #ddd;
}
.THIS .slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 132px ;
}
.THIS .slds-input__icon-group_right .slds-input__icon_right, 
.THIS .slds-input__icon-group_right .slds-input__icon--right {
    right: 0.5rem;
    display: none;
}

.THIS .slds-dropdown_fluid {
 min-width: auto;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}
.THIS .slds-dropdown_length-with-icon-5, 
.THIS .slds-dropdown--length-with-icon-5 {
    -webkit-overflow-scrolling: touch;
    max-height: calc((.5rem + 1rem) * 5) !important;
    overflow-y: auto;
}

@media (min-width: 48em){
.THIS .slds-modal_medium .slds-modal__container {
    width: 100% !important;
    max-width: 78rem  !important;
    min-width: 40rem  !important;
}
    }
.THIS .slds-input-has-icon_right .slds-input, 
.THIS .slds-input-has-icon_right .slds-input_bare, 
.THIS .slds-input-has-icon_right .slds-input--bare, 
.THIS .slds-input-has-icon--right .slds-input, 
.THIS .slds-input-has-icon--right .slds-input_bare, 
.THIS .slds-input-has-icon--right .slds-input--bare {
    padding-right: .3rem !important;
        font-size: 10px;
    padding-left: .5rem;
} 
/*.THIS.event-rok .slds-media {
    
    display: grid;
    -ms-flex-align: start;
    align-items: flex-start;
}*/
.THIS .slds-truncate {
    max-width: 140px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .timeslotSeperator{
    background :#e0f1ff;
    padding : 3px;
}
.THIS .weekendBack{
    background: #b0725a !important;
}
.THIS .UsrAvail-class1{
background:#ffffff;
}
.THIS .UsrAvail-class2{
border-bottom: 0px solid #dddbda;padding-bottom: 0px;padding: .3rem;
}
.THIS .UsrAvail-class3{
background: #f3f2f2;border-bottom: 1px solid #dddbda;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);border: 1px solid #f3f3f3;
}
.THIS .UsrAvail-class4{
background: #03A9F4;padding: 8px;color: #fff;border-radius: 3px;
}
.THIS .UsrAvail-class5{
text-align:right;
}
.THIS .UsrAvail-class6{
margin-top:8%;
}
.THIS .UsrAvail-class7{
min-width: 25rem;padding: 0.5rem 3rem 0.5rem 1.5rem;
}
.THIS .UsrAvail-class8{
padding-top: 0px; background: #f6fbff;
}
.THIS .UsrAvail-class9{
margin: 10px;
}
.THIS .UsrAvail-class10{
padding:10px 10px 0px 10px;
}
.THIS .UsrAvail-class11{
text-align:left;
}
.THIS .UsrAvail-class12{
color:red;
}
.THIS .UsrAvail-class13{
cursor:pointer;padding-top: 1%;padding-right: 5px;
}
.THIS .UsrAvail-class14{
background: #fff; border-radius: 6px;box-shadow: 1px 2px 7px 1px rgba(0,0,0, 0.2);
}
.THIS .UsrAvail-class15{
width: 1%;
}
.THIS .UsrAvail-class16{
height: 40px;text-align: center; border-right: 0px solid #bddefa;border-left: 1px solid #bddefa;font-weight: bold;
}
.THIS .UsrAvail-class17{
height: 40px;text-align: center; border-right:1px solid #bddefa;font-weight: bold;
}
.THIS .UsrAvail-class18{
text-align: center;font-weight: 400;
}
.THIS .UsrAvail-class19{
width:2.0%;
}
.THIS .UsrAvail-class20{
cursor:pointer;width:35px;height:35px;
}
.THIS .UsrAvail-class21{
width:30%;
}
.THIS .UsrAvail-class22{
background-color:WhiteSmoke;text-align: center;padding: 10px 0px 10px 10px;
}
.THIS .UsrAvail-class23{
background-color:WhiteSmoke;text-align: center;padding: 10px 0px 10px 10px;
}
.THIS .UsrAvail-class24{
text-align: center;
}
.THIS .UsrAvail-class25{
height:50px;
}
.THIS .UsrAvail-class26{
margin-bottom: 70px;float: left;width: 100%;
}
.THIS .UsrAvail-class27{
font-size:14px;
}
.THIS .UsrAvail-class28{
background: #e0f1ff;
}
.THIS .UsrAvail-class29{
text-align:left; float:left;width: 70.3%;padding: 3px 3px 3px 3px;
}
.THIS .UsrAvail-class30{
font-size:15px;
}
.THIS .UsrAvail-class31{
padding-top:5px;
}
.THIS .UsrAvail-class32{
pointer-events:none;cursor: not-allowed; color:lightgray;
}
.THIS .UsrAvail-class33{
text-align:right;width: 27.8%;background:#ecdfda;padding: 3px 3px 3px 3px;
}
.THIS .UsrAvail-class34{
border-radius:30px;
}
.THIS .UsrAvail-class35{
padding:0;border-bottom: 1px solid #ddd;
}
.THIS .UsrAvail-class36{
padding: 3px; background: #ecdfda;
}
.THIS .UsrAvail-class37{
padding: 3px; background: #f5eeec;
}
.THIS .UsrAvail-class38{
padding: 3px;
}
.THIS .UsrAvail-class39{
min-height:10px;
}
.THIS .UsrAvail-class40{
padding-left:2px; padding-right:2px; float:left;padding-top: 8px;
}
.THIS .UsrAvail-class41{
cursor:pointer;padding-right:5px;
}
.THIS .UsrAvail-class42{
color: #2196f3; padding-top: 15px; font-size: 15px;
}
.THIS .UsrAvail-class43{
color: #f44336; padding-top: 15px; font-size: 15px;
}