/*.THIS .customIcon{
    width : 1.5rem;
    height : 1.5rem;
}*/
.THIS .slds-icon {
    width : 1.5rem !important;
    height : 1.5rem !important;
}
.THIS .custominputresult-class1{
    width:2rem; 
    height:1.5rem;
}