.THIS .timeM-cls24{
    padding-left:5px;font-size: 20px;font-weight:100 !important;
}
.THIS .timeM-cls23{
    padding:0.25rem 0 0 0; margin-right: 120px;margin-bottom:0px;
}
.THIS .timeM-cls22{
    padding:0;background-color: rgb(255, 183, 93);padding-left:156px;height:35px;
}
.THIS .timeM-cls21{
    margin-top:0.8rem;font-size: 16px;padding-left: 17%;
}
.THIS .timeM-cls20{
    font-size: .9rem;
}
.THIS .timeM-cls19{
    margin-left:0px;
}
.THIS .timeM-cls18{
    background-color:white;margin-bottom:10px;padding: 0px;
}
.THIS .timeM-cls17{
    color:white;font-size:14px;padding-left: 7px;
}
.THIS .timeM-cls16{
    padding: 0;background-color:#31d0e5;text-align:left;padding-right:5px;
}
.THIS .timeM-cls15{
    font-size: 1.25rem;
}
.THIS .timeM-cls14{
    font-size:10px;padding-left: 5px; line-height: 19px; background-color:#31d0e5; text-overflow: ellipsis; overflow:hidden;
}
.THIS .timeM-cls13{
    padding: 0;
}
.THIS .timeM-cls12{
    color:white;font-size:14px;
}
.THIS .timeM-cls11{
    padding: 0;background-color:#005fb2;text-align:center;
}
.THIS .timeM-cls10{
    background-color:white;
}
.THIS .timeM-cls9{
    margin-left:0px; margin-right:0px;margin-bottom: 45px;margin-left:0%;
}
.THIS .timeM-cls8{
    line-height: 32px;padding-right: 10px;
}
.THIS .timeM-cls7{
    margin-right:50px;cursor:pointer;width:35px;height:35px;visibility:hidden;
}
.THIS .timeM-cls6{
    color:black !important;font-size: 12px;
}
.THIS .timeM-cls5{
    margin-top:5px;
}
.THIS .timeM-cls4{
    text-align:left;height: 20px;
}
.THIS .timeM-cls3{
    line-height: 32px;padding-left: 10px;
}
.THIS .timeM-cls2{
    padding:0.5rem .2rem;
}
.THIS .timeM-cls1{
    background: white;
}
.THIS .assistiveText{
    display:none;
}
.THIS .erp_Mark7 .table td, 
.THIS .erp_Mark7 .table th {
    
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.THIS .managetimeoff{
        color: black !important;
        text-decoration: none;
}
.THIS .erp_mark7 .slds-form--inline .slds-form-element, 
.THIS .erp_mark7 .slds-form_inline .slds-form-element {
    margin-right: .5rem;
}
@media (min-width: 768px){
.THIS .erp_Mark7 .col-md-2 {
    -ms-flex: 0 0 12.666667%;
    flex: 0 0 12.666667%;
    max-width: 12.666667%;
}
    }
@media (min-width: 768px){
.THIS .erp_Mark7 .col-md-10 {
    -ms-flex: 0 0 86.333333%;
    flex: 0 0 86.333333%;
    max-width: 86.333333%;
}
    }
.THIS .erp_mark7 .slds-input-has-icon--right .slds-input, 
.THIS .erp_mark7 .slds-input-has-icon--right .slds-input--bare, 
.THIS .erp_mark7 .slds-input-has-icon--right .slds-input_bare, 
.THIS .erp_mark7 .slds-input-has-icon_right .slds-input, 
.THIS .event-rok .slds-input-has-icon_right .slds-input--bare, 
.THIS .event-rok .slds-input-has-icon_right .slds-input_bare {
    padding-right: 0rem;
}
.THIS .slds-input-has-icon--right .slds-input{
     padding-right: .5rem !important;
} 
.THIS .erp_Mark7 input
 {
    margin: 0;
    font-family: inherit;
    font-size: 10px;
    line-height: inherit;
    font-weight: 700;
}
.THIS .cursorPointer{
    cursor: pointer;
}
.THIS .erp_Mark7TimesManagement .erp_mark7 .table td, 
.THIS .erp_Mark7TimesManagement .erp_mark7 .table th {
    padding: 0rem;
    vertical-align: middle;
    border-top: 0 solid #dee2e6;
}
.THIS .erp_mark7 .table td, 
.THIS .erp_mark7 .table th {
    padding: 0rem !important;
    vertical-align: middle !important;
    border-top: 0 solid #dee2e6;
}
.THIS .erp_mark7 .table td, 
.THIS .erp_mark7 .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}
.THIS .erp_mark7 .table-bordered td, 
.THIS .erp_mark7 .table-bordered th {
    border: 0px solid #dee2e6;
}
.THIS .erp_mark7 .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=100);
    opacity: 1;
}
.THIS .erp_mark7 .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
}
.THIS .erp_Mark7 .table-bordered > thead > tr > th,
.THIS .erp_Mark7 .table-bordered > tbody > tr > th, 
.THIS .erp_Mark7 .table-bordered > tfoot > tr > th, 
.THIS .erp_Mark7 .table-bordered > thead > tr > td, 
.THIS .erp_Mark7 .table-bordered > tbody > tr > td, 
.THIS .erp_Mark7 .table-bordered > tfoot > tr > td {
    border: 0px solid #dddddd;
}
.THIS .erp_mark7 .label{
    color: #0070d2;
    padding: 0;
    font-size: .75rem;
    font-weight: normal;
}
.THIS .uiButton--default {
    font-weight: normal;
    font-size: .9em;
    margin: 2px 3px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 0;
    border: 1px solid #ddd;
    background: white;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7), 0 0px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 0px 0px #fff;
    height: 32px;
}
.THIS .chosen-container-multi .chosen-choices li.search-choice span {
   word-wrap: break-word;
   font-size:12px;
   white-space:nowrap;
   float:left;
   width:40px;
   overflow:hidden;
   text-overflow:ellipsis;
}
.THIS .disabledClass{
    border: 0;
    color:gray;
}
.THIS .TimeDisableClass{
    padding: 0 .5rem 0 .75rem;
    
    width: 100%!important
}
.THIS .TimeDisabledClass{ /*slds-input*/
    border: 0;
     /*background-color:#dcdcdc !important;
    background:gray !important;
   pointer-events:none;*/   
}

.THIS .ResourceDisabledClass{ /*slds-input*/
     /* cursor:not-allowed !important;*/  
   pointer-events:none; 
   color:black; 
}

.THIS .event-rok .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 200px !important;
}
.THIS .event-rok .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 33px !important;
    border: 1px solid #d8dde6;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(#eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(#eee 1%, #fff 15%);
    background-image: -o-linear-gradient(#eee 1%, #fff 15%);
    background-image: linear-gradient(#eee 1%, #fff 15%);
    cursor: text;
}
.THIS .table th, .THIS .table td {
    border-top: 0px solid #dddddd;
}
.THIS .table-bordered th, .THIS .table-bordered td {
    border-left: 0px solid #dddddd;
}

.THIS .slds-select-c{
   width: 174px !important ;
    height:33px !important;
}

.THIS .erp_Mark7 .panel {
    margin-bottom: 0px;
}
.THIS .erp_Mark7 .panel-group {
    margin-bottom: 0px;
}
.THIS.optionClass {
    width:170px;
    height:35px;
}

.THIS.multiselectPl {
    height:50px;
    min-width:250px;
} 
.THIS .sl {
    color:blue;
}  
.THIS .chosen-container-multi{
	width:15% !important;
}
.THIS .slds-selectCustom { 
     max-width:200px;   
    }