.THIS .dm-inventorylow{
background:#c23616;
  font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    color:#ffffff;
    justify-content:center;
    text-align:center !important;
}
.THIS .nav-link {
    position: relative;
    padding: 0;
    text-transform: uppercase  !important;
    font-size: 12px !important;
    font-weight: 600  !important;
    color: #868ba1  !important;
}
.THIS .nav-link + .nav-link::before {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    border-left: 1px solid #dee2e6;
    margin: 0 15px;
}
.THIS  .nav-link.active {
    color: #1b84e7  !important;
}
.THIS .card-pricing .card-pricing-icon{
    background:#fff;
}
.THIS .bg-gp{
    background: #f0f2f7;
}
.THIS .theme-bg{
    background:#FAFBFE !important;
}
.THIS .headermt .fa-line-chart:before {
    padding: 20px;
}
/* The Loader css Starts here */

.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


/* The Loader css ends here */

.THIS .min-widthClass {
    min-width:none !important;
}
.THIS .erp_mark7 .slds-pill {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.125rem;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    background-color: white;
    position: relative;
    min-height: 1.925rem;
}
@media (min-width: 48em){
.THIS .erp_mark7 .slds-page-header {
    padding: 1rem 1rem .0rem;
}
 }
.THIS .erp_mark7 .slds-form-element__label {
    display: inline-block;
    color: #54698d;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-right: 0.75rem;
    margin-bottom: 0rem;
}
.THIS .uiInput--input .input, .THIS .uiInput--input.input {
    background-color: white;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    width: 100%;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}
.THIS .erp_mark7 .slds-icon {
    width: 20px;
    height: 20px;
    line-height: 1;
    padding: 1px;
}
.THIS .sticky {
    
}

.THIS .input{
    width:99%;
}
.THIS .field{
    
}
.THIS .hoverdiv{
    overflow:hidden;
}
.THIS .hoverdiv:hover{
    overflow-x:scroll;
    
}
.THIS .scroll-bar-wrap {
  width: 90%;
  position: relative;
  
}
.THIS .scroll-box {
  width: 100%;
  
  overflow-y: scroll;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .2em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
}
.THIS .erp_mark7 .background-active {
    background: #ffffff;
    height: 20px;
    width: 20px;
    border: 1px solid #ddd;
}

.THIS .erp_mark7 .background-disabled {
    background: #ecebea;
    height: 20px;
    width: 20px;
}

.THIS .erp_mark7 .background-error {
    background: #d4504c;
    height: 20px;
    width: 20px;
}

.THIS .erp_mark7 .background-success {
    background: #4bca81;
    height: 20px;
    width: 20px;
}
.THIS .cl1{
    background: #ffffff;
}
.THIS .cl2{
    cursor:pointer;width:35px;height:35px;
}
.THIS .cl3{
    padding: 24px 3px 15px 7px !important;
}
.THIS .cl4{
    color:#ffffff;padding: 14px;font-size:26px;
}
.THIS .cl5{
    margin-top: 10px;
}

.THIS .cl7{
    padding-right:0px;
}
.THIS .cl8{
    width: 10px;height: 10px;
}
.THIS .cl9{
    font-size: 14px;
}
.THIS .cl10{
    width: 10px;height: 10px;
}
.THIS .cl11{
    padding-top:2px;
}
.THIS .cl12{
    text-align:center;padding: 0px;
}
.THIS .cl13{
    height:53px;line-height:40px !important;background:#f7f8f9;border-bottom: 0px solid #dddddd;padding-left: 20px;text-align: left;font-size:14px !important;
}
.THIS .cl14{
    line-height: 40px;border-bottom: 0px solid #ddd;
}
.THIS .cl15{
    color:#0070d2;cursor:pointer;font-size:14px;
}
.THIS .cl16{
    cursor:pointer; width:35px; height:35px;
}
.THIS .cl17{
    padding:0px !important;
}
.THIS .cl18{
    padding:0px 0px 0px 1px;
}
.THIS .cl19{
    width: 200px !important;
    border-left: 0px solid #ededed;
}
.THIS .cl20{
    border-right: 0px solid #ddd;
}
.THIS .cl21{
    height:32px;line-height:32px !important;background:#f7f8f9 !important;border-bottom: 0px solid #dddddd;text-align: center;
}
.THIS .cl22{
    text-align: center;padding:0px !important;
}
.THIS .cl23{
    color: #222324 !important;text-align: center;
}
.THIS .cl24{
    text-align: center;padding: 0px !important;
}
.THIS .cl25{
    height:40px;line-height:40px !important;border-bottom: 0px solid #dddddd;text-align: center;
}
.THIS .cl26{
    text-align: center;
}
.THIS .cl27{
    text-align: center;color:red;
}
.THIS .dmforder{
    background:#1b9cfc!important;
     font-size: 12px;
    
    border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    justify-content:center;
    text-align:center !important;
    color: #ffffff;
}
.THIS .dmproducttion{
    background: #009688!important;
     font-size: 12px;
    
    border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    justify-content:center;
    text-align:center !important;
    color: #ffffff;
}
.THIS .dmdemand{
     background:#6c5ce7!important;
     font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    color:#ffffff;
    justify-content:center;
    text-align:center !important;
    
}
.THIS .dmmimuminventory{
     background: rgb(255 152 0 / 89%)!important; 
     font-size: 12px;
     border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    color:#ffffff;
    justify-content:center;
    text-align:center !important;
    
}
.THIS .dmmimumcurrentinventory{
     background: #57606f !important;
     font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    color:#ffffff;
    justify-content:center;
    text-align:center !important;
    
}
.THIS .dmtosupply{
    background: #fbc531!important;
     font-size: 12px;
     border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    color:#ffffff;
    justify-content:center;
    text-align:center !important;
    
}
.THIS .dmtoproduce{
    background: #008080!important;
     font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width: 95%;
    color:#ffffff;
    justify-content:center;
    text-align:center !important;
    
}
.THIS .srr-whitespace{
    white-space:normal;
}
.THIS .slds-input{
    border:1px solid #ddd;
}
.THIS .srr-max-width{
    max-width: 99%;
}