.THIS .epr_Mark7 .chekbox{
    display: inline-block;
}
.THIS .epr_Mark7 .dropdown-menu > li > a {
    display: block;
    padding: 3px 14px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .charge{
    width: 80px !important;
}
.THIS .erp_mark7 .slds-fade-in-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s linear;
    background: rgba(0, 0, 0, 0.5);
}
.THIS .erp_mark7 .errmsgclass{
    padding: 0px !important;
    margin: 0px !important;
    border-width: 0px !important;
    border-style: solid !important;
    border-radius: 0px !important;
}

.THIS .erp_mark7 .RemoveSerial{
    height: 20px;
    width: 20px;
    margin-bottom: 2px;
    color: red;
    border: 0px;
}
.THIS .erp_mark7 .slds-backdrop_open, .THIS .erp_mark7 .slds-backdrop--open{
    visibility: hidden !important;
}


.THIS  .slds-icon-text-default .THIS .slds-icon {
    width: 22px !important;
    height: 22px !important;
    
}
.THIS .slds-media__figure{
    margin-top:0px !important;
}
.THIS .erp_mark7 .THIS .slds-lookup[data-select="single"] .THIS .slds-pill, .THIS .erp_mark7 .THIS .slds-lookup[data-select="multi"] .THIS .slds-pill {
    border: 0px;
}

.THIS .lookupik .THIS .slds-input {
    padding: 0 1rem 0 1.75rem !important;
}
.THIS .erp_mark7 .THIS .slds-input-has-icon--right .THIS .slds-input__icon {
    right: 0.25rem !important;
}

.THIS .erp_mark7 .THIS .true{
    width:55% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
}

.THIS .erp_mark7 .THIS .false{
    width:100% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
}

.THIS .erp_mark7 .THIS .Serial{
    width:45% !important;
    -webkit-transition: width 0.5s; 
    transition: width 0.5s;
    float:left;
    padding: 2px;
}

.THIS .erp_mark7 .THIS .discnt{
    padding: 0 20px 0 10px !important;
    
}
.THIS .slds .THIS .slds-button--neutrals {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 60%;
}

.THIS .erp_mark7 .THIS .orange {
    background: orange !important;
    border: 1px solid orange;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}

.THIS .erp_mark7 .THIS .green {
    background: #54B768 !important;
    border: 1px solid #54B768;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}

.THIS .erp_mark7 .THIS .grey {
    background: grey !important;
    border: 1px solid grey;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
}
.THIS .erp_mark7 .THIS .slds-nubbin--left-top:before, .THIS .erp_mark7 .THIS .slds-nubbin--left-top:after {
    top: 20px !important;
    background: #0070d2 !important;
}
.THIS .erp_mark7 .THIS .slds-input[disabled], .THIS .erp_mark7 .THIS .slds-input.slds-is-disabled {
    background-color: #e0e5ee;
    border-color: #b7b7b7 !important;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #d8dde6;
}
.THIS .epr_Mark7 .THIS .modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
/* Large screens ----------- */
@media only screen 
    and (min-width : 1824px) {
    .THIS .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:400px;
    }
}
@media only screen and (min-width : 1224px) {
    .THIS .erp_mark7 .THIS .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:230px;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
    .THIS .erp_mark7 .THIS .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:250px;
    }
}
/* iPads (landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
    .THIS .erp_mark7 .THIS .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:250px;
    }
}
.THIS .erp_mark7 .THIS .slds-truncate {
    max-width: 140px;
    word-wrap: break-word !important;
    position: relative;
    white-space: normal;
}
.THIS .erp_mark7 .THIS .slds-table th, .THIS .erp_mark7 .THIS .slds-table td {
    padding: 0.4rem !important;
    position: relative;
    max-width:140px;
}
.THIS .slds .THIS .slds-table--bordered td{
    border-top: 1px solid #f7f7f7 !important;
}
.THIS .slds .THIS .slds-button--neutral {
    padding-left: 14px;
    padding-right: 14px;
}
.THIS .bgwhiteerp {
    background:#ffffff !important;
}

/* The Loader css Starts here */


.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


/* The Loader css ends here */

.THIS .erp_mark7 .slds-icon_container {
    width: 22px !important;
    height: 22px !important;
    top: 50%;
    padding-right: 10px;
}
.THIS .epr_Mark7 .caret {
    display: inline-block;
    width: 9px;
    height: 4px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #5ad9ea;
}
.THIS .erp_mark7 .slds-nubbin--left-top:before, .THIS .erp_mark7 .slds-nubbin--left-top:after {
    top: 20px !important;
    background: #0070d2 !important;
}

.THIS .epr_Mark7 .borderzero {
    height: 25px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.THIS .epr_Mark7 .borderzero :hover {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
}
.THIS .epr_Mark7 .borderzero :focus {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background:#ffffff;
    border:0px !important;
    outline:0 !important; 
    box-shadow:0 0 0px #0070d2 !important;
}
.THIS .epr_Mark7 .toggle {
    display: none;
}


@media only screen 
    and (min-width : 1824px) {
    .THIS .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:400px;
    }
}

@media only screen and (min-width : 1224px) {
    .THIS .erp_mark7 .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:230px;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
    .THIS .erp_mark7 .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:250px;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
    .THIS .erp_mark7 .maquiScroller {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height:250px;
    }
}

.THIS input {
    line-height: normal;
    border: 1px solid #ddd !important;
}
.THIS .font-size1rem{
}
.THIS .outputTextOR{
    font-size: .87rem;
    font-weight: normal;
    color: #36c3d6;
}
.THIS .slds-truncate1{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}  
.THIS .fifty{
    width: 200px;
    line-height: 1.775rem;
    min-height: calc(1.725rem + 2px);
} 
.THIS .tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: auto;
    overflow-x: hidden;
    min-height: 50px;
    max-height: 200px;
}
.THIS .erp_mark7 .slds-truncate2 {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .epr_Mark7 .modal-footer {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.THIS .erp_mark7 .slds-truncate {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media (max-width: 768px){
    .THIS .ERP7OrderConsole .epr_Mark7 .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 7px !important;
    }
    .THIS .epr_Mark7 .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 7px !important;
    }
}
.THIS .margin-left-0{
    margin-left:0px !important;
}
.THIS .fieldswidth100{
    width:100% !important;
    text-align:left !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
.THIS .erp_mark7:not(html), .THIS .erp_mark7 body {
    font-size: 0.8125rem;
    background: white !important;
}
.THIS .slds-scope .slds-button{
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.875rem;
    text-decoration: none;
    color: #65d6e5  !important;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.05s linear, background-color 0.05s linear;
}
.THIS .erp_mark7 .slds-button {
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.875rem;
    text-decoration: none;
    color: #65d6e5  !important;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.05s linear, 
        background-color 0.05s linear;
}


.THIS .slds .slds-button--brand{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: white;
}

.THIS .slds .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
    background-color: #65d6e5;
    color: white;
}
.THIS .erp_mark7 .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5 ;
    color: white;
}
.THIS .erp_mark7 .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
    background-color: #65d6e5;
    color: white;
}
.THIS .slds .slds-button--brand:active {
    background-color: #65d6e5;
}
@media (max-width: 48em){
    .THIS .slds .slds-max-medium-table--stacked-horizontal td {
        text-align: left;
    }
}
.THIS .table-fixed thead {
    width: 97%;
}
.THIS .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.THIS .table-fixed thead, .THIS .table-fixed tbody, .THIS .table-fixed tr, .THIS .table-fixed td, .THIS .table-fixed th {
    display: block;
}
.THIS .table-fixed tbody td, .THIS .table-fixed thead > tr> th {
    float: left; 
    border-bottom-width: 0;
}
.THIS .header-fixed {
    width: 100% 
}

.THIS .header-fixed > thead,
.THIS .header-fixed > tbody,
.THIS .header-fixed > thead > tr,
.THIS .header-fixed > tbody > tr,
.THIS .header-fixed > thead > tr > th,
.THIS .header-fixed > tbody > tr > td {
    display: block;
}

.THIS .header-fixed > tbody > tr:after,
.THIS .header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.THIS .header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.THIS .header-fixed > tbody > tr > td,
.THIS .header-fixed > thead > tr > th {
    width: 10%;
    float: left;
}
.THIS .slds-button--neutralups{
    background: #351c15 !important;
}
.THIS .slds-button--neutraldhl{
    background: #ffcc01 !important;
}


.THIS .epr_Mark7 .nav-tabs > li > a {
    color: #60cdde;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    outline: 0;
}
.THIS .radioin{
    margin-left: 10px;
}
@media (min-width: 768px){
    .THIS .epr_Mark7 .modal-dialog .modal-md {
        margin:10% auto;
    }
}
@media (min-width: 768px){
    .THIS .epr_Mark7 .modal-dialog .modal-lg {
        margin:4% auto;
    }
}
.THIS.slds .slds-table .slds-truncate {
    min-width: 30px;
    max-width: 195px;
}
.THIS.ERP7OrderConsole .epr_Mark7 .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important;
}
.THIS.sldsave {
    font-size: 14px !important;
    font-weight: normal !important;
}
.THIS.buttonMargin {
    margin-top: 5px;
}
.THIS.erp_mark7 .slds-select[size] {
    height: 32px;
    font-size: 12px;
}
.THIS.slds .slds-table th {
    padding: 8px;
    
}
.THIS.slds .slds-table td {
    padding: 8px;
}
.THIS.slds .slds-textarea {
    resize: none !important;
    font-size: 12px !important;
}
.THIS.slds .slds-textareaa {
    height:60px;
}
.THIS.slds .slds-input {
    font-size: 12px !important;
    min-height: 30px !important;
    line-height: 30px !important;
}

.THIS.div .uiInputDate {
    height: 30px !important;
}
.THIS.slds .slds-select {
    height: 32px;
    padding: 0px 52px 0px 10px;
}
.THIS.slds .slds-box {
    padding: 10px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid #d8dde6;
}
.THIS.slds .slds-text-heading--label {
    font-size: 12px;
    line-height: 1.25;
    text-transform: none;
    letter-spacing: .0625em;
    color: #54698d;
}
.THIS.close {
    background-image: url(SCM/Images/close.png);
    box-shadow: 0px 0px #000000 !important;
    -webkit-box-shadow: 0px 0px #000000 !important;
    -moz-box-shadow: 0px 0px #000000 !important;
}
.THIS .epr_Mark7 .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: .9;
}
.THIS .close{
    
    box-shadow: 0px 0px #000000 !important;
    -webkit-box-shadow: 0px 0px #000000 !important;
    -moz-box-shadow: 0px 0px #000000 !important;
}
.THIS.slds .slds-card__header {
    padding: 9px 9px 0px;
}

.THIS .epr_Mark7 .nav-tabs > li.active > a {
    color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover{
    color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
    color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
    
}
.THIS .epr_Mark7 .nav-tabs {
    
}
.THIS .epr_Mark7 .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}
.THIS .epr_Mark7 .nav > li > a:focus{
    text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}

.THIS .epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff;
}
.THIS .epr_Mark7 .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
.THIS .epr_Mark7 .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-transform: uppercase;
}
.THIS .uiButton--default{
    box-shadow: none !important;
    text-shadow: none !important; 
    background: none;
    padding: 0px;
}


.THIS .slds .slds-select[size] {
    min-height: 27px !important;
    height: inherit !important;
}
.THIS body {
    background: #ffffff !important;
    margin-top: 0px !important;
}


.THIS .epr_Mark7 .dropdown-menu {
    min-width:135px !important;
}
.THIS .neutralC {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    border:0px solid #d8dde6 !important;
    background-color: white !important;
    width:20px;
    
}
.THIS .paddingrightaccounttab{
    padding-right:70px !important;
    padding-left:1rem;
}
.THIS .upsbg{
    background-color: #351c15 !important;
}
.THIS .loyaltybutton{
    width:172px;
    text-align: left !important;
    margin-left:0px !important;
    font-size: 13px !important;
}
.THIS slds a:focus { 
    outline: none; 
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
    
    outline: none;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a, .THIS .epr_Mark7 .nav-tabs > li.active > a:hover, .THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
    outline:0;
}

.THIS .slds-selectmaq{
    width:150px !important;
}

.THIS .SOpaddingright{
    padding-right: 48px !important;
}
.THIS .RMApaddingright{
    padding-right: 110px !important;
}



@media (min-width: 768px){
    .THIS .ERP7OrderConsole .SOpaddingright {
        padding-right: 14px !important;
    }
    
    
}
.THIS .POS-newClass1{
    text-align:center;
}
.THIS .POS-newClass2{
    padding-left: 0px;padding-right: 0px;
}
.THIS .POS-newClass3{
    color:#ff0000;
}
.THIS .POS-newClass4{
    padding-top:5px;
}
.THIS .POS-newClass5{
    display:none;
}
.THIS .POS-newClass6{
    padding-right: 0;
}
.THIS .POS-newClass7{
    padding-top:4px;
}
.THIS .POS-newClass8{
    padding-top:4px; padding-bottom: 0px;
}
.THIS .POS-newClass9{
    font-size: 11px;
}
.THIS .POS-newClass10{
    height:30px;
}
.THIS .POS-newClass11{
    padding-top: 12px;
}
.THIS .POS-newClass12{
    padding-left: 8px;
}
.THIS .POS-newClass13{
    cursor:pointer;width:35px;height:35px;
}
.THIS .POS-newClass14{
    margin-top: 1%;
}
.THIS .POS-newClass15{
    text-decoration:none;
}
.THIS .POS-newClass16{
    margin:0px;border-bottom: 1px solid #d8dde6;padding-top:10px;
}
.THIS .POS-newClass17{
    padding:0px;
}
.THIS .POS-newClass18{
    margin-bottom: 7px;
}
.THIS .POS-newClass19{
    font-size:16px;
}
.THIS .POS-newClass20{
    padding:10px;
}
.THIS .POS-newClass21{
    padding-left: 0.4rem;line-height:0px;height:100px;over-flow-wrap:normal;over-flow-y:auto;
}
.THIS .POS-newClass22{
    padding:1px 0px 1px 0px;
}
.THIS .POS-newClass23{
    color: #FF9800;
}
.THIS .POS-newClass23{
    color: #bb4a20;
}
.THIS .POS-newClass24{
    color: #3F51B5;
}
.THIS .POS-newClass25{
    color:#0070d2;cursor:pointer;
}
.THIS .POS-newClass26{
    height:260px; overflow:auto; float:left;
}
.THIS .POS-newClass26{
    font-weight:bold;
}
.THIS .POS-newClass27{
    padding:6px !important;padding-left:0px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .POS-newClass28{
    font-weight:normal;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .POS-newClass29{
    padding: 6px !important;padding-left:0px !important;
}
.THIS .POS-newClass30{
    font-size:12px;
}
.THIS .POS-newClass31{
    color:#0070d2;
}
.THIS .POS-newClass32{
    max-width: 110px;font-size:12px;color:#0070d2;cursor:pointer;
}

.THIS .POS-newClass33{
    font-size:12px; padding: 10px; margin: 4px 0px 4px 0px;
}
.THIS .POS-newClass34{
    border-right:1px solid #ddd;
}
.THIS .POS-newClass35{
    border-right:0px solid #ddd;
}
.THIS .POS-newClass36{
    width:100%;height:100px; overflow:auto; float:left;
}
.THIS .POS-newClass37{
    width:30px; height:33px;
}
.THIS .POS-newClass38{
    width:90px; height:27px;
}
.THIS .POS-newClass39{
    margin: 0px 0px 0px 10px;
}
.THIS .POS-newClass40{
    height:1px;background: lightgrey;padding-left: 0px;padding-right: 0px;
}
.THIS .POS-newClass41{
    height:300px;background:#ffffff;overflow: auto;-webkit-overflow-scrolling: touch;
}
.THIS .POS-newClass41{
    height:300px;background:#ffffff;overflow: auto;-webkit-overflow-scrolling: touch;
}
.THIS .POS-newClass42{
    border-bottom: 1px solid #ddd;
}
.THIS .POS-newClass43{
    text-align: center;
}
.THIS .POS-newClass44{
    max-width: 400px !important;
}
.THIS .POS-newClass45{
    text-align: center;width: 125px;
}
.THIS .POS-newClass46{
    font-size:11px;padding:2px !important;padding-left:10px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .POS-newClass47{
    font-size:11px;padding:2px !important;padding-left:30px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .POS-newClass48{
    font-weight:normal;
}
.THIS .POS-newClass49{
    padding: 2px !important;padding-left:10px !important;
}
.THIS .POS-newClass50{
    font-size:13px;
}
.THIS .POS-newClass51{
    color: #3F51B5;width: 17px;
}
.THIS .POS-newClass52{
    padding: 2px !important;padding-left:30px !important;
}
.THIS .POS-newClass53{
    max-width: 110px;font-size:13px;color:#0070d2;cursor:pointer;
}
.THIS .POS-newClass54{
    padding: 2px !important;padding-left:20px !important;
}
.THIS .POS-newClass55{
    max-width: 130px;font-size:13px;
}
.THIS .POS-newClass56{
    max-width: 110px;font-size:13px;
}
.THIS .POS-newClass57{
    width:100%;height:130px;overflow:auto; float:left;margin-top:10px;
}
.THIS .POS-newClass58{
    text-align:right;
}
.THIS .POS-newClass59{
    font-size:11px; padding:2px !important;padding-left:15px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
}
.THIS .POS-newClass60{
    font-size: 13px;padding: 2px !important;padding-left: 15px !important;
}
.THIS .POS-newClass61{
    font-size:13px;color:#0070d2;cursor:pointer;
}
.THIS .POS-newClass62{
    cursor:pointer; width:20px; height:20px;
}
.THIS .POS-newClass63{
    color:#65d6e5; background: #fff;padding: 4px 12px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .POS-newClass64{
    cursor:pointer;width:20px;height:20px;
}
.THIS .POS-newClass65{
    padding:0px;padding-left: 2px;
}
.THIS .POS-newClass66{
    color:#005fb2; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .POS-newClass67{
    max-width: 400px !important;
}
.THIS .POS-newClass68{
    padding-left:10px;
}
.THIS .POS-newClass69{
    cursor:pointer; width:40px; height:40px;
}
.THIS .POS-newClass70{
    float:right;
}

.THIS .POS-newClass72{
    border-top: 1px solid #ddd;
}
.THIS .POS-newClass73{
    height: 50px;
}
.THIS .POS-newClass74{
    margin-right: 0px;margin-left: 0px;
}
.THIS .POS-newClass75{
    cursor:pointer;margin-left:10px;width:35px;height:35px;
}
.THIS .POS-newClass76{
    width:95%;
}
.THIS .POS-newClass77{
    background-color: #36c3d6;text-align:center;
}
.THIS .POS-newClass78{
    color:#ffffff;
}
.THIS .POS-newClass79{
    height: 420px !important;
}
.THIS .POS-newClass80{
    font-size: 20px;
}
.THIS .POS-newClass81{
    display:block;
}
.THIS .POS-newClass82{
    height: 20px;margin-left: 20px;
}
.THIS .POS-newClass83{
    margin-top: 20px;
}
.THIS .POS-newClass84{
    margin:0px;
}
.THIS .POS-newClass85{
    padding: 2px;
}
.THIS .POS-newClass87{
    height:320px;width:100%;
}
.THIS .POS-newClass88{
    text-align: center;padding-left:10px;
}
.THIS .POS-newClass89{
    padding-right:0px !important;
}
.THIS .POS-newClass90{
    padding-right:0px !important;
}
.THIS .POS-newClass91{
    padding-left: 5px;margin-top:10px;
}
.THIS .POS-newClass92{
    font-size: 16px;float: right;margin: 7px 2px 0px 0px;
}
.THIS .POS-newClass93{
    height:auto;
}
.THIS .POS-newClass94{
    border: 0px !important;
}
.THIS .POS-newClass95{
    border: 0px !important;white-space:normal;
}
.THIS .POS-newClass96{
    font-size:12px;
}
.THIS .POS-newClass97{
    width: 60%;height: 20px;float: left;margin-bottom: 3px;
}
.THIS .POS-newClass98{
    width: 30%;height: 20px;float: left;margin-left: 10px;margin-bottom: 3px;
}
.THIS .POS-newClass99{
    color:#33DAE7 !important;
}
.THIS .POS-newClass100{
    height:275px;width:100%;
}
.THIS .POS-newClass101{
    height:200px;width:100%;overflow: scroll;overflow-x:hidden;padding-right: 2px;padding-left: 2px;
}
.THIS .POS-newClass103{
    margin: 200px auto;
}
.THIS .POS-newClass104{
    background-color: #36c3d6;
}
.THIS .POS-newClass105{
    margin-right: 0px; margin-left: 0px;
}
.THIS .POS-newClass106{
    text-align:center;font-size: 14px;
}
.THIS .POS-newClass107{
    background: #54B768;color: #ffffff;text-align: center;border-radius: 20px;height: 25px;line-height: 25px;
}
.THIS .POS-newClass108{
    margin-top: 5px;margin-bottom: 10px; padding: 8px 0px 0px 0px;
}
.THIS .POS-newClass109{
    margin-top:0px;
}
.THIS .POS-newClass110{
    text-align:center;font-weight:bold;
}
.THIS .POS-newClass111{
    margin-top: 0px;
}
.THIS .POS-newClass112{
    height:290px;
}
.THIS .POS-newClass113{
    font-size:11px;color:red;
}
.THIS .POS-newClass113{
    font-size:11px;color:red;
}
.THIS .POS-newClass114{
    height:250px;overflow:auto;
}
.THIS .POS-newClass115{
    color:red;
}
.THIS .POS-newClass116{
    margin-left: 20px;
}
.THIS .POS-newClass117{
    margin-left:20px;
}
.THIS .POS-newClass118{
    height:150px;
}
.THIS .POS-newClass119{
    height:230px;
}
.THIS .POS-newClass120{
    color:#FF0000; margin-right:10px; font-weight:normal; font-size:11px;line-height:11px;
}
.THIS .POS-newClass121{
    height:260px;
}
.THIS .POS-newClass122{
    margin:6% auto;
}
.THIS .POS-newClass123{
    height:375px;
}
.THIS .POS-newClass124{
    color: green; font-weight: bold; font-size: 13px; margin-top:30px;padding-left: 15px;
}
.THIS .POS-newClass125{
    height:122px; overflow:auto; float:left;
}
.THIS .POS-newClass126{
    padding:6px !important;padding-left:10px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
    
}
.THIS .POS-newClass127{
    padding:6px !important;padding-left:5px !important;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;
    
}
.THIS .POS-newClass128{
    min-height: 100px;max-height: 360px;width: 100%;overflow-x: hidden;overflow-y: scroll;
    
}
.THIS .POS-newClass129{
    margin-left: 10px;
    
}
.THIS .POS-newClass130{
    height:200px;width:100%;overflow:scroll;overflow-x:hidden;padding-right: 2px;padding-left: 2px;
    
}
.THIS .POS-newClass131{
    height: 265px;margin-top:10px;background: #ffffff;
    
}
.THIS .POS-newClass132{
    height: 20px;float: left;margin-left: 10px;margin-top: 5px;width: 75%;
    
}
.THIS .POS-newClass133{
    height:300px;
}
.THIS .POS-newClass134{
    padding: 6px !important;padding-left:10px !important;
    
}
.THIS .POS-newClass135{
    font-size:14px;padding-left:10px;
}
.THIS .POS-newClass136{
    padding: 6px !important;padding-left:5px !important;
}
.THIS .POS-newClass137{
    max-width: 110px;font-size:12px;
    
}
.THIS .POS-newClass138{
    max-width: 130px;font-size:12px;
    
}
.THIS .POS-newClass139{
    padding-right: 0px;padding-left: 4px;margin-left: 5px;    
}
.THIS .POS-newClass140{
    max-width: 190px;font-size:12px;  
}
.THIS .POS-newClass141{
    height:200px; 
}
.THIS .POS-newClass142{
    max-width: 100%;font-size:12px;
}
.THIS .POS-newClass143{
    height:132px;
}
.THIS .POS-newClass144{margin: 200px auto;
    width:90%;
}
.THIS .POS-newClass145{
    min-height: 300px;max-height: 500px;overflow: scroll;
}
.THIS .POS-newClass146{
    border: 1px solid #ddd;
}
.THIS .POS-newClass147{
    height: 640px;
}
.THIS .POS-newClass148{
    color:#16325c;font-size:16px;
}