.THIS .slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
}
.THIS .slds-truncate2 {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}