.THIS .width120 input
 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center !important;
}
.THIS .width120{
    width : 120px;
    text-align:center;
}
.THIS .dropdown {
    height: 2.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0rem;
}
.THIS .display-label label{
    display:none !important;
}
.THIS .cpq label {
    font-weight: 700;
}
.THIS .dropdown li {
    visibility: hidden;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left:1px solid #ddd;
    box-shadow:none;
   /* box-shadow: 0px 0px 20px -3px #1bd6bc;*/
    transition: 80ms;
}
.THIS .dropdown li a {
    display: block;
   
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0rem .5rem;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size 200ms, background-color 200ms;
}
.THIS .dropdown li a:active {
    font-size: 0.8em;
    width: 12rem;
    background-color: rgb(27, 214, 188, 0.1);
}
.THIS .dropdown li:first-of-type {
    visibility: hidden;
     
    border-top: 0px solid #ddd;
    border-radius: 0.3rem;
    transition: background-color 200ms;
}
.THIS .dropdown li:last-of-type {
    border-bottom: 0px solid #ddd;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.THIS .dropdown:hover li {
    visibility: visible;
    
    
}
.THIS .dropdown:hover li:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    z-index: 15;
    
}
.THIS .dropdown li:hover {
    background-color: white !important;
    z-index: 15;
    font-weight: 600;
}
.THIS .dropdown li:hover a {
    color: #1bd6bc;
}

.THIS .maqdropdown {
    position: relative;
    display: inline-block;
}

.THIS .maqdropdown-content {
    padding: 6px 6px !important;
}

.THIS .maqdropdown:hover .maqdropdown-content {
    display: block;
}
.THIS .dropdown-menu > li > a {
    display: block;
    padding: 3px 14px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.THIS .tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: auto;
    overflow-x: hidden;
    min-height: 50px;
    max-height: 200px;
}

.THIS .dropdown-menu {
    min-width:135px !important;
}

.THIS .caret {
    display: inline-block;
    width: 9px;
    height: 4px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #5ad9ea;
}
.THIS .card-experience .media {
    align-items: center;
    display: flex;
}
.THIS .card-experience .position-name {
    color: #343a40;
    font-size: 15px;
    margin-bottom: 5px;
}
.THIS .card-experience .card-body {
    padding: 25px;
}
 @media (min-width: 576px){
.THIS .card-experience .media-body {
    margin-left: 25px;
    margin-top: 0;
}
}
.THIS .card-experience .position-year {
    margin-bottom: 0;
    font-size: 12px;
}
.THIS .card-experience .position-company {
    margin-bottom: 5px;
    color: #495057;
}
.THIS .bg-gp{
    background: #f0f2f7;
}
.THIS .theme-bg{
    background:#FAFBFE !important;
}
.THIS .slim-card-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #343a40;
    letter-spacing: 1px;
}
.THIS .card-experience .experience-logo {
    display: flex;
    width: 80px;
    height: 80px;
    /*background-color: #6c757d;*/
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 48px;
}
.THIS .cpq .card-pricing .card-pricing-icon {
    font-size: 22px;
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    height: 60px;
    display: inline-block;
    width: 60px;
    line-height: 56px;
    border-radius: 50%;
    text-align: center;
}
.THIS .erp_mark7 .slds-table th, 
.THIS .erp_mark7 .slds-table td {
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    position: relative;
    height: 37px;
}
.THIS .forceStyle.desktop .oneContent.active {
    display: block;
    background: #fff;
}
.THIS .fieldmaq {
    width: 82%!important;
    padding: 0px 1px 0px 10px !important;
    height: 30px!important;
    border: 1px solid #ddd;
    border-radius: 3px!important;
    background: #fff;
    text-align: left !important;
}
.THIS .field{
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 3px;
    height:32px;
    background:#ffffff;
}
.THIS .field2{
    padding: 5px 45px 8px 45px;
    border: 1px solid #ddd;
    border-radius: 3px;
    height:32px;
    background:#ffffff;
}
/* The Loader css Starts here */
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


/* The Loader css ends here */

.THIS .maqdropdown {
    position: relative;
    display: inline-block;
}

.THIS .hoverdiv{
    overflow:hidden;
}
.THIS .hoverdiv:hover{
    overflow-x:scroll;
    
}


.THIS .maqdropdown:hover .THIS .maqdropdown-content {
    display: block;
}
.THIS .erp_mark7 .errmsgclass{
    padding: 0px !important;
    margin: 0px !important;
    border-width: 0px !important;
    border-style: solid !important;
    border-radius: 0px !important;
}
/*.THIS .slds-button {
    color: #31d0e5;
}*/

/*.THIS .slds .slds-button--brand{
    padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #31d0e5;
        border: 1px solid #31d0e5;
        color: white;
}

.THIS .slds .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
        background-color: #65d6e5;
        color: white;
    }
.THIS .erp_mark7 .slds-button--brand {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #31d0e5;
        border: 1px solid #31d0e5 ;
       color: white;
    }
.THIS .erp_mark7 .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
        background-color: #65d6e5;
        color: white;
    }
.THIS .slds .slds-button--brand:active {
    background-color: #65d6e5;
}*/
.THIS .epr_Mark7 .col-xs-1, .THIS .epr_Mark7 .col-sm-1, .THIS .epr_Mark7 .col-md-1, .THIS .epr_Mark7 .col-lg-1, .THIS .epr_Mark7 .col-xs-2, .THIS .epr_Mark7 .col-sm-2, .THIS .epr_Mark7 .col-md-2, .THIS .epr_Mark7 .col-lg-2, .THIS .epr_Mark7 .col-xs-3, .THIS .epr_Mark7 .col-sm-3, .THIS .epr_Mark7 .col-md-3, .THIS .epr_Mark7 .col-lg-3, .THIS .epr_Mark7 .col-xs-4, .THIS .epr_Mark7 .col-sm-4, .THIS .epr_Mark7 .col-md-4, .THIS .epr_Mark7 .col-lg-4, .THIS .epr_Mark7 .col-xs-5, .THIS .epr_Mark7 .col-sm-5, .THIS .epr_Mark7 .col-md-5, .THIS .epr_Mark7 .col-lg-5, .THIS .epr_Mark7 .col-xs-6, .THIS .epr_Mark7 .col-sm-6, .THIS .epr_Mark7 .col-md-6, .THIS .epr_Mark7 .col-lg-6, .THIS .epr_Mark7 .col-xs-7, .THIS .epr_Mark7 .col-sm-7, .THIS .epr_Mark7 .col-md-7, .THIS .epr_Mark7 .col-lg-7, .THIS .epr_Mark7 .col-xs-8, .THIS .epr_Mark7 .col-sm-8, .THIS .epr_Mark7 .col-md-8, .THIS .epr_Mark7 .col-lg-8, .THIS .epr_Mark7 .col-xs-9, .THIS .epr_Mark7 .col-sm-9, .THIS .epr_Mark7 .col-md-9, .THIS .epr_Mark7 .col-lg-9, .THIS .epr_Mark7 .col-xs-10, .THIS .epr_Mark7 .col-sm-10, .THIS .epr_Mark7 .col-md-10, .THIS .epr_Mark7 .col-lg-10, .THIS .epr_Mark7 .col-xs-11, .THIS .epr_Mark7 .col-sm-11, .THIS .epr_Mark7 .col-md-11, .THIS .epr_Mark7 .col-lg-11, .THIS .epr_Mark7 .col-xs-12, .THIS .epr_Mark7 .col-sm-12, .THIS .epr_Mark7 .col-md-12, .THIS .epr_Mark7 .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.THIS .erp_mark7 .slds-select:focus, .THIS .erp_mark7 .slds-select:active {
    outline: 0;
    border-color: #fff;
    background-color: white;
    box-shadow: 0 0 0px #0070D2;
}
.THIS .maqdropdown {
    position: relative;
    display: inline-block;
}

.THIS .maqdropdown:hover .maqdropdown-content {
    display: block;
}
.THIS .input {
    border: 1px solid #ddd;
    border-radius: 5px;
  min-height:calc(1.96rem + 2px);
    width: 100%;
}
.THIS .epr_Mark7 .row {
    margin-right: 0px;
    margin-left: 0px;
}
.THIS .dateFormat {
    padding: 0 2px;
    display: none;
}
.THIS .epr_Mark7 .nav>li>a:hover,
.THIS .epr_Mark7 .nav>li>a:focus {
    background-color: transparent !important;
}
.THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a,
.THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a:hover,
.THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #ffffff;
}
.THIS .epr_Mark7 .active {
    background: none;
}
/*.THIS .input {
    padding-top: 0;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 2px;
    width:50px;
    height:25px;
    text-align: center;
}*/
.THIS .MPS_AT-newClass1 {
  background:#fff; 
}
.THIS .MPS_AT-newClass2 {
  text-align:center; 
}
.THIS .MPS_AT-newClass3 {
  cursor:pointer;width:35px;height:35px;
}
.THIS .MPS_AT-newClass4 {
  padding-top: 2px;
}
.THIS .MPS_AT-newClass5 {
  padding-top: 0.35rem;
}
.THIS .MPS_AT-newClass6 {
  padding-top: 0.35rem;width: 170px;
}
.THIS .MPS_AT-newClass7 {
  color:#0070d2;cursor:pointer;font-size:18px;line-height:40px;
}
.THIS .MPS_AT-newClass8 {
  cursor:pointer; width:60px; height:60px;
}
.THIS .MPS_AT-newClass9 {
  padding-left: 0px;margin-top: 15px;font-size: 15px;
}
.THIS .MPS_AT-newClass10 {
  padding-left: 0px;margin-top: 15px;font-size: 15px;
}
.THIS .MPS_AT-newClass11 {
  text-align: center;
}
.THIS .MPS_AT-newClass12 {
  text-align: center;height:50px;
}
.THIS .MPS_AT-newClass13 {
  margin-right: 0px;    margin-left: 0px;
}
.THIS .MPS_AT-newClass14 {
  cursor:pointer;margin-left:10px;width:35px;height:35px;
}
.THIS .MPS_AT-newClass15 {
 background: #607d8b;
    border: 1px solid #607d8b;
    color:#fff;
}
.THIS .MPS_AT-newClass16 {
  /*float:right;*/border: 1px solid #ddd;background: #ffffff;border-radius: 3px;padding: 5px 15px;height:30px;
}
.THIS .MPS_AT-newClass17 {
  border-bottom: 1px solid #dddddd;
}
.THIS .MPS_AT-newClass18 {
 text-align: center;font-weight:bold;
}
.THIS .MPS_AT-newClass19 {
 color:red;
}
.THIS .MPS_AT-newClass20 {
 color:red;cursor:pointer;
}
.THIS .MPS_AT-newClass21 {
 text-align:left;
}
.THIS .MPS_AT-newClass22 {
 color:green;
}
.THIS .MPS_AT-newClass23 {
 margin-bottom:50px;
}
.THIS .MPS_AT-newClass24 {
 text-align: center; height:50px;
}