.THIS .chevronright-confirmed1{
    color:#4BCA81;
    font-size: 3rem;
}

.THIS .PL1-newClass1{
   display:flex;
}
.THIS .PL1-newClass2{
   color: #2196F3;
}

.THIS .PL1-newClass3{
   color: #2196F3;
}

.THIS .PL1-newClass4{
   width: 100%;  text-align: center;
}

.THIS .PL1-newClass5{
   text-align: left;color: #fff; background-color: #c23934;padding: .7rem .7rem;
}