.THIS .managebill-class1{
    background:#ffffff;
}

.THIS .managebill-class2{
    color:red;font-size:12px;
}

.THIS .managebill-class3{
    color:#FF5722; background: #fff;border: 0px solid #ddd;border-radius: 4px;text-decoration: none;font-size:14px; font-weight:normal;padding-right: 5px;
}

.THIS .createbill-class5{
    color:red;
}

.THIS .mbr-class40{
    padding-top:5px;text-align:right;padding-left:30px;
}