.THIS .epr_Mark7 a {
  color: #7cdbff;
  text-decoration: none;
}
.THIS .epr_Mark7 a:hover,
.THIS .epr_Mark7 a:focus {
  color: #23527c;
  text-decoration: underline;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .epr_Mark7 .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a {
    color: #337ab7;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover{
     color: #337ab7;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
     color: #337ab7;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
    
}

.THIS .epr_Mark7 .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}
.THIS .epr_Mark7 .nav > li > a:focus{
text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}

.THIS .epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff;
}
.THIS .epr_Mark7 .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 25px;
}
.THIS .epr_Mark7 .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-transform: uppercase;
}
@media (min-width: 992px){
.THIS .epr_Mark7 .col-md-1 {
    width: 10%;
}
}
.THIS .align-center{
        text-align:center;
    }
.THIS .productconfiq {
    background-color: rgb(84, 105, 141);
    border-color: #ddd;
    color: #ffffff;
    font-size:15px;
    height:30px;
    line-height:24px;
}
.THIS .Name{
    color: #005fb2;
}
.THIS.toggle {
    display: none;
}
.THIS.slds h4{
     font-size: 1em;
    padding: 10px;
    text-transform: uppercase;   
}
.THIS .ui-body-a{
     background: #0075df;
    border-color: #ddd;
    color: #fff;
    padding: 5px;
    font-size: 14px;  
}
.THIS.ui-header .ui-title, .THIS.ui-footer .THIS.ui-title {
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0 30%;
    padding: .1em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}
.THIS .uiButton--default2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #0070d2 !important;
    border: 1px solid #0070d2 !important;
    color: white !important;
        text-shadow: none !important;
    
}
.THIS .uiButton--default{text-shadow: none !important;}
.THIS .uiButton--default .label{
        color: #fff !important;
    
}
.THIS .not-active {
   pointer-events: none;
   cursor: default;
}

.THIS a.svg {
 position: relative;
 display: inline-block; 
}
.THIS .Name{
    color: #005fb2;
}
.THIS .h3{
    
    font-family: "Salesforce Sans";
}
.THIS .ui-widget {
     font-family: "Salesforce Sans",Arial,sans-serif;
}
.THIS div.Message {
    color: #FFFFFF;
    font-weight : bold;
    background-color: #005FB2;
    width : 95% ;
    padding : 12px;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
    cursor: pointer;
}

.THIS div.container {
    margin: 0px 20px 0px 40px;
}

.THIS div.expandCollapse{
    cursor : pointer;
    width:10%;
    float:right ;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}



.THIS .ProductConfiguration-newClass1{
    cursor:pointer; width:40px; height:40px;
}
.THIS .ProductConfiguration-newClass2{
    min-height:320px;
}

.THIS .ProductConfiguration-newClass4{
    text-align:center;
}
.THIS .ProductConfiguration-newClass5{
    position: relative;margin-top: 5px;
}
.THIS .ProductConfiguration-newClass6{
    margin-top: 0px;margin-bottom: 0px;font-size: 14px;
}
.THIS .ProductConfiguration-newClass7{
    color:#005fb2; background: #fff;padding: 4px 12px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;
}
.THIS .ProductConfiguration-newClass8{
    color:#005fb2;font-size:10px;
}
.THIS .ProductConfiguration-newClass9{
    padding:4px;
}
.THIS .ProductConfiguration-newClass10{
    text-align:center;line-height: 29px;
}