.THIS .color {
    color:green;
}
.THIS .ProductCart-newClass1 {
    font-size:14px;
}
.THIS .ProductCart-newClass2 {
    width:100%;height:130px;overflow:auto; float:left;margin-top:10px;
}
.THIS .ProductCart-newClass3 {
    margin:0px;
}
.THIS .ProductCart-newClass5 {
    font-size: 16px;text-align: right;line-height: 2;
}
.THIS .ProductCart-newClass6 {
    padding:10px;
}
.THIS .ProductCart-newClass7 {
    text-align:center;
}
.THIS .ProductCart-newClass8 {
    font-size:12px;margin-bottom: 0px;margin-top:10px;
}
.THIS .ProductCart-newClass9 {
    font-size:12px; color:grey;
}

.THIS .ProductCart-newClass10 {
    color:#3CF;
}