.THIS .wh-180-40{
    width:180;  height:40px; float:right;
}
.THIS .fright{
    float:right;
}
.THIS.slds h4{
     font-size: 1em;
    padding: 10px;
    text-transform: uppercase;   
}
.THIS .ui-body-a{
     background: #0075df;
    border-color: #ddd;
    color: #fff;
    padding: 5px;
    font-size: 14px;  
}
.THIS .toggle {
    display: none;
}
.THIS .blueColor{
    color: blue;
}

.THIS .slds-scope .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
    
}
.THIS .slds-scope .slds-button--neutral:hover, 
.THIS .erp_mark7 .slds-button--neutral:focus {
    background-color: #f4f6f9; 
}

.THIS .slds-scope .slds-button--neutral:active {
    background-color: #eef1f6; 
}

.THIS .slds-scope .slds-button--neutral[disabled] {
    background-color: white;
    cursor: default; }
.THIS .uiButton--default{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
}
.THIS .slds-scope .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: white !important; 
}

.THIS .slds-scope .slds-button--brand:link, 
.THIS .erp_mark7 .slds-button--brand:visited, 
.THIS .erp_mark7 .slds-button--brand:active {
    color: white; }
.THIS .slds-scope .slds-button--brand:hover, 
.THIS .erp_mark7 .slds-button--brand:focus {
    background-color: #65d6e5;
    color: white; }
.THIS .slds-scope .slds-button--brand:active {
    background-color: #31d0e5; }
.THIS .slds-scope .slds-modal__header {
    background:#36c3d6;
    color:#fff;
}