.THIS .erp_mark7 .slds-truncate2 {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}
.THIS .manageLeave-newClass17{
 	font-weight:bold; font-size: 13px;
}      
.THIS .manageLeave-newClass18{
 	font-weight:bold; font-size: 15px;
} 
.THIS .multipurchaseorder-class1{
    padding:.5rem !important;
}