.THIS .no-label  .slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.THIS .no-label .slds-form-element__label{
    display:none !important;
}
.THIS .slds-input-timesheet {
    width: 90%;
}

.THIS .neutralC{
    border:0 !important;
    padding:0 !important;
}

.THIS .slds-input-align {
    background-color: white;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    width: 96%;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    line-height: 2.125rem;
    min-height: calc(2.125rem + 2px);
}
.THIS.toggle {
    display: none;
}
.THIS .slds-icon-action-delete {
    background-color: #54698d;
}
.THIS .uiButton--default2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #0070d2 !important;
    border: 1px solid #0070d2 !important;
    color: white !important;
        text-shadow: none !important;
    
}
.THIS .uiButton--default{text-shadow: none !important;}
.THIS .uiButton--default .label{
        color: #fff !important;
}
.THIS .slds-align{
    float: right;
}


.THIS .slds textarea {
    overflow: auto;
    width: 100%;
    border: 1px solid #ddd;
}

.THIS .uiButton--default {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7), 0 0px 0 rgba(0, 0, 0, 0.3);
}

.THIS .slds .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
    
}

.THIS .slds .slds-button--neutral:hover, 
.THIS .erp_mark7 .slds-button--neutral:focus {
    background-color: #f4f6f9; }

.THIS .slds .slds-button--neutral:active {
    background-color: #eef1f6; }

.THIS .slds .slds-button--neutral[disabled] {
    background-color: white;
    cursor: default; }

.THIS .uiButton--default{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
}

.THIS .slds .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: white !important; }

.THIS .slds .slds-button--brand:link, 
.THIS .erp_mark7 .slds-button--brand:visited, 
.THIS .erp_mark7 .slds-button--brand:active {
    color: white; 
}

.THIS .slds .slds-button--brand:hover, 
.THIS .erp_mark7 .slds-button--brand:focus {
    background-color: #65d6e5;
    color: white; 
}

.THIS .slds .slds-button--brand:active {
    background-color: #31d0e5; 
}

.THIS .slds .slds-modal__header {
    background:#36c3d6;
    color:#fff;
}

.THIS .AddTimeCardEntry-newClass1 {
   width:100%;background:#fff; border:0px solid #f7f7f7;
}

.THIS .AddTimeCardEntry-newClass2 {
   margin-bottom:0px; outline: none;
}
.THIS .AddTimeCardEntry-newClass3 {
   color:#03A9F4; background: #fff;padding: 4px 7px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;text-transform: none !important
}
.THIS .AddTimeCardEntry-newClass4 {
   font-weight:bold;
}

.THIS .AddTimeCardEntry-newClass5 {
   font-size:10px;text-transform: none !important;color:#03A9F4;
}
.THIS .AddTimeCardEntry-newClass6 {
   cursor:pointer; width:20px; height:20px;
}
.THIS .AddTimeCardEntry-newClass7 {
   vertical-align: middle;
}
.THIS .AddTimeCardEntry-newClass8 {
   margin-bottom:10px; outline: none;
}
.THIS .AddTimeCardEntry-newClass9 {
   font-size: 18px;padding-left:4px;vertical-align: middle;color: #2196F3;
}
.THIS .AddTimeCardEntry-newClass10 {
   background: rgb(9 5 5 / 54%);
}
.THIS .AddTimeCardEntry-newClass11 {
   text-align:center;
}

@media (min-width: 48em){
    .THIS .slds .slds-modal__container {
        margin: 0 auto;
        width: 36%;
        max-width: 40rem;
        min-width: 20rem;
    }
}