.THIS .table td, 
.THIS .table th {
    padding: 0.45rem !important;
   
}
.THIS .width150{
    width:150px; 
}
.THIS .width250{
    width:200px;
}
.THIS  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.THIS .erp_Mark7 label
{
    margin-bottom: 0.125rem;
}

.THIS .profile-pic {
	position: relative;
	display: inline-block;
}
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


.THIS .hasError{
	border-color: rgb(194, 57, 52) !important;
	box-shadow: rgb(194, 57, 52) 0 0 0 1px inset !important; 
}
.THIS .AddExpense-newClass1{
	background:#fafbfe;min-height:100%;
}
.THIS .AddExpense-newClass2{
	cursor:pointer;width:35px;height:35px;
}
.THIS .AddExpense-newClass3{
	top: 15%;display:block !important;
}
.THIS .AddExpense-newClass4{
	top: 15%;display:none !important;
}
.THIS .AddExpense-newClass5{
	min-width: 20rem;padding: 5px;
}
.THIS .AddExpense-newClass6{
	margin-bottom:0px;font-size: 13px;margin-right:30px;
}
.THIS .AddExpense-newClass7{
	top:.25rem;
}
.THIS .AddExpense-newClass8{
	border:1px solid #f7f7f7;
}
.THIS .AddExpense-newClass9{
	align-items: center; padding-left: 10px;
}
.THIS .AddExpense-newClass10{
	background: antiquewhite;
}
.THIS .AddExpense-newClass11{
	height: 100%;
}
.THIS .AddExpense-newClass12{
	align-items: center;
}
.THIS .slds-day {
  width: 15px;
  height: 15px;
}
.THIS .slds-datepicker {
  z-index:9999;
}
.THIS .slds-datepicker__month {
  font-size: 12px !important;
}
.THIS .AddExpense-newClass13{
	padding-left: 20px;font-size: 16px;max-width:200px;padding-top: 20px;
}
.THIS .AddExpense-newClass14{
	color:#ff0000;
}
.THIS .AddExpense-newClass15{
	border:0px solid #f7f7f7;min-height: 500px;
}
.THIS .AddExpense-newClass16{
	padding: .5rem .7rem !important;
}
.THIS .AddExpense-newClass17{
	margin-bottom:0px; outline: none;min-height:500px;
}
.THIS .AddExpense-newClass18{
	font-weight:bold;padding: 8px !important;
}
.THIS .AddExpense-newClass19{
	color:#65d6e5; background: #fff;padding: 4px 7px ;border: 1px solid #ddd;border-radius: 4px;text-decoration: none;font-size:12px; font-weight:normal;text-transform: none !important
}
.THIS .AddExpense-newClass20{
	font-size:10px;text-transform: none !important;color:#65d6e5;
}
.THIS .bg-fb{
    background:#fafbfe;
}
.THIS .shadow-mrr{
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}
.THIS .table:not(.table-bordered) td {
    vertical-align: top !important;
    line-height: 1;
    white-space: nowrap;
}