.THIS .custom-zindex {
    z-index: 3; /* Adjust the value as needed */
}

.THIS .max-widthml{
    max-width: 161px;
}
.THIS .uiMenuList--default.uiMenuList {
 
    left: 0%;
    transform: translateX(-65%);
        }
.THIS .mt-6p{
    margin-top:6%;
}
.THIS .erp-lm .page-header::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    background: none;
    position: relative;
    top: 0;
    left: 0;
}
.THIS .erp hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.THIS .erp-lm .card {
    margin-bottom: 28px;
    border-radius: 6px;
}
@media (min-width: 1200px){
.THIS .erp .col-xl-2 {
    flex: 0 0 19.66667%;
    max-width: 19.66667%;
}
}
.THIS .erp_mark7 .slds-notify-container, 
.THIS .erp_mark7 .slds-notify_container {
    
    z-index: 100 !important;
    text-align: center;
}
.THIS .erp_Mark7 .nav-link {
    display: block;
    padding: 0.2rem .2rem;
}
.THIS .fill-custom{
        fill: #03A9F4;
}
.THIS.toggle {
    display: none;
}
.THIS.slds h4{
     font-size: 1em;
    padding: 10px;
    text-transform: uppercase;   
}
.THIS .ui-body-a{
     background: #0075df;
    border-color: #ddd;
    color: #fff;
    padding: 5px;
    font-size: 14px;  
}
.THIS.ui-header .ui-title, .THIS.ui-footer .THIS.ui-title {
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0 30%;
    padding: .1em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}
.THIS .uiButton--default2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #0070d2 !important;
    border: 1px solid #0070d2 !important;
    color: white !important;
        text-shadow: none !important;
    
}
.THIS .uiButton--default{text-shadow: none !important;}
.THIS .uiButton--default .label{
        color: #fff !important;
    
}
.THIS .EditLeaves {
   
    color: #ffffff;
    background: #04844b;
    padding: 4px;
    border-radius: 4px;
  
}
.THIS .DeleteLeaves {
   
    color: #fff;
    background: #c23934;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
}
.THIS .not-active {
   pointer-events: none;
   cursor: default;
   
}

.THIS a.svg {
 position: relative;
 display: inline-block; 
}
.THIS .Name{
    color: #005fb2;
}


/*Custom Accordion*/
.THIS div.Message {
    color: #FFFFFF;
    font-weight : bold;
    background-color: #005FB2;
    width : 100% !important;
    padding : 6px !important;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
}

.THIS div.container {
    margin: 0px 20px 0px 40px;
}

.THIS div.expandCollapse{
    cursor : pointer;
    width:10%;
    float:right ;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS div.Message {
    color: #FFFFFF;
    font-weight : bold;
    background-color: #0070d2;
    width : 95% ;
    padding : 25px;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
}

.THIS div.container {
    margin: 0px 20px 0px 40px;
}

.THIS div.expandCollapse{
    cursor : pointer;
    width:10%;
    float:right ;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS .acitve-list {
    background: #33b5e5;
    padding: 3px 6px 1.5px 6px;
    border-radius: 7px;
    color: #fff !important;
}
.THIS .acitve-list2 {
    background: #33b5e5;
    padding: 5px 7px 3.5px 6px;
    border-radius: 30px;
    color: #fff !important;
}
.THIS .acitve-list3 {
    background: #ababab;
    padding: 5px 7px 3.5px 6px;
    border-radius: 30px;
    color: #fff !important;
}

.THIS .nav>li>a:hover,
.THIS .nav>li>a:focus {        
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important;
}

.THIS .nav-tabs > li.active > a, 
.THIS .nav-tabs > li.active > a:hover,
.THIS .nav-tabs > li.active > a:focus {
    color: #7cdbff;
    cursor: default!important;
    background-color: #fff!important;
    border-color:#fff #fff #fff;
    border:0;
    
    border-bottom: 3px solid #2196f3!important;
}        
.THIS .nav-tabs > li > a:hover {
    border-color:0;    
}
.THIS .nav > li > a:hover, 
.THIS .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
.THIS .erp_Mark7 .nav-tabs .nav-link:focus, 
.THIS .erp_Mark7 .nav-tabs .nav-link:hover {
    border-color: #f7f7f7;
}


.THIS .background-new{
    background: #289cf5!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-inprogress{
    background: #fda23f !important;
     box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-cancelled{
    background: #a4a4a4 !important;
      box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-success {
   
    background: #00a9bd !important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-error {
  
    background: #e74c3c!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
     color:#fff;
}
.THIS .slds-truncate2{
     max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.THIS fcolor1{
    text-decoration: none !important;
    color: #8a8282 !important;
}

.THIS fcolor1 :hover{
    color: #000 !important;
}
.THIS .disabledIcon1{
    background: #ababab !important;
    color: #fff !important;
    cursor: not-allowed;
}
.THIS .addNewBTN {
    color:#33b5e5;
    width: 149px;
    background: #fff;
    padding: 8px 10px;
    border: 1px solid #33b5e5;
    border-radius: 4px;
    text-decoration: none;
    font-size:12px;
    text-decoration: none !important;
    border-radius: 20px;
    font-weight:normal;
    text-transform: none !important;
    margin-right:20px;
       display: inline;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
    line-height:20px;
}
.THIS .addNewBTN:hover {
    color:#fff !important;
    width:110px;
    background: #33b5e5;
    padding: 8px 10px ;
    border: 1px solid #33b5e5;
    border-radius: 4px;
    text-decoration: none;
    font-size:12px;
    text-decoration: none !important;
    border-radius: 20px;
    font-weight:normal;
    text-transform: none !important;
    margin-right:20px;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
    line-height:20px;
}
	
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
	cursor : progress;
}


.THIS .slds-modal__footer {
   text-align: center;
}
.THIS .text-muted{
  font-size:12px;
  }       
        .THIS .scroll-bar-wrap {
  width: 100%;
  position: relative;
  
}
.THIS .scroll-box {
  width: 100%;
  overflow-y: scroll;
    text-align: left;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

.THIS .mobile-display-none{
  display:block;
 } 
@media (max-width: 576px) {
.THIS .mobile-display-none{
  display:none;
 } 
}
@media (max-width: 768px) {
.THIS .mobile-display-none{
  display:none;
 } 
}
.THIS .nolabel .slds-form-element__label{
    display: none; 
    visibility: hidden;
}
        
/* FLS Changes */        
.THIS .manageLeave-newClass{
	height: 100%;            
}        
.THIS .manageLeave-newClass1{
     min-width: 20rem;padding: 5px;
 }        
 
.THIS .manageLeave-newClass2{
     background:#ffffff;min-height:500px;height: 100%;       
}        
.THIS .manageLeave-newClass3{
            cursor:pointer;width:35px;height:35px;
}        
.THIS .manageLeave-newClass4{
        margin-bottom:0px;font-size: 13px;margin-right:30px;    
} 
.THIS .manageLeave-newClass5{
         top:.25rem !important;
}        
.THIS .manageLeave-newClass6{
 	  background:#fafbfe;
}        
.THIS .manageLeave-newClass7{
       padding:7px 0px;background:#ffffff;
}        
.THIS .manageLeave-newClass8{
      border-bottom: 1px solid #f1efef;
} 
.THIS .manageLeave-newClass9{
	border-bottom:0px solid #ddd;            
}        
.THIS .manageLeave-newClass10{
 	text-transform: uppercase !important; color: #03A9F4 !important; 
}  
.THIS .manageLeave-newClass11{
 	justify-content: flex-end; 
}         
.THIS .manageLeave-newClass12{
 	width:130px; padding: 3px 5px;
} 
.THIS .manageLeave-newClass13{
 	font-size:12px;text-transform: none !important;
}         
.THIS .manageLeave-newClass14{
            background:aliceblue;border: 1px solid #f1f1f1;
            border-radius: 16px;
            height: 35px;line-height:35px;
            float:left;
}         
.THIS .manageLeave-newClass15{
            background:#dadada; 
            cursor:not-allowed; 
            border: 1px solid #f1f1f1;
            border-radius: 16px;
            height: 35px;
            line-height:35px;
            float:left;
}  
.THIS .manageLeave-newClass16{
 	padding: 0.5rem !important; cursor:pointer;
} 
.THIS .manageLeave-newClass17{
 	font-weight:bold; font-size: 13px;
}      
.THIS .manageLeave-newClass18{
 	font-weight:bold; font-size: 15px;
}  
.THIS .manageLeave-newClass19{
 	background:#ffffff;
}
.THIS .manageLeave-newClass19{
 	background:#ffffff;
}  
.THIS .manageLeave-newClass20{
 	background:#fff; border:1px solid #f7f7f7;
}          
.THIS .manageLeave-newClass21{
 	margin-bottom:100px; outline: none;
} 
.THIS .manageLeave-newClass22{
 	text-decoration:none; font-weight:bold;
} 
.THIS .manageLeave-newClass23{
 	color : #ababab;
} 
.THIS .manageLeave-newClass24{
 	width:130px;
} 
.THIS .manageLeave-newClass25{
 	height:4rem;
}
 
.THIS .manageLeave-newClass27{
 	padding-left: 50px;
} 
.THIS .manageLeave-newClass28{
 	font-size:16px;margin-bottom:0px;
} 
.THIS .manageLeave-newClass29{
 	color:#e74c3c;font-size:13px;
}
.THIS .manageLeave-newClass30{
 	color:#0070d2;cursor:pointer;
} 
.THIS .manageLeave-newClass31{
 	padding : 0px 0px 4px 0px; color: #00a9bd;
} 
.THIS .manageLeave-newClass32{
 	padding : 0px 0px 4px 0px; color: #e74c3c;
} 
.THIS .manageLeave-newClass33{
 	text-decoration:none;
}         
.THIS .manageLeave-newClass34{
 	text-decoration:none; color:#fff; background:#00a9bd!important;
    padding: 5px;
    padding-left: 6px;
    border-radius: 15px;
    padding-right: 6px;
}
.THIS .manageLeave-newClass98{
 	text-decoration:none; color:#fff; background:#e6717c!important;
    padding: 5px;
    padding-left: 8px;
    border-radius: 15px;
    padding-right: 7px;
}        
.THIS .manageLeave-newClass35{
 	font-size:15px;text-transform: none !important;color:#fff;
}
.THIS .manageLeave-newClass36{
 	min-height: 311px;
} 
.THIS .manageLeave-newClass37{
 	border:0px solid #f7f7f7;height: 200px;
} 
.THIS .manageLeave-newClass38{
 	padding: .5rem .7rem;
}  
.THIS .manageLeave-newClass39{
 	font-size: 15px;
} 
.THIS .manageLeave-newClass40{
 	color:#0070d2;cursor:pointer;max-width:140px;
} 
.THIS .manageLeave-newClass41{
 	border: 1px solid #f7f7f7; border-radius: 10px;
}         
.THIS .manageLeave-newClass42{
 	height:79px;overflow-x:hidden; /*margin-bottom:10px;*/
}   
.THIS .manageLeave-newClass99{
 	height:49px;overflow-x:hidden; /*margin-bottom:10px;*/
}         
.THIS .manageLeave-newClass43{
 	font-weight: 500; color:black;
}  
.THIS .manageLeave-newClass44{
 	background : #fff; padding :5px 15px 5px 15px;height: 360px;overflow: auto;
}
.THIS .manageLeave-newClass45{
 	color:#ff0000;
} 
.THIS .manageLeave-newClass45{
         text-align: center;    
}
.THIS .manageLeave-newClass46{
            top: 15%;display:'';
} 
.THIS .manageLeave-newClass47{
     top: 15%;display:none;
}
.THIS .manageLeave-newClass48{
     height:26px; width:26px;margin: 4px 6px;
}    
.THIS .manageLeave-newClass49{
     height:26px; width:26px; margin: 4px 6px; padding-top: 2px;color: #607D8B;
}
.THIS .manageLeave-newClass50{
     height:26px; width:26px; margin: 4px 6px; padding-top: 2px;color: #607D8B; cursor:not-allowed;
} 
.THIS .manageLeave-newClass51{
     height:26px; width:26px; margin: 4px 6px; cursor:not-allowed;
}
.THIS .manageLeave-newClass52{
     display:none;
} 
.THIS .manageLeave-newClass53{
     display:block;
} 
.THIS .manageLeave-newClass54{
     margin-bottom:100px; outline: none;
} 
.THIS .manageLeave-newClass55{
     color:#2092ed;font-size:13px;
} 
.THIS .manageLeave-newClass56{
     color:#28a745;font-size:13px;
} 
.THIS .manageLeave-newClass57{
     color:#ffc107;font-size:13px;
} 
.THIS .manageLeave-newClass58{
     color:#e74c3c;font-size:13px;
}
.THIS .scroll-bar-wrap {
  max-width: 200px;
    white-space: normal;
    position: relative;
}
.THIS .scroll-box {
  width: 100%;
  height: 78px;
  overflow-y: scroll;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .4em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
.THIS .cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}
.THIS 
.valign-top{
vertical-align: top !important;
}
.THIS .font-24 {
    font-size: 24px;
}
.THIS .text-muted {
    color: #98a6ad!important;
}
.THIS .color-blue {
    color: #2196f3;
    font-size: 1.25rem;
}
.THIS .font-15 {
    font-size: 15px!important;
}
.THIS .color-red {
    color: #f44336;
    font-size: 1.25rem;
}
.THIS .color-green {
    color: #009688;
    font-size: 1.25rem;
}
.THIS .maqsood .app-block .app-content .app-action .card-body, 
.THIS .maqsood .card .card-body, 
.THIS .maqsood .chat-block .card-body {
    padding: 0.5rem;
}
.THIS .mytimesheet-newClass8 {
    padding: 7px 0;
    background: #fafbfe;
}
.THIS .border-start {
    border-left: 1px solid #dee2e6!important;
}
.THIS .shadow-sm-2 {
    box-shadow: 0 0.325rem 0.65rem rgb(0 0 0 / 8%) !important;
}

.THIS .mt-6p{
    margin-top:6%;
}
.THIS .erp-lm .page-header::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    background: none;
    position: relative;
    top: 0;
    left: 0;
}
.THIS .erp hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.THIS .erp-lm .card {
    margin-bottom: 28px;
    border-radius: 6px;
}
@media (min-width: 1200px){
.THIS .erp .col-xl-2 {
    flex: 0 0 19.66667%;
    max-width: 19.66667%;
}
}
.THIS .erp_mark7 .slds-notify-container, 
.THIS .erp_mark7 .slds-notify_container {
    
    z-index: 100 !important;
    text-align: center;
}
.THIS .erp_Mark7 .nav-link {
    display: block;
    padding: 0.2rem .2rem;
}
.THIS .fill-custom{
        fill: #03A9F4;
}
.THIS.toggle {
    display: none;
}
.THIS.slds h4{
     font-size: 1em;
    padding: 10px;
    text-transform: uppercase;   
}
.THIS .ui-body-a{
     background: #0075df;
    border-color: #ddd;
    color: #fff;
    padding: 5px;
    font-size: 14px;  
}
.THIS.ui-header .ui-title, .THIS.ui-footer .THIS.ui-title {
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0 30%;
    padding: .1em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}
.THIS .uiButton--default2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #0070d2 !important;
    border: 1px solid #0070d2 !important;
    color: white !important;
        text-shadow: none !important;
    
}
.THIS .uiButton--default{text-shadow: none !important;}
.THIS .uiButton--default .label{
        color: #fff !important;
    
}
.THIS .EditLeaves {
   
    color: #ffffff;
    background: #04844b;
    padding: 4px;
    border-radius: 4px;
  
}
.THIS .DeleteLeaves {
   
    color: #fff;
    background: #c23934;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
}
.THIS .not-active {
   pointer-events: none;
   cursor: default;
   
}

.THIS a.svg {
 position: relative;
 display: inline-block; 
}
.THIS .Name{
    color: #005fb2;
}


/*Custom Accordion*/
.THIS div.Message {
    color: #FFFFFF;
    font-weight : bold;
    background-color: #005FB2;
    width : 100% !important;
    padding : 6px !important;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
}

.THIS div.container {
    margin: 0px 20px 0px 40px;
}

.THIS div.expandCollapse{
    cursor : pointer;
    width:10%;
    float:right ;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS div.Message {
    color: #FFFFFF;
    font-weight : bold;
    background-color: #0070d2;
    width : 95% ;
    padding : 25px;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
}

.THIS div.container {
    margin: 0px 20px 0px 40px;
}

.THIS div.expandCollapse{
    cursor : pointer;
    width:10%;
    float:right ;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS .acitve-list {
    background: #33b5e5;
    padding: 3px 6px 1.5px 6px;
    border-radius: 7px;
    color: #fff !important;
}
.THIS .acitve-list2 {
    background: #33b5e5;
    padding: 5px 7px 3.5px 6px;
    border-radius: 30px;
    color: #fff !important;
}
.THIS .acitve-list3 {
    background: #ababab;
    padding: 5px 7px 3.5px 6px;
    border-radius: 30px;
    color: #fff !important;
}

.THIS .nav>li>a:hover,
.THIS .nav>li>a:focus {        
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important;
}

.THIS .nav-tabs > li.active > a, 
.THIS .nav-tabs > li.active > a:hover,
.THIS .nav-tabs > li.active > a:focus {
    color: #7cdbff;
    cursor: default!important;
    background-color: #fff!important;
    border-color:#fff #fff #fff;
    border:0;
    
    border-bottom: 3px solid #2196f3!important;
}        
.THIS .nav-tabs > li > a:hover {
    border-color:0;    
}
.THIS .nav > li > a:hover, 
.THIS .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
.THIS .erp_Mark7 .nav-tabs .nav-link:focus, 
.THIS .erp_Mark7 .nav-tabs .nav-link:hover {
    border-color: #f7f7f7;
}


.THIS .background-new{
    background: #289cf5!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-inprogress{
    background: #fda23f !important;
     box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-cancelled{
    background: #a4a4a4 !important;
      box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-success {
   
    background: #00a9bd !important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color:#fff;
}
.THIS .background-error {
  
    background: #e74c3c!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
     color:#fff;
}
.THIS .slds-truncate2{
     max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.THIS fcolor1{
    text-decoration: none !important;
    color: #8a8282 !important;
}

.THIS fcolor1 :hover{
    color: #000 !important;
}
.THIS .disabledIcon1{
    background: #ababab !important;
    color: #fff !important;
    cursor: not-allowed;
}
.THIS .addNewBTN {
    color:#33b5e5;
    width: 149px;
    background: #fff;
    padding: 8px 10px;
    border: 1px solid #33b5e5;
    border-radius: 4px;
    text-decoration: none;
    font-size:12px;
    text-decoration: none !important;
    border-radius: 20px;
    font-weight:normal;
    text-transform: none !important;
    margin-right:20px;
       display: inline;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
    line-height:20px;
}
.THIS .addNewBTN:hover {
    color:#fff !important;
    width:110px;
    background: #33b5e5;
    padding: 8px 10px ;
    border: 1px solid #33b5e5;
    border-radius: 4px;
    text-decoration: none;
    font-size:12px;
    text-decoration: none !important;
    border-radius: 20px;
    font-weight:normal;
    text-transform: none !important;
    margin-right:20px;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
    line-height:20px;
}
	
.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
	cursor : progress;
}


.THIS .slds-modal__footer {
   text-align: center;
}
.THIS .text-muted{
  font-size:12px;
  }       
        .THIS .scroll-bar-wrap {
  width: 100%;
  position: relative;
  
}
.THIS .scroll-box {
  width: 100%;
  overflow-y: scroll;
    text-align: left;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .6em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

.THIS .mobile-display-none{
  display:block;
 } 
@media (max-width: 576px) {
.THIS .mobile-display-none{
  display:none;
 } 
}
@media (max-width: 768px) {
.THIS .mobile-display-none{
  display:none;
 } 
}
.THIS .nolabel .slds-form-element__label{
    display: none; 
    visibility: hidden;
}
        
/* FLS Changes */        
.THIS .manageLeave-newClass{
	height: 100%;            
}        
.THIS .manageLeave-newClass1{
     min-width: 20rem;padding: 5px;
 }        
 
.THIS .manageLeave-newClass2{
     background:#ffffff;min-height:500px;height: 100%;       
}        
.THIS .manageLeave-newClass3{
            cursor:pointer;width:35px;height:35px;
}        
.THIS .manageLeave-newClass4{
        margin-bottom:0px;font-size: 13px;margin-right:30px;    
} 
.THIS .manageLeave-newClass5{
         top:.25rem !important;
}        
.THIS .manageLeave-newClass6{
 	  background:#fafbfe;
}        
.THIS .manageLeave-newClass7{
       padding:7px 0px;background:#ffffff;
}        
.THIS .manageLeave-newClass8{
      border-bottom: 1px solid #f1efef;
} 
.THIS .manageLeave-newClass9{
	border-bottom:0px solid #ddd;            
}        
.THIS .manageLeave-newClass10{
 	text-transform: uppercase !important; color: #03A9F4 !important; 
}  
.THIS .manageLeave-newClass11{
 	justify-content: flex-end; 
}         
.THIS .manageLeave-newClass12{
 	width:130px; padding: 3px 5px;
} 
.THIS .manageLeave-newClass13{
 	font-size:12px;text-transform: none !important;
}         
.THIS .manageLeave-newClass14{
            background:aliceblue;border: 1px solid #f1f1f1;
            border-radius: 16px;
            height: 35px;line-height:35px;
            float:left;
}         
.THIS .manageLeave-newClass15{
            background:#dadada; 
            cursor:not-allowed; 
            border: 1px solid #f1f1f1;
            border-radius: 16px;
            height: 35px;
            line-height:35px;
            float:left;
}  
.THIS .manageLeave-newClass16{
 	padding: 0.5rem !important; cursor:pointer;
} 
.THIS .manageLeave-newClass17{
 	font-weight:bold; font-size: 13px;
}      
.THIS .manageLeave-newClass18{
 	font-weight:bold; font-size: 15px;
}  
.THIS .manageLeave-newClass19{
 	background:#ffffff;
}
.THIS .manageLeave-newClass19{
 	background:#ffffff;
}  
.THIS .manageLeave-newClass20{
 	background:#fff; border:1px solid #f7f7f7;
}          
.THIS .manageLeave-newClass21{
 	margin-bottom:100px; outline: none;
} 
.THIS .manageLeave-newClass22{
 	text-decoration:none; font-weight:bold;
} 
.THIS .manageLeave-newClass23{
 	color : #ababab;
} 
.THIS .manageLeave-newClass24{
 	width:130px;
} 
.THIS .manageLeave-newClass25{
 	height:4rem;
}
 
.THIS .manageLeave-newClass27{
 	padding-left: 50px;
} 
.THIS .manageLeave-newClass28{
 	font-size:16px;margin-bottom:0px;
} 
.THIS .manageLeave-newClass29{
 	color:#e74c3c;font-size:13px;
}
.THIS .manageLeave-newClass30{
 	color:#0070d2;cursor:pointer;
} 
.THIS .manageLeave-newClass31{
 	padding : 0px 0px 4px 0px; color: #00a9bd;
} 
.THIS .manageLeave-newClass32{
 	padding : 0px 0px 4px 0px; color: #e74c3c;
} 
.THIS .manageLeave-newClass33{
 	text-decoration:none;
}         
.THIS .manageLeave-newClass34{
 	text-decoration:none; color:#fff; background:#00a9bd!important;
    padding: 5px;
    padding-left: 6px;
    border-radius: 15px;
    padding-right: 6px;
}
.THIS .manageLeave-newClass98{
 	text-decoration:none; color:#fff; background:#e6717c!important;
    padding: 5px;
    padding-left: 8px;
    border-radius: 15px;
    padding-right: 7px;
}        
.THIS .manageLeave-newClass35{
 	font-size:15px;text-transform: none !important;color:#fff;
}
.THIS .manageLeave-newClass36{
 	min-height: 311px;
} 
.THIS .manageLeave-newClass37{
 	border:0px solid #f7f7f7;height: 200px;
} 
.THIS .manageLeave-newClass38{
 	padding: .5rem .7rem;
}  
.THIS .manageLeave-newClass39{
 	font-size: 15px;
} 
.THIS .manageLeave-newClass40{
 	color:#0070d2;cursor:pointer;max-width:140px;
} 
.THIS .manageLeave-newClass41{
 	border: 1px solid #f7f7f7; border-radius: 10px;
}         
.THIS .manageLeave-newClass42{
 	height:79px;overflow-x:hidden; /*margin-bottom:10px;*/
}   
.THIS .manageLeave-newClass99{
 	height:49px;overflow-x:hidden; /*margin-bottom:10px;*/
}         
.THIS .manageLeave-newClass43{
 	font-weight: 500; color:black;
}  
.THIS .manageLeave-newClass44{
 	background : #fff; padding :5px 15px 5px 15px;height: 360px;overflow: auto;
}
.THIS .manageLeave-newClass45{
 	color:#ff0000;
} 
.THIS .manageLeave-newClass45{
         text-align: center;    
}
.THIS .manageLeave-newClass46{
            top: 15%;display:'';
} 
.THIS .manageLeave-newClass47{
     top: 15%;display:none;
}
.THIS .manageLeave-newClass48{
     height:26px; width:26px;margin: 4px 6px;
}    
.THIS .manageLeave-newClass49{
     height:26px; width:26px; margin: 4px 6px; padding-top: 2px;color: #607D8B;
}
.THIS .manageLeave-newClass50{
     height:26px; width:26px; margin: 4px 6px; padding-top: 2px;color: #607D8B; cursor:not-allowed;
} 
.THIS .manageLeave-newClass51{
     height:26px; width:26px; margin: 4px 6px; cursor:not-allowed;
}
.THIS .manageLeave-newClass52{
     display:none;
} 
.THIS .manageLeave-newClass53{
     display:block;
} 
.THIS .manageLeave-newClass54{
     margin-bottom:100px; outline: none;
} 
.THIS .manageLeave-newClass55{
     color:#2092ed;font-size:13px;
} 
.THIS .manageLeave-newClass56{
     color:#28a745;font-size:13px;
} 
.THIS .manageLeave-newClass57{
     color:#ffc107;font-size:13px;
} 
.THIS .manageLeave-newClass58{
     color:#e74c3c;font-size:13px;
}
.THIS .scroll-bar-wrap {
  max-width: 200px;
    white-space: normal;
    position: relative;
}
.THIS .scroll-box {
  width: 100%;
  height: 78px;
  overflow-y: scroll;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .4em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
.THIS .cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}
.THIS 
.valign-top{
vertical-align: top !important;
}
.THIS .font-24 {
    font-size: 24px;
}
.THIS .text-muted {
    color: #98a6ad!important;
}
.THIS .color-blue {
    color: #2196f3;
    font-size: 1.25rem;
}
.THIS .font-15 {
    font-size: 15px!important;
}
.THIS .color-red {
    color: #f44336;
    font-size: 1.25rem;
}
.THIS .color-green {
    color: #009688;
    font-size: 1.25rem;
}
.THIS .maqsood .app-block .app-content .app-action .card-body, 
.THIS .maqsood .card .card-body, 
.THIS .maqsood .chat-block .card-body {
    padding: 0.5rem;
}
.THIS .mytimesheet-newClass8 {
    padding: 7px 0;
    background: #fafbfe;
}
.THIS .border-start {
    border-left: 1px solid #dee2e6!important;
}
.THIS .shadow-sm-2 {
    box-shadow: 0 0.325rem 0.65rem rgb(0 0 0 / 8%) !important;
}
.THIS .disabled-link {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.THIS .delcenter {
    font-size: 16px;
    text-align: center;
    padding: 10px;
}