.THIS .cl1{
    background:#ffffff;height:100%;
}
.THIS .cl2{
    background:#ffffff;
}
.THIS .cl3{
    cursor:pointer;width:35px;height:35px;
}
.THIS .cl4{
    margin-top: 10px;
}
.THIS .cl5{
    width:200px;height: 35px;float:left;padding-right: 11px;
}
.THIS .cl6{
    padding: 19px 5px;margin-top: 10px;
}
.THIS .cl7{
    cursor:pointer;
}
.THIS .cl8{
    font-size: 15px;
}
.THIS .cl9{
    margin:15px;margin-bottom: 50px;
}
.THIS .cl10{
    width:100%;
}
.THIS .cl11{
    color:#0070d2;cursor:pointer;
}
.THIS .cl12{
    height: 40px; width: 40px;
}
.THIS .cl13{
    color:#0070d2;cursor:pointer;
}
.THIS .cl14{
    color:#0070d2;cursor:pointer;
}
.THIS .cl15{
    font-size: 30px;background-color:white;
}
.THIS .cl16{
    font-size: 15px;color:#565e5f;padding:10px;
}

.THIS .slds-card {
    box-shadow: 0px 1px 7px 2px rgb(0 0 0 / 11%);
}
.THIS .slds-alert_warning {
    background-color: #ffb75d !important;
    color: #080707 !important;
}
.THIS slds-notify--alert,
.THIS .slds-notify_alert {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: var(--sds-c-alert-spacing-block-start,.5rem) var(--sds-c-alert-spacing-inline-end,2rem) var(--sds-c-alert-spacing-block-end,.5rem) var(--sds-c-alert-spacing-inline-start,.5rem);
    color: var(--sds-c-alert-text-color,#fff);
    font-weight: var(--sds-c-alert-font-weight,300);
    text-align: center;
    background-color: var(--sds-c-alert-color-background,#706e6b);
    background-image: var(--sds-c-alert-image-background,linear-gradient(45deg,rgba(0,0,0,.025) 25%,transparent 0,transparent 50%,rgba(0,0,0,.025) 0,rgba(0,0,0,.025) 75%,transparent 0,transparent));
    background-size: var(--sds-c-alert-size-background,64px 64px);
}
.THIS .slds-button-group .slds-button + .slds-button, 
.THIS .slds-button-group .slds-button + .slds-button_last .slds-button, 
.THIS .slds-button-group .slds-button + .slds-button--last .slds-button, 
.THIS .slds-button-group-list li + li .slds-button {
    margin-left: 1px;
}
.THIS .erp_mark7 .slds-pill__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px !important;
}





.THIS .slds-pill__container, 
.THIS .slds-pill-container, 

.THIS .slds-select{height:30px !important}
.THIS input {
    padding-top: 0;
    border: 1px solid #ddd;
    border-radius : 5px;
    padding: 5px;
} 
.THIS .slds .slds-table--bordered td {
    border-top: 1px solid #f7f7f7;
}
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS .epr_Mark7 .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f7f7f7;
    max-width:150px;
    word-wrap: break-word;
}
.THIS .epr_Mark7 .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #f7f7f7;
    max-width: 100px;
    word-wrap: break-word;
}
.THIS .slds .slds-text-heading--label {
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .0625em;
    color: #54698d;
    font-weight:lighter;
}
@media (max-width: 48em){
.THIS .epr_Mark7 .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 1px solid #f7f7f7;
        max-width: 100% !important;
        word-wrap: break-word;
    }
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS .epr_Mark7 .table > tfoot > tr > td {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #f7f7f7;
        max-width:100%;
        word-wrap: break-word;
    }
}
.THIS .erp_mark7 a, 
.THIS .erp_mark7 button {
    cursor: pointer;
    text-decoration:none !important;
}
.THIS .dataTables_empty{
    display:none;
}
.THIS  .no-sort::after { display: none!important; }

.THIS .no-sort { pointer-events: none!important; cursor: default!important; }
.THIS .erp_mark7 .slds-button--neutral2 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff;
    color: #65d6e5;
}
.THIS .erp_mark7 .slds-button--neutral2:hover, 
.THIS .erp_mark7 .slds-button--neutral2:focus {
    background-color: #f4f6f9;
    color: #65d6e5;
}
.THIS .erp_mark7 .slds-button--brand2 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #65d6e5;
    border: 1px solid #65d6e5;
    color: #fff;
        text-shadow: none;
    box-shadow: none;
     height: 35px;
    border: 0px solid #ddd !important;
}
.THIS .erp_mark7 .slds-button--brand2:hover, 
.THIS .erp_mark7 .slds-button--brand2:focus {
    background-color: #31d0e5;
    color: white;
}
.THIS .epr_Mark7 h1, 
.THIS .epr_Mark7 .h1, 
.THIS .epr_Mark7 h2, 
.THIS .epr_Mark7 .h2, 
.THIS .epr_Mark7 h3, 
.THIS .epr_Mark7 .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}


@media (min-width: 48em){
.THIS .erp_mark7 .slds-page-header {
        padding: .5rem 1rem;
    }   
}
.THIS .erp_mark7 th.slds-is-sortable {
    cursor: pointer;
    padding: 5px;
}


.THIS .epr_Mark7 .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 78% !important;
}

@media only screen and (max-width: 480px) {
.THIS .nav-tabs > li > a {
        margin-right: 10px !important;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: #60cdde;
        text-transform: uppercase;
    }
.THIS.epr_Mark7 .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 10px;
    }
.THIS .mobiledisplaynone{
        
        display:none !important;
        
    }
.THIS .maqheadernavbuttons{
        margin-top: 21% !important;
    }  
.THIS .slds-truncate3{
        max-width: 70px;
        overflow: hidden;
        text-overflow: clip;
        white-space: normal !important;
        word-wrap: break-word;
    }
    
    
}
@media only screen and (max-width: 768px) {
.THIS .nav-tabs > li > a {
        margin-right: 10px !important;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: #60cdde;
        text-transform: uppercase;
    }
    
.THIS .mobiledisplaynone-landscape{
        
        display:none !important;
        
    }
.THIS .maqheadernavbuttons{
        margin-top: 1%;
    }  
    
}



.THIS .erp_mark7 .slds-truncate2 {
    max-width: 150px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .maqtooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
}


.THIS .maqtooltip:hover .tooltiptext {
  visibility: visible;
}




.THIS .width200{width:147px !important;border:0px !important;padding-left: 8px;}
.THIS .width100{width:100px;}
.THIS .erp_mark7 .slds-pill__container, 
.THIS .erp_mark7 .slds-pill-container, 
.THIS .erp_mark7 .slds-pill_container {
    display: -ms-flexbox; 
    display: flex;
    min-height: calc(1.875rem + 2px);
    padding: 0.125rem;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: white;
    width: 100%;
    height: 34px;
}

.THIS .epr_Mark7 .col-xs-6 {
	width: 13%;
}
.THIS .epr_Mark7 .input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 78% !important;
}
	  @media screen and (max-width: 767px){
.THIS div.dataTables_wrapper div.dataTables_length, 
.THIS div.dataTables_wrapper div.dataTables_filter, 
.THIS div.dataTables_wrapper div.dataTables_info, 
.THIS div.dataTables_wrapper div.dataTables_paginate {
	text-align: left;
}
}
@media only screen and (max-width: 480px) {
  
  .THIS  .nav-tabs > li > a {
		margin-right: 10px !important;
		line-height: 1.42857143;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		color: #60cdde;
		text-transform: uppercase;
	}
	
	.THIS .mobiledisplaynone{
	
		display:none !important;
		
	   }
	   
	.THIS  .maqheadernavbuttons{
		 margin-top: 15% !important;
	 } 
	 .THIS .erp_mark7 .slds-no-flex {
			-ms-flex: auto;
			flex: auto;
			margin-right: 0% !important;
		} 

}

 

 

.THIS .erp-rotation{
-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}
.THIS .epr_Mark7 .row {
margin-right: 0px;
margin-left: 0px;
}
   

.THIS .erp_mark7 a, 
.THIS .erp_mark7 button {
	cursor: pointer;
	text-decoration:none !important;
}
@media (min-width: 48em){
	.THIS .erp_mark7 .slds-page-header {
		padding: .5rem 1rem;
	}
}
.THIS .erp_mark7 .slds-button--brand2 {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	background-color: #31d0e5;
	border: 1px solid #31d0e5;
	color: #fff;
    height: 34px;
}
.THIS .erp_mark7 .slds-button--brand2:hover, 
.THIS .erp_mark7 .slds-button--brand2:focus {
	background-color: #65d6e5;
	color: white;
}
	.THIS .epr_Mark7 h1, 
	.THIS .epr_Mark7 .h1, 
	.THIS .epr_Mark7 h2, 
	.THIS .epr_Mark7 .h2, 
	.THIS .epr_Mark7 h3, 
	.THIS .epr_Mark7 .h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}
   

.THIS .epr_Mark7 .table-bordered > thead > tr > th, 
.THIS .epr_Mark7 .table-bordered > tbody > tr > th, 
.THIS .epr_Mark7 .table-bordered > tfoot > tr > th, 
.THIS .epr_Mark7 .table-bordered > thead > tr > td, 
.THIS .epr_Mark7 .table-bordered > tbody > tr > td, 
.THIS .epr_Mark7 .table-bordered > tfoot > tr > td{
	border:none;
}
.THIS .epr_Mark7 .table-bordered {
	border:none;
}
.THIS .epr_Mark7 .nav-tabs > li > a {
margin-right: 70px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
color:#60cdde;
text-transform:uppercase;
}
.THIS .epr_Mark7 .nav>li>a:hover,
.THIS .epr_Mark7 .nav>li>a:focus {        
text-decoration: none;
background-color: #fff;
border-bottom: 2px solid #0070d2!important;
}   
.THIS .epr_Mark7 .nav-tabs > li.active > a, 
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover,
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
color: #7cdbff;
cursor: default!important;
background-color: #fff!important;
border: 0;
border-bottom: 3px solid #2196f3!important;
}        
.THIS .epr_Mark7 .nav-tabs > li > a:hover {
border-color: #fff #fff #fff;    
}



.THIS .lookupIconOn {
background-image: url(/resource/1487765880000/ERP7__ERPCustomIcons/erpicons/ERPicon-lookup20x21.png);
}
.THIS .lookupIcon {
background-image: url(/resource/1487765880000/ERP7__ERPCustomIcons/erpicons/ERPicon-lookup20x21.png);

}
.THIS .lookupInput{
	background:#ffffff;
	
}

.THIS .no-sort::after { display: none!important; }

.THIS .no-sort { pointer-events: none!important; cursor: default!important; }


.THIS .epr_Mark7 .caret {
display: inline-block;
width: 10px;
height: 0px;
margin-left: 8px;
vertical-align: middle;
border-top: 7px dashed;
border-right: 5px solid transparent;
border-left: 5px solid transparent;
}
.THIS .epr_Mark7 .dropdown-menu > li > a  {
display: block;
padding: 15px 15px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}

.THIS .neutralC{padding:0px; border:0px;}
.THIS .neutralC:hover{padding:0px; border:0px;background-color:#fff !important;}
.THIS .neutralC:active{outline: none !important;    border: none !important;}

.THIS .slds .slds-theme--alt-inverse a:not(.slds-button--neutral) {
color: white;
text-decoration: none;
}
.THIS .epr_Mark7 .dropdown-menu > li > a:hover, 
.THIS .epr_Mark7 .dropdown-menu > li > a:focus {
color: #16325c !important;
text-decoration: none;
background-color: #f8f8f8;
}

.THIS .epr_Mark7 .navbar-default .navbar-nav > .open > a, 
.THIS .epr_Mark7 .navbar-default .navbar-nav > .open > a:hover, 
.THIS .epr_Mark7 .navbar-default .navbar-nav > .open > a:focus {
color: #f8f8f8;
background-color: #0070d2;
}
@media (min-width: 768px){
.THIS .brandtext{
	display:none;
}

}

/* End*/

.THIS .slds .slds-table--bordered td {
border-top: 1px solid #f7f7f7;
}
.THIS .slds .slds-table--bordered th {
border-top: 1px solid #f7f7f7;
}
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS.epr_Mark7 .table > tfoot > tr > td {
	padding: 15px;
	line-height: 1.42857143;
	vertical-align: middle;
	max-width:150px;
	word-wrap: break-word;
	border-top: 1px solid #f7f7f7 !important;
	
}
.THIS .epr_Mark7 .table > thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #f7f7f7;                
max-width: 150px;
word-wrap: break-word;
}
.THIS .slds .slds-text-heading--label {
font-size: 12px;
line-height: 1.25;
text-transform: uppercase;
letter-spacing: .0625em;
color: #54698d;
font-weight:lighter;
}
@media (max-width: 48em){
.THIS .epr_Mark7 .table > thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #f7f7f7;      
max-width: 100% !important;
word-wrap: break-word;
}            
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS .epr_Mark7 .table > tfoot > tr > td {
	padding: 5px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #f7f7f7 !important;
	max-width:100%;
	word-wrap: break-word;            
}
}            
.THIS .epr_Mark7 .table > tbody + tbody {
border-top: 1px solid #f7f7f7;
}


.THIS input {
padding-top: 0;
border: 1px solid #ddd;
border-radius : 5px;
padding: 5px;
} 
.THIS .slds .slds-table--bordered td {
border-top: 1px solid #f7f7f7;
}
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS .epr_Mark7 .table > tfoot > tr > td {
padding: 5px;
line-height: 1.42857143;
vertical-align: middle;
border-top: 1px solid #f7f7f7;
max-width:150px;
word-wrap: break-word;
}
.THIS .epr_Mark7 .table > thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #f7f7f7;
max-width: 100px;
word-wrap: break-word;
}
.THIS .slds .slds-text-heading--label {
font-size: 12px;
line-height: 1.25;
text-transform: uppercase;
letter-spacing: .0625em;
color: #54698d;
font-weight:lighter;
}
@media (max-width: 48em){
.THIS .epr_Mark7 .table > thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #f7f7f7;
max-width: 100% !important;
word-wrap: break-word;
}
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS .epr_Mark7 .table > tfoot > tr > td {
	padding: 5px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #f7f7f7;
	max-width:100%;
	word-wrap: break-word;
}
}

.THIS .erp_mark7 .slds-button--brand, 
.THIS .erp_mark7 .slds-button_brand {
padding-left: 1rem;
padding-right: 1rem;
text-align: center;
vertical-align: middle;
border: 1px solid #dddbda;
transition: border .15s linear;
background-color: #0dc2d9;
border-color: #0dc2d9;
color: #fff;
}
.THIS .erp_mark7 .slds-button--brand:focus, 
.THIS .erp_mark7 .slds-button--brand:hover, 
.THIS .erp_mark7 .slds-button_brand:focus, 
.THIS .erp_mark7 .slds-button_brand:hover {
background-color: #0dc2d9;
border-color: #0dc2d9;
color: #fff !important;
}