.THIS .mt-0{
    margin-top:0px;
}
.THIS .mb-0{
    margin-bottom:0px;
}
.THIS .text-center{
    text-align:center !important;
} 
.THIS .labelnone .slds-form-element__label:empty {
    margin: 0;
    display:none;
}
.THIS .labellegend .slds-form .form-element__label, 
.THIS .labellgend .slds-form .slds-form-element__label {
    display:none;
}
.THIS .labelnone2 .slds-form-element__label {
    display:none;
}

/*.THIS .slds-button {


color: #31d0e5;

} */

.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .slds-brand--disabled{
    background: #c9c7c5 !important;
    border-color: #c9c7c5 !important;
    color: #fff !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.THIS .width100{ 
    width: 100px;
}
@media only screen and (max-width: 768px) {
    .THIS .mobiledisplaynone-landscape{	display:none !important; }
    .THIS .text-responsive{font-size:12px;}
}
@media only screen and (max-width: 480px) {
    .THIS .mobiledisplaynone{	display:none !important; }  
    .THIS .text-responsive{font-size:10px;}
}


.THIS  .slds-button--brand-dis {
    padding-left: 1rem !important; 
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    background: #c9c7c5;
    border-color: #c9c7c5;
    color: #fff;
}

.THIS select{
    height: 32px !important;
}
.THIS legend {
    margin-bottom:0px !important;
}
.THIS .uiDayInMonthCell--default {
    background-color: #fff;
    color: #696e71;
    display: block;
    font-family: 'ProximaNovaSoft-Regular';
    font-size: 14px  !important;
    height: 30px !important;
    width: 30px  !important;
    line-height: 30px  !important;
    text-align: center;
}
.THIS .slds-truncate1{
    
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
}
.THIS .slds-input-has-icon_right .slds-input, 
.THIS .slds-input-has-icon_right .slds-input_bare, 
.THIS .slds-input-has-icon_right .slds-input--bare, 
.THIS .slds-input-has-icon--right .slds-input, 
.THIS .slds-input-has-icon--right .slds-input_bare, 
.THIS .slds-input-has-icon--right .slds-input--bare {
    padding-right: .5rem !important;
}
.THIS .color-white{
    fill:#ffffff !important;
}
.THIS .erp_mark7 .slds-tabs_default__link, 
.THIS .erp_mark7 .slds-tabs--default__link {
    
    text-decoration: none !important;
}
.THIS .slds-tabs_default__link[tabindex="0"]:focus, 
.THIS .slds-tabs--default__link[tabindex="0"]:focus {
    text-decoration: none !important;
}
/*
.THIS .slds-button--brand{
padding-left: 1rem;
padding-right: 1rem;
text-align: center;
vertical-align: middle;
background-color: #31d0e5 !important;
border: 1px solid #31d0e5 !important;
color: white !important;
}

.THIS .slds-button--brand:hover, 
.THIS .slds-button--brand:focus {
background-color: #65d6e5 !important;
color: white;
}
.THIS .slds-button--brand:hover, 
.THIS .slds-button--brand:focus {
background-color: #65d6e5 !important;
color: white;
}
*/


.THIS .maqbg-change{
    background: #31d0e5;
    padding: .5rem;
    color: #fff;
    box-shadow: none;
    border: 1px solid #ffffff;
    border-radius:3px;
}
.THIS .event-rok .btn--form-success {
    padding: .5rem 1rem!important;
    font-size: .95rem!important;
    font-weight: 600!important;
    color: #f3f2f2!important;
    background-color: #4bca81!important;
    border: 1px solid #c4e5f8!important;
    border-radius: 2.1775rem!important;
    cursor: pointer;
    line-height: 1.4rem!important;
    outline: 0;
    width: 110px;
}

.THIS .white-bg{
    background:#ffffff !important;
}

.THIS .erp_mark7 .slds-table th {
    font-weight: 400;
    background: #fbfbfb;
    padding: .5rem !important;
}
.THIS    .erp_mark7 .slds-table--bordered {
    border-collapse: separate;
    border-top: 0px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
}
/* .THIS .erp_mark7 .slds-button {
color: #31d0e5;
} */
.THIS .epr_Mark7 .nav-tabs > li.active > a{
    color: #00BCD4;
    cursor: default!important;
    background-color: #fff!important;
    border: 0;
    border-bottom: 3px solid #2196f3!important;
}
.THIS .bPageBlock {
    border-top: 4px solid #fff;
}
.THIS .epr_Mark7 .nav-tabs > li.active > a {
    color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS.epr_Mark7 .nav-tabs > li.active > a:hover{
    color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
}
.THIS.epr_Mark7 .nav-tabs > li.active > a:focus {
    color: #7cdbff;
    cursor: default !important;
    background-color: #fff !important;
    border: 0;
    border-bottom: 3px solid #2196F3 !important;
    
}
.THIS.epr_Mark7 .nav-tabs {
    
}
.THIS.epr_Mark7 .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}
.THIS.epr_Mark7 .nav > li > a:focus{
    text-decoration: none;
    background-color: #fff;
    border-bottom:3px solid #0070d2 !important;
}

.THIS.epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff;
}
.THIS.epr_Mark7 .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
.THIS.epr_Mark7 .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-transform: uppercase;
}
.THIS .erp_mark7 .slds-button--neutral.slds-is-selected {
    border-color: transparent;
    background-color: transparent; }
.THIS .erp_mark7 .slds-button--neutral.slds-is-selected:hover:not([disabled]),
.THIS .erp_mark7 .slds-button--neutral.slds-is-selected:focus:not([disabled]) {
    border: 1px solid #d8dde6;
    background-color: #f4f6f9; }
.THIS .erp_mark7 .slds-button--neutral.slds-is-selected:active {
    background-color: #eef1f6; }
.THIS .erp_mark7 .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: white; }
.THIS  .erp_mark7 .slds-button--brand:link,
.THIS.erp_mark7 .slds-button--brand:visited,
.THIS.erp_mark7 .slds-button--brand:active {
    color: white; }
.THIS  .erp_mark7 .slds-button--brand:hover,
.THIS.erp_mark7 .slds-button--brand:focus {
    background-color: #65d6e5;
    color: white; }
.THIS .erp_mark7 .slds-button--brand:active {
    background-color: #31d0e5; }
.THIS  .erp_mark7 .slds-button--brand[disabled] {
    background: #e0e5ee;
    border-color: transparent;
    color: white; }
.THIS .erp_mark7 .slds-table--cell-buffer tr>td:last-child, 
.THIS.erp_mark7 .slds-table--cell-buffer tr>th:last-child {
    padding-right: 0.5rem;
}
.THIS .erp_mark7 .slds-table--cell-buffer tr>td:first-child, 
.THIS.erp_mark7 .slds-table--cell-buffer tr>th:first-child {
    padding-left: 0.5rem;
}
.THIS  .erp_mark7  a:hover {
    
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
.THIS  .slds .slds-table th, 
.THIS.slds .slds-table td {
    padding: 4px; 
    white-space: nowrap;
}
.THIS   .slds .slds-table tr > th:last-child,
.THIS.slds .slds-table tr > td:last-child {
    padding-right: 5px;
}
.THIS    .slds .slds-table tr > th:first-child,
.THIS.slds .slds-table tr > td:first-child {
    padding-left: 10px;
}
.THIS   .slds .slds-table .slds-truncate2 {
    min-width: 52px;
    width: 67px;
    white-space: normal;
    word-break: break-all;
}

.THIS .erp_mark7 .slds-table--bordered tbody td, 
.THIS.erp_mark7 .slds-table--bordered tbody th {
    border-top: 1px solid #fff;
}    

.THIS  .jSignature{
    width:400px !important;
    margin: 10px !important;
} 

.THIS  .epr_Mark7 .nav>li>a:hover,
.THIS.epr_Mark7 .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
}
.THIS .homeTab .bPageBlock {
    border-top: 0px solid #1797c0 !important;
}
.THIS .bPageBlock{
    background:#ffffff !important;
    border-bottom: 0px solid #eaeaea !important;
    border-left: 0px solid #eaeaea !important;
    border-right: 0px solid #eaeaea !important;
}
.THIS .bPageBlock .detailList tr td, 
.THIS.bPageBlock .detailList tr th, 
.THIS .hoverDetail .bPageBlock .detailList tr td, 
.THIS.hoverDetail .bPageBlock 
.THIS  .detailList tr th {
    border-bottom: 0px solid #e3deb8 !important;
}
.THIS  .erp_mark7 .slds-table--bordered td,
.THIS.slds .slds-table--bordered th {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.THIS  .erp_mark7 .slds-table th, 
.THIS.slds .slds-table td {
    padding: 4px;
    white-space: normal;
    max-width: 100% !important;
    word-wrap: break-word;
    
}
/* Css For Switch */


.THIS  .erp_mark7.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}

.THIS  .erp_mark7.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.THIS .erp_mark7.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.THIS .erp_mark7.switch-input:checked ~ .switch-label {
    background: #4fb845 ;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.THIS .erp_mark7.switch-input:checked ~ .switch-label:before { opacity: 0; }
.THIS .erp_mark7.switch-input:checked ~ .switch-label:after { opacity: 1; }



.THIS .erp_mark7.switch-green > .switch-input:checked ~ .erp_mark7.switch-label { background: #4fb845; }
/* ENds here */
.THIS .dateFormat {
    padding: 0 2px;
    display: none;
}
.THIS  .slds a:focus {
    outline: thin dotted;
    outline: 0px auto #1589ee;
    outline-offset: -2px;
}    
.THIS  .epr_Mark7 .panel-default>.panel-heading {
    color: #fff;
    background-color: #31d0e5;
    border-color: #31d0e5;
}            
.THIS .epr_Mark7 .nav>li>a:hover,
.THIS .epr_Mark7 .nav>li>a:focus {        
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important; 
}   
.THIS .epr_Mark7 .nav-tabs > li.active > a, 
.THIS.epr_Mark7 .nav-tabs > li.active > a:hover, 
.THIS.epr_Mark7 .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default!important;
    background-color: #fff!important;
    border: 0;
    border-bottom: 3px solid #2196f3!important;
}        
.THIS .epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff #fff #fff;    
}
.THIS input {
    padding-top: 0;
    border: 0px solid #ddd;
    border-radius : 5px;
    padding: 5px;
} 
.THIS .ERP7__Status__c { height : 33px; }
.THIS .ERP7__Shipment_Type__c { height : 33px; }
.THIS .ERP7__UPS_Package_Type__c { height : 33px; }
.THIS.ERP7__Product_Unit_Code__c { height : 33px; } 
.THIS .ERP7__Supplier__c { width:96% !important; }  

.THIS .ERP7__Description__c { 
    width : 100%; 
    border-radius: 5px; 
    border: 1px solid #ddd;
}
.THIS .ERP7__Shipment_Flow_Status__c { 
    width : 100%; 
    height : 30px;
    border-radius: 5px; 
    border: 1px solid #ddd;
}



.THIS {}

.THIS .container {
    padding: 20px;
    Margin-left:20px;
}

.THIS .container button {
    margin-top: 20px;
}



.THIS .mb-signature-pad,
.THIS .mb-signature-pad-readonly {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    height: 200px;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.THIS .mb-signature-pad-readonly img {
    align-self: center;
    width: auto;
    height: auto;
}



.THIS .mb-signature-pad:after {
    left: auto;
    -webkit-transform: skew(3deg) rotate(3deg);
    -moz-transform: skew(3deg) rotate(3deg);
    -ms-transform: skew(3deg) rotate(3deg);
    -o-transform: skew(3deg) rotate(3deg);
    transform: skew(3deg) rotate(3deg);
}


@media screen and (max-width: 1024px) {
    .THIS .mb-signature-pad,
    .THIS .mb-signature-pad-readonly {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        min-width: 250px;
        min-height: 140px;
    }
}

.THIS .InternalShipment-class1{
    width:100%
}

.THIS .InternalShipment-class2{
    background:#ffffff;width:100%
}
.THIS .InternalShipment-class3{
    cursor:pointer;
    width:35px;
    height:35px;
}
.THIS .InternalShipment-class4{
    width:77%; 
    text-align:center;
}
.THIS .InternalShipment-class5{
    cursor:pointer; 
    text-align:right;
}

.THIS .InternalShipment-class6{
    padding: 7px; font-size: 18px;
}
.THIS .InternalShipment-class7{
    color:#ffffff;
}

.THIS .InternalShipment-class8{
    margin-top: 0px;
}

.THIS .InternalShipment-class9{
    font-size:20px;
    color: #16325c;
    line-height: 32px;
    margin-top:0px;
}


.THIS .InternalShipment-class10{
    color:#f88962;
}

.THIS .InternalShipment-class11{
    cursor: pointer;
}

.THIS .InternalShipment-class12{
    text-decoration:none;
}

.THIS .InternalShipment-class13{
    margin:0px;
}
.THIS .InternalShipment-class14{
    margin:10px;
}
.THIS .InternalShipment-class15{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
}
.THIS .InternalShipment-class16{
    width:100%;
    margin-left: 0px;
    margin-right: 0px; 
    text-align:center;
}
.THIS .InternalShipment-class17{
    margin:10px;
}

.THIS .InternalShipment-class18{
    margin: 0px;
}
.THIS .InternalShipment-class19{
    overflow-y: auto;
}
.THIS .InternalShipment-class20{
    margin-bottom: 0px;
}
.THIS .InternalShipment-class21{
    height: 2.5rem; 
    line-height: 2.5rem;
}
.THIS .InternalShipment-class22{
    width:38; 
    height:14px;
}
.THIS .InternalShipment-class23{
    color:#54698d;
}
.THIS .InternalShipment-class24{
    width:60px;
}
.THIS .InternalShipment-class25{
    padding-left: 0px;
}
.THIS .InternalShipment-class26{
    /*height:10rem;*/
    padding-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0px;
}
.THIS .InternalShipment-class27{
    padding-left: 0px;
    padding-right: 0px;
}
.THIS .InternalShipment-class28{
    height:544px;
    border:0;
}
.THIS .InternalShipment-class29{
    padding:10px 0px 0px 10px;
    font-weight:bold;
}
.THIS .InternalShipment-class30{
    padding: 0px 10px;
}
.THIS .InternalShipment-class31{
    margin-top:17px;
}
.THIS .InternalShipment-class32{
    font-size:10px;
}
/*.THIS .InternalShipment-class33{
height: 315px;
overflow-y: auto;
overflow-x: hidden;
margin: 10px;
}*/
.THIS .InternalShipment-class34{
    cursor: pointer;
}
.THIS .InternalShipment-class35{
    height:30px;
    width:30px;
}
.THIS .InternalShipment-class36{
    height:100px;
    width:100px;
}
.THIS .InternalShipment-class37{
    background:white;
}
.THIS .InternalShipment-class38{
    width:100%;
}
.THIS .InternalShipment-class39{
    padding-top: 7px;
}


.THIS .InternalShipment-class40{
    color:#65d6e5; 
    background: #fff;
    padding: 4px 12px ;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    font-size:12px; 
    font-weight:normal;
}
.THIS .InternalShipment-class41{
    max-height: 314px; 
    overflow-y:auto;
}
.THIS .InternalShipment-class42{
    min-width:24px;
}
.THIS .InternalShipment-class43{
    cursor:pointer; 
    width:20px; 
    height:20px;
}
.THIS .InternalShipment-class44{
    background: rgba(51, 51, 51, 0.67);
}
.THIS .InternalShipment-class45{
    background: #00BCD4;
    color: #fff;
}
.THIS .InternalShipment-class46{
    color:red;
}
.THIS .InternalShipment-class47{
    text-align:center;
}
.THIS .InternalShipment-class48{
    width:20%;
    color:#fff;
    height: 34px;
    font-size: 18px;
}
.THIS .InternalShipment-class49{
    width:20%;
    color: #fff;
    background: #c9c7c5;
    border-color: #c9c7c5;
    cursor: not-allowed;
}
.THIS .InternalShipment-class40{
    border:1px solid #ddd;
    padding: 5px 12px;
}
.THIS legend {
    border-bottom: 0px solid #e5e5e5 !important;
}
.THIS .slds-form-element__label:empty {
    margin: 0;
    display: none;
}