.THIS .font500{
    font-weight:500;
}
.THIS .slds-theme_error-extra{
    min-width: 20rem;padding: 5px;
}
.THIS .text-center{
    text-align: center;
}
.THIS .showallpoli-select-p{
    padding: 0px 0px 10px 0px;
}
.THIS .showallpoli-color-black{
   color:#080707;
}
.THIS .red{
    padding-left:0.2px;color:red;
}
.THIS .showallpoli-table-extra{
    outline: none;min-height:150px;max-height:100%;
}
.THIS .ship-pt-5{
    padding-top: 5px;
}
.THIS .m-0{
    margin:0px;
}
.THIS .card-extra{
 background:#fff; border:0px solid #f7f7f7;margin:10px;margin-bottom:50px;
}
.THIS .ship-pt-10{
    padding-top: 10px;
}
.THIS .slds-text-heading_x-smallextra{
  margin-bottom:0px;font-size:13px;margin-right:30px;
}
.THIS .ship-top25{
 top:.25rem;
}
.THIS .slds-is-fixed-extra1{
    top: 15%;display:block;
}
.THIS .slds-is-fixed-extra1{
    top: 15%;display:none;
}
.THIS .headernavmaq{
        border: 1px solid #e4e4e4;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 7%);
}
.THIS .slds-truncate2{
        max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.THIS .nolabel .slds-form-element__label:empty {
    margin: 0;
    display:none;
}
.THIS .bg-white{
    background-color: #FFF;width:100%;
}
.THIS .m-0{
    margin:0px;
}
.THIS .spinner35{
    cursor:pointer;width:35px;height:35px;
}
.THIS .text-left{
    text-align:left;
}
.THIS .overlfow-h{
   overflow: hidden; outline: none;
}
.THIS .headernavmaq{
        border: 1px solid #e4e4e4;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 7%);
}
.THIS .slds-truncate2{
        max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.THIS .nolabel .slds-form-element__label:empty {
    margin: 0;
    display:none;
}
.THIS .cl1{
    background-color: #FFF;width:100%;
}
.THIS .cl2{
    background:#fff; border:0px solid #f7f7f7;margin:10px;
}
.THIS .cl3{
    outline: none;min-height:480px;max-height:100%;
}