@charset "utf-8";
/* CSS Document */

body { background:#f2f2f2;
margin-top:30px;
}
#mainwrapper{
	width:1200px;
	height:auto;
}
.htext{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	color:#fff;
}
.rtext{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-style:normal;
	color:#000;
}
.button{
width:66px;
height:27px;
background:url(SCM/Images/butn.png) no-repeat;
margin-bottom:2px;
}
.button1{
width:95px;
height:27px;
background:url(SCM/Images/butn.png) no-repeat;
margin-bottom:2px;
}
.button2{
width:110x;
height:50px;
background:url(SCM/Images/butn.png) no-repeat;
margin-bottom:2px;
}
.button3{
width:170px;
height:40px;
background:url(SCM/Images/addNC1.png) no-repeat;
border:none;
}
.button4{
width:130px;
height:40px;
background: url(SCM/Images/addNC3.png) no-repeat;
border:none;
color:#FFFFFF;
}
.button5{
width:130px;
height:40px;
background: url(SCM/Images/addNC4.png) no-repeat;
border:none;
color:#000;
}
.lable{
width:60px;
}
#textfield{
width:120px;
}
#lefttab{
width:860px;
height:auto;
float:left;
}
#righttab{
width:370x;
height:auto;

float:left;
}
#plusbtn{
width:27px;
height:20px;
background:url(SCM/Images/plus.png) no-repeat;
}
#minusbtn{
width:27px;
height:20px;
background:url(SCM/Images/minus.png) no-repeat;
}
.borf{
border-collapse:collapse;
}
input[type=text], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
   /*padding: 3px 0px 3px 3px;
 margin: 5px 1px 3px 0px;*/
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus, select:focus, {
  box-shadow: 0 0 5px rgba(255, 0, 24, 1);
  -webkit- box-shadow: 0 0 5px rgba(255, 0, 24, 1);
  -moz- box-shadow: 0 0 5px rgba(255, 0, 24, 1);
  -o- box-shadow: 0 0 5px rgba(255, 0, 24, 1);
 /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;*/
  border: 1px solid rgba(255, 0, 24, 1);
}
 input[type=button]{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  
}
 
input[type=button]:focus,{
  -webkit-box-shadow: 0 0 0px rgba(255, 0, 24, 1);
  box-shadow: 0 0 0px rgba(255, 0, 24, 1);
  -o-box-shadow: 0 0 0px rgba(255, 0, 24, 1); 
  
}
.error-message{
	font-family:Verdana;
	font-size:11px;
	color:#ff0022;
	text-decoration:none;
}
.text3
{
	font-family:Verdana;
	font-size:18px;
	color: #FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
a.time{ background-image:url(SCM/Images/blue_bg.png); width:292px;font-weight:bold; padding-top:8px; display:block; height:22px; font-family:Verdana; font-size:12px; color: #066197;text-decoration:none;}
a.time:hover{ background-image: url(SCM/Images/blue_bg_over.png); padding-top:8px; display:block; width:292px; height:22px; font-family:Verdana; font-size:12px; color: #fff;text-decoration:none;}
a.time:active{ background-image: url(SCM/Images/blue_bg_over.png);  display:block; width:292px; height:30px; font-family:Verdana; font-size:12px; color: #fff;}
a.time:focs{ background-image: url(SCM/Images/blue_bg_over.png);  display:block; width:292px; height:30px; font-family:Verdana; font-size:12px; color: #fff;}
#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position: fixed;
z-index: 10;
height:100%;
top:0px;
left:0px;
width:100%;

}
.close{
background-image:url(SCM/Images/close.png);
box-shadow: 5px 5px #000000;
 -webkit-box-shadow: 5px 5px #000000;
 -moz-box-shadow: 5px 5px #000000;}
.black_overlay{
			display:none;
		    position:absolute; 
			margin-top:-100px;
			top:100;
			left:0;
			width:1340px;
			height:1000px;
			background-color:#25a8e0;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.40;
			filter: alpha(opacity=40);
		}

.white_content {font-family:Verdana;
font-size:12px;
color: #333333;
text-decoration:none;
padding-left:35px;
padding-top:10px;
display: none;
position: absolute;
z-index:1002;
overflow: auto;


background:url(SCM/Images/popup_bg2.GIF);  background-repeat:no-repeat;height:546px; width:754px; left: 272px; top: 50px;
		}
.label {
	font-family:Verdana;
	font-size:12px;
	color: #333333;
	text-decoration:none;
}
.fields{
	margin: 1px 2px; 
    width:230px;
    height:20px;
    border:1px solid #dddddd;
    -webkit-transition: all 0.4s ease-in-out; /* fade in effect */
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
	 font-family:Verdana;
	  line-height: 16px; 
	  letter-spacing: 1px; 
	  font-size: 12px;
	  border-radius:4px;
	  -webkit-border-radius:4px;
	   -moz-border-radius:4px;
	  
}

.day
{
font-family:Arial;
font-size:13px;
color: #fff;
text-decoration:none;
font-weight:normal;
}
a.day
{
font-family:Arial;
font-size:13px;
color:#fff;
text-decoration:none;
font-weight:normal;
}
a.day:hover
{
font-family:Arial;
font-size:13px;
color: #d1eaf9;
font-weight:normal;
}
.erp-bg{
                font-family:sans-serif;
                background-color: #f62b2b;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
                background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
                background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
                background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
                background-image: -o-linear-gradient(top, #f62b2b, #d20202);
                background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
                border-color: #ddd;
                color: #ffffff;
                /*  text-shadow: 0 1px 0 #eee;*/
                font-weight: normal;
                /*background-color: #ff6767; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d));
                background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
                background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
                background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
                background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
                background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6767, endColorstr=#ff0d0d);*/
               -webkit-border-top-left-radius:7px;
                -moz-border-radius-topleft:7px;
                border-top-left-radius:7px;
                -webkit-border-top-right-radius:7px;
                -moz-border-radius-topright:7px;
                border-top-right-radius:7px;
                -webkit-border-bottom-right-radius:7px;
                -moz-border-radius-bottomright:7px;
                border-bottom-right-radius:7px;
                -webkit-border-bottom-left-radius:7px;
                -moz-border-radius-bottomleft:7px;
                border-bottom-left-radius:7px;
            }