body, body.telesales {
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:100%;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	
}

#keyline, #keylineCheckout
{
	background: transparent url(../images/keylinebg.gif) repeat-x scroll 0 148px;
	position: relative;
	width: 100%;
}

html {
	background:transparent url(../images/bggrad.jpg) repeat-x fixed left top;
}
html {background: url(../images/bggrad.jpg) top left repeat-x fixed;}
* html body {background: url(../images/bggrad.jpg) top left repeat-x/* fixed; */}


#outer {
	float:none;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:972px;
	position: relative;
}
#space {
	float:none;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:972px;
	position: relative;
	height:100px;
}



#main_body {
	float:left;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:972px;
	position: relative;
	background-color:#FFFFFF;
}
#bottom_space {
	float:left;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:972px;
	position: relative;
	background-color:#FFFFFF;
	height:28px;
}



#left_img {
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:26px;
	position: relative;
	height:25px;
}
#space1 {
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:920px;
	position: relative;
	height:25px;
	background-color:#FFFFFF;
}
#right_img {
	float:right;
	margin-left:auto;
	margin-right:auto;
	width:26px;
	position: relative;
	height:25px;
}
#left_gra {
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:8px;
	position: relative;
	height:44px;
}
#right_gra {
	float:right;
	margin-left:auto;
	margin-right:auto;
	width:9px;
	position: relative;
	height:44px;
}
#gra {
	float: left;
	margin-left:auto;
	margin-right:auto;
	width:955px;
	position: relative;
	background-image:url(../images/footer-gradient.jpg);
	height:44px;
}
#telephonica{float: left;
	margin-left:auto;
	margin-right:auto;
	width:198px;
	position: relative;
	height:33px;
	
	}

#copyright {
	float:right;
	margin-left:auto;
	margin-right:auto;
	width:774px;
	position: relative;
	padding-top:7px;
	height:27px;
	text-align:right;
	color:#000000;
	font-size:13px;
	font-family: Arial;}

.terms
{
font-family:Arial;
font-size:12px;
color: #0099FF;
text-decoration:none;
font-weight:normal;
}
a.terms
{
font-family:Arial;
font-size:12px;
color:#0099FF;
text-decoration:none;
font-weight:normal;
}
a.terms:hover
{
font-family:Arial;
font-size:12px;
color: #0099FF;
text-decoration: underline;
font-weight:normal;
}


.footer
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color: #999999;
text-decoration:none;
font-weight:normal;
}
a.footer
{
font-family: Arial, Helvetica, sans-serif ;
font-size:14px;
color:#999999;
text-decoration:none;
font-weight:normal;
}
a.footer:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color: #0099FF;
text-decoration: underline;
font-weight:normal;
}

#footer_menu{float: left;
	margin-left:auto;
	margin-right:auto;
	width: 95px;
	position: relative;
	height:30px;
	text-align:center;
	padding-top:14px;
	padding-left:12px;

	}
	
	
#logo{ float:left;
	height:95px;
	width:97px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	padding-left:20px;

}
#login{ float:left;
	height:40px;
	width:148px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	padding-left:10px;
	padding-top:50px;

}
#gurubar_logo{ float:right;
	height:68px;
	width:174px;
	margin-left:auto;
	margin-right:auto;
	position: relative;

}
#o2_business{ float:right;
	height:22px;
	width:93px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	padding-right:12px;

}
#guru_main{ float:right;
	height:90px;
	width:174px;
	margin-left:auto;
	margin-right:auto;
	position: relative;

}
#top_space{
	float:none;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:972px;
	position: relative;
	height:22px;
}
#top_space1{
	float:none;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:972px;
	position: relative;
	height:7px;
}
.welcome1
{
font-family:verdana;
font-size:13px;
color: #fff;
text-decoration:none;
font-weight:normal;
}
.sign
{
font-family:verdana;
font-size:13px;
color: #78cce4;
text-decoration:none;
font-weight:normal;
}
a.sign
{
font-family:verdana;
font-size:13px;
color: #78cce4;
text-decoration:none;
font-weight:normal;
}
a.sign:hover
{
font-family:verdana;
font-size:13px;
color: #78cce4;
text-decoration: underline;
}


#store{color:#000066;
font-family:Verdana;
font-size:14px;
font-weight:bold;
padding-left:22px;
height:25px;
width:272px;
}
#search
{color:#fff;
font-family:Verdana;
font-size:12px;
font-weight:bold;
padding-left:2px;
background-color:#000066;
height:19px;
padding-top:3px;
width:227px;
float:right;

}
#map_canvas
{
float:right;
color:#fff;
font-family:Verdana;
font-size:12px;
font-weight:bold;
height: 500px;
width:680px;
padding-left:10px;
padding-right:10px;

}
#space2{float:right;
height:auto;
padding-left:25px;
height:19px;

}
#space3{float:right;
height:auto;
padding-left:15px;
height:19px;

}

#we
{
float:right;
font-weight:bold;
height:auto;
width:210px;
height:44px;
padding-right:12px;

}
.input_text {
	border: 1px solid #7F9DB9;
	margin: 5px 5px 5px 0;
	width: 180px;
	text-decoration: none;
}
#go {
float:right;
height:16px;
width:33px;
padding-top:12px;
padding-right:30px;
}
.go {
float:right;
height:16px;
width:4px;
padding-top:12px;
padding-right:30px;
background-image:url(../images/go_button.png);
}
#output {
padding-top:5px; 
padding-left:25px;
width:180px; 
margin-left:auto;
margin-right:auto;
position: relative;
float:left;
font-size:11px;
font-family:Verdana;
}


#sidebar {
padding-top:5px; 
padding-left:25px;
width:190px; 
margin-left:auto;
margin-right:auto;
position: relative;
float:left;
font-size:11px;
font-family:Verdana;
}


.calender_herder
{
font-family:Verdana;
font-size:20px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
}
.time
{
font-family:Verdana;
font-size:12px;
color:#286ba5;
text-decoration:none;
font-weight:bold;
}
.time1
{
font-family:Verdana;
font-size:12px;
color:#286ba5;
text-decoration:none;
font-weight:bold;
padding-left:12px;
}
.time_booked
{
font-family:Verdana;
font-size:12px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
}
#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position: fixed;
z-index: 10;
height:100%;
top:0px;
left:0px;
width:100%;

}

.header_popup
{
font-family:Verdana;
font-size:18px;
color:#ffffff;
text-decoration:none;
font-weight:bold;
}
.header_cnt_popup
{
font-family:Verdana;
font-size:18px;
color:#030469;
text-decoration:none;
font-weight:bold;
}
.cnt_popup
{
font-family:Verdana;
font-size:16px;
color:#6194bf;
text-decoration:none;
font-weight:bold;

}
.cnt_popup1
{
font-family:Verdana;
font-size:14px;
color: #000033;
text-decoration:none;
font-weight:bold;
padding-left:5px;
}
.bdy_cnt_popup
{
font-family:Verdana;
font-size:14px;
color:#030469;
text-decoration:none;
font-weight:bold;
line-height:15pt;
}
.textarea{
    font-family: Verdana;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	border-top: 1px solid #6194bf;
	border-left:1px solid #6194bf;
	border-right:1px solid #6194bf;
	height:20px;	
	width: 250px;
	
      }
.textarea1{
	font-family: Verdana;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	border-top: 1px solid #6194bf;
	border-left:1px solid #6194bf;
	border-right:1px solid #6194bf;
	width: 380px;
	
      }

#bg{ position:relative;
width:850px;
height:550px;
background-image:url(../images/bg.png);
}
#error-message{ position:relative; font-family:Verdana; font-size:11px; color:#FF0000; text-decoration:none; padding-top:80px; padding-left:127px;}
#right_fade {
	width: 180px;
	height: 350px;
	z-index: 99;
	position: fixed;
	bottom: 0px;
	background: url("images/right-fade.png") bottom center no-repeat;
}
#left_fade {
	width: 180px;
	height: 350px;
	z-index: 99;
	position: fixed;
	bottom: 0px;
	background: url("images/left-fade.png") bottom center no-repeat;
}
#white {
	width: 30px;
	height: 350px;
	z-index: 99;
	position: fixed;
	bottom: 0px;
	background: url("images/white.jpg") bottom center no-repeat;
}

.dispPanel {
    width: 300px;
    height: 300px;
    display: none;
}
#hide{
	position: relative;
	width:52px;
	height:25px;
	background-image:url(../images/o2-video-logo.jpg);
	left: 407px;
	top: 362px;
	overflow:visible;
}
#video-section{
	position: relative;
	width:475px;
	height:330px;
	overflow:visible;
	padding-top:10px;
	padding-left:10px;
}
