.THIS .clr-fff{
    text-decoration:none; color:#ffffff;
}
.THIS .nav-decor{
    text-decoration:none;color:#514f4d;
}
.THIS .padng-1{
    padding:1%;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .slds textarea {
    overflow: auto;
    width: 100%;
    border: 1px solid #ddd;
}
.THIS .uiButton--default {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7), 0 0px 0 rgba(0, 0, 0, 0.3);
}

.THIS .slds .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
    
}
.THIS .slds .slds-button--neutral:hover, .THIS .erp_mark7 .slds-button--neutral:focus {
    background-color: #f4f6f9; }
.THIS .slds .slds-button--neutral:active {
    background-color: #eef1f6; }
.THIS .slds .slds-button--neutral[disabled] {
    background-color: white;
    cursor: default; }
.THIS .uiButton--default{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
}
.THIS .slds .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5;
    border: 1px solid #31d0e5;
    color: white !important; }
.THIS .slds .slds-button--brand:link, .THIS .erp_mark7 .slds-button--brand:visited, .THIS .erp_mark7 .slds-button--brand:active {
    color: white; }
.THIS .slds .slds-button--brand:hover, .THIS .erp_mark7 .slds-button--brand:focus {
    background-color: #65d6e5;
    color: white; }
.THIS .slds .slds-button--brand:active {
    background-color: #31d0e5; }
.THIS .slds .slds-modal__header {
    background:#36c3d6;
    color:#fff;
}
@media (min-width: 48em){
    .THIS .slds .slds-modal__container {
        margin: 0 auto;
        width: 36%;
        max-width: 40rem;
        min-width: 20rem;
    }
}

.THIS.toggle {
    display: none;
}
.THIS.slds h4{
    font-size: 1em;
    padding: 10px;
    text-transform: uppercase;   
}
.THIS .ui-body-a{
    background: #0075df;
    border-color: #ddd;
    color: #fff;
    padding: 5px;
    font-size: 14px;  
}
.THIS.ui-header .ui-title, .THIS.ui-footer .THIS.ui-title {
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0 30%;
    padding: .1em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}
.THIS .uiButton--default2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #0070d2 !important;
    border: 1px solid #0070d2 !important;
    color: white !important;
    text-shadow: none !important;
    
}
.THIS .uiButton--default{text-shadow: none !important;}
.THIS .uiButton--default .label{
    color: #fff !important;
}
.THIS .ApproveLeaves {
    
    color: #ffffff;
    background: #1dccbf;
    padding: 4px;
    border-radius: 4px;
    
}
.THIS .RejectLeaves {
    
    color: #fff;
    background: #e6717c;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
}
.THIS .Name{
    color: #005fb2;
}