.THIS .shipmentrates{
background: #e3f4fb;
    border: 1px solid #b0dcff;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    -moz-border-radius:6px 6px 0 0;
    color: #000000;
    font-size: 14px;
    padding: 10px;
}
.THIS .slds-button_neutral{
    border:1px solid #ddd;
}
.THIS .border-0{
    border:0px !important;
}
.THIS .width200{
    width:221px;
    float:right;
    
}
.THIS .fedex-class4{
    margin:10px;
}

.THIS .mbr-class15{
    margin-top: 2%;
}

.THIS .mbr-class16{
    padding:0;background-color: rgb(255, 183, 93);padding-left:156px;height:35px;
}

.THIS .mbr-class17{
    padding:0.25rem 0 0 0; margin-right: 120px;margin-bottom:0px;
}
.THIS  .slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.THIS .card{
        -webkit-border-radius: 0.5rem;
    -moz-border-radius: .5rem;
    border-radius: 0.5rem;
    margin-bottom: .875rem;
    position: relative;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    min-height:336px;
}
.THIS .shadow-mrr {
  -webkit-box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
}
.THIS .fedex-class3{
    background: #e3f4fb;
    border: 1px solid #b0dcff;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    -moz-border-radius:6px 6px 0 0;
    color: #000000;
    font-size: 14px;
    padding: 10px;

}
.THIS .mb50{
    margin-bottom:50px !important;
}
.THIS .valigntop{
    vertical-align:top;
}
.THIS .slds-form-element__label{
    font-weight:700 !important;
}
.THIS .width150px{
    width:150px;
}

.THIS .Pack-newClass23 {
   color:red;
}
.THIS .Pack-newClass24 {
   margin-bottom: 26px;
}
.THIS .Pack-newClass25 {
   font-size:14px;
}
.THIS .Pack-newClass25 {
   display:Block;
}