/*li {
            line-height: 28px;
            list-style: none !important;
            font-size: 13px;
            }
            .erpmark7-product-list figure {
                margin: 0px;
                float: left;
                width: 75px;
                overflow: hidden;
                background: #ffffff;
                height: 100px;
                border: 1px solid #ececec;
                padding: 5px;
            }
            .erpmark7-product-filter {
                float: left;
                width: 100%;
                margin: 0px 0px 35px;
                padding: 9px 20px 9px 30px;
                border: 1px solid #ececec;
            }
            .erpmark7-product-grid figure {
                margin: 0px 0px 20px;
                overflow: hidden;
                height: 180px;
                border: 1px solid #ececec;
            }
        	.erpmark7-product-grid figure {
            margin: 0px 0px 20px;
            overflow: hidden;
            height: 180px;
            border: 1px solid #ececec;
        }

*/
.THIS li {
            line-height: 28px;
            list-style: none !important;
            font-size: 13px;
            }


.THIS .ProductList-newClass2{
    float:right;cursor:pointer; color:#31d0e5;
}