.THIS .slds-button--neutral , 
.THIS .slds-button_neutral{
    border:1px solid #ddd;
}
.THIS h6 {
    color: #111;
    font-size: 16px;
}

.THIS .HeaderContainer{
    background-color: #ffffff!important;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.THIS .logoContainer {
    background-image: url('/resource/EventRoK__CommunityHomecss/img/business-logo-1.png');
    background-repeat: no-repeat;
    cursor: pointer;
    /*position: relative; */ 
    width:300px; 
    float: left;
    max-height: 160px;
    padding-top:20px !important;
    vertical-align:bottom;
    /*width: 300px; */
    display: block;
    outline: 0;
    height: 100px;
    margin-top: 2.2%;
    margin-left: 4%;
    
}

.THIS .USRProf-class1{
    background: #f7f8f9;
}
.THIS .USRProf-class2{
    height:60px;
}
.THIS .USRProf-class3{
    width:77%; text-align:center;
}
.THIS .USRProf-class4{
    cursor:pointer; text-align:right;
}
.THIS .USRProf-class5{
    font-size:20px;
}
.THIS .USRProf-class6{
    font-size:12px;
}
.THIS .USRProf-class7{
    border:1px solid #ddd;border-left: 2px solid #2196F3;
}
.THIS .USRProf-class8{
    font-weight:normal;
}
.THIS .USRProf-class9{
    color:red;font-size:14px;
}
.THIS .USRProf-class10{
    color:red;
}
.THIS .USRProf-class11{
    width:100%;
}
.THIS .USRProf-class12{
    background:transparent;border:0;outline:0;color:#2196F3;
}
.THIS .USRProf-class14{
    font-weight:bold;font-size:14px;
}
.THIS .USRProf-class15{
    text-align:center;
}
.THIS .USRProf-class16{
    color:#fff;margin-bottom: 2px;
}
.THIS .USRProf-class17{
    padding: .265rem .75rem;
}