.THIS .AddNewExpense-newClass1{
    padding: 19px 5px;
}
.THIS .AddNewExpense-newClass2{
    width:207px;
}
.THIS .AddNewExpense-newClass3{
    margin-left: 0px;
}
.THIS .AddNewExpense-newClass4{
    padding:0em;
}
.THIS .AddNewExpense-newClass5{
    width:200px;float:left;
}
.THIS .AddNewExpense-newClass6{
    margin-bottom: 3px;
}
.THIS .AddNewExpense-newClass7{
    font-weight:bold;
}