.grey-windowIM{
		
}
.padding-top1{
		    padding-top: 1px;
}
.grey-windowIM:hover{
		cursor:pointer;
		font-weight:bold;
}
.slds-is-relative{
    z-index:9 !important;
}
.textalignCenterINV{
    text-align: center;
    justify-content: center;
}
.warning-message {
    text-align: center; /* Center the text */
    color: red; /* Set a warning color */
    font-weight: bold; /* Make it bold */
  }
.fontweight600 {
    font-weight:600 !important;
}
.fillred{
		background:#ba0517;
}
.fillgreen{
    background:#3ba755;
}
.nolabel .slds-form-element__label:empty {
    margin: 0;
    display: none !important; 
}
.custominput-class1{
    padding-left:0.2px;
    color:red;
}
.createbill-class4{
    font-size: 25px;
    padding-top: 10px;
}
.createbill-class3{
    cursor:pointer;
    color: #2196f3;
    height:50px;
}
.width180p{
		width:180px;
}
.text-center{
		text-align:center;
}
/*.slds-docked-form-footer {
    display: flex;
    justify-content: space-between !important;
}*/
.slds-table thead th {
    position: sticky;
    top: 0;
    z-index: 9;
}
.slds-button_icon-border{
		width: 1.5rem !important;
    height: 1.5rem !important;
}
.slds-docked-form-footer {
    z-index: 88;
}
.slds-table_bordered tbody td, 
.slds-table_bordered tbody th, 
.slds-table--bordered tbody td, 
.slds-table--bordered tbody th {
    border-top: 0px;
}
.additional-headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

.additional-heading {
    flex-grow: 1;
    text-align: center;
}



/* modalComponent.css */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
		z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Width200PX{
    max-width:200px;
}
.slds-p-top_medium, .slds-p-top--medium {
    padding-top: 1.3rem;
}
.slds-badge-cs{
		width: 99%;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #c2c2c2;
}
.p-bottom3{
		padding-bottom:3.5rem;
}
.erp_Mark7 button {
    border-radius: 3px !important;
}
.blue{
    color :#03A9F4;
    cursor: pointer;
}
.slds-form-element__label:empty {
    margin: 0;
    display: none !important;
}
.nolabel .slds-form-element__label:empty {
    margin: 0;
    display: none !important;
}

.suggestedqty {
    /*background: #1b9cfc!important; */
    font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width:120px;
    justify-content: center;
    text-align: center!important;
    /*color: #ffffff;*/
		white-space: normal;
    word-break: break-word;
}
.issuedqty {
		background: #008080!important;
    font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
   width:120px;
    color: #ffffff;
    justify-content: center;
    text-align: center!important;
   
}
.awaitingqty {
     background: #57606f!important;
    font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width:120px;
    color: #ffffff;
    justify-content: center;
    text-align: center!important;
} 
.reservedsoqty {
		background: rgb(255 152 0 / 89%)!important;
    font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width:120px;
    color: #ffffff;
    justify-content: center;
    text-align: center!important;
   
}
.onhandqty {
     background: #fbc531!important;
    font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
    width:120px;
    color: #ffffff;
    justify-content: center;
    text-align: center!important;
}
.qcholdqty {
    background: #F44336!important;
    font-size: 12px;
    border-radius: 3px!important;
    line-height: 20px!important;
  	 width:120px;
    color: #ffffff;
    justify-content: center;
    text-align: center!important;
}
.maqdropdown {
    position: relative;
    display: inline-block;
		background: #fff;
    border-radius: 3px;
}
 .slds-combobox__input {
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.maqdropdown-content {
    padding: 6px 6px !important;
		display:none;
}

.maqdropdown:hover .maqdropdown-content {
    display: block;
}
.erp_Mark7 .dropdown-menu > li > a {
    display: block;
    padding: 3px 14px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.erp_Mark7 button {
    border-radius: 3px;
}
.text-right{
		text-align:right !important;
}
.text-center{
		text-align:center !important;
}
.text-left{
		text-align:left !important;
}
.slds-page-header {
		border: 0;
    border-bottom: 1px solid #ddd;;
  
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: none;
    
}
.slds-table_resizable-cols thead th, .slds-table--resizable-cols thead th {
    padding: 0.35rem;
}
.slds-table th, .slds-table td {
   
    white-space: nowrap;
    position: relative;
}
.line-heightim {
   line-height: 24px;
    padding-top: 0 !important; 
    
}
.border-radius-0 .slds-button{
		border-radius:0px !important; 
}
.slds-button_icon-container, 
.slds-button--icon-container, 
.slds-button_icon-border, 
.slds-button--icon-border, 
.slds-button_icon-border-filled, 
.slds-button--icon-border-filled, 
.slds-button_icon-border-inverse, 
.slds-button--icon-border-inverse, 
.slds-button_icon-brand, 
.slds-button_icon-more, 
.slds-button--icon-more, 
.slds-button_icon-container-more, 
.slds-button--icon-container-more {
    width: 1.5rem !important;
    height: 1.5rem !important;
}
.button:focus {
  outline: 0px auto !important;
	box-shadow:none !important;
}
.btn:focus {
		outline: 0px auto !important;
	box-shadow:none !important;
}
.slds-button:focus{
		outline: 0px auto !important;
	box-shadow:none !important;
}
.width100p-im .slds-button .slds-button_brand{
		width:100px !important;
}
.erp_Mark7  label {

    font-weight: 600 !important;
}
.slds-truncate2k{
max-width: 200px;
    white-space: normal;
		}
.slds-icon-action-delete{
		    padding: 0.2rem !important;
    border-radius: 15% !important;
}
.cursor-pointer{cursor:pointer;}
.slds-form-element__label:empty {
    margin: 0;
    display: none !important;
}
.cursor-pointer{
		cursor:pointer;
}
label{
		font-weight:600 !important;
}
.slds-form-element__label{
		font-weight:600 !important;
}
/* ::-webkit-scrollbar {
    width: .5em !important;
    height: .5em !important;
}
::-webkit-scrollbar-button {
    background: #ccc;
}
 ::-webkit-scrollbar-track-piece {
    background: #888;
}
 ::-webkit-scrollbar-thumb {
    background: #eee;
}*/