.THIS .createbill-class6{
    color:#FF5722; 
    background: #fff;
    border: 0px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    font-size:14px; 
    font-weight:normal;
    padding-right: 5px;
}

.THIS .AbTop{
    position:absolute;
    top:25%;
}

.THIS .widcss{
    width:100%;
}

.THIS .slds-spinner_container{
   background-color: rgba(255, 255, 255, 0.75); 
}
.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
    margin-top: 200px;
    margin-bottom: 200px; 
}

.THIS .txtCenter {
    text-align: center;
    justify-content: center;
}

.THIS .imgheight {
    height: 30px;
}

.THIS .fs20{
    font-size:20px;
}

.THIS .btnoverride{
    border: 0;
    background: transparent;
    padding: 3px;
    font-size: 14px;
}