.THIS .errorsupplier{
    background: #0eb58a;
    padding: .4rem .3rem .4rem .3rem;
    color:#fff; 
    text-align:center;
    margin:0px;
    
}
.THIS .dp1{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /* display: none; */
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solidrgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.THIS .PL-newClass1 {
   
    text-align: center;color: #fff; background-color: #c23934;padding: .7rem .4rem .7rem .4rem;margin: 10px;font-size: 12px;
}

.THIS .PL-newClass2 {
   
    background: #0eb58a;padding: .7rem .3rem .7rem .3rem;color:#fff; text-align:center;margin:10px;
}
.THIS .errorsupplierred{
    background-color: #c23934;
    padding: .4rem .3rem .4rem .3rem;
    color:#fff; 
    text-align:center;
    margin:0px;
}
@media (max-width: 767px){
    .THIS  header ul.top_tools {
        float: right !important;
        padding-top: 20px;
    }
}

.THIS .usersupplierportal{
    display: inline-block;
    vertical-align: super;
    padding-left: 10px;
    float: right;
    width: 144px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:15px;
}

.THIS .box_account {
    margin-bottom: 25px; 
}
.THIS .box_account h3 {
    font-size: 18px;
    font-size: 1.125rem;
    padding-left: 30px;
    height: 30px;
    padding-top: 5px;
    display: inline-block;
    color: #444;
}
.THIS .box_account h3.client {
    background: url(../img/user.svg) center left no-repeat;
}
.THIS .box_account h3.new_client {
    background: url(../img/new_user.svg) center left no-repeat;
}
.THIS .box_account .form_container {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 25px;
    position: relative;
}
.THIS .box_account .form_container hr {
    margin: 0 0 10px 0;
    border-color: #ededed;
}
.THIS .box_account .form_container a.social_bt {
    margin-bottom: 0;
    min-width: inherit;
}
@media (max-width: 991px) {
    .THIS .box_account .form_container a.social_bt {
        margin-bottom: 5px;
    }
}
.THIS .box_account .form_container .form-group {
    margin-bottom: 10px;
}
.THIS .box_account .form_container #forgot_pw {
    height: 100% !important;
    min-height: inherit;
    background-color: #f4f4f4;
    padding: 15px;
}
.THIS .SupplierPCm-class1{
    font-size:18px; color: #111; text-decoration:none; outline:0;
}
.THIS .SupplierPCm-class2{
    height:60px;
}
.THIS .SupplierPCm-class3{
    text-decoration:none;
}
.THIS .SupplierPCm-class4{
    font-size:15px;
}
.THIS .SupplierPCm-class5{
    display:block;
}
.THIS .SupplierPCm-class6{
    display:none;
}
.THIS .SupplierPCm-class7{
    text-align: left;color: #fff; background-color: #c23934;padding: .7rem .7rem;
}
.THIS .SupplierPCm-class8{
    font-size:2rem !important;
}
.THIS .SupplierPCm-class9{
    width: 100%;  text-align: center;
}
.THIS .SupplierPCm-class10{
    font-weight: 400 !important;
}
.THIS .SupplierPCm-class11{
    float:left; width:100%;
}
.THIS .SupplierPCm-class12{
    margin-top:1rem;
}
.THIS .SupplierPCm-class13{
    color: #3278b7; text-decortion:none;
}
.THIS .SupplierPCm-class14{
    display:flex;
}
.THIS .SupplierPCm-class15{
    padding:0px 15px 15px 15px;
}
.THIS .SupplierPCm-class15:hover{
    padding:0px 15px 15px 15px;
    display:block !important;
}