.THIS .item_cart {
    color: #212529;
    font-size: 14px;
}
.THIS .box_cart ul li span {
    float: right;
}

.THIS .bg-red-erp{
        background: #e25a67;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    font-size: 14px;
}
.THIS .PLCPC-newClass1{
       float:left;width:100%;
}
.THIS .PLCPC-newClass2{
      pointer-events:none;opacity:0.6;
}