.THIS .pwh40{
    width:40px; height:40px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS ::-webkit-scrollbar {
    height: 8px;
    overflow: visible;
    width: 8px;
}
.THIS body {
    
    background:aliceblue !important;
}
.THIS  .slds-form-element__label{
    font-weight:700;
}
.THIS .width100p{
    width:90px !important;
}
.THIS .header-maq1{
     background: #2196f3;
    color: #fff;
    border-radius: 6px 6px 0 0;
    padding: .75rem 1rem;
} 
.THIS .maq-card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
    margin:10px;
    border-left: 1px solid #bbdffb !important;
    border-radius: 6px 6px;
}
.THIS .maq-card:hover{
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15) !important;
    margin:10px;
    border-left: 1px solid #bbdffb !important;
    border-radius: 6px 6px;
    cursor:pointer;
}
.THIS .positon-fixed-maq{
    width: 98%;
    height: 20px;
    background: #fff;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 24px;
    border-bottom: 1px solid #f7f6f6;
    box-shadow: 0px 5px 7px rgba(0,0,0, 0.1);
    text-align: center;
}
.THIS .nolble .slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.THIS .slds-card{
    box-shadow: 1px 2px 7px 2px rgba(0,0,0, 0.1);
    border: 1px solid #f7f7f7;
}
.THIS input, 
.THIS optgroup, 
.THIS select, 
.THIS textarea {
    
    border: 1px solid rgb(217, 219, 221);
    padding: 5px 3px;
    border-radius: 4px;
}
.THIS input{
    width:90px;
}

.THIS .scroll-bar-wrap {
	width: 100%;
	position: relative;
}

.THIS .scroll-box {
	width: 100%;
	overflow-y: scroll;
}

.THIS .scroll-box::-webkit-scrollbar {
	width: .6em;
}

.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
	overflow: visible;
	border-radius: 4px;
}

.THIS .scroll-box::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .2);
}

.THIS .cover-bar {
	background: #fff;
	height: 100%;
	top: 0;
	right: 0;
	width: 1.3em;
	-webkit-transition: all .5s;
	opacity: 1 !important;
}


/* MAGIC HAPPENS HERE */

.THIS .scroll-bar-wrap:hover .cover-bar {
	opacity: 0 !important;
	-webkit-transition: all .5s;
}
.THIS .slds-table_bordered tbody td, 
.THIS .slds-table_bordered tbody th, 
.THIS .slds-table--bordered tbody td, 
.THIS .slds-table--bordered tbody th {
    border-top: 1px solid #f4f5f7;
}
.THIS .slds-table_bordered, 
.THIS .slds-table--bordered {
    border-collapse: separate;
    border-top: 1px solid #f4f5f7;
    border-bottom: 1px solid #f4f5f7;
}

.THIS .inputWidth{
    width: 70px;
}
.THIS .inputWidth1{
    width: 50px;
}
.THIS .inputWidth3{
    width: 110px;
}
.THIS .no-display .slds-form-element__label:empty{
    display: none !important;
}

.THIS .no-display1 .slds-form-element__label{
    display: none !important;
}
.THIS .hasError1 input{
    border-color: rgb(194, 57, 52) !important;
	box-shadow: rgb(194, 57, 52) 0 0 0 1px inset !important;
}
.THIS .AddOrderProducts-newClass1{
   padding: .5rem .3rem;margin-top:-17px;
}

.THIS .AddOrderProducts-newClass2{
   top: 15%;display:Block;
}
.THIS .AddOrderProducts-newClass3{
   top: 15%;display:none;
}
.THIS .AddOrderProducts-newClass4{
   min-width: 20rem;padding: 5px;
}
.THIS .AddOrderProducts-newClass5{
   margin-bottom:0px;font-size:13px;margin-right:30px;
}
.THIS .AddOrderProducts-newClass6{
   top:.27rem !important;
}
.THIS .AddOrderProducts-newClass7{
   padding-right:20px;
}
.THIS .AddOrderProducts-newClass8{
   max-height:calc(100vh - 50px); overflow-x: auto;
}
.THIS .AddOrderProducts-newClass9{
   position: sticky;top:0;background:white;
}
.THIS .AddOrderProducts-newClass10{
   padding:4px;padding-left:0px;
}
.THIS .AddOrderProducts-newClass11{
   max-width:140px;
}
.THIS .AddOrderProducts-newClass12{
   max-width:140px;color:#0070d2;cursor:pointer;white-space:normal;max-height:75px;max-height:75px;overflow: hidden;
}
.THIS .AddOrderProducts-newClass13{
   left:35px;
}
.THIS .AddOrderProducts-newClass14{
   position: relative;top: 7px;left: 0px;text-align: center;
}
.THIS .AddOrderProducts-newClass15{
   max-height:calc(100vh - 50px);  overflow-x: hidden;
}
.THIS .AddOrderProducts-newClass16{
  padding-bottom: 5px;text-align: center;
}
.THIS .AddOrderProducts-newClass17{
  width: 99%;
}
.THIS .AddOrderProducts-newClass18{
  cursor:pointer;
}
.THIS .AddOrderProducts-newClass19{
  max-width:140px;color:#0070d2;cursor:pointer;
}
.THIS .AddOrderProducts-newClass20{
  text-align:center;
}
.THIS .AddOrderProducts-newClass21{
  padding-right:0px;
}
.THIS .AddOrderProducts-newClass22{
  height: 340px;
}
.THIS .AddOrderProducts-newClass23{
  color:#0070d2;cursor:pointer;white-space: normal;max-height:75px;overflow: hidden;
}
.THIS .AddOrderProducts-newClass24{
  width:5%;
}
.THIS .AddOrderProducts-newClass24{
  width:65%;
}
.THIS .AddOrderProducts-newClass25{
  min-width: 99%;
}
.THIS .AddOrderProducts-newClass26{
  height:500px;
}
.THIS .AddOrderProducts-newClass27{
  margin-top: 20px;
}
.THIS .AddOrderProducts-newClass28{
  font-size: 14px;color:#2196f3;
}
.THIS .AddOrderProducts-newClass29{
  width:40px; height:40px;
}
.THIS .AddOrderProducts-newClass30{
 width:40px; height:40px;
}
.THIS .AddOrderProducts-newClass31{
 height:4rem;
}
.THIS .AddOrderProducts-newClass32{
 padding-left: 50px;
}
.THIS .AddOrderProducts-newClass33{
 font-size:16px;margin-bottom:0px;
}
.THIS .AddOrderProducts-newClass34{
 text-decoration:none; color:#fff;
}
/*.THIS .bg-red-cpq{
        background: #e25a67;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    font-size: 14px;
}*/
.THIS .slds-button_neutral{
   border:1px solid #ddd;                 
 }