.THIS .shadow {
    box-shadow: 0 0.2rem .3rem rgba(0, 0, 0, 0.1) !important;
}
.THIS .erp_Mark7 .card {
    border:0px;
}

.THIS .erp_mark7 .slds-page-header__detail-block {
    padding-right: 2rem;
    padding-left: 0rem;
    max-width: 25%;
}
/* The Loader css Starts here */

.THIS .mainSpinClass{
    width: 100%;
    height: 100%;
}


/* The Loader css ends here */


.THIS .erp_Mark7 .customactive{ 
    background:#188e9e !important;
    color:#ffffff !important;
}
.THIS .erp_Mark7 .custominactive{
    background-color: white;
}
.THIS .erp_Mark7 .customactive:hover{
    background:#188e9e !important;
    color:#ffffff !important;
}
.THIS .scroll-bar-wrap {
  width: 100%;
  position: relative;
  
}
.THIS .scroll-box {
  width: 100%;
  height:150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.THIS .scroll-box::-webkit-scrollbar {
  width: .3em; 
}
.THIS .scroll-box::-webkit-scrollbar,
.THIS .scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.THIS .scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

/* MAGIC HAPPENS HERE */
.THIS .scroll-bar-wrap:hover .cover-bar {
   opacity: 0 !important;
  -webkit-transition: all .5s;
}

.THIS .erp_Mark7 .card-body {
    padding: 0.5rem !important;
}
.THIS .slds-button--brand, 
.THIS .slds-button_brand{
    padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        vertical-align: middle;
        background-color: #31d0e5;
        border: 1px solid #31d0e5;
        color: white !important;
}

.THIS .slds-button--brand:hover, 
.THIS .slds-button_brand:hover ,
.THIS .slds-button--brand:focus,
.THIS .slds-button_brand:focus{
        background-color: #65d6e5;
        color: white;
    border: 1px solid #31d0e5;
    }

.THIS .MOPredictions-newClass1 {
   background:#ffffff;
}
.THIS .MOPredictions-newClass2 {
   cursor:pointer;width:35px;height:35px;
}
.THIS .MOPredictions-newClass3 {
   padding: .5rem 1rem;
}
.THIS .MOPredictions-newClass4 {
   border-radius: 10%;
}
.THIS .MOPredictions-newClass5 {
   cursor:pointer;
}
.THIS .MOPredictions-newClass6 {
   margin: 0px;
}

.THIS .MOPredictions-newClass8 {
   color:red;
}
.THIS .MOPredictions-newClass9 {
  vertical-align: middle;
}
.THIS .MOPredictions-newClass10 {
  margin-bottom:50px;
}

.THIS .MOPredictions-newClass12 {
  padding-left:5px;
}
.THIS .MOPredictions-newClass13 {
  margin-top:19px;
}
.THIS .MOPredictions-newClass14 {
  width:150px;
}
.THIS .MOPredictions-newClass15 {
  margin-bottom:0px;font-size:13px;margin-right: 30px;
}
.THIS .MOPredictions-newClass16 {
  top: .25rem;
}
.THIS .MOPredictions-newClass17 {
  padding-left: 5px;padding-right: 5px;
}
.THIS .MOPredictions-newClass18 {
  height:50px;background-color: #188e9e;border-bottom: 0px solid #ddd;color:#ffffff;
}
.THIS .MOPredictions-newClass19 {
  border-right:1px solid #fff;margin-bottom: 10px;
}
.THIS .MOPredictions-newClass20 {
  padding-top:5px;
}
.THIS .MOPredictions-newClass21 {
  margin-bottom: 5px; height:40px;
}

.THIS .MOPredictions-newClass22 {
  font-size:12px;
}
.THIS .MOPredictions-newClass23 {
  background:transparent;
}
.THIS .MOPredictions-newClass24 {
  margin-bottom: 5px;
}
.THIS .MOPredictions-newClass25 {
  top: 15%;display:'';
}
.THIS .MOPredictions-newClass26 {
  top: 15%;display:none;
}
.THIS .MOPredictions-newClass27 {
  min-width: 20rem;padding: 5px;
}